catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/acesso/AcessoSecurity.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<s1:definitions name="Acesso" targetNamespace="http://www.vivo.com.br/SN/CatalogoAcesso" xmlns:s0="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:s1="http://schemas.xmlsoap.org/wsdl/" xmlns:s2="http://www.vivo.com.br/MC/Geral" xmlns:s3="http://www.vivo.com.br/SN/CatalogoAcesso" xmlns:s4="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
  <wsp:UsingPolicy s1:Required="true"/>
  <wsp:Policy s0:Id="encrypt-custom-body-element-and-username-token">
    <wssp:Identity xmlns:wssp="http://www.bea.com/wls90/security/policy">
      <wssp:SupportedTokens>
        <wssp:SecurityToken TokenType="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#UsernameToken">
          <wssp:UsePassword Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText"/>
        </wssp:SecurityToken>
      </wssp:SupportedTokens>
    </wssp:Identity>
  </wsp:Policy>
  <s1:types>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoAcesso" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoAcesso" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoAcesso" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/MC/Geral" schemaLocation="CabecalhoVivo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/MC/Geral" schemaLocation="ErroInfo.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoAcesso" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoAcesso" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoAcesso" schemaLocation="ParametrosBuscarListaAcessoPlanoPorId.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoAcesso" schemaLocation="ParametrosBuscarListaAcessoServicoPorId.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoAcesso" schemaLocation="ParametrosBuscarQtdeRestricaoPerfil.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoAcesso" schemaLocation="ParametrosExcluirAcessoPlano.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoAcesso" schemaLocation="ParametrosCopiarPerfil.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoAcesso" schemaLocation="ParametrosExcluirAcessoServico.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoAcesso" schemaLocation="ParametrosAlterarListaAcessoPlano.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoAcesso" schemaLocation="ResultadoBuscarListaAcessoPlanoPorId.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoAcesso" schemaLocation="ResultadoBuscarListaAcessoServicoPorId.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoAcesso" schemaLocation="ResultadorBuscarQtdeRestricaoPerfil.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoAcesso" schemaLocation="ParametrosAlterarListaAcessoServico.xsd"/>
      <!-- Incluido por Luis Cugliandro -->
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoAcesso" schemaLocation="ParametrosIncluirAcessoPlano.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoAcesso" schemaLocation="ResultadoIncluirAcessoPlano.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoAcesso" schemaLocation="ParametrosIncluirAcessoServico.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoAcesso" schemaLocation="ResultadoIncluirAcessoServico.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoAcesso" schemaLocation="ParametrosAlterarAcessoPlano.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoAcesso" schemaLocation="ParametrosAlterarAcessoServico.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoAcesso" schemaLocation="ParametrosBuscarListaAcessoPlano.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoAcesso" schemaLocation="ResultadoBuscarListaAcessoPlano.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoAcesso" schemaLocation="ParametrosBuscarListaAcessoServico.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoAcesso" schemaLocation="ResultadoBuscarListaAcessoServico.xsd"/>
      <!-- Incluido por Luis Cugliandro -->
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoAcesso" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoAcesso" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoAcesso" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="buscarListaAcessoPlanoPorIdRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaAcessoPlanoPorId"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaAcessoPlanoPorIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaAcessoPlanoPorId"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaAcessoServicoPorIdRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaAcessoServicoPorId"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaAcessoServicoPorIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaAcessoServicoPorId"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarQtdeRestricaoPerfilRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarQtdeRestricaoPerfil"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarQtdeRestricaoPerfilResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadorBuscarQtdeRestricaoPerfil"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="excluirAcessoServicoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosExcluirAcessoServico"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="excluirAcessoServicoResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="excluirAcessoPlanoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosExcluirAcessoPlano"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="excluirAcessoPlanoResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="copiarPerfilRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosCopiarPerfil"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="copiarPerfilResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <!-- Incluido por Luis Cugliandro -->
      <xsd:element name="buscarListaAcessoServicoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaAcessoServico"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaAcessoServicoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaAcessoServico"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaAcessoPlanoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaAcessoPlano"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaAcessoPlanoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaAcessoPlano"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="incluirAcessoServicoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosIncluirAcessoServico"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="incluirAcessoServicoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoIncluirAcessoServico"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="incluirAcessoPlanoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosIncluirAcessoPlano"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="incluirAcessoPlanoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoIncluirAcessoPlano"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarAcessoServicoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosAlterarAcessoServico"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarAcessoServicoResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarAcessoPlanoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosAlterarAcessoPlano"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarAcessoPlanoResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarListaAcessoPlanoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosAlterarListaAcessoPlano"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarListaAcessoPlanoResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarListaAcessoServicoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosAlterarListaAcessoServico"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarListaAcessoServicoResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <!-- Incluido por Luis Cugliandro -->
    </xsd:schema>
  </s1:types>
  <s1:message name="cabecalhoVIVO">
    <s1:part element="s2:cabecalhoVivo" name="cabecalhoVIVO"/>
  </s1:message>
  <s1:message name="erroInfoFault">
    <s1:part element="s2:erroInfo" name="erroInfo"/>
  </s1:message>
  <s1:message name="buscarListaAcessoPlanoPorIdRequest">
    <s1:part element="s3:buscarListaAcessoPlanoPorIdRequest" name="buscarListaAcessoPlanoPorIdRequest"/>
  </s1:message>
  <s1:message name="buscarListaAcessoPlanoPorIdResponse">
    <s1:part element="s3:buscarListaAcessoPlanoPorIdResponse" name="buscarListaAcessoPlanoPorIdResponse"/>
  </s1:message>
  <s1:message name="buscarListaAcessoServicoPorIdRequest">
    <s1:part element="s3:buscarListaAcessoServicoPorIdRequest" name="buscarListaAcessoServicoPorIdRequest"/>
  </s1:message>
  <s1:message name="buscarListaAcessoServicoPorIdResponse">
    <s1:part element="s3:buscarListaAcessoServicoPorIdResponse" name="buscarListaAcessoServicoPorIdResponse"/>
  </s1:message>
  <s1:message name="buscarQtdeRestricaoPerfilRequest">
    <s1:part element="s3:buscarQtdeRestricaoPerfilRequest" name="buscarQtdeRestricaoPerfilRequest"/>
  </s1:message>
  <s1:message name="buscarQtdeRestricaoPerfilResponse">
    <s1:part element="s3:buscarQtdeRestricaoPerfilResponse" name="buscarQtdeRestricaoPerfilResponse"/>
  </s1:message>
  <s1:message name="excluirAcessoServicoRequest">
    <s1:part element="s3:excluirAcessoServicoRequest" name="excluirAcessoServicoRequest"/>
  </s1:message>
  <s1:message name="excluirAcessoServicoResponse">
    <s1:part element="s3:excluirAcessoServicoResponse" name="excluirAcessoServicoResponse"/>
  </s1:message>
  <s1:message name="excluirAcessoPlanoRequest">
    <s1:part element="s3:excluirAcessoPlanoRequest" name="excluirAcessoPlanoRequest"/>
  </s1:message>
  <s1:message name="excluirAcessoPlanoResponse">
    <s1:part element="s3:excluirAcessoPlanoResponse" name="excluirAcessoPlanoResponse"/>
  </s1:message>
  <s1:message name="copiarPerfilRequest">
    <s1:part element="s3:copiarPerfilRequest" name="copiarPerfilRequest"/>
  </s1:message>
  <s1:message name="copiarPerfilResponse">
    <s1:part element="s3:copiarPerfilResponse" name="copiarPerfilResponse"/>
  </s1:message>
  <s1:message name="buscarListaAcessoServicoRequest">
    <s1:part element="s3:buscarListaAcessoServicoRequest" name="buscarListaAcessoServicoRequest"/>
  </s1:message>
  <s1:message name="buscarListaAcessoServicoResponse">
    <s1:part element="s3:buscarListaAcessoServicoResponse" name="buscarListaAcessoServicoResponse"/>
  </s1:message>
  <s1:message name="buscarListaAcessoPlanoRequest">
    <s1:part element="s3:buscarListaAcessoPlanoRequest" name="buscarListaAcessoPlanoRequest"/>
  </s1:message>
  <s1:message name="buscarListaAcessoPlanoResponse">
    <s1:part element="s3:buscarListaAcessoPlanoResponse" name="buscarListaAcessoPlanoResponse"/>
  </s1:message>
  <s1:message name="incluirAcessoServicoRequest">
    <s1:part element="s3:incluirAcessoServicoRequest" name="incluirAcessoServicoRequest"/>
  </s1:message>
  <s1:message name="incluirAcessoServicoResponse">
    <s1:part element="s3:incluirAcessoServicoResponse" name="incluirAcessoServicoResponse"/>
  </s1:message>
  <s1:message name="incluirAcessoPlanoRequest">
    <s1:part element="s3:incluirAcessoPlanoRequest" name="incluirAcessoPlanoRequest"/>
  </s1:message>
  <s1:message name="incluirAcessoPlanoResponse">
    <s1:part element="s3:incluirAcessoPlanoResponse" name="incluirAcessoPlanoResponse"/>
  </s1:message>
  <s1:message name="alterarAcessoServicoRequest">
    <s1:part element="s3:alterarAcessoServicoRequest" name="alterarAcessoServicoRequest"/>
  </s1:message>
  <s1:message name="alterarAcessoServicoResponse">
    <s1:part element="s3:alterarAcessoServicoResponse" name="alterarAcessoServicoResponse"/>
  </s1:message>
  <s1:message name="alterarAcessoPlanoRequest">
    <s1:part element="s3:alterarAcessoPlanoRequest" name="alterarAcessoPlanoRequest"/>
  </s1:message>
  <s1:message name="alterarAcessoPlanoResponse">
    <s1:part element="s3:alterarAcessoPlanoResponse" name="alterarAcessoPlanoResponse"/>
  </s1:message>
  <s1:message name="alterarListaAcessoPlanoRequest">
    <s1:part element="s3:alterarListaAcessoPlanoRequest" name="alterarListaAcessoPlanoRequest"/>
  </s1:message>
  <s1:message name="alterarListaAcessoPlanoResponse">
    <s1:part element="s3:alterarListaAcessoPlanoResponse" name="alterarListaAcessoPlanoResponse"/>
  </s1:message>
  <s1:message name="alterarListaAcessoServicoRequest">
    <s1:part element="s3:alterarListaAcessoServicoRequest" name="alterarListaAcessoServicoRequest"/>
  </s1:message>
  <s1:message name="alterarListaAcessoServicoResponse">
    <s1:part element="s3:alterarListaAcessoServicoResponse" name="alterarListaAcessoServicoResponse"/>
  </s1:message>
  <s1:portType name="AcessoPortType">
    <s1:operation name="buscarListaAcessoPlanoPorId">
      <s1:input message="s3:buscarListaAcessoPlanoPorIdRequest"/>
      <s1:output message="s3:buscarListaAcessoPlanoPorIdResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaAcessoServicoPorId">
      <s1:input message="s3:buscarListaAcessoServicoPorIdRequest"/>
      <s1:output message="s3:buscarListaAcessoServicoPorIdResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarQtdeRestricaoPerfil">
      <s1:input message="s3:buscarQtdeRestricaoPerfilRequest"/>
      <s1:output message="s3:buscarQtdeRestricaoPerfilResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="excluirAcessoServico">
      <s1:input message="s3:excluirAcessoServicoRequest"/>
      <s1:output message="s3:excluirAcessoServicoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="excluirAcessoPlano">
      <s1:input message="s3:excluirAcessoPlanoRequest"/>
      <s1:output message="s3:excluirAcessoPlanoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="alterarListaAcessoServico">
      <s1:input message="s3:alterarListaAcessoServicoRequest"/>
      <s1:output message="s3:alterarListaAcessoServicoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="copiarPerfil">
      <s1:input message="s3:copiarPerfilRequest"/>
      <s1:output message="s3:copiarPerfilResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaAcessoServico">
      <s1:input message="s3:buscarListaAcessoServicoRequest"/>
      <s1:output message="s3:buscarListaAcessoServicoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaAcessoPlano">
      <s1:input message="s3:buscarListaAcessoPlanoRequest"/>
      <s1:output message="s3:buscarListaAcessoPlanoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="incluirAcessoServico">
      <s1:input message="s3:incluirAcessoServicoRequest"/>
      <s1:output message="s3:incluirAcessoServicoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="incluirAcessoPlano">
      <s1:input message="s3:incluirAcessoPlanoRequest"/>
      <s1:output message="s3:incluirAcessoPlanoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="alterarAcessoServico">
      <s1:input message="s3:alterarAcessoServicoRequest"/>
      <s1:output message="s3:alterarAcessoServicoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="alterarAcessoPlano">
      <s1:input message="s3:alterarAcessoPlanoRequest"/>
      <s1:output message="s3:alterarAcessoPlanoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="alterarListaAcessoPlano">
      <s1:input message="s3:alterarListaAcessoPlanoRequest"/>
      <s1:output message="s3:alterarListaAcessoPlanoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
  </s1:portType>
  <s1:binding name="AcessoBinding" type="s3:AcessoPortType">
    <s4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <s1:operation name="buscarListaAcessoPlanoPorId">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaAcessoPlanoPorIdRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaAcessoPlanoPorIdResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaAcessoServicoPorId">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaAcessoServicoPorIdRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaAcessoServicoPorIdResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarQtdeRestricaoPerfil">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarQtdeRestricaoPerfilRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarQtdeRestricaoPerfilResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="excluirAcessoServico">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="excluirAcessoServicoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="excluirAcessoServicoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="excluirAcessoPlano">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="excluirAcessoPlanoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="excluirAcessoPlanoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="copiarPerfil">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="copiarPerfilRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="copiarPerfilResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaAcessoServico">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaAcessoServicoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaAcessoServicoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaAcessoPlano">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaAcessoPlanoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaAcessoPlanoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="incluirAcessoServico">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="incluirAcessoServicoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="incluirAcessoServicoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="incluirAcessoPlano">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="incluirAcessoPlanoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="incluirAcessoPlanoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="alterarAcessoServico">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="alterarAcessoServicoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="alterarAcessoServicoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="alterarAcessoPlano">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="alterarAcessoPlanoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="alterarAcessoPlanoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="alterarListaAcessoPlano">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="alterarListaAcessoPlanoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="alterarListaAcessoPlanoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="alterarListaAcessoServico">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="alterarListaAcessoServicoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="alterarListaAcessoServicoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
  </s1:binding>
  <s1:service name="AcessoService">
    <s1:port binding="s3:AcessoBinding" name="AcessoSoapPort">
      <s4:address location="http://alsb3-soa:80/CatalogoWeb/Acesso/Proxy/AcessoSecurity"/>
    </s1:port>
  </s1:service>
</s1:definitions>