catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/acesso/ParametrosBuscarListaAcessoServicoPorId.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoAcesso" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<xsd:element name="ParametrosBuscarListaAcessoServicoPorId">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ListaAcessoServico">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="idAcessoServico" type="xsd:long" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>