catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/acesso/ParametrosAlterarListaAcessoServico.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoAcesso" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:element name="ParametrosAlterarListaAcessoServico">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ListaAcessoServico">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="AcessoServico" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="idAcessoServico" type="xsd:long"/>
										<xsd:element name="inRestricaoConsulta">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:enumeration value="S"/>
													<xsd:enumeration value="N"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="inRestricaoAtivacao">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:enumeration value="S"/>
													<xsd:enumeration value="N"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="inRestricaoDesativacao">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:enumeration value="S"/>
													<xsd:enumeration value="N"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>		
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>	
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>