catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/acesso/ParametrosCopiarPerfil.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoAcesso" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<xsd:element name="ParametrosCopiarPerfil">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="idPerfilOrigem" type="xsd:long"/>
				<xsd:element name="idPerfilDestino" type="xsd:long"/>
				<xsd:element name="idSistema" type="xsd:long"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>