catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/acesso/ParametrosIncluirAcessoPlano.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoAcesso" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:element name="ParametrosIncluirAcessoPlano">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ListaIdPerfil">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="idPerfilSCA" type="xsd:long" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="idPlano" type="xsd:long"/>
				<xsd:element name="inRestricaoConsulta">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="S"/>
							<xsd:enumeration value="N"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="inRestricaoAtivacao">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="S"/>
							<xsd:enumeration value="N"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="inRestricaoDesativacao">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="S"/>
							<xsd:enumeration value="N"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="ListaIdSistema">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="idSistemaOrigem" type="xsd:long" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>	
	</xsd:element>
</xsd:schema>