VivoServices/VivoServicesEJB/src/br/com/indrasistemas/vivoservices/atendimento/protocolo/tuxgateway/entrada/atdfechaprot/IN-ATDFECHAPROT.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="msg" type="msgType"/>
	<xs:complexType name="msgType">
		<xs:sequence>
			<xs:element name="msgHdr" type="msgHdrType"/>
			<xs:element name="msgBody" type="msgBodyType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="msgHdrType">
		<xs:sequence>
			<xs:element name="user" type="xs:string"/>
			<xs:element name="service" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="msgBodyType">
		<xs:sequence>
			<xs:element name="FechaProtocoloTO" type="FechaProtocoloTOType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FechaProtocoloTOType">
		<xs:sequence>
			<xs:element name="nrProtocolo" type="xs:string"/>
			<xs:element name="idSistemaOrigem" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
