catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/caracteristica/CaracteristicaSecurity.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<s1:definitions name="Caracteristica" targetNamespace="http://www.vivo.com.br/SN/CatalogoCaracteristica" xmlns:s0="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:s1="http://schemas.xmlsoap.org/wsdl/" xmlns:s2="http://www.vivo.com.br/MC/Geral" xmlns:s3="http://www.vivo.com.br/SN/CatalogoCaracteristica" xmlns:s4="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
  <wsp:UsingPolicy s1:Required="true"/>
  <wsp:Policy s0:Id="encrypt-custom-body-element-and-username-token">
    <wssp:Identity xmlns:wssp="http://www.bea.com/wls90/security/policy">
      <wssp:SupportedTokens>
        <wssp:SecurityToken TokenType="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#UsernameToken">
          <wssp:UsePassword Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText"/>
        </wssp:SecurityToken>
      </wssp:SupportedTokens>
    </wssp:Identity>
  </wsp:Policy>
  <s1:types>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoCaracteristica" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:cweb="http://www.vivo.com.br/nfo/catalogoWEB" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoCaracteristica" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoCaracteristica" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/MC/Geral" schemaLocation="CabecalhoVivo.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoCaracteristica" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:cweb="http://www.vivo.com.br/nfo/catalogoWEB" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoCaracteristica" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoCaracteristica" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/MC/Geral" schemaLocation="ErroInfo.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:cweb="http://www.vivo.com.br/nfo/catalogoWEB" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoCaracteristica" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoCaracteristica" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoCaracteristica" schemaLocation="ParametrosAlterarCaracteristica.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoCaracteristica" schemaLocation="ResultadoAlterarCaracteristica.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoCaracteristica" schemaLocation="ResultadoAlterarValorCaracteristica.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoCaracteristica" schemaLocation="ParametrosExcluirListaCaracteristica.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoCaracteristica" schemaLocation="ParametrosBuscarListaValorCaracteristica.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoCaracteristica" schemaLocation="ResultadoBuscarListaValorCaracteristica.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoCaracteristica" schemaLocation="ParametrosBuscarListaModeloPorCaracteristica.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoCaracteristica" schemaLocation="ResultadoBuscarListaModeloPorCaracteristica.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoCaracteristica" schemaLocation="ParametrosBuscarListaCaracteristica.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoCaracteristica" schemaLocation="ParametrosAlterarValorCaracteristica.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoCaracteristica" schemaLocation="ParametrosBuscarListaCaracteristicaComValor.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoCaracteristica" schemaLocation="ParametrosBuscarValorCaracteristicaPorId.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoCaracteristica" schemaLocation="ParametrosCriarValorCaracteristica.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoCaracteristica" schemaLocation="ParametrosExcluirListaValorCaracteristica.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoCaracteristica" schemaLocation="ParametrosCriarCaracteristica.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoCaracteristica" schemaLocation="ResultadoCriarCaracteristica.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoCaracteristica" schemaLocation="ResultadoCriarValorCaracteristica.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoCaracteristica" schemaLocation="ParametrosDisponibilizarCaracteristica.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoCaracteristica" schemaLocation="ParametrosBuscarListaModeloPorValorCaracteristica.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoCaracteristica" schemaLocation="ResultadoBuscarListaModeloPorValorCaracteristica.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoCaracteristica" schemaLocation="ParametrosBuscarListaCaracteristicaComValorPorModelo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoCaracteristica" schemaLocation="ParametrosBuscarCaracteristicaPorId.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoCaracteristica" schemaLocation="ResultadoBuscarCaracteristicaPorId.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoCaracteristica" schemaLocation="ResultadoBuscarValorCaracteristicaPorId.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoCaracteristica" schemaLocation="ResultadoCaracteristica.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoCaracteristica" schemaLocation="ListaCaracteristica.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoCaracteristica" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:cweb="http://www.vivo.com.br/nfo/catalogoWEB" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoCaracteristica" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoCaracteristica" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="alterarCaracteristicaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosAlterarCaracteristica"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarCaracteristicaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoAlterarCaracteristica"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="excluirListaCaracteristicaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosExcluirListaCaracteristica"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="excluirListaCaracteristicaResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaValorCaracteristicaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaValorCaracteristica"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaValorCaracteristicaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="tns:ResultadoBuscarListaValorCaracteristica"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaModeloPorCaracteristicaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaModeloPorCaracteristica"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaModeloPorCaracteristicaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="tns:ResultadoBuscarListaModeloPorCaracteristica"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaCaracteristicaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaCaracteristica"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaCaracteristicaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="tns:ResultadoCaracteristica"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarValorCaracteristicaPorIdRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarValorCaracteristicaPorId"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarValorCaracteristicaPorIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="tns:ResultadoBuscarValorCaracteristicaPorId"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="criarValorCaracteristicaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosCriarValorCaracteristica"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="criarValorCaracteristicaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoCriarValorCaracteristica"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="excluirListaValorCaracteristicaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosExcluirListaValorCaracteristica"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="excluirListaValorCaracteristicaResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="criarCaracteristicaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosCriarCaracteristica"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="criarCaracteristicaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoCriarCaracteristica"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="disponibilizarCaracteristicaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosDisponibilizarCaracteristica"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="disponibilizarCaracteristicaResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarModelosPorValorCaracteristicaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaModeloPorValorCaracteristica"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarModelosPorValorCaracteristicaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="tns:ResultadoBuscarListaModeloPorValorCaracteristica"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaCaracteristicaComValorPorModeloRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaCaracteristicaComValorPorModelo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaCaracteristicaComValorPorModeloResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="tns:ListaCaracteristica"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarCaracteristicaPorIdRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarCaracteristicaPorId"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarCaracteristicaPorIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="tns:ResultadoBuscarCaracteristicaPorId"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarValorCaracteristicaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosAlterarValorCaracteristica"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarValorCaracteristicaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoAlterarValorCaracteristica"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaCaracteristicaComValorRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaCaracteristicaComValor"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaCaracteristicaComValorResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="tns:ResultadoCaracteristica"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </s1:types>
  <s1:message name="cabecalhoVIVO">
    <s1:part element="s2:cabecalhoVivo" name="cabecalhoVIVO"/>
  </s1:message>
  <s1:message name="erroInfoFault">
    <s1:part element="s2:erroInfo" name="erroInfo"/>
  </s1:message>
  <s1:message name="alterarCaracteristicaRequest">
    <s1:part element="s3:alterarCaracteristicaRequest" name="alterarCaracteristicaRequest"/>
  </s1:message>
  <s1:message name="alterarCaracteristicaResponse">
    <s1:part element="s3:alterarCaracteristicaResponse" name="alterarCaracteristicaResponse"/>
  </s1:message>
  <s1:message name="excluirListaCaracteristicaRequest">
    <s1:part element="s3:excluirListaCaracteristicaRequest" name="excluirListaCaracteristicaRequest"/>
  </s1:message>
  <s1:message name="excluirListaCaracteristicaResponse">
    <s1:part element="s3:excluirListaCaracteristicaResponse" name="excluirListaCaracteristicaResponse"/>
  </s1:message>
  <s1:message name="buscarListaValorCaracteristicaRequest">
    <s1:part element="s3:buscarListaValorCaracteristicaRequest" name="buscarListaValorCaracteristicaRequest"/>
  </s1:message>
  <s1:message name="buscarListaValorCaracteristicaResponse">
    <s1:part element="s3:buscarListaValorCaracteristicaResponse" name="buscarListaValorCaracteristicaResponse"/>
  </s1:message>
  <s1:message name="buscarListaModeloPorCaracteristicaRequest">
    <s1:part element="s3:buscarListaModeloPorCaracteristicaRequest" name="buscarListaModeloPorCaracteristicaRequest"/>
  </s1:message>
  <s1:message name="buscarListaModeloPorCaracteristicaResponse">
    <s1:part element="s3:buscarListaModeloPorCaracteristicaResponse" name="buscarListaModeloPorCaracteristicaResponse"/>
  </s1:message>
  <s1:message name="buscarListaCaracteristicaRequest">
    <s1:part element="s3:buscarListaCaracteristicaRequest" name="buscarListaCaracteristicaRequest"/>
  </s1:message>
  <s1:message name="buscarListaCaracteristicaResponse">
    <s1:part element="s3:buscarListaCaracteristicaResponse" name="buscarListaCaracteristicaResponse"/>
  </s1:message>
  <s1:message name="buscarValorCaracteristicaPorIdRequest">
    <s1:part element="s3:buscarValorCaracteristicaPorIdRequest" name="buscarValorCaracteristicaPorIdRequest"/>
  </s1:message>
  <s1:message name="buscarValorCaracteristicaPorIdResponse">
    <s1:part element="s3:buscarValorCaracteristicaPorIdResponse" name="buscarValorCaracteristicaPorIdResponse"/>
  </s1:message>
  <s1:message name="criarValorCaracteristicaRequest">
    <s1:part element="s3:criarValorCaracteristicaRequest" name="criarValorCaracteristicaRequest"/>
  </s1:message>
  <s1:message name="criarValorCaracteristicaResponse">
    <s1:part element="s3:criarValorCaracteristicaResponse" name="criarValorCaracteristicaResponse"/>
  </s1:message>
  <s1:message name="excluirListaValorCaracteristicaRequest">
    <s1:part element="s3:excluirListaValorCaracteristicaRequest" name="excluirListaValorCaracteristicaRequest"/>
  </s1:message>
  <s1:message name="excluirListaValorCaracteristicaResponse">
    <s1:part element="s3:excluirListaValorCaracteristicaResponse" name="excluirListaValorCaracteristicaResponse"/>
  </s1:message>
  <s1:message name="criarCaracteristicaRequest">
    <s1:part element="s3:criarCaracteristicaRequest" name="criarCaracteristicaRequest"/>
  </s1:message>
  <s1:message name="criarCaracteristicaResponse">
    <s1:part element="s3:criarCaracteristicaResponse" name="criarCaracteristicaResponse"/>
  </s1:message>
  <s1:message name="disponibilizarCaracteristicaRequest">
    <s1:part element="s3:disponibilizarCaracteristicaRequest" name="disponibilizarCaracteristicaRequest"/>
  </s1:message>
  <s1:message name="disponibilizarCaracteristicaResponse">
    <s1:part element="s3:disponibilizarCaracteristicaResponse" name="disponibilizarCaracteristicaResponse"/>
  </s1:message>
  <s1:message name="buscarModelosPorValorCaracteristicaRequest">
    <s1:part element="s3:buscarModelosPorValorCaracteristicaRequest" name="buscarModelosPorValorCaracteristicaRequest"/>
  </s1:message>
  <s1:message name="buscarModelosPorValorCaracteristicaResponse">
    <s1:part element="s3:buscarModelosPorValorCaracteristicaResponse" name="buscarModelosPorValorCaracteristicaResponse"/>
  </s1:message>
  <s1:message name="buscarListaCaracteristicaComValorPorModeloRequest">
    <s1:part element="s3:buscarListaCaracteristicaComValorPorModeloRequest" name="buscarListaCaracteristicaComValorPorModeloRequest"/>
  </s1:message>
  <s1:message name="buscarListaCaracteristicaComValorPorModeloResponse">
    <s1:part element="s3:buscarListaCaracteristicaComValorPorModeloResponse" name="buscarListaCaracteristicaComValorPorModeloResponse"/>
  </s1:message>
  <s1:message name="buscarCaracteristicaPorIdRequest">
    <s1:part element="s3:buscarCaracteristicaPorIdRequest" name="buscarCaracteristicaPorIdRequest"/>
  </s1:message>
  <s1:message name="buscarCaracteristicaPorIdResponse">
    <s1:part element="s3:buscarCaracteristicaPorIdResponse" name="buscarCaracteristicaPorIdResponse"/>
  </s1:message>
  <s1:message name="alterarValorCaracteristicaRequest">
    <s1:part element="s3:alterarValorCaracteristicaRequest" name="alterarValorCaracteristicaRequest"/>
  </s1:message>
  <s1:message name="alterarValorCaracteristicaResponse">
    <s1:part element="s3:alterarValorCaracteristicaResponse" name="alterarValorCaracteristicaResponse"/>
  </s1:message>
  <s1:message name="buscarListaCaracteristicaComValorRequest">
    <s1:part element="s3:buscarListaCaracteristicaComValorRequest" name="buscarListaCaracteristicaComValorRequest"/>
  </s1:message>
  <s1:message name="buscarListaCaracteristicaComValorResponse">
    <s1:part element="s3:buscarListaCaracteristicaComValorResponse" name="buscarListaCaracteristicaComValorResponse"/>
  </s1:message>
  <s1:portType name="CaracteristicaPortType">
    <s1:operation name="alterarCaracteristica">
      <s1:input message="s3:alterarCaracteristicaRequest"/>
      <s1:output message="s3:alterarCaracteristicaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="excluirListaCaracteristica">
      <s1:input message="s3:excluirListaCaracteristicaRequest"/>
      <s1:output message="s3:excluirListaCaracteristicaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaValorCaracteristica">
      <s1:input message="s3:buscarListaValorCaracteristicaRequest"/>
      <s1:output message="s3:buscarListaValorCaracteristicaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaModeloPorCaracteristica">
      <s1:input message="s3:buscarListaModeloPorCaracteristicaRequest"/>
      <s1:output message="s3:buscarListaModeloPorCaracteristicaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaCaracteristica">
      <s1:input message="s3:buscarListaCaracteristicaRequest"/>
      <s1:output message="s3:buscarListaCaracteristicaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarValorCaracteristicaPorId">
      <s1:input message="s3:buscarValorCaracteristicaPorIdRequest"/>
      <s1:output message="s3:buscarValorCaracteristicaPorIdResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="criarValorCaracteristica">
      <s1:input message="s3:criarValorCaracteristicaRequest"/>
      <s1:output message="s3:criarValorCaracteristicaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="excluirListaValorCaracteristica">
      <s1:input message="s3:excluirListaValorCaracteristicaRequest"/>
      <s1:output message="s3:excluirListaValorCaracteristicaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="criarCaracteristica">
      <s1:input message="s3:criarCaracteristicaRequest"/>
      <s1:output message="s3:criarCaracteristicaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="disponibilizarCaracteristica">
      <s1:input message="s3:disponibilizarCaracteristicaRequest"/>
      <s1:output message="s3:disponibilizarCaracteristicaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarModelosPorValorCaracteristica">
      <s1:input message="s3:buscarModelosPorValorCaracteristicaRequest"/>
      <s1:output message="s3:buscarModelosPorValorCaracteristicaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaCaracteristicaComValorPorModelo">
      <s1:input message="s3:buscarListaCaracteristicaComValorPorModeloRequest"/>
      <s1:output message="s3:buscarListaCaracteristicaComValorPorModeloResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarCaracteristicaPorId">
      <s1:input message="s3:buscarCaracteristicaPorIdRequest"/>
      <s1:output message="s3:buscarCaracteristicaPorIdResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="alterarValorCaracteristica">
      <s1:input message="s3:alterarValorCaracteristicaRequest"/>
      <s1:output message="s3:alterarValorCaracteristicaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaCaracteristicaComValor">
      <s1:input message="s3:buscarListaCaracteristicaComValorRequest"/>
      <s1:output message="s3:buscarListaCaracteristicaComValorResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
  </s1:portType>
  <s1:binding name="CaracteristicaSoapBinding" type="s3:CaracteristicaPortType">
    <s4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <s1:operation name="alterarCaracteristica">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="alterarCaracteristicaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="alterarCaracteristicaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="excluirListaCaracteristica">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="excluirListaCaracteristicaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="excluirListaCaracteristicaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaValorCaracteristica">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaValorCaracteristicaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaValorCaracteristicaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaModeloPorCaracteristica">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaModeloPorCaracteristicaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaModeloPorCaracteristicaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaCaracteristica">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaCaracteristicaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaCaracteristicaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarValorCaracteristicaPorId">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarValorCaracteristicaPorIdRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarValorCaracteristicaPorIdResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="criarValorCaracteristica">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="criarValorCaracteristicaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="criarValorCaracteristicaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="excluirListaValorCaracteristica">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="excluirListaValorCaracteristicaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="excluirListaValorCaracteristicaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="criarCaracteristica">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="criarCaracteristicaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="criarCaracteristicaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="disponibilizarCaracteristica">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="disponibilizarCaracteristicaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="disponibilizarCaracteristicaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarModelosPorValorCaracteristica">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarModelosPorValorCaracteristicaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarModelosPorValorCaracteristicaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaCaracteristicaComValorPorModelo">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaCaracteristicaComValorPorModeloRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaCaracteristicaComValorPorModeloResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarCaracteristicaPorId">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarCaracteristicaPorIdRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarCaracteristicaPorIdResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="alterarValorCaracteristica">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="alterarValorCaracteristicaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="alterarValorCaracteristicaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaCaracteristicaComValor">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaCaracteristicaComValorRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaCaracteristicaComValorResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
  </s1:binding>
  <s1:service name="CaracteristicaSoapService">
    <s1:port binding="s3:CaracteristicaSoapBinding" name="CaracteristicaSoapPort">
      <s4:address location="http://alsb3-soa:80/CatalogoWeb/Caracteristica/Proxy/CaracteristicaSecurity"/>
    </s1:port>
  </s1:service>
</s1:definitions>