catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/caracteristica/ListaCaracteristica.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoCaracteristica" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="ListaCaracteristica">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Caracteristica" minOccurs="0" maxOccurs="unbounded"> 
		        <xsd:complexType>
		          <xsd:sequence>
		            <xsd:element name="IdCaracteristica" type="xsd:long"/>
		            <xsd:element name="nmCaracteristica" type="xsd:string"/>
		            <xsd:element name="inSimulador" type="xsd:string"/>
		            <xsd:element name="inDisponivel" type="xsd:string"/>
		            <xsd:element name="descricao" type="xsd:string" minOccurs="0"/>
		            <xsd:element name="dtCriacao" type="xsd:dateTime" minOccurs="0"/>
		            <xsd:element name="nmUsuarioCriacao" type="xsd:string" minOccurs="0"/>
		            <xsd:element name="dtUltimaAlteracao" type="xsd:dateTime" minOccurs="0"/>
		            <xsd:element name="nmUsuarioAlteracao" type="xsd:string" minOccurs="0"/>
		            <xsd:element name="idGrupoCaracteristica" type="xsd:long" minOccurs="0"/>
		            <xsd:element name="indComparavel" type="xsd:string" minOccurs="0"/>
		            <xsd:element name="indExibivel" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ListaValorCaracteristica" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="ValorCaracteristica" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="idValorCaracteristica" type="xsd:long"/>
                                <xsd:element name="valor" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="idCaracteristica" type="xsd:long"/>
                                <xsd:element name="dtCriacao" type="xsd:dateTime" minOccurs="0"/>
                                <xsd:element name="nmUsuarioCriacao" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="dtUltimaAlteracao" type="xsd:dateTime" minOccurs="0"/>
                                <xsd:element name="nmUsuarioAlteracao" type="xsd:string" minOccurs="0"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
		          </xsd:sequence>
		        </xsd:complexType>
		      </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>