catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/caracteristica/ParametrosExcluirListaCaracteristica.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoCaracteristica" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ParametrosExcluirListaCaracteristica">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ListaCaracteristicaExclusao">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CaracteristicaExclusao" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="idCaracteristica" type="xsd:long"/>
                    <xsd:element name="justificativa" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>