catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/caracteristica/ParametrosCriarCaracteristica.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoCaracteristica" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cweb="http://www.vivo.com.br/SN/CatalogoCaracteristica">
		<xsd:element name="ParametrosCriarCaracteristica">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="CaracteristicaCriacao">
			        <xsd:complexType>
			          <xsd:sequence>
			            <xsd:element name="nmCaracteristica" type="xsd:string"/>
			            <xsd:element name="inSimulador" type="xsd:string" default="N"/>
			            <xsd:element name="indisponivel" type="xsd:string" default="N"/>
			            <xsd:element name="descricao" type="xsd:string" minOccurs="0"/>
			            <xsd:element name="dtCriacao" type="xsd:dateTime" minOccurs="0"/>
			            <xsd:element name="nmUsuarioCriacao" type="xsd:string" minOccurs="0"/>
			            <xsd:element name="dtUltimaAlteracao" type="xsd:dateTime" minOccurs="0"/>
			            <xsd:element name="nmUsuarioAlteracao" type="xsd:string" minOccurs="0"/>
			          </xsd:sequence>
			        </xsd:complexType>
			        </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
</xsd:schema>