catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/caracteristica/ParametrosBuscarListaModeloPorCaracteristica.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoCaracteristica" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ParametrosBuscarListaModeloPorCaracteristica">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ParametrosModelosPorCaracteristicaIn">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="idCaracteristica" type="xsd:long"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>