catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/pontos/ParametrosBuscarAcaoMarketing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.vivo.com.br/SN/Pontos" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:pts="http://www.vivo.com.br/SN/Pontos">
	<xsd:complexType name="ParametrosBuscarAcaoMarketing">
		<xsd:sequence>
            <xsd:element name="numeroLinha" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="identificadorAcao" type="xsd:long" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>