catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/pontos/PontosSecurity.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<s1:definitions name="Pontos" targetNamespace="http://www.vivo.com.br/SN/Pontos" xmlns:s0="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:s1="http://schemas.xmlsoap.org/wsdl/" xmlns:s10="http://www.vivo.com.br/SN/Pontos" xmlns:s11="http://www.vivo.com.br/MC/ProgramaPontos" xmlns:s12="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s2="http://www.vivo.com.br/MC/Geral" xmlns:s3="http://www.vivo.com.br/MC/MatrizPontos" xmlns:s4="http://www.vivo.com.br/MC/Catalogo" xmlns:s5="http://www.vivo.com.br/MC/OrdemVenda" xmlns:s6="http://www.vivo.com.br/MC/Pessoa" xmlns:s7="http://www.vivo.com.br/MC/SenhaAtendimento" xmlns:s8="http://www.vivo.com.br/MC/SCA" xmlns:s9="http://www.vivo.com.br/MC/Assinatura" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
  <wsp:UsingPolicy s1:Required="true"/>
  <wsp:UsingPolicy s1:Required="true"/>
  <wsp:Policy s0:Id="encrypt-custom-body-element-and-username-token">
    <wssp:Identity xmlns:wssp="http://www.bea.com/wls90/security/policy">
      <wssp:SupportedTokens>
        <wssp:SecurityToken TokenType="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#UsernameToken">
          <wssp:UsePassword Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText"/>
        </wssp:SecurityToken>
      </wssp:SupportedTokens>
    </wssp:Identity>
  </wsp:Policy>
  <s1:types>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/Pontos" xmlns:ass="http://www.vivo.com.br/MC/Assinatura" xmlns:cat="http://www.vivo.com.br/MC/Catalogo" xmlns:gr="http://www.vivo.com.br/MC/Geral" xmlns:ov="http://www.vivo.com.br/MC/OrdemVenda" xmlns:pp="http://www.vivo.com.br/MC/MatrizPontos" xmlns:ppo="http://www.vivo.com.br/MC/ProgramaPontos" xmlns:ps="http://www.vivo.com.br/MC/Pessoa" xmlns:pts="http://www.vivo.com.br/SN/Pontos" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s10="http://www.vivo.com.br/MC/ProgramaPontos" xmlns:s11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s2="http://www.vivo.com.br/MC/MatrizPontos" xmlns:s3="http://www.vivo.com.br/MC/Catalogo" xmlns:s4="http://www.vivo.com.br/MC/OrdemVenda" xmlns:s5="http://www.vivo.com.br/MC/Pessoa" xmlns:s6="http://www.vivo.com.br/MC/SenhaAtendimento" xmlns:s7="http://www.vivo.com.br/MC/SCA" xmlns:s8="http://www.vivo.com.br/MC/Assinatura" xmlns:s9="http://www.vivo.com.br/SN/Pontos" xmlns:sca="http://www.vivo.com.br/MC/SCA" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:vol="http://www.vivo.com.br/MC/SenhaAtendimento" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/MC/Geral" schemaLocation="ErroInfo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/MC/Geral" schemaLocation="CabecalhoVivo.xsd"/>
      <xsd:include schemaLocation="ParametrosBuscarAcaoMarketing.xsd"/>
	  <xsd:include schemaLocation="ResultadoBuscarAcaoMarketing.xsd"/>
      <xsd:element name="buscarAcaoMarketingRequest" type="pts:ParametrosBuscarAcaoMarketing"/>
      <xsd:element name="buscarAcaoMarketingResponse" type="pts:ResultadoBuscarAcaoMarketing"/>
    </xsd:schema>
  </s1:types>
  <s1:message name="erroInfoFault">
    <s1:part element="s2:erroInfo" name="erroInfo"/>
  </s1:message>
  <s1:message name="cabecalhoVivo">
    <s1:part element="s2:cabecalhoVivo" name="cabecalhoVivo"/>
  </s1:message>
  <s1:message name="buscarAcaoMarketingRequest">
    <s1:part element="s10:buscarAcaoMarketingRequest" name="buscarAcaoMarketingRequest"/>
  </s1:message>
  <s1:message name="buscarAcaoMarketingResponse">
    <s1:part element="s10:buscarAcaoMarketingResponse" name="buscarAcaoMarketingResponse"/>
  </s1:message>
  <s1:portType name="PontosPortType">
    <s1:operation name="buscarAcaoMarketing">
      <s1:input message="s10:buscarAcaoMarketingRequest"/>
      <s1:output message="s10:buscarAcaoMarketingResponse"/>
      <s1:fault message="s10:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
  </s1:portType>
  <s1:binding name="PontosBinding" type="s10:PontosPortType">
    <s12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <s1:operation name="buscarAcaoMarketing">
      <s12:operation soapAction=""/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s12:header message="s10:cabecalhoVivo" part="cabecalhoVivo" use="literal"/>
        <s12:body parts="buscarAcaoMarketingRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s12:body parts="buscarAcaoMarketingResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s12:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
  </s1:binding>
  <s1:service name="PontosBindingQSService">
    <s1:port binding="s10:PontosBinding" name="PontosBindingQSPort">
      <s12:address location="http://alsb3-soa:80/EAI/Pontos"/>
    </s1:port>
  </s1:service>
</s1:definitions>