URAFOJ6/urafo-xsd/schemas/br/com/vivo/fo/cliente/DadosChipVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by Weblogic Workshop (BEA) -->
<xs:schema xmlns:ns1="cliente.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="cliente.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="DadosChipVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dsOperacao" type="xs:string"/>
				<xs:element name="nrLinha" type="xs:string" minOccurs="0"/>
				<xs:element name="idLinha" type="xs:string" minOccurs="0"/>
				<xs:element name="nrICCID" type="xs:string" minOccurs="0"/>
				<xs:element name="dsTipoChip" type="xs:string" minOccurs="0"/>
				<xs:element name="dsTamanhoChip" type="xs:string" minOccurs="0"/>
				<xs:element name="nrPUK1" type="xs:string" minOccurs="0"/>
				<xs:element name="nrPUK2" type="xs:string" minOccurs="0"/>
				<xs:element name="nrIP" type="xs:string" minOccurs="0"/>
				<xs:element name="errorCode" type="xs:string" minOccurs="0"/>
				<xs:element name="errorDescription" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
