catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/regional/Regional.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoRegional" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cweb="http://www.vivo.com.br/SN/CatalogoRegional">
	
	
	<xsd:element name="ListaRegionalUf">
		<xsd:complexType>
			<xsd:sequence>
			
				<xsd:element name="idRegional" type="xsd:integer"/>
				<xsd:element name="nmRegional" type="xsd:string"/>
				
				<xsd:element name="ListaUF">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Uf" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="idUf" type="xsd:integer"/>
										<xsd:element name="nmUf" type="xsd:string"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
					
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>
	
</xsd:schema>