catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/fabricante/FabricanteSecurity.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<s1:definitions name="Fabricante" targetNamespace="http://www.vivo.com.br/SN/CatalogoFabricante" xmlns:s0="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:s1="http://schemas.xmlsoap.org/wsdl/" xmlns:s2="http://www.vivo.com.br/MC/Geral" xmlns:s3="http://www.vivo.com.br/SN/CatalogoFabricante" xmlns:s4="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
  <wsp:UsingPolicy s1:Required="true"/>
  <wsp:Policy s0:Id="encrypt-custom-body-element-and-username-token">
    <wssp:Identity xmlns:wssp="http://www.bea.com/wls90/security/policy">
      <wssp:SupportedTokens>
        <wssp:SecurityToken TokenType="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#UsernameToken">
          <wssp:UsePassword Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText"/>
        </wssp:SecurityToken>
      </wssp:SupportedTokens>
    </wssp:Identity>
  </wsp:Policy>
  <s1:types>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoFabricante" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:fab="http://www.vivo.com.br/SN/CatalogoFabricante" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoFabricante" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/MC/Geral" schemaLocation="CabecalhoVivo.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoFabricante" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:fab="http://www.vivo.com.br/SN/CatalogoFabricante" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoFabricante" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/MC/Geral" schemaLocation="ErroInfo.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:fab="http://www.vivo.com.br/SN/CatalogoFabricante" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoFabricante" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoFabricante" schemaLocation="ParametrosBuscarListaFabricantePorTipoProduto.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:fab="http://www.vivo.com.br/SN/CatalogoFabricante" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoFabricante" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoFabricante" schemaLocation="ResultadoBuscarListaFabricante.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:fab="http://www.vivo.com.br/SN/CatalogoFabricante" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoFabricante" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoFabricante" schemaLocation="ResultadoBuscarListaFabricantePorTipoProduto.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoFabricante" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:fab="http://www.vivo.com.br/SN/CatalogoFabricante" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoFabricante" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="buscarListaFabricanteRequest">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaFabricanteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="fab:ResultadoBuscarListaFabricante"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaFabricantePorTipoProdutoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="fab:ParametrosBuscarListaFabricantePorTipoProduto"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaFabricantePorTipoProdutoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="fab:ResultadoBuscarListaFabricantePorTipoProduto"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </s1:types>
  <s1:message name="cabecalhoVIVO">
    <s1:part element="s2:cabecalhoVivo" name="cabecalhoVIVO"/>
  </s1:message>
  <s1:message name="erroInfoFault">
    <s1:part element="s2:erroInfo" name="erroInfo"/>
  </s1:message>
  <s1:message name="buscarListaFabricanteRequest">
    <s1:part element="s3:buscarListaFabricanteRequest" name="parameters"/>
  </s1:message>
  <s1:message name="buscarListaFabricanteResponse">
    <s1:part element="s3:buscarListaFabricanteResponse" name="parameters"/>
  </s1:message>
  <s1:message name="buscarListaFabricantePorTipoProdutoRequest">
    <s1:part element="s3:buscarListaFabricantePorTipoProdutoRequest" name="parameters"/>
  </s1:message>
  <s1:message name="buscarListaFabricantePorTipoProdutoResponse">
    <s1:part element="s3:buscarListaFabricantePorTipoProdutoResponse" name="parameters"/>
  </s1:message>
  <s1:portType name="FabricantePortType">
    <s1:operation name="buscarListaFabricante">
      <s1:input message="s3:buscarListaFabricanteRequest"/>
      <s1:output message="s3:buscarListaFabricanteResponse"/>
    </s1:operation>
    <s1:operation name="buscarListaFabricantePorTipoProduto">
      <s1:input message="s3:buscarListaFabricantePorTipoProdutoRequest"/>
      <s1:output message="s3:buscarListaFabricantePorTipoProdutoResponse"/>
    </s1:operation>
  </s1:portType>
  <s1:binding name="FabricanteBinding" type="s3:FabricantePortType">
    <s4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <s1:operation name="buscarListaFabricante">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body use="literal"/>
      </s1:output>
    </s1:operation>
    <s1:operation name="buscarListaFabricantePorTipoProduto">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body use="literal"/>
      </s1:output>
    </s1:operation>
  </s1:binding>
  <s1:service name="FabricanteService">
    <s1:port binding="s3:FabricanteBinding" name="FabricanteSoapPort">
      <s4:address location="http://alsb3-soa:80/CatalogoWeb/Fabricante/Proxy/FabricanteSecurity"/>
    </s1:port>
  </s1:service>
</s1:definitions>