catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/programaPontos/ParametroAlterarDispProdutoPP.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoProgramaPontos" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:element name="ParamAlterarDispProdutoPP">
		<xsd:complexType>
			<xsd:all>
				<!-- Obrigatorio -->
				<xsd:element name="ListaIdProduto">
             		<xsd:complexType>
                      <xsd:sequence>
	                       <xsd:element name="idProduto" type="xsd:string" maxOccurs="unbounded"/>                               
                      </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="ListaSgAcao">
             		<xsd:complexType>
                      <xsd:sequence>
	                       <xsd:element name="sgAcao" type="xsd:string" maxOccurs="unbounded"/>                               
                      </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
				<xsd:element name="idOrgVendas" type="xsd:long"/>
				<xsd:element name="inDisponivel">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="S"/>
							<xsd:enumeration value="N"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="nmUsuario" type="xsd:string"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>