catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/programaPontos/ProgramaPontosSecurity.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<s1:definitions name="ProgramaPontos" targetNamespace="http://www.vivo.com.br/SN/CatalogoProgramaPontos" xmlns:s0="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:s1="http://schemas.xmlsoap.org/wsdl/" xmlns:s2="http://www.vivo.com.br/MC/Geral" xmlns:s3="http://www.vivo.com.br/SN/CatalogoProgramaPontos" xmlns:s4="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
  <wsp:UsingPolicy s1:Required="true"/>
  <wsp:Policy s0:Id="encrypt-custom-body-element-and-username-token">
    <wssp:Identity xmlns:wssp="http://www.bea.com/wls90/security/policy">
      <wssp:SupportedTokens>
        <wssp:SecurityToken TokenType="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#UsernameToken">
          <wssp:UsePassword Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText"/>
        </wssp:SecurityToken>
      </wssp:SupportedTokens>
    </wssp:Identity>
  </wsp:Policy>
  <s1:types>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoProgramaPontos" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoProgramaPontos" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoProgramaPontos" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/MC/Geral" schemaLocation="CabecalhoVivo.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoProgramaPontos" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoProgramaPontos" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoProgramaPontos" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/MC/Geral" schemaLocation="ErroInfo.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoProgramaPontos" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoProgramaPontos" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoProgramaPontos" schemaLocation="ParametroBuscarPrecoProdutoPP.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoProgramaPontos" schemaLocation="ResultadoBuscarPrecoProdutoPP.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoProgramaPontos" schemaLocation="ParametroAlterarDispProdutoPP.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoProgramaPontos" schemaLocation="ParametroBuscarConfigProdutoPP.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoProgramaPontos" schemaLocation="ResultadoBuscarConfigProdutoPP.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoProgramaPontos" schemaLocation="ParametroCarregarDispProdutoPP.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoProgramaPontos" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoProgramaPontos" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoProgramaPontos" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="buscarListaPrecoProdutoPPRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParamBuscarPrecoProdutoPP"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaPrecoProdutoPPResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="tns:ResultBuscarPrecoProdutoPP"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoProgramaPontos" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoProgramaPontos" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoProgramaPontos" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="alterarDispProdutoPPRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParamAlterarDispProdutoPP"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarDispProdutoPPResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoProgramaPontos" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoProgramaPontos" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoProgramaPontos" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="buscarConfigProdutoPPRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParamBuscarConfigProdutoPP"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarConfigProdutoPPResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="tns:ResultBuscarConfigProdutoPP"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoProgramaPontos" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoProgramaPontos" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoProgramaPontos" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="carregarDispProdutoPPRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParamCarregarDispProdutoPP"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="carregarDispProdutoPPResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </s1:types>
  <s1:message name="cabecalhoVIVO">
    <s1:part element="s2:cabecalhoVivo" name="cabecalhoVIVO"/>
  </s1:message>
  <s1:message name="erroInfoFault">
    <s1:part element="s2:erroInfo" name="erroInfo"/>
  </s1:message>
  <s1:message name="buscarListaPrecoProdutoPPRequest">
    <s1:part element="s3:buscarListaPrecoProdutoPPRequest" name="buscarListaPrecoProdutoPPRequest"/>
  </s1:message>
  <s1:message name="buscarListaPrecoProdutoPPResponse">
    <s1:part element="s3:buscarListaPrecoProdutoPPResponse" name="buscarListaPrecoProdutoPPResponse"/>
  </s1:message>
  <s1:message name="alterarDispProdutoPPRequest">
    <s1:part element="s3:alterarDispProdutoPPRequest" name="alterarDispProdutoPPRequest"/>
  </s1:message>
  <s1:message name="alterarDispProdutoPPResponse">
    <s1:part element="s3:alterarDispProdutoPPResponse" name="alterarDispProdutoPPResponse"/>
  </s1:message>
  <s1:message name="buscarConfigProdutoPPRequest">
    <s1:part element="s3:buscarConfigProdutoPPRequest" name="buscarConfigProdutoPPRequest"/>
  </s1:message>
  <s1:message name="buscarConfigProdutoPPResponse">
    <s1:part element="s3:buscarConfigProdutoPPResponse" name="buscarConfigProdutoPPResponse"/>
  </s1:message>
  <s1:message name="carregarDispProdutoPPRequest">
    <s1:part element="s3:carregarDispProdutoPPRequest" name="carregarDispProdutoPPRequest"/>
  </s1:message>
  <s1:message name="carregarDispProdutoPPResponse">
    <s1:part element="s3:carregarDispProdutoPPResponse" name="carregarDispProdutoPPResponse"/>
  </s1:message>
  <s1:portType name="ProgramaPontosPortType">
    <s1:operation name="buscarListaPrecoProdutoPP">
      <s1:input message="s3:buscarListaPrecoProdutoPPRequest"/>
      <s1:output message="s3:buscarListaPrecoProdutoPPResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="alterarDispProdutoPP">
      <s1:input message="s3:alterarDispProdutoPPRequest"/>
      <s1:output message="s3:alterarDispProdutoPPResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarConfigProdutoPP">
      <s1:input message="s3:buscarConfigProdutoPPRequest"/>
      <s1:output message="s3:buscarConfigProdutoPPResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="carregarDispProdutoPP">
      <s1:input message="s3:carregarDispProdutoPPRequest"/>
      <s1:output message="s3:carregarDispProdutoPPResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
  </s1:portType>
  <s1:binding name="ProgramaPontosBinding" type="s3:ProgramaPontosPortType">
    <s4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <s1:operation name="buscarListaPrecoProdutoPP">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaPrecoProdutoPPRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaPrecoProdutoPPResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="alterarDispProdutoPP">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="alterarDispProdutoPPRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="alterarDispProdutoPPResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarConfigProdutoPP">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarConfigProdutoPPRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarConfigProdutoPPResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="carregarDispProdutoPP">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="carregarDispProdutoPPRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="carregarDispProdutoPPResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
  </s1:binding>
  <s1:service name="ProgramaPontosSoapService">
    <s1:port binding="s3:ProgramaPontosBinding" name="ProgramaPontosSoapPort">
      <s4:address location="http://alsb3-soa:80/CatalogoWeb/ProgramaPontos/Proxy/ProgramaPontosSecurity"/>
    </s1:port>
  </s1:service>
</s1:definitions>