catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/programaPontos/ResultadoBuscarConfigProdutoPP.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.vivo.com.br/SN/CatalogoProgramaPontos" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:element name="ResultBuscarConfigProdutoPP">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="ListaSgAcao">
             		<xsd:complexType>
                      <xsd:sequence>
	                       <xsd:element name="sgAcaoMarketing" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                      </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
				<xsd:element name="ListaIdOrgVendas">
             		<xsd:complexType>
                      <xsd:sequence>
	                       <xsd:element name="idOrgVendas" type="xsd:long" minOccurs="0" maxOccurs="unbounded"/>
                      </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
				<xsd:element name="ListaIdCanal">
             		<xsd:complexType>
                      <xsd:sequence>
	                       <xsd:element name="idCanalAtend" type="xsd:long" minOccurs="0" maxOccurs="unbounded"/>
                      </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>