catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/programaPontos/ResultadoBuscarPrecoProdutoPP.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.vivo.com.br/SN/CatalogoProgramaPontos" xmlns:cwebPag="http://www.vivo.com.br/SN/CatalogoProgramaPontos" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:include schemaLocation="PaginacaoOut.xsd"/>

	<xsd:element name="ResultBuscarPrecoProdutoPP">
		<!-- Resultado da Busca -->
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ListaProduto">
					<!-- Lista de Produtos -->
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Produto" minOccurs="0" maxOccurs="unbounded">
								<!-- Produto -->
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="idProduto" type="xsd:long"/>
										<xsd:element name="cdCodigo" type="xsd:string"/>
										<xsd:element name="dsSap" type="xsd:string"/>
										<xsd:element name="nmProduto" type="xsd:string" minOccurs="0"/>
										<xsd:element name="nmTecnologia" type="xsd:string" minOccurs="0"/>
										<xsd:element name="valor" type="xsd:double"/>
										<xsd:element name="inDisponivel" type="xsd:string"/>
										<xsd:element name="idOrgVendas" type="xsd:long"/>
										<xsd:element name="sgOrgVendas" type="xsd:string"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="cwebPag:PaginacaoOut" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>