catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/plano/ParametrosBuscarListaVariaveisPorPlano.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoPlano" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cwebPaginacao="http://www.vivo.com.br/SN/CatalogoPlano">
	
	<xsd:include schemaLocation="PaginacaoIn.xsd"/>	

	<xsd:element name="ParametrosBuscarListaVariaveisPorPlano">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="cwebPaginacao:PaginacaoIn"/>
				<xsd:element name="idPlano" type="xsd:long" maxOccurs="unbounded"/>
				<xsd:element name="idPlataforma" type="xsd:long"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>