catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/plano/ParametrosBuscarListaPlano.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoPlano" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:element name="ParametrosBuscarListaPlano">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="idPlataforma" type="xsd:long"/>
				<xsd:element name="idTecnologia" type="xsd:long" minOccurs="0"/>
				<xsd:element name="idUF" type="xsd:long" minOccurs="0"/>
				<xsd:element name="nmComercial" type="xsd:string" minOccurs="0"/>
				<xsd:element name="cdPlano" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>