catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/plano/ParametroAlterarPlano.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoPlano" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/Frequencia">
	
	<xsd:element name="ParametroAlterarPlano">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="idPlano" type="xsd:long"/>
				<xsd:element name="idCategoria" type="xsd:long" minOccurs="0"/>
				<xsd:element name="qtdMaxDependentes" type="xsd:long" minOccurs="0"/>
				<xsd:element name="inDisponibilidadeCatalogo" minOccurs="0">
		            <xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="S"/>
							<xsd:enumeration value="N"/>
						</xsd:restriction>
					</xsd:simpleType>
	            </xsd:element>
				<xsd:element name="idTipoPlano" type="xsd:long" minOccurs="0"/>
				<xsd:element name="ativaWiFi" minOccurs="0">
		            <xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="S"/>
							<xsd:enumeration value="N"/>
						</xsd:restriction>
					</xsd:simpleType>
	            </xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>