catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/plano/PlanoSecurity.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<s1:definitions name="Plano" targetNamespace="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:s0="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:s1="http://schemas.xmlsoap.org/wsdl/" xmlns:s2="http://www.vivo.com.br/MC/Geral" xmlns:s3="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:s4="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
  <wsp:UsingPolicy s1:Required="true"/>
  <wsp:Policy s0:Id="encrypt-custom-body-element-and-username-token">
    <wssp:Identity xmlns:wssp="http://www.bea.com/wls90/security/policy">
      <wssp:SupportedTokens>
        <wssp:SecurityToken TokenType="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#UsernameToken">
          <wssp:UsePassword Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText"/>
        </wssp:SecurityToken>
      </wssp:SupportedTokens>
    </wssp:Identity>
  </wsp:Policy>
  <s1:types>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:pla="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/MC/Geral" schemaLocation="CabecalhoVivo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/MC/Geral" schemaLocation="ErroInfo.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:pla="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoPlano" schemaLocation="ParametrosBuscarPlano.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoPlano" schemaLocation="ResultadoBuscarPlano.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoPlano" schemaLocation="ParametrosBuscarDescricaoPlano.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoPlano" schemaLocation="ResultadoBuscarDescricaoPlano.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoPlano" schemaLocation="ParametrosBuscarListaVariaveisPorPlano.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoPlano" schemaLocation="ResultadoBuscarListaVariaveisPorPlano.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoPlano" schemaLocation="ParametrosValidarListaPlanoPorId.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoPlano" schemaLocation="ResultadoBuscarListaPlanoPendValidacao.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoPlano" schemaLocation="ResultadoBuscarListaPlanoPorId.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoPlano" schemaLocation="ParametrosBuscarListaPlanoPorId.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoPlano" schemaLocation="ParametrosBuscarListaPlanoParametrizacao.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoPlano" schemaLocation="ResultadoBuscarListaPlanoParametrizacao.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoPlano" schemaLocation="ParametroAlterarPlano.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoPlano" schemaLocation="ResultadoAlterarPlano.xsd"/>
      <!-- Incluido por Luis Cugliandro -->
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoPlano" schemaLocation="ParametrosBuscarListaPlano.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoPlano" schemaLocation="ResultadoBuscarListaPlano.xsd"/>
      <!-- Incluido por Luis Cugliandro -->
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoPlano" schemaLocation="ParametrosBuscarListaTipoPlano.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoPlano" schemaLocation="ResultadoBuscarListaTipoPlano.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:pla="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoPlano" schemaLocation="ParametrosExportarPlano.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:pla="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoPlano" schemaLocation="ResultadoExportarPlano.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:pla="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoPlano" schemaLocation="ParametroAlterarAtivacaoWiFi.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:pla="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="exportarPlanoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="pla:ParametrosExportarPlano"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="exportarPlanoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="pla:ResultadoExportarPlano"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:pla="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="buscarListaPlanoParametrizacaoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="pla:ParametrosBuscarListaPlanoParametrizacao"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaPlanoParametrizacaoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="pla:ResultadoBuscarListaPlanoParametrizacao"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaPlanoPorIdRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="pla:ParametrosBuscarListaPlanoPorId"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaPlanoPorIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="pla:ResultadoBuscarListaPlanoPorId"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:pla="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="buscarListaPlanoPendValidacaoRequest">
        <xsd:complexType>
          <xsd:sequence>
					</xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaPlanoPendValidacaoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="pla:ResultadoBuscarListaPlanoPendValidacao"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:pla="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="validarListaPlanoPorIdRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="pla:ParametrosValidarListaPlanoPorId"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="validarListaPlanoPorIdResponse">
        <xsd:complexType>
          <xsd:sequence>
					</xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:pla="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="alterarPlanoParametrizacaoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="pla:ParametroAlterarPlano"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarPlanoParametrizacaoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="pla:ResultadoAlterarPlano"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:pla="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="buscarPlanoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="pla:ParametrosBuscarPlano"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarPlanoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="pla:ResultadoBuscarPlano"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:pla="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="buscarDescricaoPlanoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="pla:ParametrosBuscarDescricaoPlano"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarDescricaoPlanoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="pla:ResultadoBuscarDescricaoPlano"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:pla="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="buscarListaVariaveisPorPlanoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="pla:ParametrosBuscarListaVariaveisPorPlano"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaVariaveisPorPlanoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="pla:ResultadoBuscarListaVariaveisPorPlano"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:pla="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="buscarListaPlanoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="pla:ParametrosBuscarListaPlano"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaPlanoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="pla:ResultadoBuscarListaPlano"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:pla="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="buscarListaTipoPlanoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="pla:ParametrosBuscarListaTipoPlano"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaTipoPlanoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="pla:ResultadoBuscarListaTipoPlano"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:pla="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="alterarAtivacaoWiFiRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="pla:ParamAlterarAtivacaoWiFi"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarAtivacaoWiFiResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </s1:types>
  <s1:message name="cabecalhoVIVO">
    <s1:part element="s2:cabecalhoVivo" name="cabecalhoVIVO"/>
  </s1:message>
  <s1:message name="erroInfoFault">
    <s1:part element="s2:erroInfo" name="erroInfo"/>
  </s1:message>
  <s1:message name="exportarPlanoRequest">
    <s1:part element="s3:exportarPlanoRequest" name="exportarPlanoRequest"/>
  </s1:message>
  <s1:message name="exportarPlanoResponse">
    <s1:part element="s3:exportarPlanoResponse" name="exportarPlanoResponse"/>
  </s1:message>
  <s1:message name="buscarListaPlanoParametrizacaoRequest">
    <s1:part element="s3:buscarListaPlanoParametrizacaoRequest" name="buscarListaPlanoParametrizacaoRequest"/>
  </s1:message>
  <s1:message name="buscarListaPlanoParametrizacaoResponse">
    <s1:part element="s3:buscarListaPlanoParametrizacaoResponse" name="buscarListaPlanoParametrizacaoResponse"/>
  </s1:message>
  <s1:message name="buscarListaPlanoPorIdRequest">
    <s1:part element="s3:buscarListaPlanoPorIdRequest" name="buscarListaPlanoPorIdRequest"/>
  </s1:message>
  <s1:message name="buscarListaPlanoPorIdResponse">
    <s1:part element="s3:buscarListaPlanoPorIdResponse" name="buscarListaPlanoPorIdResponse"/>
  </s1:message>
  <s1:message name="alterarPlanoParametrizacaoRequest">
    <s1:part element="s3:alterarPlanoParametrizacaoRequest" name="alterarPlanoParametrizacaoRequest"/>
  </s1:message>
  <s1:message name="alterarPlanoParametrizacaoResponse">
    <s1:part element="s3:alterarPlanoParametrizacaoResponse" name="alterarPlanoParametrizacaoResponse"/>
  </s1:message>
  <s1:message name="buscarListaPlanoPendValidacaoRequest">
    <s1:part element="s3:buscarListaPlanoPendValidacaoRequest" name="buscarListaPlanoPendValidacaoRequest"/>
  </s1:message>
  <s1:message name="buscarListaPlanoPendValidacaoResponse">
    <s1:part element="s3:buscarListaPlanoPendValidacaoResponse" name="buscarListaPlanoPendValidacaoResponse"/>
  </s1:message>
  <s1:message name="buscarPlanoRequest">
    <s1:part element="s3:buscarPlanoRequest" name="buscarPlanoRequest"/>
  </s1:message>
  <s1:message name="buscarPlanoResponse">
    <s1:part element="s3:buscarPlanoResponse" name="buscarPlanoResponse"/>
  </s1:message>
  <s1:message name="buscarDescricaoPlanoRequest">
    <s1:part element="s3:buscarDescricaoPlanoRequest" name="buscarDescricaoPlanoRequest"/>
  </s1:message>
  <s1:message name="buscarDescricaoPlanoResponse">
    <s1:part element="s3:buscarDescricaoPlanoResponse" name="buscarDescricaoPlanoResponse"/>
  </s1:message>
  <s1:message name="buscarListaVariaveisPorPlanoRequest">
    <s1:part element="s3:buscarListaVariaveisPorPlanoRequest" name="buscarListaVariaveisPorPlanoRequest"/>
  </s1:message>
  <s1:message name="buscarListaVariaveisPorPlanoResponse">
    <s1:part element="s3:buscarListaVariaveisPorPlanoResponse" name="buscarListaVariaveisPorPlanoResponse"/>
  </s1:message>
  <s1:message name="validarListaPlanoPorIdRequest">
    <s1:part element="s3:validarListaPlanoPorIdRequest" name="validarListaPlanoPorIdRequest"/>
  </s1:message>
  <s1:message name="validarListaPlanoPorIdResponse">
    <s1:part element="s3:validarListaPlanoPorIdResponse" name="validarListaPlanoPorIdResponse"/>
  </s1:message>
  <s1:message name="buscarListaPlanoRequest">
    <s1:part element="s3:buscarListaPlanoRequest" name="buscarListaPlanoRequest"/>
  </s1:message>
  <s1:message name="buscarListaPlanoResponse">
    <s1:part element="s3:buscarListaPlanoResponse" name="buscarListaPlanoResponse"/>
  </s1:message>
  <s1:message name="buscarListaTipoPlanoRequest">
    <s1:part element="s3:buscarListaTipoPlanoRequest" name="buscarListaTipoPlanoRequest"/>
  </s1:message>
  <s1:message name="buscarListaTipoPlanoResponse">
    <s1:part element="s3:buscarListaTipoPlanoResponse" name="buscarListaTipoPlanoResponse"/>
  </s1:message>
  <s1:message name="alterarAtivacaoWiFiRequest">
    <s1:part element="s3:alterarAtivacaoWiFiRequest" name="alterarAtivacaoWiFiRequest"/>
  </s1:message>
  <s1:message name="alterarAtivacaoWiFiResponse">
    <s1:part element="s3:alterarAtivacaoWiFiResponse" name="alterarAtivacaoWiFiResponse"/>
  </s1:message>
  <s1:portType name="PlanoPortType">
    <s1:operation name="exportarPlano">
      <s1:input message="s3:exportarPlanoRequest"/>
      <s1:output message="s3:exportarPlanoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaPlanoParametrizacao">
      <s1:input message="s3:buscarListaPlanoParametrizacaoRequest"/>
      <s1:output message="s3:buscarListaPlanoParametrizacaoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaPlanoPorId">
      <s1:input message="s3:buscarListaPlanoPorIdRequest"/>
      <s1:output message="s3:buscarListaPlanoPorIdResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="alterarPlanoParametrizacao">
      <s1:input message="s3:alterarPlanoParametrizacaoRequest"/>
      <s1:output message="s3:alterarPlanoParametrizacaoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaPlanoPendValidacao">
      <s1:input message="s3:buscarListaPlanoPendValidacaoRequest"/>
      <s1:output message="s3:buscarListaPlanoPendValidacaoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="validarListaPlanoPorId">
      <s1:input message="s3:validarListaPlanoPorIdRequest"/>
      <s1:output message="s3:validarListaPlanoPorIdResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarPlano">
      <s1:input message="s3:buscarPlanoRequest"/>
      <s1:output message="s3:buscarPlanoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarDescricaoPlano">
      <s1:input message="s3:buscarDescricaoPlanoRequest"/>
      <s1:output message="s3:buscarDescricaoPlanoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaVariaveisPorPlano">
      <s1:input message="s3:buscarListaVariaveisPorPlanoRequest"/>
      <s1:output message="s3:buscarListaVariaveisPorPlanoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaPlano">
      <s1:input message="s3:buscarListaPlanoRequest"/>
      <s1:output message="s3:buscarListaPlanoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaTipoPlano">
      <s1:input message="s3:buscarListaTipoPlanoRequest"/>
      <s1:output message="s3:buscarListaTipoPlanoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="alterarAtivacaoWiFi">
      <s1:input message="s3:alterarAtivacaoWiFiRequest"/>
      <s1:output message="s3:alterarAtivacaoWiFiResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
  </s1:portType>
  <s1:binding name="PlanoBinding" type="s3:PlanoPortType">
    <s4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <s1:operation name="exportarPlano">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="exportarPlanoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="exportarPlanoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaPlanoParametrizacao">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaPlanoParametrizacaoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaPlanoParametrizacaoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaPlanoPorId">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaPlanoPorIdRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaPlanoPorIdResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaPlanoPendValidacao">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaPlanoPendValidacaoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaPlanoPendValidacaoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="alterarPlanoParametrizacao">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="alterarPlanoParametrizacaoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="alterarPlanoParametrizacaoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarPlano">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarPlanoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarPlanoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="validarListaPlanoPorId">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="validarListaPlanoPorIdRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="validarListaPlanoPorIdResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarDescricaoPlano">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarDescricaoPlanoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarDescricaoPlanoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaVariaveisPorPlano">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaVariaveisPorPlanoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaVariaveisPorPlanoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaPlano">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaPlanoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaPlanoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaTipoPlano">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaTipoPlanoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaTipoPlanoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="alterarAtivacaoWiFi">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="alterarAtivacaoWiFiRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="alterarAtivacaoWiFiResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
  </s1:binding>
  <s1:service name="PlanoService">
    <s1:port binding="s3:PlanoBinding" name="PlanoPort">
      <s4:address location="http://alsb3-soa:80/CatalogoWeb/Plano/Proxy/PlanoSecurity"/>
    </s1:port>
  </s1:service>
</s1:definitions>