catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/plano/Planos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoPlano" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:spl="http://www.vivo.com.br/SN/CatalogoPlano" xmlns:pla="http://www.vivo.com.br/SN/CatalogoPlano">
	<xsd:include schemaLocation="SistemaPlano.xsd"/>
	<xsd:include schemaLocation="PlanoVariaveis.xsd"/>
	
	
				<xsd:element name="Plano">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="idPlano" type="xsd:long"/>
							<xsd:element name="nmComercial" type="xsd:string" minOccurs="0"/>
							<xsd:element name="dtInicial" type="xsd:dateTime"/>
							<xsd:element name="indisponivel" type="xsd:string" minOccurs="0"/>
							<xsd:element name="descricao" type="xsd:string" minOccurs="0"/>
							<xsd:element name="valorAssinaturaMensal" type="xsd:decimal" minOccurs="0"/>
							<xsd:element name="idPlataforma" type="xsd:long"/>
							<xsd:element name="dtCriacao" type="xsd:dateTime" minOccurs="0"/>
							<xsd:element name="nmUsuarioCriacao" type="xsd:string" minOccurs="0"/>
							<xsd:element name="dtFinal" type="xsd:dateTime" minOccurs="0"/>
							<xsd:element name="dtUltimaAlteracao" type="xsd:dateTime" minOccurs="0"/>
							<xsd:element name="nmUsuarioAlteracao" type="xsd:string" minOccurs="0"/>
							<xsd:element name="qtMinFranquia" type="xsd:decimal" minOccurs="0"/>
							<xsd:element name="idPlanoTitular" type="xsd:long" minOccurs="0"/>
							<xsd:element name="idRegional" type="xsd:long" minOccurs="0"/>
							<xsd:element name="qtMinimaDependentes" type="xsd:long" minOccurs="0"/>
							<xsd:element name="qtMaximaDependentes" type="xsd:long" minOccurs="0"/>
							<xsd:element name="cdAnatel" type="xsd:string" minOccurs="0"/>	
							<xsd:element ref="spl:SistemaPlano" minOccurs="0"/>	
							<xsd:element ref="pla:ListaPlanoVariaveis" minOccurs="0"/>					
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			
</xsd:schema>