catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/plano/ResultadoExportarPlano.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoPlano" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:pag="http://www.vivo.com.br/SN/CatalogoPlano">
		<xsd:element name="ResultadoExportarPlano">
			<xsd:complexType>
           		<xsd:sequence>
           		<xsd:element name="PaginacaoOut">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="paginaAtual" type="xsd:int"/>
							<xsd:element name="totalRegistros" type="xsd:int"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>	  	
           		  <xsd:element name="Plano" maxOccurs="unbounded" minOccurs="0">
					<xsd:complexType>
        		   		<xsd:sequence>	             
				         	   <xsd:element name="nmPlano" type="xsd:string" minOccurs="0"/>
				        	   <xsd:element name="Plataforma" type="xsd:string" minOccurs="0"/>
							   <xsd:element name="Tecnologia" type="xsd:string" minOccurs="0"/>
							   <xsd:element name="TipoCliente" type="xsd:string" minOccurs="0"/>
							   <xsd:element name="Canal" type="xsd:string" minOccurs="0"/>
				               <xsd:element name="SGSegmento" type="xsd:string" minOccurs="0"/>
							   <xsd:element name="SGCarteira" type="xsd:string" minOccurs="0"/>
							   <xsd:element name="Uf" type="xsd:string" minOccurs="0"/>	
							   <xsd:element name="DDD" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>   								 			
					</xsd:complexType>
				</xsd:element>						  			               		               		                
          	 </xsd:sequence>   								 			
		</xsd:complexType>
	</xsd:element>
</xsd:schema>