catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/plano/ResultadoBuscarListaPlano.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoPlano" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">


	<xsd:element name="ResultadoBuscarListaPlano">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ListaPlano">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Plano" maxOccurs="unbounded" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="idPlano" type="xsd:long"/>
										<xsd:element name="nmComercial" type="xsd:string"/>
										<xsd:element name="cdCodigo" type="xsd:string"/>
										<xsd:element name="idPlataforma" type="xsd:long"/>
										<xsd:element name="nmTecnologia" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>			
</xsd:schema>