catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/plano/ResultadoBuscarListaPlanoParametrizacao.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoPlano" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cwebPaginacao="http://www.vivo.com.br/SN/CatalogoPlano">

	<xsd:include schemaLocation="PaginacaoOut.xsd"/>

	<xsd:element name="ResultadoBuscarListaPlanoParametrizacao">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="cwebPaginacao:PaginacaoOut"/>
				<xsd:element name="ListaBuscarListaPlanoParametrizacao" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="RetornoBuscarListaPlanoParametrizacao" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
								        	<xsd:element name="idPlano" type="xsd:long" minOccurs="0"/>
											<xsd:element name="idTipoPlano" type="xsd:long" minOccurs="0"/>
											<xsd:element name="cdCodigo" type="xsd:string" minOccurs="0"/>
											<xsd:element name="nmComercial" type="xsd:string" minOccurs="0"/>
											<xsd:element name="indTitDep" type="xsd:string" minOccurs="0"/>
											<xsd:element name="qtdMaxDependenteCatalogo" type="xsd:long" minOccurs="0"/>
											<xsd:element name="qtdMaxDependenteLegado" type="xsd:long" minOccurs="0"/>
											<xsd:element name="dtUltimaAlteracao" type="xsd:dateTime" minOccurs="0" nillable="true"/>
											<xsd:element name="nmUsuarioAlteracao" type="xsd:string" minOccurs="0"/>
											<xsd:element name="inDisponibilidadeCatalogo" minOccurs="0">
									            <xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:enumeration value="S"/>
														<xsd:enumeration value="N"/>
													</xsd:restriction>
												</xsd:simpleType>
								            </xsd:element>
								            <xsd:element name="inDisponibilidadeLegado" minOccurs="0">
									            <xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:enumeration value="S"/>
														<xsd:enumeration value="N"/>
													</xsd:restriction>
												</xsd:simpleType>
								            </xsd:element>
								            <xsd:element name="ativaWiFi" minOccurs="0">
									            <xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:enumeration value="S"/>
														<xsd:enumeration value="N"/>
													</xsd:restriction>
												</xsd:simpleType>
								            </xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>