catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/plano/ResultadoBuscarListaVariaveisPorPlano.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoPlano" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cwebPaginacao="http://www.vivo.com.br/SN/CatalogoPlano">

	<xsd:include schemaLocation="PaginacaoOut.xsd"/>
	
	<xsd:element name="ResultadoBuscarListaVariaveisPorPlano">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="cwebPaginacao:PaginacaoOut"/>
					<xsd:element name="ListaVariaveisPorPlano" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								  <xsd:element name="RetornoVariaveisPlano" minOccurs="0" maxOccurs="unbounded">
								      <xsd:complexType>
								         <xsd:sequence>
								         	<xsd:element name="idPlano" type="xsd:long"/>
								            <xsd:element name="nmComercial" type="xsd:string"/>
								            <xsd:element name="nmPlataforma" type="xsd:string"/>
								            <xsd:element name="nmTecnologia" type="xsd:string"/>
								            <xsd:element name="nmTipoCliente" type="xsd:string"/>
								            <xsd:element name="nmCanal" type="xsd:string"/>
								            <xsd:element name="sgSegmento" type="xsd:string" minOccurs="0"/>                 
								            <xsd:element name="sgCarteira" type="xsd:string" minOccurs="0"/>
								            <xsd:element name="nmUf" type="xsd:string" minOccurs="0"/>     
								            <xsd:element name="codigoArea" type="xsd:string" minOccurs="0"/>
								            <xsd:element name="rNum" type="xsd:long"/>
								            <xsd:element name="descTpAssinatura" type="xsd:string" minOccurs="0"/>     
								         </xsd:sequence>
								      </xsd:complexType>
				   				   </xsd:element>
	   				   	</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>