VivoServices/VivoServicesEJB/src/br/com/indrasistemas/vivoservices/atendimento/servicos/desbloqueio/tuxgateway/saida/desbloqueioOUT.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by Vivo (Vivo) -->
<!--W3C Schema generated by XMLSpy v2006 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="msg" type="msgType"/>
	<xs:complexType name="msgType">
		<xs:all>
			<xs:element name="msgHdr" type="msgHdrType"/>
			<xs:element name="msgBody" type="msgBodyType"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="msgHdrType">
		<xs:all>
			<xs:element name="user" type="xs:string" minOccurs="0"/>
			<xs:element name="service" type="xs:string" minOccurs="0"/>
			<xs:element name="subSystem" type="xs:string" minOccurs="0"/>
			<xs:element name="serverElapsedTime" type="xs:int" minOccurs="0"/>
			<xs:element name="statusCode" type="xs:string" minOccurs="0"/>
			<xs:element name="statusText" type="xs:string" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="msgBodyType">
		<xs:all>
			<xs:element name="DesbloqueioGsmVO">
				<xs:complexType>
					<xs:all>
						<xs:element name="nrIMEI" type="xs:string" nillable="true" minOccurs="0"/>
						<xs:element name="nrSimLock" type="xs:string" minOccurs="0"/>
						<xs:element name="statusConsulta" type="xs:string" minOccurs="0"/>
						<xs:element name="errorCode" type="xs:string" minOccurs="0"/>
						<xs:element name="errorDescription" type="xs:string" nillable="true" minOccurs="0"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
		</xs:all>
	</xs:complexType>
</xs:schema>
