VivoServices/VivoServicesEJB/src/br/com/indrasistemas/vivoservices/administracaosistema/usuario/manter/tuxgateway/entrada/grvidm/IDMPerfilVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 (http://www.altova.com) by INDRA (INDRA) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:element name="msg" type="msgType"/>
    <xs:complexType name="msgType">
        <xs:sequence>
            <xs:element name="msgHdr" type="msgHdrType"/>
            <xs:element name="msgBody" type="msgBodyType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="msgHdrType">
        <xs:sequence>
            <xs:element name="user" type="xs:string" minOccurs="0"/>
            <xs:element name="service" type="xs:string" minOccurs="0"/>
            <xs:element name="subSystem" type="xs:string" minOccurs="0"/>
            <xs:element name="serverElapsedTime" type="xs:int" minOccurs="0"/>
            <xs:element name="statusCode" type="xs:string" minOccurs="0"/>
            <xs:element name="statusText" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="msgBodyType">
        <xs:sequence>
            <xs:element name="IDMPerfilVO" type="IDMPerfilVOType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IDMPerfilVOType">
        <xs:sequence>
            <xs:element name="idPerfil" type="xs:string" minOccurs="0"/>
            <xs:element name="idUsuario" type="xs:string" minOccurs="0"/>
            <xs:element name="nmPerfil" type="xs:string" minOccurs="0"/>
            <xs:element name="codError" type="xs:string" minOccurs="0"/>
            <xs:element name="msgError" type="xs:string" minOccurs="0"/>
            <xs:element name="Filtro" type="FiltroType" minOccurs="0"/>
            <xs:element name="tpOperacao" type="xs:string" minOccurs="0"/>
            <xs:element name="ListasVO" type="ListasVOType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ItType">
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="ds" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ListasVOType">
        <xs:sequence>
            <xs:element name="Lista" type="ListaType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FiltroType">
        <xs:sequence>
            <xs:element name="Combos" type="CombosType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CombosType">
        <xs:sequence maxOccurs="unbounded">
            <xs:element name="nmSelect">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Grupo"/>
                        <xs:enumeration value="Operadora"/>
                        <xs:enumeration value="Perfil"/>
                        <xs:enumeration value="ItemMenu"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ListaType">
        <xs:sequence>
            <xs:element name="nmSelect" type="xs:string"/>
            <xs:element name="Disponivel" type="ItemType"/>
            <xs:element name="Selecionado" type="ItemType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ItemType">
        <xs:sequence maxOccurs="unbounded">
            <xs:element name="It" type="ItType"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
