catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/ofertasap/OfertaSapSecurity.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<s1:definitions name="OfertaSap" targetNamespace="http://www.vivo.com.br/SN/CatalogoOfertaSap" xmlns:s0="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:s1="http://schemas.xmlsoap.org/wsdl/" xmlns:s2="http://www.vivo.com.br/MC/Geral" xmlns:s3="http://www.vivo.com.br/SN/CatalogoOfertaSap" xmlns:s4="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
  <wsp:UsingPolicy s1:Required="true"/>
  <wsp:Policy s0:Id="encrypt-custom-body-element-and-username-token">
    <wssp:Identity xmlns:wssp="http://www.bea.com/wls90/security/policy">
      <wssp:SupportedTokens>
        <wssp:SecurityToken TokenType="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#UsernameToken">
          <wssp:UsePassword Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText"/>
        </wssp:SecurityToken>
      </wssp:SupportedTokens>
    </wssp:Identity>
  </wsp:Policy>
  <s1:types>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoOfertaSap" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoOfertaSap" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoOfertaSap" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/MC/Geral" schemaLocation="CabecalhoVivo.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoOfertaSap" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoOfertaSap" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoOfertaSap" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/MC/Geral" schemaLocation="ErroInfo.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoOfertaSap" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoOfertaSap" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoOfertaSap" schemaLocation="ParametrosBuscarListaOfertaSap.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoOfertaSap" schemaLocation="ResultadoBuscarListaOfertaSap.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoOfertaSap" schemaLocation="ParametrosBuscarListaComposicao.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoOfertaSap" schemaLocation="ResultadoBuscarListaComposicao.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoOfertaSap" schemaLocation="ParametrosDeletarOfertaSap.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoOfertaSap" schemaLocation="ParametrosExcluirComposicaoOferta.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoOfertaSap" schemaLocation="ParametrosVerificarAssociacaoOfertaSap.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoOfertaSap" schemaLocation="ResultadoVerificarAssociacaoOfertaSap.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoOfertaSap" schemaLocation="ParametrosAlterarOfertaSap.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoOfertaSap" schemaLocation="ParametrosCriarNovaOfertaSap.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoOfertaSap" schemaLocation="ResultadoCriarNovaOfertaSap.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoOfertaSap" schemaLocation="ParametrosCriarComposicaoOfertaSap.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoOfertaSap" schemaLocation="ResultadoCriarComposicaoOfertaSap.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoOfertaSap" schemaLocation="ParametrosBuscarListaPlanosSemOferta.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoOfertaSap" schemaLocation="ResultadoBuscarListaPlanosSemOferta.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoOfertaSap" schemaLocation="ParametrosVerificarExistenciaComposicao.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoOfertaSap" schemaLocation="ResultadoVerificarExistenciaComposicao.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoOfertaSap" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoOfertaSap" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoOfertaSap" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="verificarAssociacaoOfertaSapRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosVerificarAssociacaoOfertaSap"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="verificarAssociacaoOfertaSapResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoVerificarAssociacaoOfertaSap"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaOfertaSapRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaOfertaSap"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaOfertaSapResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaOfertaSap"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaComposicaoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaComposicao"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaComposicaoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaComposicao"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="criarNovaOfertaSapRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosCriarNovaOfertaSap"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="criarNovaOfertaSapResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoCriarNovaOfertaSap"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="criarComposicaoOfertaSapRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosCriarComposicaoOferta"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="criarComposicaoOfertaSapResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoCriarComposicaoOferta"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaPlanosSemOfertaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaPlanosSemOferta"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaPlanosSemOfertaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaPlanosSemOferta"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="verificarExistenciaComposicaoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosVerificarExistenciaComposicao"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="verificarExistenciaComposicaoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoVerificarExistenciaComposicao"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarOfertaSapRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosAlterarOfertaSap"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarOfertaSapResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deletarOfertaSapRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosDeletarOfertaSap"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deletarOfertaSapResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="excluirComposicaoOfertaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosExcluirComposicaoOferta"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="excluirComposicaoOfertaResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </s1:types>
  <s1:message name="cabecalhoVIVO">
    <s1:part element="s2:cabecalhoVivo" name="cabecalhoVIVO"/>
  </s1:message>
  <s1:message name="erroInfoFault">
    <s1:part element="s2:erroInfo" name="erroInfo"/>
  </s1:message>
  <s1:message name="verificarAssociacaoOfertaSapRequest">
    <s1:part element="s3:verificarAssociacaoOfertaSapRequest" name="verificarAssociacaoOfertaSapRequest"/>
  </s1:message>
  <s1:message name="verificarAssociacaoOfertaSapResponse">
    <s1:part element="s3:verificarAssociacaoOfertaSapResponse" name="verificarAssociacaoOfertaSapResponse"/>
  </s1:message>
  <s1:message name="buscarListaOfertaSapRequest">
    <s1:part element="s3:buscarListaOfertaSapRequest" name="buscarListaOfertaSapRequest"/>
  </s1:message>
  <s1:message name="buscarListaOfertaSapResponse">
    <s1:part element="s3:buscarListaOfertaSapResponse" name="buscarListaOfertaSapResponse"/>
  </s1:message>
  <s1:message name="buscarListaComposicaoRequest">
    <s1:part element="s3:buscarListaComposicaoRequest" name="buscarListaComposicaoRequest"/>
  </s1:message>
  <s1:message name="buscarListaComposicaoResponse">
    <s1:part element="s3:buscarListaComposicaoResponse" name="buscarListaComposicaoResponse"/>
  </s1:message>
  <s1:message name="criarNovaOfertaSapRequest">
    <s1:part element="s3:criarNovaOfertaSapRequest" name="criarNovaOfertaSapRequest"/>
  </s1:message>
  <s1:message name="criarNovaOfertaSapResponse">
    <s1:part element="s3:criarNovaOfertaSapResponse" name="criarNovaOfertaSapResponse"/>
  </s1:message>
  <s1:message name="criarComposicaoOfertaSapRequest">
    <s1:part element="s3:criarComposicaoOfertaSapRequest" name="criarComposicaoOfertaSapRequest"/>
  </s1:message>
  <s1:message name="criarComposicaoOfertaSapResponse">
    <s1:part element="s3:criarComposicaoOfertaSapResponse" name="criarComposicaoOfertaSapResponse"/>
  </s1:message>
  <s1:message name="buscarListaPlanosSemOfertaRequest">
    <s1:part element="s3:buscarListaPlanosSemOfertaRequest" name="buscarListaPlanosSemOfertaRequest"/>
  </s1:message>
  <s1:message name="buscarListaPlanosSemOfertaResponse">
    <s1:part element="s3:buscarListaPlanosSemOfertaResponse" name="buscarListaPlanosSemOfertaResponse"/>
  </s1:message>
  <s1:message name="verificarExistenciaComposicaoRequest">
    <s1:part element="s3:verificarExistenciaComposicaoRequest" name="verificarExistenciaComposicaoRequest"/>
  </s1:message>
  <s1:message name="verificarExistenciaComposicaoResponse">
    <s1:part element="s3:verificarExistenciaComposicaoResponse" name="verificarExistenciaComposicaoResponse"/>
  </s1:message>
  <s1:message name="alterarOfertaSapRequest">
    <s1:part element="s3:alterarOfertaSapRequest" name="alterarOfertaSapRequest"/>
  </s1:message>
  <s1:message name="alterarOfertaSapResponse">
    <s1:part element="s3:alterarOfertaSapResponse" name="alterarOfertaSapResponse"/>
  </s1:message>
  <s1:message name="deletarOfertaSapRequest">
    <s1:part element="s3:deletarOfertaSapRequest" name="deletarOfertaSapRequest"/>
  </s1:message>
  <s1:message name="deletarOfertaSapResponse">
    <s1:part element="s3:deletarOfertaSapResponse" name="deletarOfertaSapResponse"/>
  </s1:message>
  <s1:message name="excluirComposicaoOfertaRequest">
    <s1:part element="s3:excluirComposicaoOfertaRequest" name="excluirComposicaoOfertaRequest"/>
  </s1:message>
  <s1:message name="excluirComposicaoOfertaResponse">
    <s1:part element="s3:excluirComposicaoOfertaResponse" name="excluirComposicaoOfertaResponse"/>
  </s1:message>
  <s1:portType name="OfertaSapPortType">
    <s1:operation name="verificarAssociacaoOfertaSap">
      <s1:input message="s3:verificarAssociacaoOfertaSapRequest"/>
      <s1:output message="s3:verificarAssociacaoOfertaSapResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaOfertaSap">
      <s1:input message="s3:buscarListaOfertaSapRequest"/>
      <s1:output message="s3:buscarListaOfertaSapResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaComposicao">
      <s1:input message="s3:buscarListaComposicaoRequest"/>
      <s1:output message="s3:buscarListaComposicaoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="criarNovaOfertaSap">
      <s1:input message="s3:criarNovaOfertaSapRequest"/>
      <s1:output message="s3:criarNovaOfertaSapResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="criarComposicaoOfertaSap">
      <s1:input message="s3:criarComposicaoOfertaSapRequest"/>
      <s1:output message="s3:criarComposicaoOfertaSapResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaPlanosSemOferta">
      <s1:input message="s3:buscarListaPlanosSemOfertaRequest"/>
      <s1:output message="s3:buscarListaPlanosSemOfertaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="verificarExistenciaComposicao">
      <s1:input message="s3:verificarExistenciaComposicaoRequest"/>
      <s1:output message="s3:verificarExistenciaComposicaoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="alterarOfertaSap">
      <s1:input message="s3:alterarOfertaSapRequest"/>
      <s1:output message="s3:alterarOfertaSapResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="deletarOfertaSap">
      <s1:input message="s3:deletarOfertaSapRequest"/>
      <s1:output message="s3:deletarOfertaSapResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="excluirComposicaoOferta">
      <s1:input message="s3:excluirComposicaoOfertaRequest"/>
      <s1:output message="s3:excluirComposicaoOfertaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
  </s1:portType>
  <s1:binding name="OfertaSapBinding" type="s3:OfertaSapPortType">
    <s4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <s1:operation name="verificarAssociacaoOfertaSap">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="verificarAssociacaoOfertaSapRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="verificarAssociacaoOfertaSapResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaOfertaSap">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaOfertaSapRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaOfertaSapResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaComposicao">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaComposicaoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaComposicaoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="criarNovaOfertaSap">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="criarNovaOfertaSapRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="criarNovaOfertaSapResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="criarComposicaoOfertaSap">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="criarComposicaoOfertaSapRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="criarComposicaoOfertaSapResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaPlanosSemOferta">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaPlanosSemOfertaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaPlanosSemOfertaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="verificarExistenciaComposicao">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="verificarExistenciaComposicaoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="verificarExistenciaComposicaoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="alterarOfertaSap">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="alterarOfertaSapRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="alterarOfertaSapResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="deletarOfertaSap">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="deletarOfertaSapRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="deletarOfertaSapResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="excluirComposicaoOferta">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="excluirComposicaoOfertaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="excluirComposicaoOfertaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
  </s1:binding>
  <s1:service name="OfertaSapService">
    <s1:port binding="s3:OfertaSapBinding" name="OfertaSapSoapPort">
      <s4:address location="http://alsb3-soa:80/CatalogoWeb/OfertaSap/Proxy/OfertaSapSecurity"/>
    </s1:port>
  </s1:service>
</s1:definitions>