catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/ofertasap/ParametrosAlterarOfertaSap.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoOfertaSap" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:element name="ParametrosAlterarOfertaSap">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="idOfertaSap" type="xsd:long"/>
				<xsd:element name="cdOfertaSap" type="xsd:string"/>
				<xsd:element name="dscOfertaSap" type="xsd:string"/>
				<xsd:element name="sgUtilizacao" type="xsd:string"/>
				<xsd:element name="inDisponivel" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>	
	</xsd:element>

</xsd:schema>