catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/ofertasap/ParametrosExcluirComposicaoOferta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoOfertaSap" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:element name="ParametrosExcluirComposicaoOferta">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="idOfertaSap" type="xsd:long"/>
				<xsd:element name="idSistemaPlano" type="xsd:long"/>
				<xsd:element name="idOfertaServico" type="xsd:long" minOccurs="0"/>
				<xsd:element name="idMatrizOferta" type="xsd:long"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>