catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/ofertasap/ParametrosBuscarListaOfertaSap.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoOfertaSap" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cweb="http://www.vivo.com.br/SN/CatalogoGeral">
	
	<xsd:import namespace="http://www.vivo.com.br/SN/CatalogoGeral" schemaLocation="PaginacaoIn.xsd"/>
	
	<xsd:element name="ParametrosBuscarListaOfertaSap">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="cweb:PaginacaoIn"/>
				<xsd:element name="idOfertaSap" type="xsd:long" minOccurs="0"/>
				<xsd:element name="cdOfertaSap" type="xsd:string" minOccurs="0"/>
				<xsd:element name="dscOfertaSap" type="xsd:string" minOccurs="0"/>
				<xsd:element name="sgUtilizacao" type="xsd:string" minOccurs="0"/>
				<xsd:element name="inDisponivel" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>