catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/ofertasap/ResultadoBuscarListaPlanosSemOferta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoOfertaSap" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cweb="http://www.vivo.com.br/SN/CatalogoGeral">

	<xsd:import namespace="http://www.vivo.com.br/SN/CatalogoGeral" schemaLocation="PaginacaoOut.xsd"/>
	
	<xsd:element name="ResultadoBuscarListaPlanosSemOferta">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="cweb:PaginacaoOut"/>
				<xsd:element name="ListaPlanosSemOferta">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="PlanosSemOferta" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="idSistemaPlano" type="xsd:long"/>
										<xsd:element name="idPlano" type="xsd:long"/>
										<xsd:element name="nmComercial" type="xsd:string" minOccurs="0"/>
										<xsd:element name="nmTecnico" type="xsd:string" minOccurs="0"/>
										<xsd:element name="dtInicial" type="xsd:date"/>
										<xsd:element name="dtFinal" type="xsd:date" minOccurs="0"/>
										<xsd:element name="inDisponivel" type="xsd:string"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>