catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/frequencia/CabecalhoVivo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.vivo.com.br/MC/Geral" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:gr="http://www.vivo.com.br/MC/Geral">

	<xs:complexType name="CabecalhoVivo" final="restriction">
		<xs:sequence>
			<xs:element name="loginUsuario" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="canalAtendimento" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Descricao do canal de atendimento que e enviado
						pelo SCA.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="codigoSessao" minOccurs="0" nillable="true">
				<xs:annotation>
					<xs:documentation>
						Codigo da sessao, codigo unico que identifica
						uma sessao.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="256"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="nomeAplicacao" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
						<xs:enumeration value="Vivo360"/>
						<xs:enumeration value="VivoSolicitacao"/>
						<xs:enumeration value="VivoSCA"/>
						<xs:enumeration value="VivoSigan"/>
						<xs:enumeration value="VivoSPN"/>
						<xs:enumeration value="VivoAtlys"/>
						<xs:enumeration value="VivoNGIN"/>
						<xs:enumeration value="VivoSAP"/>
						<xs:enumeration value="VivoVivonet"/>
						<xs:enumeration value="VivoPP"/>
						<xs:enumeration value="VivoCatalogo"/>
						<xs:enumeration value="VivoGSIM"/>
						<xs:enumeration value="VivoSCC"/>						
						<xs:enumeration value="VivoSGP"/>
						<xs:enumeration value="VivoURA"/>																		
						<xs:enumeration value="VivoGRC"/>	
						<xs:enumeration value="VivoRA"/>
						<xs:enumeration value="VivoMediacao"/>	
						<xs:enumeration value="VivoAGV"/>		
						<xs:enumeration value="VivoPortalFornecedores"/>																		
						<xs:enumeration value="SistemaNaoMapeado"/>						
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="token" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="enderecoIP" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="([01]?\d\d?|2[0-4]\d|25[0-5])\.([01]?\d\d?|2[0-4]\d|25[0-5])\.([01]?\d\d?|2[0-4]\d|25[0-5])\.([01]?\d\d?|2[0-4]\d|25[0-5])">
						</xs:pattern>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="codigoFuncionalidade" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Codigo que identifica uma funcionalidade do
						sistema. Exemplos de funcionalidade para o
						sistema Vivo360: Ativacao e desativacao de
						servicos, Migracao para GSM, Migracao para CDMA,
						Troca de aparelho CDMA e GSM, Troca de chip,
						troca de plano e etc.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="dataTransacao" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:dateTime"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="nomeServico" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Nome do servico que foi invocado, exemplo:
						consultaPessoa, consultaLinha, etc.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:annotation>
						<xs:documentation>
							Data e hora da transacao
						</xs:documentation>
					</xs:annotation>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="cabecalhoVivo" type="gr:CabecalhoVivo"/>
</xs:schema>