catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/frequencia/FrequenciaSecurity.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<s1:definitions name="Frequencia" targetNamespace="http://www.vivo.com.br/SN/CatalogoFrequencia" xmlns:s0="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:s1="http://schemas.xmlsoap.org/wsdl/" xmlns:s2="http://www.vivo.com.br/MC/Geral" xmlns:s3="http://www.vivo.com.br/SN/CatalogoFrequencia" xmlns:s4="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
  <wsp:UsingPolicy s1:Required="true"/>
  <wsp:Policy s0:Id="encrypt-custom-body-element-and-username-token">
    <wssp:Identity xmlns:wssp="http://www.bea.com/wls90/security/policy">
      <wssp:SupportedTokens>
        <wssp:SecurityToken TokenType="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#UsernameToken">
          <wssp:UsePassword Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText"/>
        </wssp:SecurityToken>
      </wssp:SupportedTokens>
    </wssp:Identity>
  </wsp:Policy>
  <s1:types>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoFrequencia" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoFrequencia" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoFrequencia" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/MC/Geral" schemaLocation="CabecalhoVivo.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoFrequencia" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoFrequencia" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoFrequencia" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/MC/Geral" schemaLocation="ErroInfo.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoFrequencia" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoFrequencia" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoFrequencia" schemaLocation="ParametrosBuscarListaModeloPorValorFrequencia.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoFrequencia" schemaLocation="ResultadoBuscarListaModeloPorValorFrequencia.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoFrequencia" schemaLocation="ListaVlFrequenciaExclusao.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoFrequencia" schemaLocation="ResultadoBuscarListaTipoFrequenciaComValorPorTecnologia.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoFrequencia" schemaLocation="ParametrosBuscarListaModeloPorTipoFrequencia.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoFrequencia" schemaLocation="ResultadoBuscarListaModeloPorTipoFrequencia.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoFrequencia" schemaLocation="ParametrosExcluirValorFrequencia.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoFrequencia" schemaLocation="ParametrosExcluirTipoFrequencia.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoFrequencia" schemaLocation="ParametrosBuscarListaModeloPorTecnologiaTipoFrequencia.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoFrequencia" schemaLocation="ResultadoBuscarListaModeloPorTecnologiaTipoFrequencia.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoFrequencia" schemaLocation="ParametrosBuscarListaValorFrequenciaPorTecnologiaTipoFrequencia.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoFrequencia" schemaLocation="ResultadoBuscarListaValorFrequenciaPorTecnologiaTipoFrequencia.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoFrequencia" schemaLocation="ParametrosBuscarListaTipoFrequenciaComValorPorTecnologia.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoFrequencia" schemaLocation="ParametrosCriarTipoFrequencia.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoFrequencia" schemaLocation="ResultadoCriarTipoFrequencia.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoFrequencia" schemaLocation="ParametrosCriarValorFrequencia.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoFrequencia" schemaLocation="ResultadoCriarValorFrequencia.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoFrequencia" schemaLocation="ResultadoBuscarListaTipoFrequencia.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoFrequencia" schemaLocation="ResultadoListarValorFrequencia.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoFrequencia" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoFrequencia" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoFrequencia" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="buscarListaValorFrequenciaRequest">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaValorFrequenciaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoListarValorFrequencia"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaModeloPorValorFrequenciaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaModeloPorValorFrequencia"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaModeloPorValorFrequenciaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="tns:ResultadoBuscarListaModeloPorValorFrequencia"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="excluirValorFrequenciaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosExcluirValorFrequencia"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="excluirValorFrequenciaResponse" type="xsd:anyType"/>
      <xsd:element name="buscarListaModeloPorTipoFrequenciaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaModeloPorTipoFrequencia"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaModeloPorTipoFrequenciaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaModeloPorTipoFrequencia"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="criarValorFrequenciaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosCriarValorFrequencia"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="criarValorFrequenciaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoCriarValorFrequencia"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="excluirTipoFrequenciaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosExcluirTipoFrequencia"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="excluirTipoFrequenciaResponse" type="xsd:anyType"/>
      <xsd:element name="buscarListaModeloPorTecnologiaTipoFrequenciaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaModeloPorTecnologiaTipoFrequencia"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaModeloPorTecnologiaTipoFrequenciaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaModeloPorTecnologiaTipoFrequencia"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="criarTipoFrequenciaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosCriarTipoFrequencia"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="criarTipoFrequenciaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoCriarTipoFrequencia"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaValorFrequenciaPorTecnologiaTipoFrequenciaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaValorFrequenciaPorTecnologiaTipoFrequencia"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaValorFrequenciaPorTecnologiaTipoFrequenciaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaValorFrequenciaPorTecnologiaTipoFrequencia"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaTipoFrequenciaComValorPorTecnologiaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaTipoFrequenciaComValorPorTecnologia"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaTipoFrequenciaComValorPorTecnologiaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaTipoFrequenciaComValorPorTecnologia"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaTipoFrequenciaRequest">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaTipoFrequenciaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaTipoFrequencia"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </s1:types>
  <s1:message name="cabecalhoVIVO">
    <s1:part element="s2:cabecalhoVivo" name="cabecalhoVIVO"/>
  </s1:message>
  <s1:message name="erroInfoFault">
    <s1:part element="s2:erroInfo" name="erroInfo"/>
  </s1:message>
  <s1:message name="buscarListaModeloPorValorFrequenciaRequest">
    <s1:part element="s3:buscarListaModeloPorValorFrequenciaRequest" name="buscarListaModeloPorValorFrequenciaRequest"/>
  </s1:message>
  <s1:message name="buscarListaModeloPorValorFrequenciaResponse">
    <s1:part element="s3:buscarListaModeloPorValorFrequenciaResponse" name="buscarListaModeloPorValorFrequenciaResponse"/>
  </s1:message>
  <s1:message name="buscarListaValorFrequenciaRequest">
    <s1:part element="s3:buscarListaValorFrequenciaRequest" name="buscarListaValorFrequenciaRequest"/>
  </s1:message>
  <s1:message name="buscarListaValorFrequenciaResponse">
    <s1:part element="s3:buscarListaValorFrequenciaResponse" name="buscarListaValorFrequenciaResponse"/>
  </s1:message>
  <s1:message name="criarValorFrequenciaRequest">
    <s1:part element="s3:criarValorFrequenciaRequest" name="criarValorFrequenciaRequest"/>
  </s1:message>
  <s1:message name="criarValorFrequenciaResponse">
    <s1:part element="s3:criarValorFrequenciaResponse" name="criarValorFrequenciaResponse"/>
  </s1:message>
  <s1:message name="excluirValorFrequenciaRequest">
    <s1:part element="s3:excluirValorFrequenciaRequest" name="excluirValorFrequenciaRequest"/>
  </s1:message>
  <s1:message name="excluirValorFrequenciaResponse">
    <s1:part element="s3:excluirValorFrequenciaResponse" name="excluirValorFrequenciaResponse"/>
  </s1:message>
  <s1:message name="buscarListaModeloPorTipoFrequenciaRequest">
    <s1:part element="s3:buscarListaModeloPorTipoFrequenciaRequest" name="buscarListaModeloPorTipoFrequenciaRequest"/>
  </s1:message>
  <s1:message name="criarTipoFrequenciaRequest">
    <s1:part element="s3:criarTipoFrequenciaRequest" name="criarTipoFrequenciaRequest"/>
  </s1:message>
  <s1:message name="criarTipoFrequenciaResponse">
    <s1:part element="s3:criarTipoFrequenciaResponse" name="criarTipoFrequenciaResponse"/>
  </s1:message>
  <s1:message name="buscarListaModeloPorTipoFrequenciaResponse">
    <s1:part element="s3:buscarListaModeloPorTipoFrequenciaResponse" name="buscarListaModeloPorTipoFrequenciaResponse"/>
  </s1:message>
  <s1:message name="excluirTipoFrequenciaRequest">
    <s1:part element="s3:excluirTipoFrequenciaRequest" name="excluirTipoFrequenciaRequest"/>
  </s1:message>
  <s1:message name="excluirTipoFrequenciaResponse">
    <s1:part element="s3:excluirTipoFrequenciaResponse" name="excluirTipoFrequenciaResponse"/>
  </s1:message>
  <s1:message name="buscarListaModeloPorTecnologiaTipoFrequenciaRequest">
    <s1:part element="s3:buscarListaModeloPorTecnologiaTipoFrequenciaRequest" name="buscarListaModeloPorTecnologiaTipoFrequenciaRequest"/>
  </s1:message>
  <s1:message name="buscarListaModeloPorTecnologiaTipoFrequenciaResponse">
    <s1:part element="s3:buscarListaModeloPorTecnologiaTipoFrequenciaResponse" name="buscarListaModeloPorTecnologiaTipoFrequenciaResponse"/>
  </s1:message>
  <s1:message name="buscarListaValorFrequenciaPorTecnologiaTipoFrequenciaRequest">
    <s1:part element="s3:buscarListaValorFrequenciaPorTecnologiaTipoFrequenciaRequest" name="buscarListaValorFrequenciaPorTecnologiaTipoFrequenciaRequest"/>
  </s1:message>
  <s1:message name="buscarListaValorFrequenciaPorTecnologiaTipoFrequenciaResponse">
    <s1:part element="s3:buscarListaValorFrequenciaPorTecnologiaTipoFrequenciaResponse" name="buscarListaValorFrequenciaPorTecnologiaTipoFrequenciaResponse"/>
  </s1:message>
  <s1:message name="buscarListaTipoFrequenciaComValorPorTecnologiaRequest">
    <s1:part element="s3:buscarListaTipoFrequenciaComValorPorTecnologiaRequest" name="buscarListaTipoFrequenciaComValorPorTecnologiaRequest"/>
  </s1:message>
  <s1:message name="buscarListaTipoFrequenciaComValorPorTecnologiaResponse">
    <s1:part element="s3:buscarListaTipoFrequenciaComValorPorTecnologiaResponse" name="buscarListaTipoFrequenciaComValorPorTecnologiaResponse"/>
  </s1:message>
  <s1:message name="buscarListaTipoFrequenciaRequest">
    <s1:part element="s3:buscarListaTipoFrequenciaRequest" name="buscarListaTipoFrequenciaRequest"/>
  </s1:message>
  <s1:message name="buscarListaTipoFrequenciaResponse">
    <s1:part element="s3:buscarListaTipoFrequenciaResponse" name="buscarListaTipoFrequenciaResponse"/>
  </s1:message>
  <s1:portType name="FrequenciaPT">
    <s1:operation name="buscarListaModeloPorValorFrequencia">
      <s1:input message="s3:buscarListaModeloPorValorFrequenciaRequest"/>
      <s1:output message="s3:buscarListaModeloPorValorFrequenciaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="criarTipoFrequencia">
      <s1:input message="s3:criarTipoFrequenciaRequest"/>
      <s1:output message="s3:criarTipoFrequenciaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="criarValorFrequencia">
      <s1:input message="s3:criarValorFrequenciaRequest"/>
      <s1:output message="s3:criarValorFrequenciaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="excluirValorFrequencia">
      <s1:input message="s3:excluirValorFrequenciaRequest"/>
      <s1:output message="s3:excluirValorFrequenciaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaModeloPorTipoFrequencia">
      <s1:input message="s3:buscarListaModeloPorTipoFrequenciaRequest"/>
      <s1:output message="s3:buscarListaModeloPorTipoFrequenciaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="excluirTipoFrequencia">
      <s1:input message="s3:excluirTipoFrequenciaRequest"/>
      <s1:output message="s3:excluirTipoFrequenciaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaModeloPorTecnologiaTipoFrequencia">
      <s1:input message="s3:buscarListaModeloPorTecnologiaTipoFrequenciaRequest"/>
      <s1:output message="s3:buscarListaModeloPorTecnologiaTipoFrequenciaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaValorFrequenciaPorTecnologiaTipoFrequencia">
      <s1:input message="s3:buscarListaValorFrequenciaPorTecnologiaTipoFrequenciaRequest"/>
      <s1:output message="s3:buscarListaValorFrequenciaPorTecnologiaTipoFrequenciaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaTipoFrequenciaComValorPorTecnologia">
      <s1:input message="s3:buscarListaTipoFrequenciaComValorPorTecnologiaRequest"/>
      <s1:output message="s3:buscarListaTipoFrequenciaComValorPorTecnologiaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaTipoFrequencia">
      <s1:input message="s3:buscarListaTipoFrequenciaRequest"/>
      <s1:output message="s3:buscarListaTipoFrequenciaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaValorFrequencia">
      <s1:input message="s3:buscarListaValorFrequenciaRequest"/>
      <s1:output message="s3:buscarListaValorFrequenciaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
  </s1:portType>
  <s1:binding name="FrequenciaSoapBinding" type="s3:FrequenciaPT">
    <s4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <s1:operation name="buscarListaTipoFrequencia">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaTipoFrequenciaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaTipoFrequenciaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaModeloPorValorFrequencia">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaModeloPorValorFrequenciaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaModeloPorValorFrequenciaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="criarValorFrequencia">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="criarValorFrequenciaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="criarValorFrequenciaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="criarTipoFrequencia">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="criarTipoFrequenciaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="criarTipoFrequenciaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="excluirValorFrequencia">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="excluirValorFrequenciaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="excluirValorFrequenciaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaModeloPorTipoFrequencia">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaModeloPorTipoFrequenciaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaModeloPorTipoFrequenciaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="excluirTipoFrequencia">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="excluirTipoFrequenciaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="excluirTipoFrequenciaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaModeloPorTecnologiaTipoFrequencia">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaModeloPorTecnologiaTipoFrequenciaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaModeloPorTecnologiaTipoFrequenciaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaValorFrequenciaPorTecnologiaTipoFrequencia">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaValorFrequenciaPorTecnologiaTipoFrequenciaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaValorFrequenciaPorTecnologiaTipoFrequenciaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaTipoFrequenciaComValorPorTecnologia">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaTipoFrequenciaComValorPorTecnologiaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaTipoFrequenciaComValorPorTecnologiaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaValorFrequencia">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaValorFrequenciaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaValorFrequenciaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
  </s1:binding>
  <s1:service name="FrequenciaSoapService">
    <s1:port binding="s3:FrequenciaSoapBinding" name="FrequenciaSoapPort">
      <s4:address location="http://alsb3-soa:80/CatalogoWeb/Frequencia/Proxy/Frequencia"/>
    </s1:port>
  </s1:service>
</s1:definitions>