catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/frequencia/ParametrosExcluirTipoFrequencia.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoFrequencia" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="ParametrosExcluirTipoFrequencia">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="TipoFrequenciaExclusao">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="idTipoFrequencia" type="xsd:long"/>
            <xsd:element name="nmUsuarioAlteracao" type="xsd:string" minOccurs="0"/>
            <xsd:element name="justificativa" type="xsd:string" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
</xsd:schema>