catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/frequencia/ParametrosExcluirValorFrequencia.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoFrequencia" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cweb="http://www.vivo.com.br/SN/CatalogoFrequencia">
<xsd:include schemaLocation="TipoFrequenciaExclusao.xsd"/>
    <xsd:element name="ParametrosExcluirValorFrequencia">
      <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="idValorFrequencia" type="xsd:long"/>
            <xsd:element name="nmUsuarioAlteracao" type="xsd:string" minOccurs="0"/>
            <xsd:element name="justificativa" type="xsd:string" minOccurs="0"/>
          </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
</xsd:schema>