catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/frequencia/ParametrosBuscarListaModeloPorValorFrequencia.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoFrequencia" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

     <xsd:element name="ParametrosBuscarListaModeloPorValorFrequencia">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ParametrosModeloPorValorFrequenciaIn">
		        <xsd:complexType>
		          <xsd:sequence>
		            <xsd:element name="idValorFrequencia" type="xsd:long"/>
		          </xsd:sequence>
		        </xsd:complexType>
		      </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
</xsd:schema>