catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/frequencia/ResultadoCriarTipoFrequencia.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoFrequencia" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<xsd:element name="ResultadoCriarTipoFrequencia">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="VlFrequenciaCriacao_KEY">
		        <xsd:complexType>
		          <xsd:sequence>
		            <xsd:element form="qualified" name="idVlFrequencia" maxOccurs="1" minOccurs="0" type="xsd:long"/>
		          </xsd:sequence>
		        </xsd:complexType>
		      </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
     </xsd:element>
</xsd:schema>