BATCH/sittel/xsd/EncaminharRequisicao.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.vivo.com.br/SN/EncaminharRequisicao" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.vivo.com.br/SN/EncaminharRequisicao">
	<annotation>
       	<documentation>			
			<informacaoArquivo>
				Nome do arquivo:
				EncaminharRequisicao.xsd
				Data de
				criacao||alteracao: 29/05/2013 || 00/00/0000
				Analista: Reinaldo Silva
				E-mail: reinaldo.l.silva@accenture.com
			</informacaoArquivo>
		</documentation>
    </annotation>
    <complexType name="EncaminharRequisicaoRequest">
        <sequence>
        	<element name="codigoOrdem" type="long" minOccurs="1"></element>
        	<element name="codigoRequisicao" type="long" minOccurs="1"></element>
        	<element name="cpf" type="tns:Cpf" minOccurs="0"></element>
        	<element name="cnpj" type="tns:Cnpj" minOccurs="0"></element>
        	<element name="documentoAssinante"
        		type="tns:DocumentoAssinante" minOccurs="0">
        	</element>
        	<element name="nomeAssinante" minOccurs="0">
        		<simpleType>
        			<restriction base="string">
        				<maxLength value="100"></maxLength>
        				<minLength value="1"></minLength>
        			</restriction>
        		</simpleType>
        	</element>
        	<element name="numeroTerminalAssinante"
        		type="tns:NumeroTerminal" minOccurs="0">
        	</element>
        	<element name="imei" type="tns:IMEI" minOccurs="0"></element>
        	<element name="cgiErb" type="tns:CGI" minOccurs="0"></element>
        	<element name="enderecoErb" type="tns:Endereco"
        		minOccurs="0" maxOccurs="1">
        	</element>
        	<element name="latitudeInvestigada" type="tns:Latitude" minOccurs="0"></element>
        	<element name="longitudeInvestigada" type="tns:Longitude" minOccurs="0"></element>
        	<element name="inicioPeriodoQuebra" type="tns:DataHora" minOccurs="1"></element>
        	<element name="fimPeriodoQuebra" type="tns:DataHora" minOccurs="1"></element>
        	<element name="enderecoIp" type="tns:Ip" minOccurs="0"></element>
        	<element name="numeroPortaIp" type="tns:PortaIp" minOccurs="0"></element>
        	<element name="tipoServico" type="tns:TipoServico" minOccurs="0" maxOccurs="2"></element>
        	<element name="direcao" type="tns:DirecaoServico" minOccurs="0" maxOccurs="1"></element>
        	<element name="dadosCadastraisInterlocutor" type="tns:DadosCadastraisInterlocutores" minOccurs="0" maxOccurs="1"></element>
        	<element name="arquivo" type="tns:ArquivoSittel" maxOccurs="7"></element>
        	<element name="observacao" type="tns:Observacao" minOccurs="0" maxOccurs="1"></element>
        </sequence>
    </complexType>
    

    <simpleType name="Cpf">
    	<restriction base="string">
    		<length value="11"></length>
    		<pattern value="[0-9]{11}"></pattern>
    	</restriction>
    </simpleType>

    <simpleType name="Cnpj">
    	<restriction base="string">
    		<length value="14"></length>
    		<pattern value="[0-9]{14}"></pattern>
    	</restriction>
    </simpleType>
    
    <simpleType name="DocumentoAssinante">
    	<restriction base="string">
    		<minLength value="1"></minLength>
    		<maxLength value="50"></maxLength>
    		<whiteSpace value="collapse"></whiteSpace>
    	</restriction>
    </simpleType>

    <simpleType name="NumeroTerminal">
		<restriction base="string">
			<minLength value="1"></minLength>
			<maxLength value="30"></maxLength>
			<whiteSpace value="collapse"></whiteSpace>
		</restriction>
	</simpleType>
	

	<simpleType name="IMEI">
		<restriction base="string">
			<minLength value="1"></minLength>
			<maxLength value="15"></maxLength>
			<pattern value="[0-9]{1,16}"></pattern>
		</restriction>
	</simpleType>

	<simpleType name="CGI">
		<restriction base="string">
			<minLength value="1"></minLength>
			<maxLength value="20"></maxLength>
			<whiteSpace value="collapse"></whiteSpace>
		</restriction>
	</simpleType>

	<simpleType name="Endereco">
		<restriction base="string">
			<minLength value="1"></minLength>
			<maxLength value="100"></maxLength>
			<whiteSpace value="collapse"></whiteSpace>
		</restriction>
	</simpleType>

	<simpleType name="Latitude">
		<restriction base="string">
			<minLength value="1"></minLength>
			<maxLength value="15"></maxLength>
			<pattern value="[-|+][0-9]{2},[0-9]{8,}"></pattern>
		</restriction>
	</simpleType>



	<simpleType name="Longitude">
		<restriction base="string">
			<pattern value="[-|+][0-9]{2},[0-9]{8,}"></pattern>
		</restriction>
	</simpleType>

	<simpleType name="DataHora">
		<restriction base="string">
			<pattern
				value="((((0[1-9]|[12]\d|3[01])(0[13578]|1[02])((19|[2-9]\d)\d{2}))|((0[1-9]|[12]\d|30)(0[13456789]|1[012])((19|[2-9]\d)\d{2}))|((0[1-9]|1\d|2[0-8])02((19|[2-9]\d)\d{2}))|(2902((1[6-9]|[2-9]\d)(0[48]|[2468][048]|[13579][26])|((16|[2468][048]|[3579][26])00))))(2[0-3]|[01][0-9])[0-5][0-9][0-5][0-9])">
			</pattern>
			<maxLength value="14"></maxLength>
		</restriction>
	</simpleType>

	<simpleType name="Ip">
        <annotation>
        	<documentation>Se IPV6 não utilizar abreviações.</documentation></annotation>
        <restriction base="string">
			<whiteSpace value="collapse"></whiteSpace>
			<pattern
				value="[0-9]{1,3}:[0-9]{1,3}:[0-9]{1,3}:[0-9]{1,3}|[a-fA-F0-9]{1,4}:[a-fA-F0-9]{4}:[a-fA-F0-9]{4}:[a-fA-F0-9]{4}:[a-fA-F0-9]{4}:[a-fA-F0-9]{4}:[a-fA-F0-9]{4}:[a-fA-F0-9]{4}">
			</pattern>
		</restriction>
	</simpleType>

	<simpleType name="PortaIp">
		<annotation>
			<documentation>
				Referência:
				http://en.wikipedia.org/wiki/Port_(computer_networking)
			</documentation>
		</annotation>
		<restriction base="int">
			<minInclusive value="1"></minInclusive>
			<maxInclusive value="65535"></maxInclusive>
		</restriction>
	</simpleType>

	<simpleType name="TipoServico">
		<restriction base="string">
			<enumeration value="CHAMADAS"></enumeration>
			<enumeration value="SMS"></enumeration>
			<enumeration value="MMS"></enumeration>
			<enumeration value="TODOS"></enumeration>
		</restriction>
	</simpleType>

	<simpleType name="DirecaoServico">
		<restriction base="string">
			<enumeration value="ORIGINADAS"></enumeration>
			<enumeration value="RECEBIDAS"></enumeration>
			<enumeration value="TODAS"></enumeration>
		</restriction>
	</simpleType>

	<simpleType name="DadosCadastraisInterlocutores">
		<restriction base="boolean"></restriction>
	</simpleType>

	<simpleType name="ArquivoSittel">
		<restriction base="string">
			<enumeration value="ASSINANTE"></enumeration>
			<enumeration value="ASSINANTE-TERMINAL"></enumeration>
			<enumeration value="INSTALACAO"></enumeration>
			<enumeration value="CHAMADAS"></enumeration>
			<enumeration value="ERB"></enumeration>
			<enumeration value="IMEI"></enumeration>
			<enumeration value="CONEXAO"></enumeration>
		</restriction>
	</simpleType>

	<simpleType name="Observacao">
		<restriction base="string">
			<maxLength value="250"></maxLength>
		</restriction>
	</simpleType>

	<complexType name="EncaminharRequisicaoResponse">
    	<sequence>
			<element name="status" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="5"></maxLength>
						<enumeration value="OK"></enumeration>
						<enumeration value="ERRO"></enumeration>
					</restriction>
				</simpleType>
			</element>
			<element name="codigoErro" type="long" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="descricaoErro" minOccurs="0"
				maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="250"></maxLength>
					</restriction>
				</simpleType>
			</element>
		</sequence>
    </complexType>

    <element name="encaminharRequisicaoRequest" type="tns:EncaminharRequisicaoRequest"></element>
    <element name="encaminharRequisicaoResponse" type="tns:EncaminharRequisicaoResponse"></element>

</schema>