BATCH/sittel/xsd/RequisicaoJudicialSecurity.wsdl

<wsdl:definitions name="RequisicaoJudicialSecurity"
	targetNamespace="http://www.vivo.com.br/SN/RequisicaoJudicial"
	xmlns:snt="http://www.vivo.com.br/SN/RequisicaoJudicial" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:xsd1="http://www.vivo.com.br/SN/EncaminharResultadoProcessamento"
	xmlns:xsd2="http://www.vivo.com.br/MC/Geral" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:xsd3="http://www.vivo.com.br/SN/EncaminharRequisicao" xmlns:xsd4="http://www.vivo.com.br/SN/EncaminharReciboRequisicao"
	xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">

	<wsp:UsingPolicy s1:Required="true" xmlns:s1="s1" />

	<wsp:Policy wsu:Id="mtomBindingPolicy">
		<wsp:ExactlyOne>
			<wsp:All>
				<wsoma:OptimizedMimeSerialization />
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>

	<wsdl:types>
		<xsd:schema>
			<xsd:import
				namespace="http://www.vivo.com.br/SN/EncaminharResultadoProcessamento"
				schemaLocation="EncaminharResultadoProcessamento.xsd">
			</xsd:import>
			<xsd:import namespace="http://www.vivo.com.br/MC/Geral"
				schemaLocation="CabecalhoVivo.xsd">
			</xsd:import>
			<xsd:import namespace="http://www.vivo.com.br/MC/Geral"
				schemaLocation="ErroInfo.xsd">
			</xsd:import>
			<xsd:import namespace="http://www.vivo.com.br/SN/EncaminharRequisicao"
				schemaLocation="EncaminharRequisicao.xsd">
			</xsd:import>
			<xsd:import namespace="http://www.vivo.com.br/SN/EncaminharReciboRequisicao"
				schemaLocation="EncaminharReciboRequisicao.xsd">
			</xsd:import>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="encaminharResultadoProcessamentoRequest">
		<wsdl:part element="xsd1:EncaminharResultadoProcessamentoRequest"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="encaminharResultadoProcessamentoResponse">
		<wsdl:part element="xsd1:EncaminharResultadoProcessamentoResponse"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="erroInfoFault">
		<wsdl:part name="erroInfo" element="xsd2:erroInfo" />
	</wsdl:message>
	<wsdl:message name="cabecalhoVivo">
		<wsdl:part name="cabecalhoVivo" element="xsd2:cabecalhoVivo" />
	</wsdl:message>
	<wsdl:message name="encaminharRequisicaoRequest">
		<wsdl:part name="parameters" element="xsd3:encaminharRequisicaoRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="encaminharRequisicaoReponse">
		<wsdl:part name="parameters" element="xsd3:encaminharRequisicaoResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="encaminharReciboRequisicaoRequest">
		<wsdl:part name="parameters" element="xsd4:encaminharReciboRequisicaoRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="encaminharReciboRequisicaoResponse">
		<wsdl:part name="parameters" element="xsd4:encaminharReciboRequisicaoResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="RequisicaoJudicialPortType">
		<wsdl:operation name="encaminharResultadoProcessamento">
			<wsdl:input message="snt:encaminharResultadoProcessamentoRequest" />
			<wsdl:output message="snt:encaminharResultadoProcessamentoResponse" />
			<wsdl:fault name="erroInfoFault" message="snt:erroInfoFault" />
		</wsdl:operation>
		<wsdl:operation name="encaminharRequisicao">
			<wsdl:input message="snt:encaminharRequisicaoRequest" />
			<wsdl:output message="snt:encaminharRequisicaoReponse" />
			<wsdl:fault name="erroInfoFault" message="snt:erroInfoFault" />
		</wsdl:operation>
		<wsdl:operation name="encaminharReciboRequisicao">
			<wsdl:input message="snt:encaminharReciboRequisicaoRequest" />
			<wsdl:output message="snt:encaminharReciboRequisicaoResponse" />
			<wsdl:fault name="erroInfoFault" message="snt:erroInfoFault" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="RequisicaoJudicialBinding" type="snt:RequisicaoJudicialPortType">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="encaminharResultadoProcessamento">

			<soap:operation
				soapAction="http://www.vivo.com.br/SN/RequisicaoJudicial/encaminharResultadoRequisicao" />
			<wsdl:input>
				<soap:body use="literal" parts="parameters " />
				<soap:header message="snt:cabecalhoVivo" part="cabecalhoVivo"
					use="literal" />
				<wsp:Policy>
					<wsp:PolicyReference
						URI="policy:encrypt-custom-body-element-and-username-token" />
				</wsp:Policy>
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="erroInfoFault">
				<soap:fault use="literal" name="erroInfoFault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="encaminharRequisicao">
			<soap:operation
				soapAction="http://www.vivo.com.br/SN/RequisicaoJudicial/encaminharRequisicao" />
			<wsdl:input>
				<soap:body use="literal" parts="parameters " />
				<soap:header message="snt:cabecalhoVivo" part="cabecalhoVivo"
					use="literal" />
				<wsp:Policy>
					<wsp:PolicyReference URI="#mtomBindingPolicy" />
				</wsp:Policy>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="erroInfoFault">
				<soap:fault use="literal" name="erroInfoFault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="encaminharReciboRequisicao">
			<soap:operation
				soapAction="http://www.vivo.com.br/SN/RequisicaoJudicial/encaminharReciboRequisicao" />
			<wsdl:input>
				<soap:body use="literal" parts="parameters " />
				<soap:header message="snt:cabecalhoVivo" part="cabecalhoVivo"
					use="literal" />
				<wsp:Policy>
					<wsp:PolicyReference URI="#mtomBindingPolicy" />
				</wsp:Policy>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="erroInfoFault">
				<soap:fault use="literal" name="erroInfoFault" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="RequisicaoJudicialService">
		<wsdl:port binding="snt:RequisicaoJudicialBinding" name="RequisicaoJudicialPort">
			<!-- soap:address location="http://www.osb-soa:80/RequisicaoJudicial"/ -->
			<soap:address location="http://10.128.4.108:8093/SITTEL04_encaminharWS_provider" />
			<!-- SITTEL04_encaminharWS_provider -->
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>