BATCH/sittel/xsd/sittel-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
	xmlns="http://asspaweb.pgr.mpf.gov.br/sittel/schemas/sittel"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://asspaweb.pgr.mpf.gov.br/sittel/schemas/sittel">
	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" />

	<xsd:complexType name="Assinante">
		<xsd:sequence>
			<xsd:element name="cpfCnpj" type="CpfCnpj" minOccurs="0"
				maxOccurs="1"></xsd:element>
			<xsd:element name="documento" type="DocumentoAssinante"
				minOccurs="0" maxOccurs="1"></xsd:element>
			<xsd:element name="nome" type="NomeAssinante"></xsd:element>
			<xsd:element name="tipo" type="TipoAssinante"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="Cpf">
		<xsd:restriction base="xsd:string">
			<xsd:length value="11"></xsd:length>
			<xsd:pattern value="[0-9]{11}"></xsd:pattern>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="DocumentoAssinante">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"></xsd:minLength>
			<xsd:maxLength value="50"></xsd:maxLength>
			<xsd:whiteSpace value="collapse"></xsd:whiteSpace>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="NomeAssinante">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"></xsd:minLength>
			<xsd:maxLength value="100"></xsd:maxLength>
			<xsd:whiteSpace value="collapse"></xsd:whiteSpace>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="TipoAssinante">
        <xsd:annotation>
        	<xsd:documentation>1 - Pessoa Física
2 - Pessoa Jurídica</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
			<xsd:length value="1"></xsd:length>
			<xsd:enumeration value="1"></xsd:enumeration>
			<xsd:enumeration value="2"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="Assinantes">
		<xsd:sequence>
			<xsd:element name="assinante" type="Assinante" maxOccurs="unbounded" minOccurs="0">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="AssinantesTerminais">
		<xsd:sequence>
			<xsd:element name="assinanteTerminal" type="AssinanteTerminal"
				maxOccurs="unbounded" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="AssinanteTerminal">
		<xsd:sequence>
			<xsd:element name="cpfCnpj" type="CpfCnpj" minOccurs="0"
				maxOccurs="1"></xsd:element>
			<xsd:element name="documento" type="DocumentoAssinante"
				minOccurs="0" maxOccurs="1"></xsd:element>
			<xsd:element name="tipo" type="TipoTerminal"></xsd:element>
			<xsd:element name="numero" type="NumeroTerminal"></xsd:element>
			<xsd:element name="dataInicio" type="Data"></xsd:element>
			<xsd:element name="dataFim" type="Data" minOccurs="0"
				maxOccurs="1"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="Cnpj">
		<xsd:restriction base="xsd:string">
			<xsd:length value="14"></xsd:length>
			<xsd:pattern value="[0-9]{14}"></xsd:pattern>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="TipoTerminal">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="M|F|R|T|V|D"></xsd:pattern>
			<xsd:length value="1"></xsd:length>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="NumeroTerminal">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"></xsd:minLength>
			<xsd:maxLength value="30"></xsd:maxLength>
			<xsd:whiteSpace value="collapse"></xsd:whiteSpace>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="Data">
		<xsd:restriction base="xsd:string">
			<xsd:length value="8"></xsd:length>
			<xsd:pattern value="[0-9]{8}"></xsd:pattern>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="TipoEndereco">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="1|2"></xsd:pattern>
			<xsd:length value="1"></xsd:length>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="Endereco">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"></xsd:minLength>
			<xsd:maxLength value="100"></xsd:maxLength>
			<xsd:whiteSpace value="collapse"></xsd:whiteSpace>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="Bairro">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"></xsd:minLength>
			<xsd:maxLength value="100"></xsd:maxLength>
			<xsd:whiteSpace value="collapse"></xsd:whiteSpace>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="Municipio">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"></xsd:minLength>
			<xsd:maxLength value="100"></xsd:maxLength>
			<xsd:whiteSpace value="collapse"></xsd:whiteSpace>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="SiglaUF">
		<xsd:restriction base="xsd:string">
			<xsd:pattern
				value="AC|AL|AM|AP|BA|CE|DF|ES|GO|MA|MG|MS|MT|PA|PB|PR|PE|PI|RJ|RN|RO|RR|RS|SC|SE|SP|TO|INDISPONÍVEL">
			</xsd:pattern>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="Cep">
		<xsd:restriction base="xsd:string">
			<xsd:length value="8"></xsd:length>
			<xsd:pattern value="[0-9]{8}">
			</xsd:pattern>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="Instalacao">
		<xsd:sequence>
			<xsd:element name="numeroTerminal" type="NumeroTerminal"></xsd:element>
			<xsd:element name="tipoEndereco" type="TipoEndereco"></xsd:element>
			<xsd:element name="endereco" type="Endereco"></xsd:element>
			<xsd:element name="bairro" type="Bairro"></xsd:element>
			<xsd:element name="municipio" type="Municipio"></xsd:element>
			<xsd:element name="uf" type="SiglaUF"></xsd:element>
			<xsd:element name="cep" type="Cep"></xsd:element>
			<xsd:element name="dataInicio" type="Data"></xsd:element>
			<xsd:element name="dataFim" type="Data" minOccurs="0"
				maxOccurs="1"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Instalacoes">
		<xsd:sequence>
			<xsd:element name="instalacao" maxOccurs="unbounded"
				type="Instalacao" minOccurs="0">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="numeroIMEI">
		<xsd:restriction base="xsd:string">
			<xsd:length value="15"></xsd:length>
			<xsd:pattern value="[0-9]{15}"></xsd:pattern>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="CGI">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"></xsd:minLength>
			<xsd:maxLength value="20"></xsd:maxLength>
			<xsd:whiteSpace value="collapse"></xsd:whiteSpace>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="TipoChamada">
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"></xsd:length>
			<xsd:pattern value="N|I"></xsd:pattern>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="TipoConteudoChamada">
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"></xsd:length>
			<xsd:pattern value="M|T|V"></xsd:pattern>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="GMT">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="GMT[-|+][0-9]{1,2}"></xsd:pattern>
			<xsd:minLength value="5"></xsd:minLength>
			<xsd:maxLength value="6"></xsd:maxLength>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="Hora">
		<xsd:restriction base="xsd:string">
			<xsd:length value="6"></xsd:length>
			<xsd:pattern value="[0-9]{6}"></xsd:pattern>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="Chamada">
		<xsd:sequence>
			<xsd:element name="numeroTerminalOriginador" type="NumeroTerminal">
			</xsd:element>
			<xsd:element name="imeiOriginador" type="numeroIMEI"
				minOccurs="0" maxOccurs="1"></xsd:element>
			<xsd:element name="cgiPrimeiraErbOriginador" type="CGI"
				minOccurs="0"></xsd:element>
			<xsd:element name="cgiUltimaErbOriginador" type="CGI"
				maxOccurs="1" minOccurs="0"></xsd:element>
			<xsd:element name="numeroTerminalRecebedor" type="NumeroTerminal">
			</xsd:element>
			<xsd:element name="imeiRecebedor" type="numeroIMEI"
				minOccurs="0" maxOccurs="1"></xsd:element>
			<xsd:element name="cgiPrimeiraErbRecebedor" type="CGI"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="cgiUltimaErbRecebedor" type="CGI"
				minOccurs="0" maxOccurs="1"></xsd:element>
			<xsd:element name="tipoChamada" type="TipoChamada"></xsd:element>
			<xsd:element name="formatoConteudoChamada" type="TipoConteudoChamada">
			</xsd:element>
			<xsd:element name="dataInicio" type="Data"></xsd:element>
			<xsd:element name="horaInicio" type="Hora"></xsd:element>
			<xsd:element name="gmt" type="GMT"></xsd:element>
			<xsd:element name="duracao" type="Hora"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Chamadas">
		<xsd:sequence>
			<xsd:element name="chamada" type="Chamada" minOccurs="0" maxOccurs="unbounded"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="Pais">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"></xsd:minLength>
			<xsd:maxLength value="40"></xsd:maxLength>
			<xsd:whiteSpace value="collapse"></xsd:whiteSpace>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="Latitude">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"></xsd:minLength>
			<xsd:maxLength value="15"></xsd:maxLength>
			<xsd:pattern value="[-|+][0-9]{2},[0-9]{8,}"></xsd:pattern>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="Longitude">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[-|+][0-9]{2},[0-9]{8,}"></xsd:pattern>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="Azimute">
		<xsd:restriction base="xsd:string">
			<xsd:length value="3"></xsd:length>
			<xsd:pattern value="[0-3][0-9]{2}"></xsd:pattern>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="Erb">
		<xsd:sequence>
			<xsd:element name="cgi" type="CGI"></xsd:element>
			<xsd:element name="endereco" type="Endereco"></xsd:element>
			<xsd:element name="bairro" type="Bairro" minOccurs="0"
				maxOccurs="1"></xsd:element>
			<xsd:element name="municipio" type="Municipio"></xsd:element>
			<xsd:element name="uf" type="SiglaUF"></xsd:element>
			<xsd:element name="pais" type="Pais"></xsd:element>
			<xsd:element name="cep" type="Cep" minOccurs="0"
				maxOccurs="1"></xsd:element>
			<xsd:element name="latitude" type="Latitude"></xsd:element>
			<xsd:element name="longitude" type="Longitude"></xsd:element>
			<xsd:element name="azimute" type="Azimute"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Erbs">
		<xsd:sequence>
			<xsd:element name="erb" type="Erb" minOccurs="0" maxOccurs="unbounded"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Imei">
		<xsd:sequence>
			<xsd:element name="numeroImei" type="numeroIMEI"></xsd:element>
			<xsd:element name="numeroTerminal" type="NumeroTerminal"></xsd:element>
			<xsd:element name="dataInicio" type="Data"></xsd:element>
			<xsd:element name="horaInicio" type="Hora"></xsd:element>
			<xsd:element name="gmt" type="GMT"></xsd:element>
			<xsd:element name="duracao" type="Hora"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Imeis">
		<xsd:sequence>
			<xsd:element name="imei" type="Imei" maxOccurs="unbounded" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Conexao">
		<xsd:sequence>
			<xsd:element name="numeroTerminal" type="NumeroTerminal"></xsd:element>
			<xsd:element name="ip" type="Ip"></xsd:element>
			<xsd:element name="tipoIp" type="TipoIp"></xsd:element>
			<xsd:element name="porta" type="PortaIp"></xsd:element>
			<xsd:element name="dataInicio" type="Data"></xsd:element>
			<xsd:element name="horaInicio" type="Hora"></xsd:element>
			<xsd:element name="gmtInicio" type="GMT"></xsd:element>
			<xsd:element name="dataFim" type="Data" minOccurs="0"
				maxOccurs="1">
			</xsd:element>
			<xsd:element name="horaFim" type="Hora" minOccurs="0"
				maxOccurs="1">
			</xsd:element>
			<xsd:element name="gmtFim" type="GMT" minOccurs="0"
				maxOccurs="1">
			</xsd:element>
			<xsd:element name="kbytes" type="QuantidadeDados"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Conexoes">
		<xsd:sequence>
			<xsd:element name="conexao" type="Conexao" maxOccurs="unbounded" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="Ipv4">
		<xsd:restriction base="xsd:string"></xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="Ipv6">
		<xsd:restriction base="xsd:string"></xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="PortaIp">
		<xsd:restriction base="xsd:int">
			<xsd:minInclusive value="0"></xsd:minInclusive>
			<xsd:maxInclusive value="65535"></xsd:maxInclusive>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="QuantidadeDados">
		<xsd:restriction base="xsd:double">
			<xsd:pattern value="[0-9]{1,20}"></xsd:pattern>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="CpfCnpj">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="11"></xsd:minLength>
			<xsd:maxLength value="14"></xsd:maxLength>
			<xsd:whiteSpace value="collapse"></xsd:whiteSpace>
			<!-- <xsd:pattern value="[0-9]{11}|[0-9]{14}"></xsd:pattern> -->
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="TipoIp">
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"></xsd:length>
			<xsd:pattern value="4|6"></xsd:pattern>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="Ip">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="8"></xsd:minLength>
			<xsd:maxLength value="100"></xsd:maxLength>
			<xsd:whiteSpace value="collapse"></xsd:whiteSpace>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>