catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/desconto/ParametrosAlterarFormaPagtoCanalParam.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoDesconto" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="ParametrosAlterarFormaPagtoCanalParam">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="IdCanal" type="xsd:long"/>
				<xsd:element name="idFormaPagamento" type="xsd:long"/>
				<xsd:element name="nrMaxParcSemJuros" type="xsd:long" minOccurs="0"/>
				<xsd:element name="taxaJuros" type="xsd:decimal" minOccurs="0"/>
				<xsd:element name="nrParcelasMax" type="xsd:long"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>