catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/desconto/ParametrosAlterarParamDesconto.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoDesconto" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="ParametrosAlterarParamDesconto">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="idFormaPagamento" type="xsd:long"/>
				<xsd:element name="IdCanal" type="xsd:long"/>
				<xsd:element name="DescontoCondPagto" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="IdCondicaoPagamento" type="xsd:long"/>
							<xsd:element name="FatorPreco" type="xsd:float" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>