catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/modelovenda/ModeloVendaSecurity.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<s1:definitions name="ModeloVenda" targetNamespace="http://www.vivo.com.br/SN/CatalogoModeloVenda" xmlns:s0="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:s1="http://schemas.xmlsoap.org/wsdl/" xmlns:s2="http://www.vivo.com.br/MC/Geral" xmlns:s3="http://www.vivo.com.br/SN/CatalogoModeloVenda" xmlns:s4="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
  <wsp:UsingPolicy s1:Required="true"/>
  <wsp:Policy s0:Id="encrypt-custom-body-element-and-username-token">
    <wssp:Identity xmlns:wssp="http://www.bea.com/wls90/security/policy">
      <wssp:SupportedTokens>
        <wssp:SecurityToken TokenType="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#UsernameToken">
          <wssp:UsePassword Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText"/>
        </wssp:SecurityToken>
      </wssp:SupportedTokens>
    </wssp:Identity>
  </wsp:Policy>
  <s1:types>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoModeloVenda" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoModeloVenda" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoModeloVenda" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/MC/Geral" schemaLocation="CabecalhoVivo.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoModeloVenda" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoModeloVenda" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoModeloVenda" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/MC/Geral" schemaLocation="ErroInfo.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoModeloVenda" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoModeloVenda" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModeloVenda" schemaLocation="ParametrosAlterarModeloVenda.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModeloVenda" schemaLocation="ParametrosAssociarProdutoModeloVenda.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModeloVenda" schemaLocation="ParametrosBuscarDadosModeloVenda.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModeloVenda" schemaLocation="ParametrosBuscarListaModeloVenda.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModeloVenda" schemaLocation="ParametrosBuscarListaProdComModeloVenda.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModeloVenda" schemaLocation="ParametrosBuscarListaProdSemModeloVenda.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModeloVenda" schemaLocation="ParametrosCriarModeloVenda.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModeloVenda" schemaLocation="ParametrosExcluirModeloVenda.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModeloVenda" schemaLocation="ParametrosExcluirProdutoModeloVenda.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModeloVenda" schemaLocation="ResultadoAlterarModeloVenda.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModeloVenda" schemaLocation="ResultadoBuscarDadosModeloVenda.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModeloVenda" schemaLocation="ResultadoBuscarListaModeloVenda.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModeloVenda" schemaLocation="ResultadoBuscarListaProdComModeloVenda.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModeloVenda" schemaLocation="ResultadoBuscarListaProdSemModeloVenda.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModeloVenda" schemaLocation="ResultadoCriarModeloVenda.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoModeloVenda" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoModeloVenda" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoModeloVenda" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="associarProdutoModeloVendaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosAssociarProdutoModeloVenda"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="associarProdutoModeloVendaResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarModeloVendaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosAlterarModeloVenda"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarModeloVendaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoAlterarModeloVenda"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarDadosModeloVendaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarDadosModeloVenda"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarDadosModeloVendaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarDadosModeloVenda"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaModeloVendaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaModeloVenda"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaModeloVendaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaModeloVenda"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaProdComModeloVendaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaProdComModeloVenda"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaProdComModeloVendaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaProdComModeloVenda"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaProdSemModeloVendaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaProdSemModeloVenda"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaProdSemModeloVendaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaProdSemModeloVenda"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="criarModeloVendaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosCriarModeloVenda"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="criarModeloVendaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoCriarModeloVenda"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="excluirModeloVendaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosExcluirModeloVenda"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="excluirModeloVendaResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="excluirProdutoModeloVendaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosExcluirProdutoModeloVenda"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="excluirProdutoModeloVendaResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </s1:types>
  <s1:message name="cabecalhoVIVO">
    <s1:part element="s2:cabecalhoVivo" name="cabecalhoVIVO"/>
  </s1:message>
  <s1:message name="erroInfoFault">
    <s1:part element="s2:erroInfo" name="erroInfo"/>
  </s1:message>
  <s1:message name="associarProdutoModeloVendaRequest">
    <s1:part element="s3:associarProdutoModeloVendaRequest" name="associarProdutoModeloVendaRequest"/>
  </s1:message>
  <s1:message name="associarProdutoModeloVendaResponse">
    <s1:part element="s3:associarProdutoModeloVendaResponse" name="associarProdutoModeloVendaResponse"/>
  </s1:message>
  <s1:message name="alterarModeloVendaRequest">
    <s1:part element="s3:alterarModeloVendaRequest" name="alterarModeloVendaRequest"/>
  </s1:message>
  <s1:message name="alterarModeloVendaResponse">
    <s1:part element="s3:alterarModeloVendaResponse" name="alterarModeloVendaResponse"/>
  </s1:message>
  <s1:message name="buscarDadosModeloVendaRequest">
    <s1:part element="s3:buscarDadosModeloVendaRequest" name="buscarDadosModeloVendaRequest"/>
  </s1:message>
  <s1:message name="buscarDadosModeloVendaResponse">
    <s1:part element="s3:buscarDadosModeloVendaResponse" name="buscarDadosModeloVendaResponse"/>
  </s1:message>
  <s1:message name="buscarListaModeloVendaRequest">
    <s1:part element="s3:buscarListaModeloVendaRequest" name="buscarListaModeloVendaRequest"/>
  </s1:message>
  <s1:message name="buscarListaModeloVendaResponse">
    <s1:part element="s3:buscarListaModeloVendaResponse" name="buscarListaModeloVendaResponse"/>
  </s1:message>
  <s1:message name="buscarListaProdComModeloVendaRequest">
    <s1:part element="s3:buscarListaProdComModeloVendaRequest" name="buscarListaProdComModeloVendaRequest"/>
  </s1:message>
  <s1:message name="buscarListaProdComModeloVendaResponse">
    <s1:part element="s3:buscarListaProdComModeloVendaResponse" name="buscarListaProdComModeloVendaResponse"/>
  </s1:message>
  <s1:message name="buscarListaProdSemModeloVendaRequest">
    <s1:part element="s3:buscarListaProdSemModeloVendaRequest" name="buscarListaProdSemModeloVendaRequest"/>
  </s1:message>
  <s1:message name="buscarListaProdSemModeloVendaResponse">
    <s1:part element="s3:buscarListaProdSemModeloVendaResponse" name="buscarListaProdSemModeloVendaResponse"/>
  </s1:message>
  <s1:message name="criarModeloVendaRequest">
    <s1:part element="s3:criarModeloVendaRequest" name="criarModeloVendaRequest"/>
  </s1:message>
  <s1:message name="criarModeloVendaResponse">
    <s1:part element="s3:criarModeloVendaResponse" name="criarModeloVendaResponse"/>
  </s1:message>
  <s1:message name="excluirModeloVendaRequest">
    <s1:part element="s3:excluirModeloVendaRequest" name="excluirModeloVendaRequest"/>
  </s1:message>
  <s1:message name="excluirModeloVendaResponse">
    <s1:part element="s3:excluirModeloVendaResponse" name="excluirModeloVendaResponse"/>
  </s1:message>
  <s1:message name="excluirProdutoModeloVendaRequest">
    <s1:part element="s3:excluirProdutoModeloVendaRequest" name="excluirProdutoModeloVendaRequest"/>
  </s1:message>
  <s1:message name="excluirProdutoModeloVendaResponse">
    <s1:part element="s3:excluirProdutoModeloVendaResponse" name="excluirProdutoModeloVendaResponse"/>
  </s1:message>
  <s1:portType name="ModeloVendaPortType">
    <s1:operation name="associarProdutoModeloVenda">
      <s1:input message="s3:associarProdutoModeloVendaRequest"/>
      <s1:output message="s3:associarProdutoModeloVendaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="alterarModeloVenda">
      <s1:input message="s3:alterarModeloVendaRequest"/>
      <s1:output message="s3:alterarModeloVendaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarDadosModeloVenda">
      <s1:input message="s3:buscarDadosModeloVendaRequest"/>
      <s1:output message="s3:buscarDadosModeloVendaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaModeloVenda">
      <s1:input message="s3:buscarListaModeloVendaRequest"/>
      <s1:output message="s3:buscarListaModeloVendaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaProdComModeloVenda">
      <s1:input message="s3:buscarListaProdComModeloVendaRequest"/>
      <s1:output message="s3:buscarListaProdComModeloVendaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaProdSemModeloVenda">
      <s1:input message="s3:buscarListaProdSemModeloVendaRequest"/>
      <s1:output message="s3:buscarListaProdSemModeloVendaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="criarModeloVenda">
      <s1:input message="s3:criarModeloVendaRequest"/>
      <s1:output message="s3:criarModeloVendaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="excluirModeloVenda">
      <s1:input message="s3:excluirModeloVendaRequest"/>
      <s1:output message="s3:excluirModeloVendaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="excluirProdutoModeloVenda">
      <s1:input message="s3:excluirProdutoModeloVendaRequest"/>
      <s1:output message="s3:excluirProdutoModeloVendaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
  </s1:portType>
  <s1:binding name="ModeloVendaBinding" type="s3:ModeloVendaPortType">
    <s4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <s1:operation name="associarProdutoModeloVenda">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="associarProdutoModeloVendaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="associarProdutoModeloVendaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="alterarModeloVenda">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="alterarModeloVendaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="alterarModeloVendaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarDadosModeloVenda">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarDadosModeloVendaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarDadosModeloVendaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaModeloVenda">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaModeloVendaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaModeloVendaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaProdComModeloVenda">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaProdComModeloVendaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaProdComModeloVendaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaProdSemModeloVenda">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaProdSemModeloVendaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaProdSemModeloVendaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="criarModeloVenda">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="criarModeloVendaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="criarModeloVendaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="excluirModeloVenda">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="excluirModeloVendaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="excluirModeloVendaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="excluirProdutoModeloVenda">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="excluirProdutoModeloVendaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="excluirProdutoModeloVendaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
  </s1:binding>
  <s1:service name="ModeloVendaService">
    <s1:port binding="s3:ModeloVendaBinding" name="ModeloVendaSoapPort">
      <s4:address location="http://alsb3-soa:80/CatalogoWeb/ModeloVenda/Proxy/ModeloVendaSecurity"/>
    </s1:port>
  </s1:service>
</s1:definitions>