catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/modelovenda/ParametrosAlterarModeloVenda.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoModeloVenda" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<xsd:element name="ParametrosAlterarModeloVenda">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="idModeloVenda" type="xsd:long"/>
				<xsd:element name="nmModeloVenda" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
</xsd:schema>