catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/modelovenda/ParametrosAssociarProdutoModeloVenda.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoModeloVenda" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<xsd:element name="ParametrosAssociarProdutoModeloVenda">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="idModeloVenda" type="xsd:long"/>
				<xsd:element name="ListaIdProdutos">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="idProdutos" type="xsd:long" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
</xsd:schema>