catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/servico/ListaServico.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoServico" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cweb="http://www.vivo.com.br/SN/CatalogoServico">

	<xsd:include schemaLocation="ListaPlanos.xsd"/>
      <xsd:element name="ListaServico">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Servico" minOccurs="0" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="idServico" type="xsd:long"/>
                  <xsd:element name="nmComercial" type="xsd:string"/>
                  <xsd:element name="inPlano" type="xsd:string"/>
                  <xsd:element name="dtInicial" type="xsd:dateTime"/>
                  <xsd:element name="dtFinal" type="xsd:dateTime" minOccurs="0"/>
                  <xsd:element name="valor" type="xsd:decimal" minOccurs="0"/>
                  <xsd:element name="idCategoria" type="xsd:long"/>
                  <xsd:element name="inSimulacao" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="descricao" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="dtCriacao" type="xsd:dateTime" minOccurs="0"/>
                  <xsd:element name="nmUsuarioCriacao" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="dtUltimaAlteracao" type="xsd:dateTime" minOccurs="0"/>
                  <xsd:element name="nmUsuarioAlteracao" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="indisponivel" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="cdAnatel" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="tpTarifa" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="cdCodigo" type="xsd:string" minOccurs="0"/>
                  <xsd:element ref="cweb:ListaPlano" minOccurs="0"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>