catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/servico/ParametrosBuscarListaServicoParametrizacaoSemPag.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoServico" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cwebPaginacao="http://www.vivo.com.br/SN/CatalogoGeral">

	<xsd:element name="ParametrosBuscarListaServicoParametrizacaoSemPag">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="idPlataforma" type="xsd:long"/>
				<xsd:element name="indisponivel" type="xsd:string" minOccurs="0"/>
				<xsd:element name="idCategoriaCatalogo" type="xsd:long" minOccurs="0"/>
				<xsd:element name="nmServico" type="xsd:string" minOccurs="0"/>
				<xsd:element name="cdServico" type="xsd:string" minOccurs="0"/>
				<xsd:element name="idTecnologia" type="xsd:long" minOccurs="0"/>
				<xsd:element name="idTpServico" type="xsd:long" minOccurs="0"/>			
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>