catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/servico/ParametrosAlterarCategoriaListaServico.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoServico" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:element name="ParametrosAlterarCategoriaListaServico">
			<xsd:complexType>
				<xsd:sequence>
					<xsd:element name="idCategoria" type="xsd:long"/>
					<xsd:element name="ListaIdServico">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="idServico" type="xsd:long" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
</xsd:schema>