catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/servico/ParametroAlterarAtivacaoWiFi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoServico" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:element name="ParamAlterarAtivacaoWiFi">
		<xsd:complexType>
			<xsd:all>
				<!-- Obrigatorio -->
				<xsd:element name="ListaIdServico">
             		<xsd:complexType>
                      <xsd:sequence>
	                       <xsd:element name="idServico" type="xsd:long" maxOccurs="unbounded"/>
                      </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
				<xsd:element name="status">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="S"/>
							<xsd:enumeration value="N"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>