catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/servico/ResultadoBuscarListaServico.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoServico" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cwebPaginacao="http://www.vivo.com.br/SN/CatalogoGeral" xmlns:cat="http://www.vivo.com.br/SN/CatalogoServico">
	
	<xsd:import namespace="http://www.vivo.com.br/SN/CatalogoGeral" schemaLocation="PaginacaoOut.xsd"/>
	<xsd:include schemaLocation="ListaServicoTarifa.xsd"/>	
	
<xsd:element name="ResultadoBuscarListaServico">
        <xsd:complexType>
          <xsd:sequence>
          
            <xsd:element ref="cwebPaginacao:PaginacaoOut"/>
         	<xsd:element name="ListaServico" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="RetornoServico" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
							            <xsd:element name="idServico" type="xsd:long"/>
										<xsd:element name="nmComercial" type="xsd:string"/>
										<xsd:element name="inPlano" type="xsd:string"/>
										<xsd:element name="dtInicial" type="xsd:dateTime"/>
										<xsd:element name="dtFinal" type="xsd:dateTime" minOccurs="0"/>
										<xsd:element name="valor" type="xsd:decimal" minOccurs="0"/>
										<xsd:element name="idCategoria" type="xsd:long" minOccurs="0"/>
										<xsd:element name="nmCategoria" type="xsd:string" minOccurs="0"/>	
										<xsd:element name="inSimulacao" type="xsd:string" minOccurs="0"/>
										<xsd:element name="descricao" type="xsd:string" minOccurs="0"/>
										<xsd:element name="dtCriacao" type="xsd:dateTime" minOccurs="0"/>
										<xsd:element name="nmUsuarioCriacao" type="xsd:string" minOccurs="0"/>
										<xsd:element name="dtUltimaAlteracao" type="xsd:dateTime" minOccurs="0"/>
										<xsd:element name="nmUsuarioAlteracao" type="xsd:string" minOccurs="0"/>
										<xsd:element name="indisponivel" type="xsd:string" minOccurs="0"/>
										<xsd:element name="cdAnatel" type="xsd:string" minOccurs="0"/>
										<xsd:element name="tpTarifa" type="xsd:string" minOccurs="0"/>	
										<xsd:element name="cdCodigo" type="xsd:string" minOccurs="0"/>
										<xsd:element name="dscTipoServico" type="xsd:string" minOccurs="0"/>
							            <xsd:element name="rNum" type="xsd:long"/>
							            <xsd:element ref="cat:ListaServicoTarifa"/>
									</xsd:sequence>
								</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>				
            
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
</xsd:schema>