catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/servico/ResultadoBuscarListaRestricoesPorServico.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoServico" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cwebPaginacao="http://www.vivo.com.br/SN/CatalogoPlano">

	<xsd:import namespace="http://www.vivo.com.br/SN/CatalogoPlano" schemaLocation="PaginacaoOut0.xsd"/>

<xsd:element name="ResultadoRestricoesPorServico">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="cwebPaginacao:PaginacaoOut"/>
            <xsd:element name="ListaRestricoesPorServico" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="RetornoRestricoesPorServico" minOccurs="0" maxOccurs="unbounded">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="idServico" type="xsd:long"/>
                        <xsd:element name="nmComercial" type="xsd:string"/>
                        <xsd:element name="nmPlataforma" type="xsd:string"/>
                        <xsd:element name="nmTecnologia" type="xsd:string"/>
                        <xsd:element name="nmTipoCliente" type="xsd:string"/>
                        <xsd:element name="nmCanal" type="xsd:string"/>
                        <xsd:element name="sgSegmento" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="sgCarteira" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="nmUf" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="rNum" type="xsd:long"/>
                        <xsd:element name="descTpAssinatura" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="codigoArea" type="xsd:string" minOccurs="0"/>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
 </xsd:schema>