catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/servico/ResultadoBuscarListaServicoParametrizacaoSemPag.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoServico" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cwebPaginacao="http://www.vivo.com.br/SN/CatalogoPlano">

	<xsd:element name="ResultadoBuscarListaServicoParametrizacaoSemPag">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ListaBuscarListaServicoParametrizacao" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="RetornoBuscarListaServicoParametrizacao" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="idServico" type="xsd:long"/>
										<xsd:element name="cdServico" type="xsd:string" minOccurs="0"/>
										<xsd:element name="nmComercial" type="xsd:string" minOccurs="0"/>
										<xsd:element name="idCategoriaCatalogo" type="xsd:long" minOccurs="0" nillable="true"/>
										<xsd:element name="nmCategoriaCatalogo" type="xsd:string" minOccurs="0"/>
										<xsd:element name="idCategoriaLegado" type="xsd:string" minOccurs="0"/>
										<xsd:element name="nmCategoriaLegado" type="xsd:string" minOccurs="0"/>
										<xsd:element name="idTpServico" type="xsd:long" minOccurs="0" nillable="true"/>
										<xsd:element name="dscTipoServico" type="xsd:string" minOccurs="0"/>
										<xsd:element name="qtdMinAtivCatalogo" type="xsd:long" minOccurs="0"/>
										<xsd:element name="qtdMinAtivLegado" type="xsd:long" minOccurs="0"/>
										<xsd:element name="qtdMaxAtivCatalogo" type="xsd:long" minOccurs="0"/>
										<xsd:element name="qtdMaxAtivLegado" type="xsd:long" minOccurs="0"/>
										<xsd:element name="dtAlteracao" type="xsd:dateTime" minOccurs="0"/>
										<xsd:element name="nmUsuarioAlteracao" type="xsd:string" minOccurs="0"/>
										<xsd:element name="inDisponibilidadeCatalogo" minOccurs="0">
								            <xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:enumeration value="S"/>
													<xsd:enumeration value="N"/>
												</xsd:restriction>
											</xsd:simpleType>
							            </xsd:element>
							            <xsd:element name="inDisponibilidadeLegado" minOccurs="0">
								            <xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:enumeration value="S"/>
													<xsd:enumeration value="N"/>
												</xsd:restriction>
											</xsd:simpleType>
							            </xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>