catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/servico/ResultadoBuscarListaAtributoPorIdServico.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoServico" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cweb="http://www.vivo.com.br/SN/CatalogoServico">
<xsd:element name="ResultadoBuscarListaAtributoPorIdServico">
              <xsd:complexType>
		          <xsd:sequence>
				      <xsd:element name="Atributo" minOccurs="0" maxOccurs="unbounded">
				              <xsd:complexType>
				                <xsd:sequence>
				                  <xsd:element name="idAtributo" type="xsd:long"/>
				                  <xsd:element name="idSistemaServico" type="xsd:long"/>
				                  <xsd:element name="svcAttrNm" type="xsd:string" minOccurs="0"/>
				                  <xsd:element name="svcAttrSeq" type="xsd:long" minOccurs="0"/>
				                  <xsd:element name="dtCriacao" type="xsd:dateTime" minOccurs="0"/>
				                  <xsd:element name="nmUsuarioCriacao" type="xsd:string" minOccurs="0"/>
				                  <xsd:element name="dtUltimaAlteracao" type="xsd:dateTime" minOccurs="0"/>
				                  <xsd:element name="nmUsuarioAlteracao" type="xsd:string" minOccurs="0"/>
				                  <xsd:element name="svcAttrDesc" type="xsd:string" minOccurs="0"/>
				                  <xsd:element name="ListaAtributoValor" minOccurs="0">
							        <xsd:complexType>
							          <xsd:sequence>
							            <xsd:element name="AtributoValor" minOccurs="0" maxOccurs="unbounded">
							              <xsd:complexType>
							                <xsd:sequence>
							                  <xsd:element name="idValorAtributo" type="xsd:long"/>
							                  <xsd:element name="idAtributo" type="xsd:long"/>
							                  <xsd:element name="valor" type="xsd:string" minOccurs="0"/>
							                  <xsd:element name="inDefault" type="xsd:string" minOccurs="0"/>
							                  <xsd:element name="dtCriacao" type="xsd:dateTime" minOccurs="0"/>
							                  <xsd:element name="nmUsuarioCriacao" type="xsd:string" minOccurs="0"/>
							                  <xsd:element name="dtUltimaAlteracao" type="xsd:dateTime" minOccurs="0"/>
							                  <xsd:element name="nmUsuarioAlteracao" type="xsd:string" minOccurs="0"/>
							                </xsd:sequence>
							              </xsd:complexType>
							            </xsd:element>
							          </xsd:sequence>
							        </xsd:complexType>
							      </xsd:element>
				                </xsd:sequence>
				              </xsd:complexType>
				            </xsd:element>
		          </xsd:sequence>
		        </xsd:complexType>
            </xsd:element>
</xsd:schema>