catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/servico/ResultadoBuscarListaTipoServico.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoServico" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="ResultadoBuscarListaTipoServico">
        <xsd:complexType>
          <xsd:sequence>

            <xsd:element name="ListaTipoServico" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="Retorno" minOccurs="0" maxOccurs="unbounded">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="idTipoServico" type="xsd:long"/>
                        <xsd:element name="cdTipoServico" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="dscTipoServico" type="xsd:string" minOccurs="0"/>

                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    </xsd:schema>