catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/servico/ServicoSecurity.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<s1:definitions name="Servico" targetNamespace="http://www.vivo.com.br/SN/CatalogoServico" xmlns:s0="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:s1="http://schemas.xmlsoap.org/wsdl/" xmlns:s2="http://www.vivo.com.br/MC/Geral" xmlns:s3="http://www.vivo.com.br/SN/CatalogoServico" xmlns:s4="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
  <wsp:UsingPolicy s1:Required="true"/>
  <wsp:Policy s0:Id="encrypt-custom-body-element-and-username-token">
    <wssp:Identity xmlns:wssp="http://www.bea.com/wls90/security/policy">
      <wssp:SupportedTokens>
        <wssp:SecurityToken TokenType="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#UsernameToken">
          <wssp:UsePassword Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText"/>
        </wssp:SecurityToken>
      </wssp:SupportedTokens>
    </wssp:Identity>
  </wsp:Policy>
  <s1:types>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoServico" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoServico" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoServico" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/MC/Geral" schemaLocation="CabecalhoVivo.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoServico" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoServico" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoServico" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/MC/Geral" schemaLocation="ErroInfo.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoServico" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoServico" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoServico" schemaLocation="ParametrosBuscarListaServico.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoServico" schemaLocation="ResultadoBuscarListaServico.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoServico" schemaLocation="ParametrosBuscarListaAtributoPorIdServico.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoServico" schemaLocation="ResultadoBuscarListaAtributoPorIdServico.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoServico" schemaLocation="ParametrosBuscarDetalhesServicoPorIdPlano.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoServico" schemaLocation="ParametrosBuscarDetalhesServico.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoServico" schemaLocation="ResultadoBuscarDetalhesServico.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoServico" schemaLocation="ResultadoBuscarDetalhesServicoPorIdPlano.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoServico" schemaLocation="ParametrosExportarServico.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoServico" schemaLocation="ResultadoExportarServico.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoServico" schemaLocation="ParametrosBuscarListaServicoTarifaPorIdServico.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoServico" schemaLocation="ResultadoBuscarListaServicoTarifaPorIdServico.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoServico" schemaLocation="ResultadoBuscarListaRestricoesPorServico.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoServico" schemaLocation="ParametrosBuscarListaRestricoesPorServico.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoServico" schemaLocation="ParametrosValidarListaServicoPorId.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoServico" schemaLocation="ResultadoBuscarListaServicoPendValidacao.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoServico" schemaLocation="ResultadoBuscarListaQtdeMaxAtivacao.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoServico" schemaLocation="ParametrosAlterarServicoParametrizacao.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoServico" schemaLocation="ResultadoAlterarServicoParametrizacao.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoServico" schemaLocation="ParametrosAlterarCategoriaListaServico.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoServico" schemaLocation="ResultadoBuscarListaServicoParametrizacao.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoServico" schemaLocation="ParametrosBuscarListaServicoParametrizacao.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoServico" schemaLocation="ResultadoBuscarListaTipoServico.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoServico" schemaLocation="ParametrosBuscarListaServicoPorSvTypeCode.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoServico" schemaLocation="ResultadoBuscarListaServicoPorSvTypeCode.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoServico" schemaLocation="ParametrosBuscarListaServicoParametrizacaoSemPag.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoServico" schemaLocation="ResultadoBuscarListaServicoParametrizacaoSemPag.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoServico" schemaLocation="ParametroAlterarAtivacaoWiFi.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoServico" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoServico" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoServico" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="buscarListaServicoParametrizacaoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaServicoParametrizacao"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaServicoParametrizacaoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaServicoParametrizacao"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarServicoParametrizacaoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosAlterarServicoParametrizacao"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarServicoParametrizacaoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoAlterarServicoParametrizacao"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarCategoriaListaServicoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosAlterarCategoriaListaServico"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarCategoriaListaServicoResponse">
        <xsd:complexType>
          <xsd:sequence>
					</xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaQtdeMaxAtivacaoRequest">
        <xsd:complexType>
          <xsd:sequence>
					</xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaQtdeMaxAtivacaoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaQtdeMaxAtivacao"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaServicoPendValidacaoRequest">
        <xsd:complexType>
          <xsd:sequence>
					</xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaServicoPendValidacaoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaServicoPendValidacao"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="validarListaServicoPorIdRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosValidarListaServicoPorId"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="validarListaServicoPorIdResponse">
        <xsd:complexType>
          <xsd:sequence>
					</xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="exportarServicoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosExportarServico"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="exportarServicoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoExportarServico"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaServicoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosListarServico"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaServicoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="tns:ResultadoBuscarListaServico"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaRestricoesPorServicoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaRestricoesPorServico"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaRestricoesPorServicoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="tns:ResultadoRestricoesPorServico"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaServicoTarifaPorIdServicoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaServicoTarifaPorIdServico"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaServicoTarifaPorIdServicoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="tns:ResultadoBuscarListaServicoTarifaPorIdServico"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaAtributoPorIdServicoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaAtributoPorIdServico"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaAtributoPorIdServicoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="tns:ResultadoBuscarListaAtributoPorIdServico"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarDetalhesServicoPorIdPlanoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarDetalhesServicoPorIdPlano"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarDetalhesServicoPorIdPlanoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarDetalhesServicoPorIdPlano"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarDetalhesServicoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarDetalhesServico"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarDetalhesServicoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="tns:ResultadoBuscarDetalhesServico"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaTipoServicoRequest">
        <xsd:complexType>
          <xsd:sequence>
					</xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaTipoServicoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaTipoServico"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaServicoPorSvTypeCodeRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaServicoPorTypeCode"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaServicoPorSvTypeCodeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaServicoPorSvTypeCode"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaServicoParametrizacaoSemPagRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaServicoParametrizacaoSemPag"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaServicoParametrizacaoSemPagResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaServicoParametrizacaoSemPag"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarAtivacaoWiFiRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParamAlterarAtivacaoWiFi"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarAtivacaoWiFiResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </s1:types>
  <s1:message name="cabecalhoVIVO">
    <s1:part element="s2:cabecalhoVivo" name="cabecalhoVIVO"/>
  </s1:message>
  <s1:message name="erroInfoFault">
    <s1:part element="s2:erroInfo" name="erroInfo"/>
  </s1:message>
  <s1:message name="buscarListaServicoParametrizacaoRequest">
    <s1:part element="s3:buscarListaServicoParametrizacaoRequest" name="buscarListaServicoParametrizacaoRequest"/>
  </s1:message>
  <s1:message name="buscarListaServicoParametrizacaoResponse">
    <s1:part element="s3:buscarListaServicoParametrizacaoResponse" name="buscarListaServicoParametrizacaoResponse"/>
  </s1:message>
  <s1:message name="alterarServicoParametrizacaoRequest">
    <s1:part element="s3:alterarServicoParametrizacaoRequest" name="alterarServicoParametrizacaoRequest"/>
  </s1:message>
  <s1:message name="alterarServicoParametrizacaoResponse">
    <s1:part element="s3:alterarServicoParametrizacaoResponse" name="alterarServicoParametrizacaoResponse"/>
  </s1:message>
  <s1:message name="alterarCategoriaListaServicoRequest">
    <s1:part element="s3:alterarCategoriaListaServicoRequest" name="alterarCategoriaListaServicoRequest"/>
  </s1:message>
  <s1:message name="alterarCategoriaListaServicoResponse">
    <s1:part element="s3:alterarCategoriaListaServicoResponse" name="alterarCategoriaListaServicoResponse"/>
  </s1:message>
  <s1:message name="buscarListaServicoPendValidacaoRequest">
    <s1:part element="s3:buscarListaServicoPendValidacaoRequest" name="buscarListaServicoPendValidacaoRequest"/>
  </s1:message>
  <s1:message name="buscarListaServicoPendValidacaoResponse">
    <s1:part element="s3:buscarListaServicoPendValidacaoResponse" name="buscarListaServicoPendValidacaoResponse"/>
  </s1:message>
  <s1:message name="buscarListaQtdeMaxAtivacaoRequest">
    <s1:part element="s3:buscarListaQtdeMaxAtivacaoRequest" name="buscarListaQtdeMaxAtivacaoRequest"/>
  </s1:message>
  <s1:message name="buscarListaQtdeMaxAtivacaoResponse">
    <s1:part element="s3:buscarListaQtdeMaxAtivacaoResponse" name="buscarListaQtdeMaxAtivacaoResponse"/>
  </s1:message>
  <s1:message name="exportarServicoRequest">
    <s1:part element="s3:exportarServicoRequest" name="exportarServicoRequest"/>
  </s1:message>
  <s1:message name="exportarServicoResponse">
    <s1:part element="s3:exportarServicoResponse" name="exportarServicoResponse"/>
  </s1:message>
  <s1:message name="buscarListaServicoRequest">
    <s1:part element="s3:buscarListaServicoRequest" name="buscarListaServicoRequest"/>
  </s1:message>
  <s1:message name="buscarListaServicoResponse">
    <s1:part element="s3:buscarListaServicoResponse" name="buscarListaServicoResponse"/>
  </s1:message>
  <s1:message name="buscarListaRestricoesPorServicoRequest">
    <s1:part element="s3:buscarListaRestricoesPorServicoRequest" name="buscarListaRestricoesPorServicoRequest"/>
  </s1:message>
  <s1:message name="buscarListaRestricoesPorServicoResponse">
    <s1:part element="s3:buscarListaRestricoesPorServicoResponse" name="buscarListaRestricoesPorServicoResponse"/>
  </s1:message>
  <s1:message name="buscarListaServicoTarifaPorIdServicoRequest">
    <s1:part element="s3:buscarListaServicoTarifaPorIdServicoRequest" name="buscarListaServicoTarifaPorIdServicoRequest"/>
  </s1:message>
  <s1:message name="buscarListaServicoTarifaPorIdServicoResponse">
    <s1:part element="s3:buscarListaServicoTarifaPorIdServicoResponse" name="buscarListaServicoTarifaPorIdServicoResponse"/>
  </s1:message>
  <s1:message name="buscarListaAtributoPorIdServicoRequest">
    <s1:part element="s3:buscarListaAtributoPorIdServicoRequest" name="buscarListaAtributoPorIdServicoRequest"/>
  </s1:message>
  <s1:message name="buscarListaAtributoPorIdServicoResponse">
    <s1:part element="s3:buscarListaAtributoPorIdServicoResponse" name="buscarListaAtributoPorIdServicoResponse"/>
  </s1:message>
  <s1:message name="buscarDetalhesServicoPorIdPlanoRequest">
    <s1:part element="s3:buscarDetalhesServicoPorIdPlanoRequest" name="buscarDetalhesServicoPorIdPlanoRequest"/>
  </s1:message>
  <s1:message name="buscarDetalhesServicoPorIdPlanoResponse">
    <s1:part element="s3:buscarDetalhesServicoPorIdPlanoResponse" name="buscarDetalhesServicoPorIdPlanoResponse"/>
  </s1:message>
  <s1:message name="buscarDetalhesServicoRequest">
    <s1:part element="s3:buscarDetalhesServicoRequest" name="buscarDetalhesServicoRequest"/>
  </s1:message>
  <s1:message name="buscarDetalhesServicoResponse">
    <s1:part element="s3:buscarDetalhesServicoResponse" name="buscarDetalhesServicoResponse"/>
  </s1:message>
  <s1:message name="validarListaServicoPorIdRequest">
    <s1:part element="s3:validarListaServicoPorIdRequest" name="validarListaServicoPorIdRequest"/>
  </s1:message>
  <s1:message name="validarListaServicoPorIdResponse">
    <s1:part element="s3:validarListaServicoPorIdResponse" name="validarListaServicoPorIdResponse"/>
  </s1:message>
  <s1:message name="buscarListaTipoServicoRequest">
    <s1:part element="s3:buscarListaTipoServicoRequest" name="buscarListaTipoServicoRequest"/>
  </s1:message>
  <s1:message name="buscarListaTipoServicoResponse">
    <s1:part element="s3:buscarListaTipoServicoResponse" name="buscarListaTipoServicoResponse"/>
  </s1:message>
  <s1:message name="buscarListaServicoPorSvTypeCodeRequest">
    <s1:part element="s3:buscarListaServicoPorSvTypeCodeRequest" name="buscarListaServicoPorSvTypeCodeRequest"/>
  </s1:message>
  <s1:message name="buscarListaServicoPorSvTypeCodeResponse">
    <s1:part element="s3:buscarListaServicoPorSvTypeCodeResponse" name="buscarListaServicoPorSvTypeCodeResponse"/>
  </s1:message>
  <s1:message name="buscarListaServicoParametrizacaoSemPagRequest">
    <s1:part element="s3:buscarListaServicoParametrizacaoSemPagRequest" name="buscarListaServicoParametrizacaoSemPagRequest"/>
  </s1:message>
  <s1:message name="buscarListaServicoParametrizacaoSemPagResponse">
    <s1:part element="s3:buscarListaServicoParametrizacaoSemPagResponse" name="buscarListaServicoParametrizacaoSemPagResponse"/>
  </s1:message>
  <s1:message name="alterarAtivacaoWiFiRequest">
    <s1:part element="s3:alterarAtivacaoWiFiRequest" name="alterarAtivacaoWiFiRequest"/>
  </s1:message>
  <s1:message name="alterarAtivacaoWiFiResponse">
    <s1:part element="s3:alterarAtivacaoWiFiResponse" name="alterarAtivacaoWiFiResponse"/>
  </s1:message>
  <s1:portType name="ServicoPortType">
    <s1:operation name="buscarListaServicoParametrizacao">
      <s1:input message="s3:buscarListaServicoParametrizacaoRequest"/>
      <s1:output message="s3:buscarListaServicoParametrizacaoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="alterarServicoParametrizacao">
      <s1:input message="s3:alterarServicoParametrizacaoRequest"/>
      <s1:output message="s3:alterarServicoParametrizacaoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="alterarCategoriaListaServico">
      <s1:input message="s3:alterarCategoriaListaServicoRequest"/>
      <s1:output message="s3:alterarCategoriaListaServicoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaQtdeMaxAtivacao">
      <s1:input message="s3:buscarListaQtdeMaxAtivacaoRequest"/>
      <s1:output message="s3:buscarListaQtdeMaxAtivacaoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaServicoPendValidacao">
      <s1:input message="s3:buscarListaServicoPendValidacaoRequest"/>
      <s1:output message="s3:buscarListaServicoPendValidacaoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="exportarServico">
      <s1:input message="s3:exportarServicoRequest"/>
      <s1:output message="s3:exportarServicoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="validarListaServicoPorId">
      <s1:input message="s3:validarListaServicoPorIdRequest"/>
      <s1:output message="s3:validarListaServicoPorIdResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaServico">
      <s1:input message="s3:buscarListaServicoRequest"/>
      <s1:output message="s3:buscarListaServicoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaServicoTarifaPorIdServico">
      <s1:input message="s3:buscarListaServicoTarifaPorIdServicoRequest"/>
      <s1:output message="s3:buscarListaServicoTarifaPorIdServicoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaRestricoesPorServico">
      <s1:input message="s3:buscarListaRestricoesPorServicoRequest"/>
      <s1:output message="s3:buscarListaRestricoesPorServicoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaAtributoPorIdServico">
      <s1:input message="s3:buscarListaAtributoPorIdServicoRequest"/>
      <s1:output message="s3:buscarListaAtributoPorIdServicoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarDetalhesServicoPorIdPlano">
      <s1:input message="s3:buscarDetalhesServicoPorIdPlanoRequest"/>
      <s1:output message="s3:buscarDetalhesServicoPorIdPlanoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarDetalhesServico">
      <s1:input message="s3:buscarDetalhesServicoRequest"/>
      <s1:output message="s3:buscarDetalhesServicoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaTipoServico">
      <s1:input message="s3:buscarListaTipoServicoRequest"/>
      <s1:output message="s3:buscarListaTipoServicoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaServicoPorSvTypeCode">
      <s1:input message="s3:buscarListaServicoPorSvTypeCodeRequest"/>
      <s1:output message="s3:buscarListaServicoPorSvTypeCodeResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaServicoParametrizacaoSemPag">
      <s1:input message="s3:buscarListaServicoParametrizacaoSemPagRequest"/>
      <s1:output message="s3:buscarListaServicoParametrizacaoSemPagResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="alterarAtivacaoWiFi">
      <s1:input message="s3:alterarAtivacaoWiFiRequest"/>
      <s1:output message="s3:alterarAtivacaoWiFiResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
  </s1:portType>
  <s1:binding name="ServicoBinding" type="s3:ServicoPortType">
    <s4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <s1:operation name="buscarListaServicoParametrizacao">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaServicoParametrizacaoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaServicoParametrizacaoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaServicoParametrizacaoSemPag">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaServicoParametrizacaoSemPagRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaServicoParametrizacaoSemPagResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="alterarServicoParametrizacao">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="alterarServicoParametrizacaoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="alterarServicoParametrizacaoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="alterarCategoriaListaServico">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="alterarCategoriaListaServicoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="alterarCategoriaListaServicoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaQtdeMaxAtivacao">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaQtdeMaxAtivacaoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaQtdeMaxAtivacaoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaServicoPendValidacao">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaServicoPendValidacaoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaServicoPendValidacaoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="exportarServico">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="exportarServicoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="exportarServicoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="validarListaServicoPorId">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="validarListaServicoPorIdRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="validarListaServicoPorIdResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaRestricoesPorServico">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaRestricoesPorServicoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaRestricoesPorServicoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaServico">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaServicoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaServicoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaServicoTarifaPorIdServico">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaServicoTarifaPorIdServicoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaServicoTarifaPorIdServicoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaAtributoPorIdServico">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaAtributoPorIdServicoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaAtributoPorIdServicoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarDetalhesServicoPorIdPlano">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarDetalhesServicoPorIdPlanoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarDetalhesServicoPorIdPlanoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarDetalhesServico">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarDetalhesServicoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarDetalhesServicoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaTipoServico">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaTipoServicoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaTipoServicoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaServicoPorSvTypeCode">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaServicoPorSvTypeCodeRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaServicoPorSvTypeCodeResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="alterarAtivacaoWiFi">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="alterarAtivacaoWiFiRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="alterarAtivacaoWiFiResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
  </s1:binding>
  <s1:service name="ServicoSoapService">
    <s1:port binding="s3:ServicoBinding" name="ServicoSoapPort">
      <s4:address location="http://alsb3-soa:80/CatalogoWeb/Servico/Proxy/ServicoSecurity"/>
    </s1:port>
  </s1:service>
</s1:definitions>