catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/formapagamento/CondicaoPagamentoSelecionada.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoFormaPagamento" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element name="CondicaoPagamentoSelecionada">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="idTipoProdutoCondPagto" type="xsd:long"/>
            <xsd:element name="idCondicaoPagamento" type="xsd:long"/>
            <xsd:element name="nmCondicaoPagamento" type="xsd:string" minOccurs="0"/>
            <xsd:element name="dtCriacao" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="nmUsuarioCriacao" type="xsd:string" minOccurs="0"/>
            <xsd:element name="dtUltimaAlteracao" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="nmUsuarioAlteracao" type="xsd:string" minOccurs="0"/>
            <xsd:element name="sgCondicaoPagamento" type="xsd:string" minOccurs="0"/>
            <xsd:element name="qtparcelas" type="xsd:long" minOccurs="0"/>
            <xsd:element name="idFormaPagamento" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
</xsd:schema>