catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/formapagamento/ParamentrosExclusaoFormaCondPagamentoOut.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoFormaPagamento" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		
<xsd:element name="ListaTipoProdutoCondPagtExclusao">
	<xsd:complexType>
		<xsd:sequence>					
			<xsd:element name="TipoProdutoCondPagtoExclusao" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>		
						<xsd:element name="IdTipoProdutoCondPagto" type="xsd:long"/>																				
 			 		</xsd:sequence>
		    	</xsd:complexType>
			</xsd:element>				
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>		
</xsd:schema>