catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/formapagamento/ParamentrosCriacaoFormaPagamentoVlMinimoParcelaOut.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoFormaPagamento" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cat="http://www.vivo.com.br/SN/CatalogoFormaPagamento">
		
<xsd:element name="ListaVlMininoParcelaTipoProdutoPagtCriacao">
	<xsd:complexType>
		<xsd:sequence>					
			<xsd:element name="TipoProdutoFormaPagamentoVlMinimoParcelaCriacao" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>		
						<xsd:element name="IdTipoProduto" type="xsd:long"/>
						<xsd:element name="IdPlataforma" type="xsd:long" minOccurs="0"/>
						<xsd:element name="IdCanal" type="xsd:long" minOccurs="0"/>
						<xsd:element name="IdFormaPagamento" type="xsd:long"/>
						<xsd:element name="VlMinimoParcela" type="xsd:double"/>
 			 		</xsd:sequence>
		    	</xsd:complexType>
			</xsd:element>				
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>		
</xsd:schema>