catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/formapagamento/ResultadoBuscarListaFormaCondPagtoPorTipoProduto.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoFormaPagamento" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cweb="http://www.vivo.com.br/SN/CatalogoFormaPagamento">
<xsd:include schemaLocation="CondicaoPagamentoSelecionada.xsd"/>
<xsd:include schemaLocation="CondicaoPagamento.xsd"/>
<xsd:element name="ResultadoBuscarListaFormaCondPagtoPorTipoProduto">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="FormaPagamento" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="idFormaPagamento" type="xsd:long"/>
                <xsd:element name="nmFormaPagamento" type="xsd:string" minOccurs="0"/>
                <xsd:element name="dtCriacao" type="xsd:dateTime" minOccurs="0"/>
                <xsd:element name="nmUsuarioCriacao" type="xsd:string" minOccurs="0"/>
                <xsd:element name="dtUltimaAlteracao" type="xsd:dateTime" minOccurs="0"/>
                <xsd:element name="nmUsuarioAlteracao" type="xsd:string" minOccurs="0"/>
                <xsd:element name="sgFormaPagamento" type="xsd:string" minOccurs="0"/>
                <xsd:element name="nmTipoProduto" type="xsd:string" minOccurs="0"/>
                <xsd:element name="nmPlataforma" type="xsd:string" minOccurs="0"/>
                <xsd:element name="nmCanal" type="xsd:string" minOccurs="0"/>
                <!-- <xsd:element ref="cop:ListaCondicaoPagamentoSelecionada" minOccurs="0" maxOccurs="unbounded"/> -->
                <xsd:element name="ListaCondicaoPagamentoSelecionada" minOccurs="0" maxOccurs="unbounded">
			        <xsd:complexType>
			          <xsd:sequence>
			            <xsd:element ref="cweb:CondicaoPagamentoSelecionada" minOccurs="0" maxOccurs="unbounded"/>
			          </xsd:sequence>
			        </xsd:complexType>
			      </xsd:element>
                
               <!-- <xsd:element ref="cweb:ListaCondicaoPagamento" minOccurs="0"/>-->
                 <xsd:element name="ListaCondicaoPagamento" minOccurs="0">
			        <xsd:complexType>
			          <xsd:sequence>
			            <xsd:element ref="cweb:CondicaoPagamento" minOccurs="0" maxOccurs="unbounded"/>
			          </xsd:sequence>
			        </xsd:complexType>
			      </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      </xsd:element>
</xsd:schema>