catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/modelo/ListaModelosPorIdModeloOut.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoModelo" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/Frequencia">

      <xsd:element name="ListaModelosPorIdModeloOut">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ModeloPorIdModelo" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="idModelo" type="xsd:long" minOccurs="0"/>
                  <xsd:element name="nmModelo" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="inDisponivel" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="idFabricante" type="xsd:long"/>
                  <xsd:element name="dtCriacao" type="xsd:dateTime" minOccurs="0"/>
                  <xsd:element name="idTipoProduto" type="xsd:long"/>
                  <xsd:element name="nmUsuarioCriacao" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="dtUltimaAlteracao" type="xsd:dateTime" minOccurs="0"/>
                  <xsd:element name="nmUsuarioAlteracao" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="inFimVida" type="xsd:string"/>
                  <xsd:element name="qtdProdutosAfetados" type="xsd:long"/>
                  <xsd:element name="inCaracteristica" type="xsd:string" minOccurs="0"/>
			      <xsd:element name="inMultimidia" type="xsd:string" minOccurs="0"/>
			      <xsd:element name="dsNota" type="xsd:string" minOccurs="0"/>
			      
					<xsd:element name="Link" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="idMultimidiaLink" type="xsd:long" minOccurs="0"/>
								<xsd:element name="nmMultimidiaLink" type="xsd:string" minOccurs="0"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="idCorPadrao" type="xsd:long" minOccurs="0"/>
					
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>