catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/modelo/ListaValorFrequencia.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoModelo" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/Frequencia">
      <xsd:element name="ListaValorFrequencia">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ValorFrequencia" minOccurs="0" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="idTecnologiaTpFrequenciaVl" type="xsd:long" minOccurs="0"/>

                  <xsd:element name="idVlFrequencia" type="xsd:long"/>
                  <xsd:element name="vlFrequencia" type="xsd:long"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>