catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/modelo/ListaProduto.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoModelo" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cweb="http://www.vivo.com.br/SN/CatalogoModelo">
<xsd:include schemaLocation="ListaSistemaProduto.xsd"/>
      <xsd:element name="ListaProduto">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Produto" minOccurs="0" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="idProduto" type="xsd:long"/>
                  <xsd:element name="idFabricante" type="xsd:long" minOccurs="0"/>
                  <xsd:element name="nmUsuariCriacao" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="dtCriacao" type="xsd:dateTime" minOccurs="0"/>
                  <xsd:element name="nmUsuarioAlteracao" type="xsd:string" minOccurs="0"/>

                  <xsd:element name="idGama" type="xsd:long" minOccurs="0"/>
                  <xsd:element name="dtUltimaAlteracao" type="xsd:dateTime" minOccurs="0"/>
                  <xsd:element name="idTipoProduto" type="xsd:long"/>
                  <xsd:element name="idTecnologia" type="xsd:long" minOccurs="0"/>
                  <xsd:element name="dtInicial" type="xsd:dateTime" minOccurs="0"/>
                  <xsd:element name="dtFinal" type="xsd:dateTime" minOccurs="0"/>
                  <xsd:element name="indisponivel" type="xsd:string"/>
                  <xsd:element name="dsProduto" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="dsSap" type="xsd:string" minOccurs="0"/>

                  <xsd:element name="sgClasseAvaliacao" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="nmProduto" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="sgGrupoContabil" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="sgSetorAtividade" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="idProdutoModelo" type="xsd:long"/>
                  <xsd:element name="nmModelo" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="idModelo" type="xsd:long"/>
                  <xsd:element name="inFimVida" type="xsd:string" minOccurs="0" default="N"/>
                  <xsd:element name="nmTipoProduto" type="xsd:string" minOccurs="0"/>

                  <xsd:element name="nmTecnologia" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="nmFabricante" type="xsd:string" minOccurs="0"/>
                  <xsd:element ref="cweb:ListaSistemaProduto" minOccurs="0"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    </xsd:schema>