catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/modelo/ListaTipoFrequencia.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoModelo" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:vlf="http://www.vivo.com.br/SN/CatalogoModelo" xmlns:tns="http://www.example.org/Frequencia">
      <xsd:include schemaLocation="ListaValorFrequencia.xsd"/>
      <xsd:element name="ListaTipoFrequencia">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="TipoFrequencia" minOccurs="0" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="idTecnologiaTpFrequencia" type="xsd:long" minOccurs="0"/>
                  <xsd:element name="idTipoFrequencia" type="xsd:long"/>

                  <xsd:element name="nmTipoFrequencia" type="xsd:string"/>
                  <xsd:element name="dtCriacao" type="xsd:dateTime" minOccurs="0"/>
                  <xsd:element name="nmUsuarioCriacao" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="dtUltimaAlteracao" type="xsd:dateTime" minOccurs="0"/>
                  <xsd:element name="nmUsuarioAlteracao" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="qtFrequencia" type="xsd:integer" minOccurs="0"/>
                  <xsd:element ref="vlf:ListaValorFrequencia"/>
                </xsd:sequence>
              </xsd:complexType>

            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>