catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/modelo/ListaModeloTecnologia.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoModelo" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/Frequencia">

      <xsd:element name="ListaModeloTecnologia">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ModeloTecnologia" minOccurs="0" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="idModeloTecn" type="xsd:long"/>
                  <xsd:element name="idModelo" type="xsd:long"/>
                  <xsd:element name="idTecnologia" type="xsd:long"/>

                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>