catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/modelo/Modelo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoModelo" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cweb="http://www.vivo.com.br/SN/CatalogoModelo">
 <xsd:include schemaLocation="Fabricante.xsd"/>
<xsd:include schemaLocation="TipoProduto.xsd"/>
<xsd:include schemaLocation="ListaMultimidia.xsd"/>
<xsd:include schemaLocation="ListaProduto.xsd"/>
<xsd:include schemaLocation="ListaModeloTecnologia.xsd"/>
<xsd:include schemaLocation="ListaModeloVariaveis.xsd"/>
<xsd:include schemaLocation="ListaTecnologia.xsd"/>
      <xsd:element name="Modelo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="idModelo" type="xsd:long"/>
            <xsd:element name="nmModelo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="indisponivel" type="xsd:string" minOccurs="0"/>
            <xsd:element name="idFabricante" type="xsd:long"/>
            <xsd:element name="dtCriacao" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="idTipoProduto" type="xsd:long"/>
            <xsd:element name="nmUsuarioCriacao" type="xsd:string" minOccurs="0"/>
            <xsd:element name="dtUltimaAlteracao" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="nmUsuarioAlteracao" type="xsd:string" minOccurs="0"/>
            <xsd:element name="inFimVida" type="xsd:string"/>
            <xsd:element ref="cweb:Fabricante" minOccurs="0"/>
            <xsd:element ref="cweb:TipoProduto" minOccurs="0"/>
            <xsd:element ref="cweb:ListaMultimidia" minOccurs="0"/>
            <xsd:element ref="cweb:ListaProduto" minOccurs="0"/>
            <xsd:element ref="cweb:ListaModeloTecnologia" minOccurs="0"/>
            <xsd:element ref="cweb:ListaTecnologia" minOccurs="0"/>
            <xsd:element ref="cweb:ListaModeloVariaveis" minOccurs="0"/>
            <xsd:element name="ListaCores" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Cor" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="idCor" type="xsd:long"/>
									<xsd:element name="nmCor" type="xsd:string"/>
									<xsd:element name="rgb" type="xsd:string"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>