catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/modelo/ModeloSecurity.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<s1:definitions name="Modelo" targetNamespace="http://www.vivo.com.br/SN/CatalogoModelo" xmlns:s0="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:s1="http://schemas.xmlsoap.org/wsdl/" xmlns:s2="http://www.vivo.com.br/MC/Geral" xmlns:s3="http://www.vivo.com.br/SN/CatalogoModelo" xmlns:s4="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
  <wsp:UsingPolicy s1:Required="true"/>
  <wsp:Policy s0:Id="encrypt-custom-body-element-and-username-token">
    <wssp:Identity xmlns:wssp="http://www.bea.com/wls90/security/policy">
      <wssp:SupportedTokens>
        <wssp:SecurityToken TokenType="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#UsernameToken">
          <wssp:UsePassword Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText"/>
        </wssp:SecurityToken>
      </wssp:SupportedTokens>
    </wssp:Identity>
  </wsp:Policy>
  <s1:types>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoModelo" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoModelo" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoModelo" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/MC/Geral" schemaLocation="CabecalhoVivo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/MC/Geral" schemaLocation="ErroInfo.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoModelo" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoModelo" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModelo" schemaLocation="ParametrosBuscarListaModeloPorTipoProdutoFabricante.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModelo" schemaLocation="ResultadoBuscarListaModeloPorTipoProdutoFabricante.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModelo" schemaLocation="ParametrosBuscarModeloListaTecnologiaTipoFrequenciaValorFrequencia.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModelo" schemaLocation="ResultadoBuscarModeloListaTecnologiaTipoFrequenciaValorFrequencia.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModelo" schemaLocation="ParametrosDisponibilizarModelo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModelo" schemaLocation="ParametrosBuscarDetalhesModelo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModelo" schemaLocation="ResultadoBuscarDetalhesModelo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModelo" schemaLocation="ParametrosBuscarListaModelo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModelo" schemaLocation="ResultadoBuscarModeloPorId.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModelo" schemaLocation="ParametrosBuscarListaModelo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModelo" schemaLocation="ResultadoBuscarListaModelo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModelo" schemaLocation="ParametrosBuscarListaModeloDispComFabricante.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModelo" schemaLocation="ResultadoBuscarListaModeloDispComFabricante.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModelo" schemaLocation="ParametrosBuscarListaRestricoesModelo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModelo" schemaLocation="ResultadoBuscarListaRestricoesModelo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModelo" schemaLocation="ParametrosBuscarListaCaracteristicaProdutoModelo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModelo" schemaLocation="ResultadoBuscarListaCaracteristicaProdutoModelo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModelo" schemaLocation="ParametrosBuscarModeloPorId.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModelo" schemaLocation="ResultadoBuscarModeloPorId.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModelo" schemaLocation="ParametrosCriarModelo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModelo" schemaLocation="ResultadoCriarModelo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModelo" schemaLocation="ParametrosAlterarModelo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModelo" schemaLocation="ParametrosBuscarModeloPorTecnologiaTpFrequenciaVl.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModelo" schemaLocation="ResultadoBuscarModeloPorTecnologiaTpFrequenciaVl.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModelo" schemaLocation="ParametrosExcluirListaModelo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModelo" schemaLocation="ParametrosAlterarModeloCaracteristica.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModelo" schemaLocation="ParametrosAssociarModeloCaracteristica.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModelo" schemaLocation="ParametrosAlterarFimVidaModelo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModelo" schemaLocation="ParametrosBuscarListaModeloPorValorFrequencia.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModelo" schemaLocation="ResultadoBuscarListaModeloPorValorFrequencia.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModelo" schemaLocation="ParametrosExportarModelo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModelo" schemaLocation="ParametrosExportarRestricoesModelo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModelo" schemaLocation="ResultadoExportarModelo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModelo" schemaLocation="ResultadoExportarRestricoesModelo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModelo" schemaLocation="ParametrosBuscarListaCaracteristicaDispProdutoModelo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModelo" schemaLocation="ResultadoBuscarListaCaracteristicaDispProdutoModelo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModelo" schemaLocation="ParametrosModeloPorId.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModelo" schemaLocation="ResultadoModeloPorId.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoModelo" schemaLocation="ParametrosUpdateGrupoProduto.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoModelo" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoModelo" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoModelo" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="updateGrupoProdutoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParamUpdateGrupoProduto"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateGrupoProdutoResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoModelo" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoModelo" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoModelo" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="buscarListaCaracteristicaDispProdutoModeloRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaCaracteristicaDispProdutoModelo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaCaracteristicaDispProdutoModeloResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaCaracteristicaDispProdutoModelo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarGrupoProdutoPorIdRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:BuscarModeloPorId"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarGrupoProdutoPorIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoModeloPorId"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="exportarModeloRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosExportarModelo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="exportarModeloResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoExportarModelo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="exportarRestricoesModeloRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosExportarRestricoesModelo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="exportarRestricoesModeloResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoExportarRestricoesModelo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaModeloPorTecnologiaTpFrequenciaVlRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaModeloPorTecnologiaTpFrequenciaVl"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaModeloPorTecnologiaTpFrequenciaVlResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaModeloPorTecnologiaTpFrequenciaVl"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaModeloPorTipoProdutoFabricanteRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaModeloPorTipoProdutoFabricante"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaModeloPorTipoProdutoFabricanteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaModeloPorTipoProdutoFabricante"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarModeloListaTecnologiaTipoFrequenciaValorFrequenciaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarModeloListaTecnologiaTipoFrequenciaValorFrequencia"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarModeloListaTecnologiaTipoFrequenciaValorFrequenciaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarModeloListaTecnologiaTipoFrequenciaValorFrequencia"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="disponibilizarModeloRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosDisponibilizarModelo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="disponibilizarModeloResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarDetalhesModeloRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarDetalhesModelo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarDetalhesModeloResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarDetalhesModelo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaModeloRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaModelo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaModeloResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaModelo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaModeloDispComFabricanteRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaModeloDispComFabricante"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaModeloDispComFabricanteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaModeloDispComFabricante"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaRestricoesModeloRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaRestricoesModelo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaRestricoesModeloResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaRestricoesModelo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaCaracteristicaProdutoModeloRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaCaracteristicaProdutoModelo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaCaracteristicaProdutoModeloResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaCaracteristicaProdutoModelo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarModeloPorIdRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarModeloPorId"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarModeloPorIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarModeloPorId"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="criarModeloRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosCriarModelo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="criarModeloResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoCriarModelo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarModeloRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosAlterarModelo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarModeloResponse" type="xsd:anyType"/>
      <xsd:element name="buscarModeloPorTecnologiaTpFrequenciaVlRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarModeloPorTecnologiaTpFrequenciaVl"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarModeloPorTecnologiaTpFrequenciaVlResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarModeloPorTecnologiaTpFrequenciaVl"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="excluirListaModeloRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosExcluirListaModelo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="excluirListaModeloResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarModeloCaracteristicaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosAlterarModeloCaracteristica"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarModeloCaracteristicaResponse" type="xsd:anyType"/>
      <xsd:element name="associarModeloCaracteristicaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosAssociarModeloCaracteristica"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="associarModeloCaracteristicaResponse" type="xsd:anyType"/>
      <xsd:element name="alterarFimVidaModeloRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosAlterarFimVidaModelo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarFimVidaModeloResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </s1:types>
  <s1:message name="cabecalhoVIVO">
    <s1:part element="s2:cabecalhoVivo" name="cabecalhoVIVO"/>
  </s1:message>
  <s1:message name="erroInfoFault">
    <s1:part element="s2:erroInfo" name="erroInfo"/>
  </s1:message>
  <s1:message name="updateGrupoProdutoRequest">
    <s1:part element="s3:updateGrupoProdutoRequest" name="updateGrupoProdutoRequest"/>
  </s1:message>
  <s1:message name="updateGrupoProdutoResponse">
    <s1:part element="s3:updateGrupoProdutoResponse" name="updateGrupoProdutoResponse"/>
  </s1:message>
  <s1:message name="buscarListaCaracteristicaDispProdutoModeloRequest">
    <s1:part element="s3:buscarListaCaracteristicaDispProdutoModeloRequest" name="buscarListaCaracteristicaDispProdutoModeloRequest"/>
  </s1:message>
  <s1:message name="buscarListaCaracteristicaDispProdutoModeloResponse">
    <s1:part element="s3:buscarListaCaracteristicaDispProdutoModeloResponse" name="buscarListaCaracteristicaDispProdutoModeloResponse"/>
  </s1:message>
  <s1:message name="buscarGrupoProdutoPorIdRequest">
    <s1:part element="s3:buscarGrupoProdutoPorIdRequest" name="buscarGrupoProdutoPorIdRequest"/>
  </s1:message>
  <s1:message name="buscarGrupoProdutoPorIdResponse">
    <s1:part element="s3:buscarGrupoProdutoPorIdResponse" name="buscarGrupoProdutoPorIdResponse"/>
  </s1:message>
  <s1:message name="exportarModeloRequest">
    <s1:part element="s3:exportarModeloRequest" name="exportarModeloRequest"/>
  </s1:message>
  <s1:message name="exportarModeloResponse">
    <s1:part element="s3:exportarModeloResponse" name="exportarModeloResponse"/>
  </s1:message>
  <s1:message name="exportarRestricoesModeloRequest">
    <s1:part element="s3:exportarRestricoesModeloRequest" name="exportarRestricoesModeloRequest"/>
  </s1:message>
  <s1:message name="exportarRestricoesModeloResponse">
    <s1:part element="s3:exportarRestricoesModeloResponse" name="exportarRestricoesModeloResponse"/>
  </s1:message>
  <s1:message name="buscarListaModeloPorTecnologiaTpFrequenciaVlRequest">
    <s1:part element="s3:buscarListaModeloPorTecnologiaTpFrequenciaVlRequest" name="buscarListaModeloPorTecnologiaTpFrequenciaVlRequest"/>
  </s1:message>
  <s1:message name="buscarListaModeloPorTecnologiaTpFrequenciaVlResponse">
    <s1:part element="s3:buscarListaModeloPorTecnologiaTpFrequenciaVlResponse" name="buscarListaModeloPorTecnologiaTpFrequenciaVlResponse"/>
  </s1:message>
  <s1:message name="buscarListaModeloPorTipoProdutoFabricanteRequest">
    <s1:part element="s3:buscarListaModeloPorTipoProdutoFabricanteRequest" name="buscarListaModeloPorTipoProdutoFabricanteRequest"/>
  </s1:message>
  <s1:message name="buscarListaModeloPorTipoProdutoFabricanteResponse">
    <s1:part element="s3:buscarListaModeloPorTipoProdutoFabricanteResponse" name="buscarListaModeloPorTipoProdutoFabricanteResponse"/>
  </s1:message>
  <s1:message name="buscarModeloListaTecnologiaTipoFrequenciaValorFrequenciaRequest">
    <s1:part element="s3:buscarModeloListaTecnologiaTipoFrequenciaValorFrequenciaRequest" name="buscarModeloListaTecnologiaTipoFrequenciaValorFrequenciaRequest"/>
  </s1:message>
  <s1:message name="buscarModeloListaTecnologiaTipoFrequenciaValorFrequenciaResponse">
    <s1:part element="s3:buscarModeloListaTecnologiaTipoFrequenciaValorFrequenciaResponse" name="buscarModeloListaTecnologiaTipoFrequenciaValorFrequenciaResponse"/>
  </s1:message>
  <s1:message name="disponibilizarModeloRequest">
    <s1:part element="s3:disponibilizarModeloRequest" name="disponibilizarModeloRequest"/>
  </s1:message>
  <s1:message name="disponibilizarModeloResponse">
    <s1:part element="s3:disponibilizarModeloResponse" name="disponibilizarModeloResponse"/>
  </s1:message>
  <s1:message name="buscarDetalhesModeloRequest">
    <s1:part element="s3:buscarDetalhesModeloRequest" name="buscarDetalhesModeloRequest"/>
  </s1:message>
  <s1:message name="buscarDetalhesModeloResponse">
    <s1:part element="s3:buscarDetalhesModeloResponse" name="buscarDetalhesModeloResponse"/>
  </s1:message>
  <s1:message name="buscarListaModeloRequest">
    <s1:part element="s3:buscarListaModeloRequest" name="buscarListaModeloRequest"/>
  </s1:message>
  <s1:message name="buscarListaModeloResponse">
    <s1:part element="s3:buscarListaModeloResponse" name="buscarListaModeloResponse"/>
  </s1:message>
  <s1:message name="buscarListaModeloDispComFabricanteRequest">
    <s1:part element="s3:buscarListaModeloDispComFabricanteRequest" name="buscarListaModeloDispComFabricanteRequest"/>
  </s1:message>
  <s1:message name="buscarListaModeloDispComFabricanteResponse">
    <s1:part element="s3:buscarListaModeloDispComFabricanteResponse" name="buscarListaModeloDispComFabricanteResponse"/>
  </s1:message>
  <s1:message name="buscarListaRestricoesModeloRequest">
    <s1:part element="s3:buscarListaRestricoesModeloRequest" name="buscarListaRestricoesModeloRequest"/>
  </s1:message>
  <s1:message name="buscarListaRestricoesModeloResponse">
    <s1:part element="s3:buscarListaRestricoesModeloResponse" name="buscarListaRestricoesModeloResponse"/>
  </s1:message>
  <s1:message name="buscarListaCaracteristicaProdutoModeloRequest">
    <s1:part element="s3:buscarListaCaracteristicaProdutoModeloRequest" name="buscarListaCaracteristicaProdutoModeloRequest"/>
  </s1:message>
  <s1:message name="buscarListaCaracteristicaProdutoModeloResponse">
    <s1:part element="s3:buscarListaCaracteristicaProdutoModeloResponse" name="buscarListaCaracteristicaProdutoModeloResponse"/>
  </s1:message>
  <s1:message name="buscarModeloPorIdRequest">
    <s1:part element="s3:buscarModeloPorIdRequest" name="buscarModeloPorIdRequest"/>
  </s1:message>
  <s1:message name="buscarModeloPorIdResponse">
    <s1:part element="s3:buscarModeloPorIdResponse" name="buscarModeloPorIdResponse"/>
  </s1:message>
  <s1:message name="alterarModeloRequest">
    <s1:part element="s3:alterarModeloRequest" name="alterarModeloRequest"/>
  </s1:message>
  <s1:message name="alterarModeloResponse">
    <s1:part element="s3:alterarModeloResponse" name="alterarModeloResponse"/>
  </s1:message>
  <s1:message name="criarModeloRequest">
    <s1:part element="s3:criarModeloRequest" name="criarModeloRequest"/>
  </s1:message>
  <s1:message name="criarModeloResponse">
    <s1:part element="s3:criarModeloResponse" name="criarModeloResponse"/>
  </s1:message>
  <s1:message name="buscarModeloPorTecnologiaTpFrequenciaVlRequest">
    <s1:part element="s3:buscarModeloPorTecnologiaTpFrequenciaVlRequest" name="buscarModeloPorTecnologiaTpFrequenciaVlRequest"/>
  </s1:message>
  <s1:message name="buscarModeloPorTecnologiaTpFrequenciaVlResponse">
    <s1:part element="s3:buscarModeloPorTecnologiaTpFrequenciaVlResponse" name="buscarModeloPorTecnologiaTpFrequenciaVlResponse"/>
  </s1:message>
  <s1:message name="excluirListaModeloRequest">
    <s1:part element="s3:excluirListaModeloRequest" name="excluirListaModeloRequest"/>
  </s1:message>
  <s1:message name="excluirListaModeloResponse">
    <s1:part element="s3:excluirListaModeloResponse" name="excluirListaModeloResponse"/>
  </s1:message>
  <s1:message name="associarModeloCaracteristicaRequest">
    <s1:part element="s3:associarModeloCaracteristicaRequest" name="associarModeloCaracteristicaRequest"/>
  </s1:message>
  <s1:message name="associarModeloCaracteristicaResponse">
    <s1:part element="s3:associarModeloCaracteristicaResponse" name="associarModeloCaracteristicaResponse"/>
  </s1:message>
  <s1:message name="alterarModeloCaracteristicaRequest">
    <s1:part element="s3:alterarModeloCaracteristicaRequest" name="alterarModeloCaracteristicaRequest"/>
  </s1:message>
  <s1:message name="alterarModeloCaracteristicaResponse">
    <s1:part element="s3:alterarModeloCaracteristicaResponse" name="alterarModeloCaracteristicaResponse"/>
  </s1:message>
  <s1:message name="alterarFimVidaModeloRequest">
    <s1:part element="s3:alterarFimVidaModeloRequest" name="alterarFimVidaModeloRequest"/>
  </s1:message>
  <s1:message name="alterarFimVidaModeloResponse">
    <s1:part element="s3:alterarFimVidaModeloResponse" name="alterarFimVidaModeloResponse"/>
  </s1:message>
  <s1:portType name="ModeloPortType">
    <s1:operation name="updateGrupoProduto">
      <s1:input message="s3:updateGrupoProdutoRequest"/>
      <s1:output message="s3:updateGrupoProdutoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaCaracteristicaDispProdutoModelo">
      <s1:input message="s3:buscarListaCaracteristicaDispProdutoModeloRequest"/>
      <s1:output message="s3:buscarListaCaracteristicaDispProdutoModeloResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="exportarModelo">
      <s1:input message="s3:exportarModeloRequest"/>
      <s1:output message="s3:exportarModeloResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="exportarRestricoesModelo">
      <s1:input message="s3:exportarRestricoesModeloRequest"/>
      <s1:output message="s3:exportarRestricoesModeloResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaModeloPorTipoProdutoFabricante">
      <s1:input message="s3:buscarListaModeloPorTipoProdutoFabricanteRequest"/>
      <s1:output message="s3:buscarListaModeloPorTipoProdutoFabricanteResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarGrupoProdutoPorId">
      <s1:input message="s3:buscarGrupoProdutoPorIdRequest"/>
      <s1:output message="s3:buscarGrupoProdutoPorIdResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaModeloPorTecnologiaTpFrequenciaVl">
      <s1:input message="s3:buscarListaModeloPorTecnologiaTpFrequenciaVlRequest"/>
      <s1:output message="s3:buscarListaModeloPorTecnologiaTpFrequenciaVlResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarModeloListaTecnologiaTipoFrequenciaValorFrequencia">
      <s1:input message="s3:buscarModeloListaTecnologiaTipoFrequenciaValorFrequenciaRequest"/>
      <s1:output message="s3:buscarModeloListaTecnologiaTipoFrequenciaValorFrequenciaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="disponibilizarModelo">
      <s1:input message="s3:disponibilizarModeloRequest"/>
      <s1:output message="s3:disponibilizarModeloResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarDetalhesModelo">
      <s1:input message="s3:buscarDetalhesModeloRequest"/>
      <s1:output message="s3:buscarDetalhesModeloResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaModelo">
      <s1:input message="s3:buscarListaModeloRequest"/>
      <s1:output message="s3:buscarListaModeloResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaModeloDispComFabricante">
      <s1:input message="s3:buscarListaModeloDispComFabricanteRequest"/>
      <s1:output message="s3:buscarListaModeloDispComFabricanteResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaRestricoesModelo">
      <s1:input message="s3:buscarListaRestricoesModeloRequest"/>
      <s1:output message="s3:buscarListaRestricoesModeloResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaCaracteristicaProdutoModelo">
      <s1:input message="s3:buscarListaCaracteristicaProdutoModeloRequest"/>
      <s1:output message="s3:buscarListaCaracteristicaProdutoModeloResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarModeloPorId">
      <s1:input message="s3:buscarModeloPorIdRequest"/>
      <s1:output message="s3:buscarModeloPorIdResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="alterarModelo">
      <s1:input message="s3:alterarModeloRequest"/>
      <s1:output message="s3:alterarModeloResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="criarModelo">
      <s1:input message="s3:criarModeloRequest"/>
      <s1:output message="s3:criarModeloResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarModeloPorTecnologiaTpFrequenciaVl">
      <s1:input message="s3:buscarModeloPorTecnologiaTpFrequenciaVlRequest"/>
      <s1:output message="s3:buscarModeloPorTecnologiaTpFrequenciaVlResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="excluirListaModelo">
      <s1:input message="s3:excluirListaModeloRequest"/>
      <s1:output message="s3:excluirListaModeloResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="alterarModeloCaracteristica">
      <s1:input message="s3:alterarModeloCaracteristicaRequest"/>
      <s1:output message="s3:alterarModeloCaracteristicaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="alterarFimVidaModelo">
      <s1:input message="s3:alterarFimVidaModeloRequest"/>
      <s1:output message="s3:alterarFimVidaModeloResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="associarModeloCaracteristica">
      <s1:input message="s3:associarModeloCaracteristicaRequest"/>
      <s1:output message="s3:associarModeloCaracteristicaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
  </s1:portType>
  <s1:binding name="ModeloBinding" type="s3:ModeloPortType">
    <s4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <s1:operation name="updateGrupoProduto">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="updateGrupoProdutoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="updateGrupoProdutoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaCaracteristicaDispProdutoModelo">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaCaracteristicaDispProdutoModeloRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaCaracteristicaDispProdutoModeloResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarGrupoProdutoPorId">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarGrupoProdutoPorIdRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarGrupoProdutoPorIdResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="exportarModelo">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="exportarModeloRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="exportarModeloResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="exportarRestricoesModelo">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="exportarRestricoesModeloRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="exportarRestricoesModeloResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaModeloPorTipoProdutoFabricante">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaModeloPorTipoProdutoFabricanteRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaModeloPorTipoProdutoFabricanteResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaModeloPorTecnologiaTpFrequenciaVl">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaModeloPorTecnologiaTpFrequenciaVlRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaModeloPorTecnologiaTpFrequenciaVlResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarModeloListaTecnologiaTipoFrequenciaValorFrequencia">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarModeloListaTecnologiaTipoFrequenciaValorFrequenciaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarModeloListaTecnologiaTipoFrequenciaValorFrequenciaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="disponibilizarModelo">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="disponibilizarModeloRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="disponibilizarModeloResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarDetalhesModelo">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarDetalhesModeloRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarDetalhesModeloResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaModelo">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaModeloRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaModeloResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaModeloDispComFabricante">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaModeloDispComFabricanteRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaModeloDispComFabricanteResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaRestricoesModelo">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaRestricoesModeloRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaRestricoesModeloResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaCaracteristicaProdutoModelo">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaCaracteristicaProdutoModeloRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaCaracteristicaProdutoModeloResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarModeloPorId">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarModeloPorIdRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarModeloPorIdResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="alterarModelo">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="alterarModeloRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="alterarModeloResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="criarModelo">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="criarModeloRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="criarModeloResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarModeloPorTecnologiaTpFrequenciaVl">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarModeloPorTecnologiaTpFrequenciaVlRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarModeloPorTecnologiaTpFrequenciaVlResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="excluirListaModelo">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="excluirListaModeloRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="excluirListaModeloResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="associarModeloCaracteristica">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="associarModeloCaracteristicaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="associarModeloCaracteristicaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="alterarModeloCaracteristica">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="alterarModeloCaracteristicaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="alterarModeloCaracteristicaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="alterarFimVidaModelo">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="alterarFimVidaModeloRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="alterarFimVidaModeloResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
  </s1:binding>
  <s1:service name="ModeloSoapService">
    <s1:port binding="s3:ModeloBinding" name="ModeloSoapPort">
      <s4:address location="http://alsb3-soa:80/CatalogoWeb/Modelo/Proxy/ModeloSecurity"/>
    </s1:port>
  </s1:service>
</s1:definitions>