catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/modelo/ParametrosExportarRestricoesModelo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoModelo" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cweb="http://www.vivo.com.br/SN/CatalogoModelo">

<xsd:element name="ParametrosExportarRestricoesModelo">
			<xsd:complexType>
				<xsd:sequence>				
						<xsd:element name="idModelo" type="xsd:long" maxOccurs="unbounded"/>
						<xsd:element name="PaginacaoIn">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="itensPorPagina" type="xsd:long"/>
								<xsd:element name="paginaSolicitada" type="xsd:long"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>				
				</xsd:sequence>
			</xsd:complexType>
</xsd:element>

</xsd:schema>