catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/modelo/ParametrosBuscarListaModeloDispComFabricante.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoModelo" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cweb="http://www.vivo.com.br/SN/CatalogoModelo">
<xsd:include schemaLocation="PaginacaoIn.xsd"/>
<xsd:element name="ParametrosBuscarListaModeloDispComFabricante">
<xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="ParametrosModelosDisponiveisComFabricanteIn">
			        <xsd:complexType>
			          <xsd:sequence>
			            <xsd:element ref="cweb:PaginacaoIn"/>
			            <xsd:element name="idTipoProduto" type="xsd:long"/>
			            <xsd:element name="idFabricante" type="xsd:long" minOccurs="0"/>
			            <xsd:element name="idTecnologia" type="xsd:long" minOccurs="0"/>
			          </xsd:sequence>
			        </xsd:complexType>
			      </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
   </xsd:element>
</xsd:schema>