catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/modelo/ParametrosExcluirListaModelo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoModelo" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cweb="http://www.vivo.com.br/SN/CatalogoModelo">
	<xsd:element name="ParametrosExcluirListaModelo">	
		<xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="ListaModeloExclusao">
			        <xsd:complexType>
			          <xsd:sequence>
			            <xsd:element name="ModeloExclusao" minOccurs="0" maxOccurs="unbounded">
			              <xsd:complexType>
			                <xsd:sequence>
			                  <xsd:element name="idModelo" type="xsd:long"/>
			                  <xsd:element name="justificativa" type="xsd:string" minOccurs="0"/>
			                </xsd:sequence>
			              </xsd:complexType>
			            </xsd:element>			
			          </xsd:sequence>
			        </xsd:complexType>
			      </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
	</xsd:element>
</xsd:schema>