catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/modelo/ParametrosAssociarModeloCaracteristica.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoModelo" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cweb="http://www.vivo.com.br/SN/CatalogoModelo">
<xsd:element name="ParametrosAssociarModeloCaracteristica">
  <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="ParametrosAssociarModeloCaracteristica">
			        <xsd:complexType>
			          <xsd:sequence>
			            <xsd:element name="idGrupoProduto" type="xsd:long"/>			
			            <xsd:element name="dtCriacao" type="xsd:dateTime" minOccurs="0"/>
			            <xsd:element name="nmUsuarioCriacao" type="xsd:string" minOccurs="0"/>
			            <xsd:element name="dtUltimaAlteracao" type="xsd:dateTime" minOccurs="0"/>
			            <xsd:element name="nmUsuarioAlteracao" type="xsd:string" minOccurs="0"/>
			            <xsd:element name="ValorCaracteristica" minOccurs="0" maxOccurs="unbounded">
			              <xsd:complexType>
			                <xsd:sequence>
			                  <xsd:element name="idCaracteristica" type="xsd:long"/>
			                  <xsd:element name="idValorCaracteristica" type="xsd:long" minOccurs="0"/>			
			                </xsd:sequence>
			              </xsd:complexType>
			            </xsd:element>
			          </xsd:sequence>
			        </xsd:complexType>
			      </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
</xsd:element>
	
</xsd:schema>