catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/modelo/ParametrosBuscarListaModelo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoModelo" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cweb="http://www.vivo.com.br/SN/CatalogoModelo">
<xsd:include schemaLocation="PaginacaoIn.xsd"/>
<xsd:element name="ParametrosBuscarListaModelo">
<xsd:complexType>
      <xsd:sequence>
       <xsd:element name="ParametrosModeloIn">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="cweb:PaginacaoIn"/>
            <xsd:element name="idTipoProduto" type="xsd:long"/>
            <xsd:element name="idFabricante" type="xsd:long" minOccurs="0"/>
            <xsd:element name="nmModelo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="inicio" type="xsd:string" minOccurs="0"/>
            <xsd:element name="fim" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ListaTecnologia" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="idTecnologia" type="xsd:long" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="ListaCaracteristica" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="idCaracteristica" type="xsd:long" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="ListaValorCaracteristica" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="idValorCaracteristica" type="xsd:long" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
   </xsd:complexType>
   </xsd:element>
</xsd:schema>