catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/modelo/ResultadoBuscarListaRestricoesModelo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoModelo" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cweb="http://www.vivo.com.br/SN/CatalogoModelo">
<xsd:include schemaLocation="PaginacaoOut.xsd"/>
<xsd:element name="ResultadoBuscarListaRestricoesModelo">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="ListaRestricoesModeloOut" minOccurs="0">
			        <xsd:complexType>
			          <xsd:sequence>
			            <xsd:element ref="cweb:PaginacaoOut"/>
			            <xsd:element name="ListaModelo">
			              <xsd:complexType>
			                <xsd:sequence>
			                  <xsd:element name="Modelo" maxOccurs="unbounded" minOccurs="0">
			                    <xsd:complexType>
			                      <xsd:sequence>
			                        <xsd:element name="idModelo" type="xsd:long"/>
			                        <xsd:element name="nmModelo" type="xsd:string" minOccurs="0"/>
			                        <xsd:element name="dtCriacao" type="xsd:dateTime" minOccurs="0"/>
			                        <xsd:element name="idTipoProduto" type="xsd:long"/>			
			                        <xsd:element name="nmUsuarioCriacao" type="xsd:string" minOccurs="0"/>
			                        <xsd:element name="dtUltimaAlteracao" type="xsd:dateTime" minOccurs="0"/>
			                        <xsd:element name="nmUsuarioAlteracao" type="xsd:string" minOccurs="0"/>
			                        <xsd:element name="ModeloRestricoes" minOccurs="0">
			                          <xsd:complexType>
			                            <xsd:sequence>
			                              <xsd:element name="idModelo" type="xsd:long"/>
			                              <xsd:element name="sgCarteira" type="xsd:string"/>
			                              <xsd:element name="sgSegmento" type="xsd:string"/>			                              
			                              <xsd:element name="nmUf" type="xsd:string" minOccurs="0"/>
			                              <xsd:element name="nmCanal" type="xsd:string" minOccurs="0"/>
			                              <xsd:element name="nmTipoCliente" type="xsd:string" minOccurs="0"/>
			                            </xsd:sequence>
			                          </xsd:complexType>
			                        </xsd:element>
			                      </xsd:sequence>
			                    </xsd:complexType>			
			                  </xsd:element>
			                </xsd:sequence>
			              </xsd:complexType>
			            </xsd:element>
			          </xsd:sequence>
			        </xsd:complexType>
      			  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
</xsd:schema>