catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/modelo/ResultadoBuscarDetalhesModelo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoModelo" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cweb="http://www.vivo.com.br/SN/CatalogoModelo">
<xsd:include schemaLocation="ListaCaracteristica.xsd"/>
<xsd:include schemaLocation="ListaSistemaProduto.xsd"/>
<xsd:element name="ResultadoBuscarDetalhesModelo">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="BuscaCaracteristicaCodigoProdutoPorModeloOut" minOccurs="0">
				        <xsd:complexType>				
				          <xsd:sequence>
				          <xsd:element name="Modelo" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>	
										<xsd:element name="nmModelo" type="xsd:string"/>
									</xsd:sequence>
								</xsd:complexType>		
		   				  </xsd:element>
				            <xsd:element ref="cweb:ListaCaracteristica" minOccurs="0"/>
				            <xsd:element ref="cweb:ListaSistemaProduto" minOccurs="0"/>
				          </xsd:sequence>
				        </xsd:complexType>
				      </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
</xsd:schema>