catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/modelo/ResultadoModeloPorId.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoModelo" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cwebPaginacao="http://www.vivo.com.br/SN/CatalogoModelo">
		
	<xsd:element name="ResultadoModeloPorId">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="GrupoProduto" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="idGrupoProduto" type="xsd:long"/>
							<xsd:element name="nmGrupoProduto" type="xsd:string" minOccurs="0"/>
							<xsd:element name="indisponivel" type="xsd:string" minOccurs="0"/>
							<xsd:element name="idFabricante" type="xsd:long"/>
							<xsd:element name="dtCriacao" type="xsd:dateTime" minOccurs="0"/>
							<xsd:element name="idTipoProduto" type="xsd:long"/>
							<xsd:element name="nmUsuarioCriacao" type="xsd:string" minOccurs="0"/>
							<xsd:element name="dtUltimaAlteracao" type="xsd:dateTime" minOccurs="0"/>
							<xsd:element name="nmUsuarioAlteracao" type="xsd:string" minOccurs="0"/>
							<xsd:element name="inFimVida" type="xsd:string"/>							
							<xsd:element name="Fabricante">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="idFabricante" type="xsd:long"/>
										<xsd:element name="nmFabricante" type="xsd:string"/>
										<xsd:element name="dtCriacao" type="xsd:dateTime" minOccurs="0"/>
										<xsd:element name="nmUsuarioCriacao" type="xsd:string" minOccurs="0"/>
										<xsd:element name="dtUltimaAlteracao" type="xsd:dateTime" minOccurs="0"/>
										<xsd:element name="nmUsuarioAlteracao" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="TipoProduto" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="idTipoProduto" type="xsd:long"/>
										<xsd:element name="nmTipoProduto" type="xsd:string"/>
										 <xsd:element name="listaSgTipoProduto">
			                                <xsd:complexType>
			                                    <xsd:sequence>
			                                        <xsd:element name="sgTipoProduto" type="xsd:string" maxOccurs="unbounded"/>
			                                    </xsd:sequence>
			                                </xsd:complexType>
			                            </xsd:element>
										<xsd:element name="dtCriacao" type="xsd:dateTime" minOccurs="0"/>
										<xsd:element name="nmUsuarioCriacao" type="xsd:string" minOccurs="0"/>
										<xsd:element name="nmUsuarioAlteracao" type="xsd:string" minOccurs="0"/>
										<xsd:element name="dtUltimaAlteracao" type="xsd:dateTime" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>					
							</xsd:element>
							<xsd:element name="ListaMultimidia" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Multimidia" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="idMultimidia" type="xsd:long"/>
													<xsd:element name="idGrupoProduto" type="xsd:long" minOccurs="0"/>
													<xsd:element name="dtCriacao" type="xsd:dateTime" minOccurs="0"/>
													<xsd:element name="nmUsuarioCriacao" type="xsd:string" minOccurs="0"/>
													<xsd:element name="dtUltimaAlteracao" type="xsd:dateTime" minOccurs="0"/>
													<xsd:element name="nmUsuarioAlteracao" type="xsd:string" minOccurs="0"/>
													<xsd:element name="nmMultimidia" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ListaProduto" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Produto" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="idProduto" type="xsd:long"/>
													<xsd:element name="idFabricante" type="xsd:long" minOccurs="0"/>
													<xsd:element name="nmUsuariCriacao" type="xsd:string" minOccurs="0"/>
													<xsd:element name="dtCriacao" type="xsd:dateTime" minOccurs="0"/>
													<xsd:element name="nmUsuarioAlteracao" type="xsd:string" minOccurs="0"/>
													<xsd:element name="idGama" type="xsd:long" minOccurs="0"/>
													<xsd:element name="dtUltimaAlteracao" type="xsd:dateTime" minOccurs="0"/>
													<xsd:element name="idTipoProduto" type="xsd:long" minOccurs="0"/>
													<xsd:element name="idTecnologia" type="xsd:long" minOccurs="0"/>
													<xsd:element name="dtInicial" type="xsd:dateTime" minOccurs="0"/>
													<xsd:element name="dtFinal" type="xsd:dateTime" minOccurs="0"/>
													<xsd:element name="indisponivel" type="xsd:string"/>
													<xsd:element name="dsProduto" type="xsd:string" minOccurs="0"/>
													<xsd:element name="dsSap" type="xsd:string" minOccurs="0"/>
													<xsd:element name="sgClasseAvaliacao" type="xsd:string" minOccurs="0"/>
													<xsd:element name="nmProduto" type="xsd:string" minOccurs="0"/>
													<xsd:element name="sgGrupoContabil" type="xsd:string" minOccurs="0"/>
													<xsd:element name="sgSetorAtividade" type="xsd:string" minOccurs="0"/>
													<xsd:element name="idProdutoGrupoProduto" type="xsd:long"/>
													<xsd:element name="nmGrupoProduto" type="xsd:string" minOccurs="0"/>
													<xsd:element name="idGrupoProduto" type="xsd:long"/>							
													<xsd:element name="inFimVida" type="xsd:string" minOccurs="0" default="N"/>							
													<xsd:element name="nmTipoProduto" type="xsd:string" minOccurs="0"/>
													<xsd:element name="nmTecnologia" type="xsd:string" minOccurs="0"/>
													<xsd:element name="nmFabricante" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ListaSistemaProduto" minOccurs="0">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="SistemaProduto" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="idSistema" type="xsd:long"/>
																			<xsd:element name="idSistemaProduto" type="xsd:long"/>
																			<xsd:element name="dtCriacao" type="xsd:dateTime" minOccurs="0"/>
																			<xsd:element name="idProduto" type="xsd:long"/>
																			<xsd:element name="cdCodigo" type="xsd:string"/>
																			<xsd:element name="nmUsuarioCriacao" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="dtUltimaAlteracao" type="xsd:dateTime" minOccurs="0"/>
																			<xsd:element name="nmUsuarioAlteracao" type="xsd:string" minOccurs="0"/>
																			<xsd:element name="nmGama" type="xsd:string" minOccurs="0"/>							
												 						</xsd:sequence>
																	</xsd:complexType>				
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ListaGrupoProdutoTecnologia" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="GrupoProdutoTecnologia" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="idGrupoProdutoTecn" type="xsd:long"/>
													<xsd:element name="idGrupoProduto" type="xsd:long"/>
													<xsd:element name="idTecnologia" type="xsd:long"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ListaTecnologia" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Tecnologia" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="idTecnologia" type="xsd:long"/>
													<xsd:element name="nmTecnologia" type="xsd:string"/>
													<xsd:element name="sgTecnologia" type="xsd:string" minOccurs="0"/>
													<xsd:element name="dtCriacao" type="xsd:dateTime" minOccurs="0"/>
													<xsd:element name="nmUsuarioCriacao" type="xsd:string" minOccurs="0"/>
													<xsd:element name="nmUsuarioAlteracao" type="xsd:string" minOccurs="0"/>
													<xsd:element name="dtUltimaAlteracao" type="xsd:dateTime" minOccurs="0"/>
													<xsd:element name="idTecnologiaPai" type="xsd:long" minOccurs="0"/>
													<xsd:element name="ListaTipoFrequencia" minOccurs="0">
												        <xsd:complexType>
												          <xsd:sequence>
												            <xsd:element name="TipoFrequencia" minOccurs="0" maxOccurs="unbounded">
												              <xsd:complexType>
												                <xsd:sequence>
												                  <xsd:element name="idTecnologiaTpFrequencia" type="xsd:long" minOccurs="0"/>
												                  <xsd:element name="idTipoFrequencia" type="xsd:long"/>
												                  <xsd:element name="nmTipoFrequencia" type="xsd:string"/>
												                  <xsd:element name="dtCriacao" type="xsd:dateTime" minOccurs="0"/>
												                  <xsd:element name="nmUsuarioCriacao" type="xsd:string" minOccurs="0"/>
												                  <xsd:element name="dtUltimaAlteracao" type="xsd:dateTime" minOccurs="0"/>
												                  <xsd:element name="nmUsuarioAlteracao" type="xsd:string" minOccurs="0"/>
												                  <xsd:element name="qtFrequencia" type="xsd:integer" minOccurs="0"/>
												                  <xsd:element name="ListaValorFrequencia">
																		<xsd:complexType>
																			<xsd:sequence>
																				<xsd:element name="ValorFrequencia" minOccurs="0" maxOccurs="unbounded">
																					<xsd:complexType>
																						<xsd:sequence>
																							<xsd:element name="idTecnologiaTpFrequenciaVl" type="xsd:long"/>
																							<xsd:element name="idVlFrequencia" type="xsd:long"/>
																							<xsd:element name="vlFrequencia" type="xsd:long"/>							
																						</xsd:sequence>
																					</xsd:complexType>
																				</xsd:element>
																			</xsd:sequence>
																		</xsd:complexType>
																	</xsd:element>
												                </xsd:sequence>
												              </xsd:complexType>
												            </xsd:element>
												          </xsd:sequence>
												        </xsd:complexType>
												    </xsd:element>
													<xsd:element name="TecnologiaReferencia" minOccurs="0">							
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="idTecnologia" type="xsd:long"/>
																<xsd:element name="nmTecnologia" type="xsd:string"/>
																<xsd:element name="sgTecnologia" type="xsd:string" minOccurs="0"/>
																<xsd:element name="dtCriacao" type="xsd:dateTime" minOccurs="0"/>
																<xsd:element name="nmUsuarioCriacao" type="xsd:string" minOccurs="0"/>
																<xsd:element name="nmUsuarioAlteracao" type="xsd:string" minOccurs="0"/>
																<xsd:element name="dtUltimaAlteracao" type="xsd:dateTime" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ListaGrupoProdutoVariaveis" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="GrupoProdutoVariaveis" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="idGrupoProdutoVariaveis" type="xsd:long"/>
													<xsd:element name="idGrupoProduto" type="xsd:long"/>
													<xsd:element name="idUf" type="xsd:long"/>
													<xsd:element name="idTipoCliente" type="xsd:long"/>
													<xsd:element name="idCanal" type="xsd:long"/>
													<xsd:element name="sgCarteira" type="xsd:string"/>
													<xsd:element name="sgSegmento" type="xsd:string"/>
													<xsd:element name="inDisponivel" type="xsd:string"/>							
													<xsd:element name="nmUf" type="xsd:string" minOccurs="0"/>
													<xsd:element name="nmCanal" type="xsd:string" minOccurs="0"/>
													<xsd:element name="nmTipoCliente" type="xsd:string" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>				
				 </xsd:element>
			</xsd:sequence>		
		</xsd:complexType>
	</xsd:element>
</xsd:schema>