catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/modelo/ResultadoExportarModelo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoModelo" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cweb="http://www.vivo.com.br/SN/CatalogoModelo">

<xsd:element name="ResultadoExportarModelo">
			<xsd:complexType>
				<xsd:sequence>								
					<xsd:element name="Modelo" maxOccurs="unbounded" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="nmGrupoProduto" type="xsd:string" minOccurs="0"/>								
								<xsd:element name="tipoProduto" type="xsd:string" minOccurs="0"/>
								<xsd:element name="fabricante" type="xsd:string" minOccurs="0"/>
								<xsd:element name="inDisponivel" type="xsd:string" minOccurs="0"/>																											
								<xsd:element name="inFimVida" type="xsd:string" minOccurs="0"/>
								<xsd:element name="idGrupoProduto" type="xsd:long" minOccurs="0"/>
								<xsd:element name="qtdImagensAssociadas" type="xsd:long" minOccurs="0"/>
								
								<!-- Lista Tecnologia, TipoFrequencia, ValorFrequencia  -->
								
								<xsd:element name="ListaTecnologiaTpFrequenciaVL" minOccurs="0">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="TecnologiaTpFrequenciaVL" maxOccurs="unbounded">
												<xsd:complexType>
													<xsd:sequence>
														<xsd:element name="tecnologia" type="xsd:string" minOccurs="0"/>
														<xsd:element name="tipoFrequencia" type="xsd:string" minOccurs="0"/>
														<xsd:element name="vlFrequencia" type="xsd:string" minOccurs="0"/>
													</xsd:sequence>
												</xsd:complexType>	
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
								
								<!-- Lista de Produtos associados -->
								
								<xsd:element name="ListaProdutos" minOccurs="0">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="Produto" maxOccurs="unbounded">
												<xsd:complexType>
													<xsd:sequence>
														<xsd:element name="cdCodigo" type="xsd:string" minOccurs="0"/>
														<xsd:element name="nmGama" type="xsd:string" minOccurs="0"/>
													</xsd:sequence>
												</xsd:complexType>	
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
								
								<!-- Lista Caracteristicas -->
								
								<xsd:element name="ListaCaracteristicas" minOccurs="0">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="Caracteristica" maxOccurs="unbounded">
												<xsd:complexType>
													<xsd:sequence>
														<xsd:element name="caracteristica" type="xsd:string" minOccurs="0"/>
														<xsd:element name="inSimulador" type="xsd:string" minOccurs="0"/>
														<xsd:element name="inDisponivel" type="xsd:string" minOccurs="0"/>
														<xsd:element name="valor" type="xsd:string" minOccurs="0"/>
													</xsd:sequence>
												</xsd:complexType>	
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
																																										
						     </xsd:sequence>
				  	     </xsd:complexType>
				     </xsd:element>				
				</xsd:sequence>
			</xsd:complexType>
</xsd:element>

</xsd:schema>