catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/canal/CabecalhoVivo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.vivo.com.br/MC/Geral" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:gr="http://www.vivo.com.br/MC/Geral">

	<xs:complexType name="CabecalhoVivo" final="restriction">
		<xs:sequence>
			<xs:element name="loginUsuario" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="canalAtendimento" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Descricao do canal de atendimento que e enviado
						pelo SCA.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="codigoSessao" minOccurs="0" nillable="true">
				<xs:annotation>
					<xs:documentation>
						Codigo da sessao, codigo unico que identifica
						uma sessao.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="256"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="nomeAplicacao" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
						<xs:enumeration value="Vivo360"/>
						<xs:enumeration value="VivoSolicitacao"/>
						<xs:enumeration value="VivoSCA"/>
						<xs:enumeration value="VivoSigan"/>
						<xs:enumeration value="VivoSPN"/>
						<xs:enumeration value="VivoAtlys"/>
						<xs:enumeration value="VivoNGIN"/>
						<xs:enumeration value="VivoSAP"/>
						<xs:enumeration value="VivoVivonet"/>
						<xs:enumeration value="VivoPP"/>
						<xs:enumeration value="VivoCatalogo"/>
						<xs:enumeration value="VivoGSIM"/>
						<xs:enumeration value="VivoSCC"/>
						<xs:enumeration value="VivoSGP"/>
						<xs:enumeration value="VivoURA"/>
						<xs:enumeration value="VivoGRC"/>
						<xs:enumeration value="VivoRA"/>
						<xs:enumeration value="VivoMediacao"/>
						<xs:enumeration value="VivoAGV"/>
						<xs:enumeration value="VivoPortalFornecedores"/>
						<xs:enumeration value="VivoE-Business"/>
						<xs:enumeration value="VivoVol/Tav"/>
						<xs:enumeration value="VivoLojaVirtual"/>
						<xs:enumeration value="VivoCI"/>
						<xs:enumeration value="VivoGestao"/>
						<xs:enumeration value="VivoContaOnline"/>
						<xs:enumeration value="VivoContWebNacional"/>
						<xs:enumeration value="VivoIntegracao"/>
						<xs:enumeration value="VivoSIM"/>
						<xs:enumeration value="VivoSMS"/>
						<xs:enumeration value="VivoWAP"/>
						<xs:enumeration value="SDP"/>
						<xs:enumeration value="Callidus"/>
						<xs:enumeration value="SistemaNaoMapeado"/>
						<xs:enumeration value="VivoCorp"/>
						<xs:enumeration value="Engenharia"/>
						<xs:enumeration value="VivoIVR"/>
						<xs:enumeration value="VivoGLOBOCOPA"/>
						<xs:enumeration value="VivoVolE"/>
						<xs:enumeration value="CSS"/>
						<xs:enumeration value="SPIC"/>
						<xs:enumeration value="DM"/>
						<xs:enumeration value="VivoHRS"/>
						<xs:enumeration value="VivoPortal"/>
						<xs:enumeration value="VivoSMAP"/>
						<xs:enumeration value="VivoMinutrade"/>
						<xs:enumeration value="VivoConecta"/>
						<xs:enumeration value="VivoCSS"/>	<!-- Elemento criado por Dilmara em 17/11/2011 -->
						<xs:enumeration value="STAR"/>
						<!-- Elemento criado por Gisele em 07/03/2012-->
						<xs:enumeration value="Atis"/>
						<xs:enumeration value="CSO"/>
						<xs:enumeration value="UraTVA"/>
						<xs:enumeration value="UraFixa"/>	
						<!-- Elemento criado por Gisele em 19/04/2012-->
						<xs:enumeration value="SGOE"/>
						<xs:enumeration value="SGOS"/>
						<xs:enumeration value="LojaVirtual"/>
						<!-- Elemento criado por Russo em 02/07/2012-->
						<xs:enumeration value="VivoProcessum"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="token" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="enderecoIP" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="([01]?\d\d?|2[0-4]\d|25[0-5])\.([01]?\d\d?|2[0-4]\d|25[0-5])\.([01]?\d\d?|2[0-4]\d|25[0-5])\.([01]?\d\d?|2[0-4]\d|25[0-5])">
						</xs:pattern>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="codigoFuncionalidade" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Codigo que identifica uma funcionalidade do
						sistema. Exemplos de funcionalidade para o
						sistema Vivo360: Ativacao e desativacao de
						servicos, Migracao para GSM, Migracao para CDMA,
						Troca de aparelho CDMA e GSM, Troca de chip,
						troca de plano e etc.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="dataTransacao" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:dateTime"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="nomeServico" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Nome do servico que foi invocado, exemplo:
						consultaPessoa, consultaLinha, etc.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:annotation>
						<xs:documentation>
							Data e hora da transacao
						</xs:documentation>
					</xs:annotation>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="versao" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Defini a versao do servico que esta sendo
						invocado. O formato da versao deve sempre ser
						99.99
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="\d?\d.\d\d?"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="cabecalhoVivo" type="gr:CabecalhoVivo"/>
</xs:schema>