catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/canal/CanalSecurity.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N2:definitions name="Canal" targetNamespace="http://www.vivo.com.br/SN/CatalogoCanal" xmlns:WL5G3N0="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:WL5G3N1="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N3="http://www.vivo.com.br/MC/Geral" xmlns:WL5G3N4="http://www.vivo.com.br/SN/CatalogoCanal" xmlns:WL5G3N5="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
  <WL5G3N0:Policy WL5G3N1:Id="encrypt-custom-body-element-and-username-token">
    <wssp:Identity xmlns:wssp="http://www.bea.com/wls90/security/policy">
      <wssp:SupportedTokens>
        <wssp:SecurityToken TokenType="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#UsernameToken">
          <wssp:UsePassword Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText"/>
        </wssp:SecurityToken>
      </wssp:SupportedTokens>
    </wssp:Identity>
  </WL5G3N0:Policy>
  <wsp:UsingPolicy WL5G3N2:Required="true"/>
  <WL5G3N2:types>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoCanal" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.vivo.com.br/MC/Geral" xmlns:WL5G3N2="http://www.vivo.com.br/SN/CatalogoCanal" xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:can="http://www.vivo.com.br/SN/CatalogoCanal" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/MC/Geral" schemaLocation="CabecalhoVivo.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoCanal" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.vivo.com.br/MC/Geral" xmlns:WL5G3N2="http://www.vivo.com.br/SN/CatalogoCanal" xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:can="http://www.vivo.com.br/SN/CatalogoCanal" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/MC/Geral" schemaLocation="ErroInfo.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.vivo.com.br/MC/Geral" xmlns:WL5G3N2="http://www.vivo.com.br/SN/CatalogoCanal" xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:can="http://www.vivo.com.br/SN/CatalogoCanal" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoCanal" schemaLocation="ResultadoListaCanal.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoCanal" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.vivo.com.br/MC/Geral" xmlns:WL5G3N2="http://www.vivo.com.br/SN/CatalogoCanal" xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:can="http://www.vivo.com.br/SN/CatalogoCanal" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="buscarListaCanalRequest">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaCanalResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="can:ResultadoListaCanal"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </WL5G3N2:types>
  <WL5G3N2:message name="cabecalhoVIVO">
    <WL5G3N2:part element="WL5G3N3:cabecalhoVivo" name="cabecalhoVIVO"/>
  </WL5G3N2:message>
  <WL5G3N2:message name="erroInfoFault">
    <WL5G3N2:part element="WL5G3N3:erroInfo" name="erroInfo"/>
  </WL5G3N2:message>
  <WL5G3N2:message name="buscarListaCanalRequest">
    <WL5G3N2:part element="WL5G3N4:buscarListaCanalRequest" name="buscarListaCanalRequest"/>
  </WL5G3N2:message>
  <WL5G3N2:message name="buscarListaCanalResponse">
    <WL5G3N2:part element="WL5G3N4:buscarListaCanalResponse" name="buscarListaCanalResponse"/>
  </WL5G3N2:message>
  <WL5G3N2:portType name="CanalPortType">
    <WL5G3N2:operation name="buscarListaCanal">
      <WL5G3N2:input message="WL5G3N4:buscarListaCanalRequest"/>
      <WL5G3N2:output message="WL5G3N4:buscarListaCanalResponse"/>
      <WL5G3N2:fault message="WL5G3N4:erroInfoFault" name="erroInfoFault"/>
    </WL5G3N2:operation>
  </WL5G3N2:portType>
  <WL5G3N2:binding name="CanalBinding" type="WL5G3N4:CanalPortType">
    <WL5G3N5:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N2:operation name="buscarListaCanal">
      <WL5G3N5:operation style="document"/>
      <WL5G3N2:input>
        <WL5G3N5:header message="WL5G3N4:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <WL5G3N5:body parts="buscarListaCanalRequest" use="literal"/>
      </WL5G3N2:input>
      <WL5G3N2:output>
        <WL5G3N5:body parts="buscarListaCanalResponse" use="literal"/>
      </WL5G3N2:output>
      <WL5G3N2:fault name="erroInfoFault">
        <WL5G3N5:fault name="erroInfoFault" use="literal"/>
      </WL5G3N2:fault>
    </WL5G3N2:operation>
  </WL5G3N2:binding>
  <WL5G3N2:service name="CanalService">
    <WL5G3N2:port binding="WL5G3N4:CanalBinding" name="CanalSoapPort">
      <WL5G3N5:address location="http://alsb3-soa:80/CatalogoWeb/Canal/Proxy/CanalSecurity"/>
    </WL5G3N2:port>
  </WL5G3N2:service>
</WL5G3N2:definitions>