catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/canal/ResultadoListaCanal.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoCanal" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:annotation>
    <xsd:documentation>
      <informacaoArquivo>
        Nome do arquivo: ParametrosBuscarErroPadrao.xsd Data de
        criacao/alteracao: 17/07/2008 Analista: Antonio Filho
        E-mail: antonio.filho@altran.com.br
      </informacaoArquivo>
    </xsd:documentation>
  </xsd:annotation>

  <xsd:element name="ResultadoListaCanal">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="Canal">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="idCanal" type="xsd:long"/>
              <xsd:element name="nmCanal" type="xsd:string"/>
              <xsd:element name="indisponivel" type="xsd:string"/>
              <xsd:element minOccurs="0" name="sgCanal" type="xsd:string"/>
              <xsd:element minOccurs="0" name="dtCriacao" type="xsd:dateTime"/>
              <xsd:element minOccurs="0" name="nmUsuarioCriacao" type="xsd:string"/>
              <xsd:element minOccurs="0" name="nmUsuarioAlteracao" type="xsd:string"/>
              <xsd:element minOccurs="0" name="dtUltimaAlteracao" type="xsd:dateTime"/>
              <xsd:element minOccurs="0" name="sgVivoNet" type="xsd:string"/>
            </xsd:sequence>

          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>