URAFOJ6/urafo-xsd/schemas/tuxProxyBE/vo/AtendimentoConsultorVO.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="tuxProxyBE/vo"  xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="tuxProxyBE/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="tuxProxyBE/vo" schemaLocation="AtendimentoConsultorVO.xsd"/>
    <xs:element name="AtendimentoConsultorVO" substitutionGroup="InnerBody">
		<xs:complexType>
			<xs:sequence>
                <xs:element name="nmLoginUsuarioCTI" minOccurs="0" type="xs:string" />              
                <xs:element name="nrLinha" minOccurs="0" type="xs:string" />
                <xs:element name="idAtendimento" minOccurs="0" type="xs:string" />
			</xs:sequence>
		</xs:complexType>    
    </xs:element>
</xs:schema>
