URAFOJ6/urafo-xsd/schemas/tuxProxyBE/vo/DetalhesSaldoItem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="tuxProxyBE/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="tuxProxyBE/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="DetalhesSaldoItem">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="prValidade" type="xs:string"/>
				<xs:element name="saldo" type="xs:string"/>
            <xs:element name="tipoSaldo" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>  
	</xs:element>
</xs:schema>  