URAFOJ6/urafo-xsd/schemas/tuxProxyBE/vo/DetalhesSaldoVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by x (y) -->
<xs:schema targetNamespace="tuxProxyBE/vo"  xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="tuxProxyBE/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="tuxProxyBE/vo" schemaLocation="DetalhesSaldoItem.xsd"/>
	<xs:element name="DetalhesSaldoVO" substitutionGroup="InnerBody">
		<xs:annotation>
			<xs:documentation>Coleção de itens de saldo</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
                <xs:element name="prValidadeReal" type="xs:string" />
                <xs:element name="prValidade" type="xs:string" />
                <xs:element name="cdSeguranca" type="xs:string" />
				<xs:element ref="ns1:DetalhesSaldoItem" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
		
	</xs:element>
</xs:schema>
  