URAFOJ6/urafo-xsd/schemas/tuxProxyBE/vo/EXPIRACAO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="tuxProxyBE/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="tuxProxyBE/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="EXPIRACAO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DATA_EXPIRACAO" type="xs:string"/>
                <xs:element name="QTD_PONTOS" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>  
	</xs:element>
</xs:schema>  