URAFOJ6/urafo-xsd/schemas/tuxProxyBE/vo/LINHA.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema targetNamespace="tuxProxyBE/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="tuxProxyBE/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="LINHA" substitutionGroup="InnerBody">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AREA" type="xs:string"/>
                <xs:element name="NUM_LINHA" type="xs:string" />
                <xs:element name="estadoLinha" type="xs:string"/>
                <xs:element name="tipoLinha" type="xs:string"/>
                <xs:element name="idLinhaTelefonica" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>  
	</xs:element>
</xs:schema>  