URAFOJ6/urafo-xsd/schemas/tuxProxyBE/vo/PlanoVO.xsd

<?xml version="1.0"?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="tuxProxyBE/vo"
	targetNamespace="tuxProxyBE/vo"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified">
    <xs:element name="PlanoVO" substitutionGroup="InnerBody">
    <xs:complexType>
			<xs:sequence>
				<xs:element name="planoAtual" type="xs:string"/>
                <xs:element name="indTarifa" type="xs:string"/>
                <xs:element name="valTarifa" type="xs:string"/>
			</xs:sequence>
    </xs:complexType>
    </xs:element>    
</xs:schema>
