URAFOJ6/urafo-xsd/schemas/tuxProxyBE/vo/ServicosItem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="tuxProxyBE/vo" xmlns:tns="tuxProxyBE/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="ServicosItem" substitutionGroup="InnerBody">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="nome" type="xs:string"/>
                <xs:element name="codigo" type="xs:string"/>
                <xs:element name="descricao" type="xs:string"/>
                <xs:element name="status" type="xs:string"/>
                <xs:element name="validadeInicial" type="xs:string"/>
                <xs:element name="validade" type="xs:string"/>
                <xs:element name="dsURL" type="xs:string"/>                
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>