catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/matrizoferta/MatrizOfertaSecurity.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<s1:definitions name="MatrizOferta" targetNamespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" xmlns:s0="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:s1="http://schemas.xmlsoap.org/wsdl/" xmlns:s2="http://www.vivo.com.br/MC/Geral" xmlns:s3="http://www.vivo.com.br/SN/CatalogoMatrizOferta" xmlns:s4="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
  <wsp:UsingPolicy s1:Required="true"/>
  <wsp:Policy s0:Id="encrypt-custom-body-element-and-username-token">
    <wssp:Identity xmlns:wssp="http://www.bea.com/wls90/security/policy">
      <wssp:SupportedTokens>
        <wssp:SecurityToken TokenType="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#UsernameToken">
          <wssp:UsePassword Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText"/>
        </wssp:SecurityToken>
      </wssp:SupportedTokens>
    </wssp:Identity>
  </wsp:Policy>
  <s1:types>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoMatrizOferta" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoMatrizOferta" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/MC/Geral" schemaLocation="CabecalhoVivo.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoMatrizOferta" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoMatrizOferta" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/MC/Geral" schemaLocation="ErroInfo.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoMatrizOferta" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoMatrizOferta" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" schemaLocation="ParametrosNomeMatriz.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" schemaLocation="ParametrosAlterarItem.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" schemaLocation="ParametrosAssociarVariaveis.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" schemaLocation="ResultadoBuscarListaStatusImportacao.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" schemaLocation="ResultadoListaNomeMatriz.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" schemaLocation="ParametrosBuscarCriticasImportacao.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" schemaLocation="ParametrosBuscarListaResultadoImportacao.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" schemaLocation="ResultadoBuscarCriticasImportacao.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" schemaLocation="ResultadoBuscarListaResultadoImportacao.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" schemaLocation="ParametrosImportarMatrizOfertaArquivo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" schemaLocation="ResultadoImportarMatrizOfertaArquivo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" schemaLocation="ParametrosCriarCabecalho.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" schemaLocation="ResultadoCriarCabecalho.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" schemaLocation="ParametrosAlterarCabecalho.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" schemaLocation="ResultadoAlterarCabecalho.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" schemaLocation="ResultadoBuscarListaTipoMatriz.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" schemaLocation="ParametrosBuscarListaCabecalho.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" schemaLocation="ResultadoBuscarListaCabecalho.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" schemaLocation="ParametrosExcluirCabecalho.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" schemaLocation="ParametrosExcluirVariavel.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" schemaLocation="ParametrosBuscarListaVariaveis.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" schemaLocation="ResultadoBuscarListaVariaveis.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" schemaLocation="ParametrosBuscarListaItens.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" schemaLocation="ResultadoBuscarListaItens.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" schemaLocation="ParametrosImportarMatrizOfertaTipoContrato.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" schemaLocation="ResultadoImportarMatrizOfertaTipoContrato.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" schemaLocation="ResultadoAlterarItem.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" schemaLocation="ParametrosBuscarListaDetalhesImportacao.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" schemaLocation="ResultadoBuscarListaDetalhesImportacao.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" schemaLocation="ParametrosExportarMatrizOfertaArquivoItem.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" schemaLocation="ResultadoExportarMatrizOfertaArquivoItem.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" schemaLocation="ParametrosAlterarItemPreco.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" schemaLocation="ParametrosAlterarItemData.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" schemaLocation="ParametrosBuscarListaNmOfSAPPorMatriz.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" schemaLocation="ResultadoBuscarListaNmOfSAPPorMatriz.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" schemaLocation="ParametrosObterVLAVistaVL10Vezes.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" schemaLocation="ResultadoObterVLAVistaVL10Vezes.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" schemaLocation="ParametrosObterExistenciaItemPreco.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" schemaLocation="ResultadoObterExistenciaItemPreco.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" schemaLocation="ResultadoBuscarIdMatrizOfertaArquivo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" schemaLocation="ParametrosProcessarMatrizOfertaArquivo.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoMatrizOferta" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoMatrizOferta" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="obterExistenciaItemPrecoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosObterExistenciaItemPreco"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="obterExistenciaItemPrecoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoObterExistenciaItemPreco"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="obterVLAVistaVL10VezesRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosObterVLAVistaVL10Vezes"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="obterVLAVistaVL10VezesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoObterVLAVistaVL10Vezes"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarItemDataRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosAlterarItemData"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarItemDataResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarItemPrecoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosAlterarItemPreco"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarItemPrecoResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaDetalhesImportacaoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaDetalhesImportacao"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaDetalhesImportacaoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaDetalhesImportacao"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarCriticasImportacaoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarCriticasImportacao"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarCriticasImportacaoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarCriticasImportacao"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="exportarMatrizOfertaArquivoItemRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosExportarMatrizOfertaArquivoItem"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="exportarMatrizOfertaArquivoItemResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoExportarMatrizOfertaArquivoItem"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaResultadoImportacaoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaResultadoImportacao"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaResultadoImportacaoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaResultadoImportacao"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaNmMatrizRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametroNomeMatriz"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaNmMatrizResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoListaNomeMatriz"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaStatusImportacaoRequest">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaStatusImportacaoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaStatusImportacao"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="importarMatrizOfertaArquivoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosImportarMatrizOfertaArquivo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="importarMatrizOfertaArquivoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoImportarMatrizOfertaArquivo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="criarCabecalhoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosCriarCabecalho"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="criarCabecalhoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoCriarCabecalho"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaTipoMatrizRequest">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaTipoMatrizResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaTipoMatriz"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarCabecalhoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosAlterarCabecalho"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarCabecalhoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoAlterarCabecalho"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="associarVariaveisRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosAssociarVariaveis"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="associarVariaveisResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarItemRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosAlterarItem"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarItemResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoAlterarItem"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaCabecalhoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaCabecalho"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaCabecalhoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaCabecalho"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaVariaveisRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaVariaveis"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaVariaveisResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaVariaveis"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="excluirCabecalhoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosExcluirCabecalho"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="excluirCabecalhoResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="excluirVariaveisRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosExcluirVariavel"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="excluirVariaveisResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaItensRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaItens"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaItensResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaItens"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaNmOfSAPPorMatrizRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaNmOfSAPPorMatriz"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaNmOfSAPPorMatrizResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaNmOfSAPPorMatriz"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="importarMatrizOfertaTipoContratoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosImportarMatrizOfertaTipoContrato"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="importarMatrizOfertaTipoContratoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoImportarMatrizOfertaTipoContrato"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarIdMatrizOfertaArquivoRequest">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarIdMatrizOfertaArquivoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultBuscarIdMatrizOfertaArquivo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="processarMatrizOfertaArquivoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParamProcessarMatrizOfertaArquivo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="processarMatrizOfertaArquivoResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </s1:types>
  <s1:message name="cabecalhoVIVO">
    <s1:part element="s2:cabecalhoVivo" name="cabecalhoVIVO"/>
  </s1:message>
  <s1:message name="erroInfoFault">
    <s1:part element="s2:erroInfo" name="erroInfo"/>
  </s1:message>
  <s1:message name="obterExistenciaItemPrecoRequest">
    <s1:part element="s3:obterExistenciaItemPrecoRequest" name="obterExistenciaItemPrecoRequest"/>
  </s1:message>
  <s1:message name="obterExistenciaItemPrecoResponse">
    <s1:part element="s3:obterExistenciaItemPrecoResponse" name="obterExistenciaItemPrecoResponse"/>
  </s1:message>
  <s1:message name="obterVLAVistaVL10VezesRequest">
    <s1:part element="s3:obterVLAVistaVL10VezesRequest" name="obterVLAVistaVL10VezesRequest"/>
  </s1:message>
  <s1:message name="obterVLAVistaVL10VezesResponse">
    <s1:part element="s3:obterVLAVistaVL10VezesResponse" name="obterVLAVistaVL10VezesResponse"/>
  </s1:message>
  <s1:message name="alterarItemDataRequest">
    <s1:part element="s3:alterarItemDataRequest" name="alterarItemDataRequest"/>
  </s1:message>
  <s1:message name="alterarItemDataResponse">
    <s1:part element="s3:alterarItemDataResponse" name="alterarItemDataResponse"/>
  </s1:message>
  <s1:message name="alterarItemPrecoRequest">
    <s1:part element="s3:alterarItemPrecoRequest" name="alterarItemPrecoRequest"/>
  </s1:message>
  <s1:message name="alterarItemPrecoResponse">
    <s1:part element="s3:alterarItemPrecoResponse" name="alterarItemPrecoResponse"/>
  </s1:message>
  <s1:message name="buscarCriticasImportacaoRequest">
    <s1:part element="s3:buscarCriticasImportacaoRequest" name="buscarCriticasImportacaoRequest"/>
  </s1:message>
  <s1:message name="buscarCriticasImportacaoResponse">
    <s1:part element="s3:buscarCriticasImportacaoResponse" name="buscarCriticasImportacaoResponse"/>
  </s1:message>
  <s1:message name="exportarMatrizOfertaArquivoItemRequest">
    <s1:part element="s3:exportarMatrizOfertaArquivoItemRequest" name="exportarMatrizOfertaArquivoItemRequest"/>
  </s1:message>
  <s1:message name="exportarMatrizOfertaArquivoItemResponse">
    <s1:part element="s3:exportarMatrizOfertaArquivoItemResponse" name="exportarMatrizOfertaArquivoItemResponse"/>
  </s1:message>
  <s1:message name="buscarListaResultadoImportacaoRequest">
    <s1:part element="s3:buscarListaResultadoImportacaoRequest" name="buscarListaResultadoImportacaoRequest"/>
  </s1:message>
  <s1:message name="buscarListaResultadoImportacaoResponse">
    <s1:part element="s3:buscarListaResultadoImportacaoResponse" name="buscarListaResultadoImportacaoResponse"/>
  </s1:message>
  <s1:message name="buscarListaNmMatrizRequest">
    <s1:part element="s3:buscarListaNmMatrizRequest" name="buscarListaNmMatrizRequest"/>
  </s1:message>
  <s1:message name="buscarListaNmMatrizResponse">
    <s1:part element="s3:buscarListaNmMatrizResponse" name="buscarListaNmMatrizResponse"/>
  </s1:message>
  <s1:message name="buscarListaStatusImportacaoRequest">
    <s1:part element="s3:buscarListaStatusImportacaoRequest" name="buscarListaStatusImportacaoRequest"/>
  </s1:message>
  <s1:message name="buscarListaStatusImportacaoResponse">
    <s1:part element="s3:buscarListaStatusImportacaoResponse" name="buscarListaStatusImportacaoResponse"/>
  </s1:message>
  <s1:message name="importarMatrizOfertaArquivoRequest">
    <s1:part element="s3:importarMatrizOfertaArquivoRequest" name="importarMatrizOfertaArquivoRequest"/>
  </s1:message>
  <s1:message name="importarMatrizOfertaArquivoResponse">
    <s1:part element="s3:importarMatrizOfertaArquivoResponse" name="importarMatrizOfertaArquivoResponse"/>
  </s1:message>
  <s1:message name="criarCabecalhoRequest">
    <s1:part element="s3:criarCabecalhoRequest" name="criarCabecalhoRequest"/>
  </s1:message>
  <s1:message name="criarCabecalhoResponse">
    <s1:part element="s3:criarCabecalhoResponse" name="criarCabecalhoResponse"/>
  </s1:message>
  <s1:message name="buscarListaTipoMatrizRequest">
    <s1:part element="s3:buscarListaTipoMatrizRequest" name="buscarListaTipoMatrizRequest"/>
  </s1:message>
  <s1:message name="buscarListaTipoMatrizResponse">
    <s1:part element="s3:buscarListaTipoMatrizResponse" name="buscarListaTipoMatrizResponse"/>
  </s1:message>
  <s1:message name="alterarCabecalhoRequest">
    <s1:part element="s3:alterarCabecalhoRequest" name="alterarCabecalhoRequest"/>
  </s1:message>
  <s1:message name="alterarCabecalhoResponse">
    <s1:part element="s3:alterarCabecalhoResponse" name="alterarCabecalhoResponse"/>
  </s1:message>
  <s1:message name="alterarItemRequest">
    <s1:part element="s3:alterarItemRequest" name="alterarItemRequest"/>
  </s1:message>
  <s1:message name="alterarItemResponse">
    <s1:part element="s3:alterarItemResponse" name="alterarItemResponse"/>
  </s1:message>
  <s1:message name="buscarListaCabecalhoRequest">
    <s1:part element="s3:buscarListaCabecalhoRequest" name="buscarListaCabecalhoRequest"/>
  </s1:message>
  <s1:message name="buscarListaCabecalhoResponse">
    <s1:part element="s3:buscarListaCabecalhoResponse" name="buscarListaCabecalhoResponse"/>
  </s1:message>
  <s1:message name="buscarListaVariaveisRequest">
    <s1:part element="s3:buscarListaVariaveisRequest" name="buscarListaVariaveisRequest"/>
  </s1:message>
  <s1:message name="buscarListaVariaveisResponse">
    <s1:part element="s3:buscarListaVariaveisResponse" name="buscarListaVariaveisResponse"/>
  </s1:message>
  <s1:message name="excluirCabecalhoRequest">
    <s1:part element="s3:excluirCabecalhoRequest" name="excluirCabecalhoRequest"/>
  </s1:message>
  <s1:message name="excluirCabecalhoResponse">
    <s1:part element="s3:excluirCabecalhoResponse" name="excluirCabecalhoResponse"/>
  </s1:message>
  <s1:message name="excluirVariaveisRequest">
    <s1:part element="s3:excluirVariaveisRequest" name="excluirVariaveisRequest"/>
  </s1:message>
  <s1:message name="excluirVariaveisResponse">
    <s1:part element="s3:excluirVariaveisResponse" name="excluirVariaveisResponse"/>
  </s1:message>
  <s1:message name="associarVariaveisRequest">
    <s1:part element="s3:associarVariaveisRequest" name="associarVariaveisRequest"/>
  </s1:message>
  <s1:message name="associarVariaveisResponse">
    <s1:part element="s3:associarVariaveisResponse" name="associarVariaveisResponse"/>
  </s1:message>
  <s1:message name="buscarListaItensRequest">
    <s1:part element="s3:buscarListaItensRequest" name="buscarListaItensRequest"/>
  </s1:message>
  <s1:message name="buscarListaItensResponse">
    <s1:part element="s3:buscarListaItensResponse" name="buscarListaItensResponse"/>
  </s1:message>
  <s1:message name="buscarListaNmOfSAPPorMatrizRequest">
    <s1:part element="s3:buscarListaNmOfSAPPorMatrizRequest" name="buscarListaNmOfSAPPorMatrizRequest"/>
  </s1:message>
  <s1:message name="buscarListaNmOfSAPPorMatrizResponse">
    <s1:part element="s3:buscarListaNmOfSAPPorMatrizResponse" name="buscarListaNmOfSAPPorMatrizResponse"/>
  </s1:message>
  <s1:message name="importarMatrizOfertaTipoContratoRequest">
    <s1:part element="s3:importarMatrizOfertaTipoContratoRequest" name="importarMatrizOfertaTipoContratoRequest"/>
  </s1:message>
  <s1:message name="importarMatrizOfertaTipoContratoResponse">
    <s1:part element="s3:importarMatrizOfertaTipoContratoResponse" name="importarMatrizOfertaTipoContratoResponse"/>
  </s1:message>
  <s1:message name="buscarListaDetalhesImportacaoRequest">
    <s1:part element="s3:buscarListaDetalhesImportacaoRequest" name="buscarListaDetalhesImportacaoRequest"/>
  </s1:message>
  <s1:message name="buscarListaDetalhesImportacaoResponse">
    <s1:part element="s3:buscarListaDetalhesImportacaoResponse" name="buscarListaDetalhesImportacaoResponse"/>
  </s1:message>
  <s1:message name="buscarIdMatrizOfertaArquivoRequest">
    <s1:part element="s3:buscarIdMatrizOfertaArquivoRequest" name="buscarIdMatrizOfertaArquivoRequest"/>
  </s1:message>
  <s1:message name="buscarIdMatrizOfertaArquivoResponse">
    <s1:part element="s3:buscarIdMatrizOfertaArquivoResponse" name="buscarIdMatrizOfertaArquivoResponse"/>
  </s1:message>
  <s1:message name="processarMatrizOfertaArquivoRequest">
    <s1:part element="s3:processarMatrizOfertaArquivoRequest" name="processarMatrizOfertaArquivoRequest"/>
  </s1:message>
  <s1:message name="processarMatrizOfertaArquivoResponse">
    <s1:part element="s3:processarMatrizOfertaArquivoResponse" name="processarMatrizOfertaArquivoResponse"/>
  </s1:message>
  <s1:portType name="MatrizOfertaPortType">
    <s1:operation name="obterExistenciaItemPreco">
      <s1:input message="s3:obterExistenciaItemPrecoRequest"/>
      <s1:output message="s3:obterExistenciaItemPrecoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="obterVLAVistaVL10Vezes">
      <s1:input message="s3:obterVLAVistaVL10VezesRequest"/>
      <s1:output message="s3:obterVLAVistaVL10VezesResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="alterarItemData">
      <s1:input message="s3:alterarItemDataRequest"/>
      <s1:output message="s3:alterarItemDataResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="alterarItemPreco">
      <s1:input message="s3:alterarItemPrecoRequest"/>
      <s1:output message="s3:alterarItemPrecoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarCriticasImportacao">
      <s1:input message="s3:buscarCriticasImportacaoRequest"/>
      <s1:output message="s3:buscarCriticasImportacaoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="exportarMatrizOfertaArquivoItem">
      <s1:input message="s3:exportarMatrizOfertaArquivoItemRequest"/>
      <s1:output message="s3:exportarMatrizOfertaArquivoItemResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaResultadoImportacao">
      <s1:input message="s3:buscarListaResultadoImportacaoRequest"/>
      <s1:output message="s3:buscarListaResultadoImportacaoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaNmMatriz">
      <s1:input message="s3:buscarListaNmMatrizRequest"/>
      <s1:output message="s3:buscarListaNmMatrizResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaStatusImportacao">
      <s1:input message="s3:buscarListaStatusImportacaoRequest"/>
      <s1:output message="s3:buscarListaStatusImportacaoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="importarMatrizOfertaArquivo">
      <s1:input message="s3:importarMatrizOfertaArquivoRequest"/>
      <s1:output message="s3:importarMatrizOfertaArquivoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="criarCabecalho">
      <s1:input message="s3:criarCabecalhoRequest"/>
      <s1:output message="s3:criarCabecalhoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaTipoMatriz">
      <s1:input message="s3:buscarListaTipoMatrizRequest"/>
      <s1:output message="s3:buscarListaTipoMatrizResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="alterarCabecalho">
      <s1:input message="s3:alterarCabecalhoRequest"/>
      <s1:output message="s3:alterarCabecalhoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="alterarItem">
      <s1:input message="s3:alterarItemRequest"/>
      <s1:output message="s3:alterarItemResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaCabecalho">
      <s1:input message="s3:buscarListaCabecalhoRequest"/>
      <s1:output message="s3:buscarListaCabecalhoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaVariaveis">
      <s1:input message="s3:buscarListaVariaveisRequest"/>
      <s1:output message="s3:buscarListaVariaveisResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="excluirCabecalho">
      <s1:input message="s3:excluirCabecalhoRequest"/>
      <s1:output message="s3:excluirCabecalhoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="excluirVariaveis">
      <s1:input message="s3:excluirVariaveisRequest"/>
      <s1:output message="s3:excluirVariaveisResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="associarVariaveis">
      <s1:input message="s3:associarVariaveisRequest"/>
      <s1:output message="s3:associarVariaveisResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaItens">
      <s1:input message="s3:buscarListaItensRequest"/>
      <s1:output message="s3:buscarListaItensResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaNmOfSAPPorMatriz">
      <s1:input message="s3:buscarListaNmOfSAPPorMatrizRequest"/>
      <s1:output message="s3:buscarListaNmOfSAPPorMatrizResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="importarMatrizOfertaTipoContrato">
      <s1:input message="s3:importarMatrizOfertaTipoContratoRequest"/>
      <s1:output message="s3:importarMatrizOfertaTipoContratoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaDetalhesImportacao">
      <s1:input message="s3:buscarListaDetalhesImportacaoRequest"/>
      <s1:output message="s3:buscarListaDetalhesImportacaoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarIdMatrizOfertaArquivo">
      <s1:input message="s3:buscarIdMatrizOfertaArquivoRequest"/>
      <s1:output message="s3:buscarIdMatrizOfertaArquivoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="processarMatrizOfertaArquivo">
      <s1:input message="s3:processarMatrizOfertaArquivoRequest"/>
      <s1:output message="s3:processarMatrizOfertaArquivoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
  </s1:portType>
  <s1:binding name="MatrizOfertaBinding" type="s3:MatrizOfertaPortType">
    <s4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <s1:operation name="obterExistenciaItemPreco">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="obterExistenciaItemPrecoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="obterExistenciaItemPrecoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="obterVLAVistaVL10Vezes">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="obterVLAVistaVL10VezesRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="obterVLAVistaVL10VezesResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="alterarItemData">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="alterarItemDataRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="alterarItemDataResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="alterarItemPreco">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="alterarItemPrecoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="alterarItemPrecoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarCriticasImportacao">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarCriticasImportacaoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarCriticasImportacaoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="exportarMatrizOfertaArquivoItem">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="exportarMatrizOfertaArquivoItemRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="exportarMatrizOfertaArquivoItemResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaDetalhesImportacao">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaDetalhesImportacaoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaDetalhesImportacaoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaResultadoImportacao">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaResultadoImportacaoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaResultadoImportacaoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaNmMatriz">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaNmMatrizRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaNmMatrizResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaStatusImportacao">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaStatusImportacaoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaStatusImportacaoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="importarMatrizOfertaArquivo">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="importarMatrizOfertaArquivoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="importarMatrizOfertaArquivoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="criarCabecalho">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="criarCabecalhoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="criarCabecalhoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaTipoMatriz">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaTipoMatrizRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaTipoMatrizResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="alterarCabecalho">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="alterarCabecalhoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="alterarCabecalhoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="alterarItem">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="alterarItemRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="alterarItemResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaCabecalho">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaCabecalhoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaCabecalhoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaVariaveis">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaVariaveisRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaVariaveisResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="excluirCabecalho">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="excluirCabecalhoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="excluirCabecalhoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="excluirVariaveis">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="excluirVariaveisRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="excluirVariaveisResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="associarVariaveis">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="associarVariaveisRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="associarVariaveisResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaItens">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaItensRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaItensResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaNmOfSAPPorMatriz">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaNmOfSAPPorMatrizRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaNmOfSAPPorMatrizResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="importarMatrizOfertaTipoContrato">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="importarMatrizOfertaTipoContratoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="importarMatrizOfertaTipoContratoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarIdMatrizOfertaArquivo">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarIdMatrizOfertaArquivoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarIdMatrizOfertaArquivoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="processarMatrizOfertaArquivo">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="processarMatrizOfertaArquivoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="processarMatrizOfertaArquivoResponse" use="literal"/>
      </s1:output>
    </s1:operation>
  </s1:binding>
  <s1:service name="MatrizOfertaService">
    <s1:port binding="s3:MatrizOfertaBinding" name="MatrizOfertaSoapPort">
      <s4:address location="http://alsb3-soa:80/CatalogoWeb/MatrizOferta/Proxy/MatrizOfertaSecurity"/>
    </s1:port>
  </s1:service>
</s1:definitions>