catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/matrizoferta/ParametrosExcluirMatrizOfertaItemPreco.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cweb="http://www.vivo.com.br/SN/CatalogoGeral">
	
	<xsd:element name="ParametroExcluirMatrizOfertaItemPreco">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="idMatrizOfertaItemPreco" type="xsd:long"/>
				<xsd:element name="nmUsuario" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>		
</xsd:schema>