catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/matrizoferta/ParametrosAlterarItemPreco.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		
		<xsd:element name="ParametrosAlterarItemPreco">
			<xsd:complexType>
				<xsd:sequence>
					<xsd:element name="idMatrizOfertaItemPreco" type="xsd:long"/>
					<xsd:element name="valor" type="xsd:double"/>
					<xsd:element name="nmUsuarioAlteracao" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
</xsd:schema>