catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/matrizoferta/ParametrosBuscarListaResultadoImportacao.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cweb="http://www.vivo.com.br/SN/CatalogoGeral">
	
	<xsd:import namespace="http://www.vivo.com.br/SN/CatalogoGeral" schemaLocation="PaginacaoIn.xsd"/>
	
	<xsd:element name="ParametrosBuscarListaResultadoImportacao">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="cweb:PaginacaoIn"/>
				<xsd:element name="idStatusArquivoImportacao" type="xsd:long" minOccurs="0"/>
				<xsd:element name="nmArquivo" type="xsd:string" minOccurs="0"/>
				<xsd:element name="userImportacao" type="xsd:string" minOccurs="0"/>
				<xsd:element name="nmMatrizOferta" type="xsd:string" minOccurs="0"/>
				<xsd:element name="dtImportacaoInicial" type="xsd:dateTime" minOccurs="0"/>
				<xsd:element name="dtImportacaoFinal" type="xsd:dateTime" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>