catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/matrizoferta/ParametrosAssociarVariaveis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<xsd:element name="ParametrosAssociarVariaveis">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="idMatrizOferta" type="xsd:long"/>
				<xsd:element name="idTipoCliente" type="xsd:long" minOccurs="0"/>
				<xsd:element name="sgCarteira" type="xsd:string" minOccurs="0"/>
				<xsd:element name="segmento" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
</xsd:schema>