catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/matrizoferta/ParametrosAlterarItem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<xsd:element name="ParametrosAlterarItem">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="idMatrizOfertaItemPreco" type="xsd:long"/>
				<xsd:element name="valor" type="xsd:double"/>
				<xsd:element name="dtInicial" type="xsd:dateTime"/>
				<xsd:element name="dtFinal" type="xsd:dateTime"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>