catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/matrizoferta/ResultadoBuscarListaItens.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cweb="http://www.vivo.com.br/SN/CatalogoGeral">
			
	<xsd:import namespace="http://www.vivo.com.br/SN/CatalogoGeral" schemaLocation="PaginacaoOut.xsd"/>			
	
	<xsd:element name="ResultadoBuscarListaItens">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="cweb:PaginacaoOut"/>
				<xsd:element name="ListaItens">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Itens" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="cdCodigo" type="xsd:string"/>
										<xsd:element name="dsProduto" type="xsd:string"/>
										<xsd:element name="cdOfertaSAP" type="xsd:string"/>
										<xsd:element name="dscOfertaSAP" type="xsd:string"/>
										<xsd:element name="sgUtilizacao" type="xsd:string"/>
										<xsd:element name="sgOrganizacaoVendas" type="xsd:string"/>
										<xsd:element name="codigoArea" type="xsd:long" minOccurs="0"/>
										<xsd:element name="cdAdabas" type="xsd:string" minOccurs="0"/>
										<xsd:element name="nmAcao" type="xsd:string" minOccurs="0"/>
										<xsd:element name="valorBaseAVista" type="xsd:double"/>
										<xsd:element name="valorItemAVista" type="xsd:double"/>
										<xsd:element name="valorChipAVista" type="xsd:double"/>
										<xsd:element name="valorBase" type="xsd:double"/>
										<xsd:element name="valorItem" type="xsd:double"/>
										<xsd:element name="valorChip" type="xsd:double"/>
										<xsd:element name="dtInicial" type="xsd:dateTime"/>
										<xsd:element name="dtFinal" type="xsd:dateTime"/>
										<xsd:element name="idMatrizOfertaItemPreco" type="xsd:long"/>
										<xsd:element name="idCanalDistribuicao" type="xsd:long"/>
										<xsd:element name="idAcao" type="xsd:long" minOccurs="0"/>
										<xsd:element name="idEscritorioVenda" type="xsd:long" minOccurs="0"/>
										<xsd:element name="sgEscritorioVenda" type="xsd:string" minOccurs="0"/>
										<xsd:element name="nmEscritorioVenda" type="xsd:string" minOccurs="0"/>
									</xsd:sequence> 
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>