catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/matrizoferta/ResultadoExportarMatrizOfertaArquivoItem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" xmlns:cweb="http://www.vivo.com.br/SN/CatalogoGeral" elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<xsd:element name="ResultadoExportarMatrizOfertaArquivoItem">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ExportarMatrizOfertaArquivoItem">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="MatrizOfertaArquivoItem" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="idMatrizOfertaArquivoItem" type="xsd:string" minOccurs="0"/>
										<xsd:element name="sgOrganizacaoVendas" type="xsd:string" minOccurs="0"/>
										<xsd:element name="sgMaterial" type="xsd:string" minOccurs="0"/>
										<xsd:element name="sgUtilizacao" type="xsd:string" minOccurs="0"/>
										<xsd:element name="gpClienteUm" type="xsd:string" minOccurs="0"/>
										<xsd:element name="dscPreco" type="xsd:string" minOccurs="0"/>
										<xsd:element name="dtInicial" type="xsd:string" minOccurs="0"/>
										<xsd:element name="dtFinal" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ddd" type="xsd:string" minOccurs="0"/>
										<xsd:element name="sgCanalVendas" type="xsd:string" minOccurs="0"/>
										<xsd:element name="dscCritica" type="xsd:string" minOccurs="0"/>
										<xsd:element name="nmArquivo" type="xsd:string" minOccurs="0"/>
										<xsd:element name="canalDistribuicao" type="xsd:string" minOccurs="0"/>
										<xsd:element name="acao" type="xsd:string" minOccurs="0"/>
										<xsd:element name="sgEscritorioVenda" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>		
		</xsd:complexType>
	</xsd:element>
	
</xsd:schema>