catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/matrizoferta/ResultadoBuscarListaTipoMatriz.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoMatrizOferta" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<xsd:element name="ResultadoBuscarListaTipoMatriz">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ResultadoListaTipoMatriz">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="TipoMatriz" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="idMatrizOfertaTipo" type="xsd:long"/>
										<xsd:element name="nmMatrizOfertaTipo" type="xsd:string"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>