JAVAFOJ6/schemas-xsd/schemas/AbreProtocoloTO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by Vivo (Vivo) -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by vivo (vivo) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="atendimento.fo.vivo.com.br/vo" targetNamespace="atendimento.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="AbreProtocoloTO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="nrProtocolo" type="xs:string" minOccurs="0"/>
				<xs:element name="idTipoAberturaProtocolo" type="xs:string"/>
				<xs:element name="cdAreaRegistro" type="xs:string" minOccurs="0"/>
				<xs:element name="nrTelefone" type="xs:string" minOccurs="0"/>
				<xs:element name="cdAreaRegistroSMS" type="xs:string" minOccurs="0"/>
				<xs:element name="nrTelefoneSMS" type="xs:string" minOccurs="0"/>
				<xs:element name="idSistemaOrigem" type="xs:string" minOccurs="0"/>
				<xs:element name="cdConta" type="xs:string" minOccurs="0"/>
				<xs:element name="idPessoaDePara" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
