JAVAFOJ6/schemas-xsd/schemas/AbreProtocoloOutTO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by Vivo (Vivo) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="atendimento.fo.vivo.com.br/vo" targetNamespace="atendimento.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="AbreProtocoloOutTO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="cdError" type="xs:string"/>
				<xs:element name="msgError" type="xs:string"/>
				<xs:element name="nrProtocolo" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
