JAVAFOJ6/schemas-xsd/schemas/AdmArvoreVariaveisBatchVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Samanta Hida (xxx) -->
<xs:schema targetNamespace="admsistemas.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="admsistemas.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="AdmArvoreVariaveisBatchVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idContato" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="login" type="xs:string" minOccurs="0"/>
				<xs:element name="timestamp" type="xs:string" minOccurs="0"/>
				<xs:element name="inVariaveis" type="xs:string" minOccurs="0"/>
				<xs:element name="inRetorno" type="xs:string" minOccurs="0"/>
				<xs:element name="inArvore" type="xs:string" minOccurs="0"/>
				<xs:element name="inGrupos" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
