JAVAFOJ6/schemas-xsd/schemas/AdmArvoreSatisfacaoVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Vivo (Vivo) -->
<xs:schema targetNamespace="admsistemas.fo.vivo.com.br/vo" xmlns:tns="admsistemas.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="AdmArvoreSatisfacaoVO">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Questionarios" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Perguntas" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="idPergunta" type="xs:string"/>
										<xs:element name="dsPergunta" type="xs:string"/>
										<xs:element name="Respostas" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="idResposta" type="xs:string"/>
													<xs:element name="dsResposta" type="xs:string"/>
													<xs:element name="idRespPxPerg" type="xs:string"/>
													<xs:element name="dsScriptResposta" type="xs:string"/>
													<xs:element name="sqApresentacao" type="xs:string"/>
													<xs:element name="inEncerramento" type="xs:string"/>
													<xs:element name="inDisponibilidade" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="dsScriptPergunta" type="xs:string"/>
										<xs:element name="sqApresentacao" type="xs:string"/>
										<xs:element name="inEncerramento" type="xs:string"/>
										<xs:element name="inDisponibilidade" type="xs:string"/>
										<xs:element name="inObrigatoria" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="idQuestionario" type="xs:string"/>
							<xs:element name="dsQuestionario" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
