JAVAFOJ6/schemas-xsd/schemas/AdmArvoreContatoCopiaVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Carlos (Intel) -->
<xs:schema targetNamespace="admsistemas.fo.vivo.com.br/vo" xmlns:tns1="usuario.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="admsistemas.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="AdmArvoreContatoCopiaVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="qtdCopia" type="xs:string"/>
				<xs:element name="idContatoDestino" type="xs:string"/>
				<xs:element name="idContatoOrigem" type="xs:string"/>
				<xs:element name="idTipoArvore" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
