JAVAFOJ6/schemas-xsd/schemas/AdmArvoreParametroRetornoVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Samanta Hida (xxx) -->
<xs:schema targetNamespace="admsistemas.fo.vivo.com.br/vo" xmlns="admsistemas.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="AdmGrupoParametroVO.xsd"/>
	<xs:include schemaLocation="AdmVariavelRetornoVO.xsd"/>
	<xs:element name="AdmArvoreParametroRetornoVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idContato" type="xs:string" minOccurs="0"/>
				<xs:element name="nmContato" type="xs:string" minOccurs="0"/>
				<xs:element ref="AdmGrupoParametroVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="AdmVariavelRetornoVO" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
