JAVAFOJ6/schemas-xsd/schemas/AdmAtualizacaoArvoreBaixaVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by Weblogic Workshop (BEA) -->
<xs:schema xmlns:tns="admsistemas.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="admsistemas.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="AdmAtualizacaoArvoreBaixaVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idBaixa" type="xs:string" maxOccurs="unbounded"/>
				<xs:element name="inHabilitado" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
