JAVAFOJ6/schemas-xsd/schemas/AdmArvoreGruposCamposDependentesVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by Weblogic Workshop (BEA) -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by vivo (vivo) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="admsistemas.fo.vivo.com.br/vo" targetNamespace="admsistemas.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TreeItemVO.xsd"/>
	<xs:element name="AdmArvoreGruposCamposDependentesVO">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TreeItemVO" minOccurs="0"/>
				<xs:element name="idGrupo" type="xs:string"/>
				<xs:element name="nmGrupo" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
