JAVAFOJ6/schemas-xsd/schemas/AdmCamposFormularioVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ns1="usuario.fo.vivo.com.br/vo" xmlns:ns2="cliente.fo.vivo.com.br/vo" xmlns:tns="admsistemas.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="admsistemas.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="AdmClassificadorCamposVO.xsd"/>
	<xs:import namespace="cliente.fo.vivo.com.br/vo" schemaLocation="Paginacao.xsd"/>
	<xs:include schemaLocation="AdmFaseProcessosVO.xsd"/>
	<xs:include schemaLocation="AdmArvoreGruposCamposDependentesVO.xsd"/>
	<xs:include schemaLocation="AdmGruposCamposDependentesVO.xsd"/>
	<xs:include schemaLocation="AdmGruposCamposVO.xsd"/>
	<xs:include schemaLocation="AdmCamposVO.xsd"/>
	<xs:include schemaLocation="AdmCamposHistoricoVO.xsd"/>
	<xs:include schemaLocation="CampoObjetoFormularioVO.xsd"/>
	<xs:import namespace="usuario.fo.vivo.com.br/vo" schemaLocation="UFOperadoraUsuarioVO.xsd"/>
	<xs:element name="AdmCamposFormularioVO">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns2:Paginacao" minOccurs="0"/>
				<xs:element name="idContato" type="xs:string"/>
				<xs:element name="idGrupoCampos" type="xs:string"/>
				<xs:element name="nmGrupoCampos" type="xs:string"/>
				<xs:element name="inOperacao" type="xs:string"/>
				<xs:element name="idFaseProcessoAtual" type="xs:string"/>
				<xs:element name="inCamposComponentes" type="xs:string"/>
				<xs:element name="idClassificadorCampoAtual" type="xs:string"/>
				<xs:element name="msgRetorno" type="xs:string" minOccurs="0"/>
				<xs:element ref="tns:AdmClassificadorCamposVO"/>
				<xs:element ref="tns:AdmFaseProcessosVO"/>
				<xs:element ref="tns:AdmArvoreGruposCamposDependentesVO"/>
				<xs:element ref="tns:AdmGruposCamposDependentesVO"/>
				<xs:element ref="tns:AdmGruposCamposVO"/>
				<xs:element name="disponiveis">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ns1:UFOperadoraUsuarioVO" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="tns:AdmTipoLinhaVO" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="tns:CampoObjetoFormularioVO" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="tns:AdmCampoVO" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="selecionados">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ns1:UFOperadoraUsuarioVO" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="tns:AdmTipoLinhaVO" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="tns:CampoObjetoFormularioVO" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="tns:AdmCampoVO" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="listaAssociada">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="tns:AdmCamposHistoricoVO" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="tns:CampoObjetoFormularioVO" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
