JAVAFOJ6/schemas-xsd/schemas/AdmContatoInformacaoVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Jack Bauer (Vivo) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="AdmContatoInformacaoVO">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idContatoInformacao" type="xs:string"/>
				<xs:element name="idContato" type="xs:string"/>
				<xs:element name="idUFOperadora" type="xs:string"/>
				<xs:element name="idTipoLinha" type="xs:string"/>
				<xs:element name="idTipoCliente" type="xs:string"/>
				<xs:element name="nmURLContatoInformacao" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
