JAVAFOJ6/schemas-xsd/schemas/AdmDominioValorIncluiVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Samanta Hida (xxx) -->
<xs:schema targetNamespace="admsistemas.fo.vivo.com.br/vo" xmlns="admsistemas.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="AdmDominioValorIncluiVO">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idDominio" type="xs:string" minOccurs="0"/>
				<xs:element name="nmDominio" type="xs:string" minOccurs="0"/>
				<xs:element name="operadoraArray" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="tipoLinhaArray" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="idTabelaDominio" type="xs:string" minOccurs="0"/>
				<xs:element name="inDisponibilidade" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
