JAVAFOJ6/schemas-xsd/schemas/AdmDadosBasicosVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="admsistemas.fo.vivo.com.br/vo" xmlns:tns1="usuario.fo.vivo.com.br/vo" targetNamespace="admsistemas.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="AdmMensagemAvisoVO.xsd"/>
	<xs:include schemaLocation="AdmTipoFechamentoVO.xsd"/>
	<xs:include schemaLocation="AdmTipoRetornoContatoVO.xsd"/>
	<xs:include schemaLocation="AdmMensagemAvisoVO.xsd"/>
	<xs:import namespace="usuario.fo.vivo.com.br/vo" schemaLocation="UnidadeSimplVO.xsd"/>
	<xs:element name="AdmDadosBasicosVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idPaginaAtual" type="xs:string"/>
				<xs:element name="idTipoFechamentoAtual" type="xs:string"/>
				<xs:element name="idTipoProcessoAtual" type="xs:string"/>
				<xs:element name="inProcessoTecnico" type="xs:string"/>
				<xs:element name="qtDiasPrazoContato" type="xs:string"/>
				<xs:element name="vlPrazoAnatel" type="xs:string"/>
				<xs:element name="sgRegraEncaminhamento" type="xs:string"/>
				<xs:element name="sgFluxoAtendimento" type="xs:string"/>
				<xs:element name="vlPesoContato" type="xs:string"/>
				<xs:element name="idMensagemAviso" type="xs:string"/>
				<xs:element name="nmMensagemAviso" type="xs:string"/>
				<xs:element name="idTipoRetornoAtual" type="xs:string"/>
				<xs:element name="inRespCliente" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
