JAVAFOJ6/schemas-xsd/schemas/AdmFeriadoVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Consorcio (Vivo) -->
<xs:schema targetNamespace="admsistemas.fo.vivo.com.br/vo" xmlns:tns="admsistemas.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="cliente.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="cliente.fo.vivo.com.br/vo" schemaLocation="UFVO.xsd"/>
	<xs:include schemaLocation="AdmTipoFeriadoVO.xsd"/>
	<xs:include schemaLocation="AdmDescricaoFeriadoVO.xsd"/>
	<xs:include schemaLocation="MunicipioVO.xsd"/>
	<xs:element name="AdmFeriadoVO">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idFeriado" type="xs:string"/>
				<xs:element name="dtFeriado" type="xs:string"/>
				<xs:element name="idDsFeriado" type="xs:string"/>
				<xs:element name="dsFeriado" type="xs:string"/>
				<xs:element name="idTipoFeriado" type="xs:string"/>
				<xs:element name="inRelatorio" type="xs:string"/>
				<xs:element name="indMovel" type="xs:string"/>
				<xs:element name="relacionados">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ns1:UFVO" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="tns:MunicipioVO" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="existentes">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ns1:UFVO" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="tns:MunicipioVO" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="idUf" type="xs:string"/>
				<xs:element name="idMunicipio" type="xs:string"/>
				<xs:element name="dsTipoFeriado" type="xs:string"/>
				<xs:element name="nmUF" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
