JAVAFOJ6/schemas-xsd/schemas/AdmFiltrosVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Samanta Hida (xxx) -->
<xs:schema targetNamespace="admsistemas.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="admsistemas.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="AdmSegmentacaoVO.xsd"/>
	<xs:include schemaLocation="AdmTipoCarteiraVO.xsd"/>
	<xs:include schemaLocation="AdmTipoLinhaVO.xsd"/>
	<xs:include schemaLocation="AdmTipoPessoaVO.xsd"/>
	<xs:element name="AdmFiltrosVO">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idContato" type="xs:string" minOccurs="0"/>
				<xs:element name="idBaixa" type="xs:string" minOccurs="0"/>
				<xs:element name="tipoPessoaExistente">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ns1:AdmTipoPessoaVO" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="tipoPessoaAssociada">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ns1:AdmTipoPessoaVO" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="tipoLinhaExistente">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ns1:AdmTipoLinhaVO" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="tipoLinhaAssociada">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ns1:AdmTipoLinhaVO" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="segmentacaoExistente">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ns1:AdmSegmentacaoVO" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="segmentacaoAssociada">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ns1:AdmSegmentacaoVO" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="tipoCarteiraExistente">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ns1:AdmTipoCarteiraVO" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="tipoCarteiraAssociada">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ns1:AdmTipoCarteiraVO" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
