JAVAFOJ6/schemas-xsd/schemas/AdmGrupoCamposVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by Weblogic Workshop (BEA) -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by vivo (vivo) -->
<xs:schema xmlns:ns1="admsistemas.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="admsistemas.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="FormularioCampoVO.xsd"/>
	<xs:element name="AdmGrupoCamposVO">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns1:FormularioCampoVO" maxOccurs="unbounded"/>
				<xs:element name="idTipoGrupo" type="xs:string" minOccurs="0"/>
				<xs:element name="idGrupoCampos" type="xs:string"/>
				<xs:element name="nmGrupoCampos" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
