JAVAFOJ6/schemas-xsd/schemas/AdmGrupoParametroVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Samanta Hida (xxx) -->
<xs:schema targetNamespace="admsistemas.fo.vivo.com.br/vo" xmlns="admsistemas.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="AdmCanalEntradaVO.xsd"/>
	<xs:include schemaLocation="AdmProcedenciaVO.xsd"/>
	<xs:include schemaLocation="AdmTipoLinhaSimplVO.xsd"/>
	<xs:include schemaLocation="AdmSegmentacaoSimplVO.xsd"/>
	<xs:include schemaLocation="AdmCarteirizacaoVO.xsd"/>
	<xs:include schemaLocation="AdmTipoPessoaVO.xsd"/>
	<xs:include schemaLocation="AdmTipoRelacionamentoVO.xsd"/>
	<xs:include schemaLocation="AdmGrupoFaseVO.xsd"/>
	<xs:include schemaLocation="AdmGrupoAberturaVO.xsd"/>
	<xs:element name="AdmGrupoParametroVO">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idGrupoo" type="xs:string" minOccurs="0"/>
				<xs:element name="nmGrupo" type="xs:string" minOccurs="0"/>
				<xs:element ref="AdmCanalEntradaVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="AdmProcedenciaVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="AdmTipoLinhaSimplVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="AdmSegmentacaoSimplVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="AdmCarteirizacaoVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="AdmTipoPessoaVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="AdmTipoRelacionamentoVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="AdmGrupoFaseVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="AdmGrupoAberturaVO" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
