JAVAFOJ6/schemas-xsd/schemas/AdmIndicadoresAnatelContatoContainerVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Samanta Hida (xxx) -->
<xs:schema targetNamespace="admsistemas.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="admsistemas.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="AdmIndicadorAnatelVO.xsd"/>
	<xs:element name="AdmIndicadoresAnatelContatoContainerVO">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idContato" type="xs:string"/>
				<xs:element name="indicadoresExistentes">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="tns:AdmIndicadorAnatelVO" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="indicadoresAssociados">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="tns:AdmIndicadorAnatelVO" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
