JAVAFOJ6/schemas-xsd/schemas/AdmIdContatoVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Carlos (Intel) -->
<xs:schema targetNamespace="admsistemas.fo.vivo.com.br/vo" xmlns:ns2="cliente.fo.vivo.com.br/vo" xmlns:ns1="admsistemas.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="cliente.fo.vivo.com.br/vo" schemaLocation="Paginacao.xsd"/>
	<xs:element name="AdmIdContatoVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns2:Paginacao" minOccurs="0"/>
				<xs:element name="idContato" type="xs:string" minOccurs="0"/>
				<xs:element name="idSkill" type="xs:string" minOccurs="0"/>
				<xs:element name="idGrupo" type="xs:string" minOccurs="0"/>
				<xs:element name="idTipoArvore" type="xs:string" minOccurs="0"/>
				<xs:element name="nmContato" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
