JAVAFOJ6/schemas-xsd/schemas/AdmIndicadorSequenciaVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Samanta Hida (xxx) -->
<xs:schema targetNamespace="admsistemas.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="admsistemas.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="AdmIndicadorSequenciaVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="inMoveUp" type="xs:string"/>
				<xs:element name="idResposta" type="xs:string" minOccurs="0"/>
				<xs:element name="idPergunta" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
