JAVAFOJ6/schemas-xsd/schemas/AdmListaLinkVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by aaa (aaa) -->
<xs:schema targetNamespace="admsistemas.fo.vivo.com.br/vo" xmlns:tns="admsistemas.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="AdmTipoOperadoraVO.xsd"/>
	<xs:include schemaLocation="AdmTipoLinhaVO.xsd"/>
	<xs:include schemaLocation="AdmTipoClienteVO.xsd"/>
	<xs:include schemaLocation="AdmObjetoLinkVO.xsd"/>
	<xs:element name="AdmListaLinkVO">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="selecionados">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="tns:AdmTipoLinhaVO" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="tns:AdmTipoClienteVO" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="tns:AdmTipoOperadoraVO" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="nmLink" type="xs:string"/>
							<xs:element name="idContato" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="disponiveis">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="tns:AdmTipoOperadoraVO" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="tns:AdmTipoClienteVO" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="tns:AdmTipoLinhaVO" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="nmLink" type="xs:string"/>
							<xs:element name="idContato" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="listaAssociada" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="tns:AdmObjetoLinkVO" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
