JAVAFOJ6/schemas-xsd/schemas/AdmOrgOrganizacaoContainerVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by ale (ale) -->
<xs:schema targetNamespace="usuario.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="usuario.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="OrganizacaoVO.xsd"/>
	<xs:element name="AdmOrgOrganizacaoContainerVO">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idOrganizacao" type="xs:string" minOccurs="0"/>
				<xs:element name="dsOrganizacao" type="xs:string" minOccurs="0"/>
				<xs:element name="idOrganizacaoPai" type="xs:string" minOccurs="0"/>
				<xs:element ref="tns:OrganizacaoVO"/>
				<xs:element name="idTipoOrganizacao" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
