JAVAFOJ6/schemas-xsd/schemas/AdmOperadorasVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Samanta Hida (xxx) -->
<xs:schema targetNamespace="admsistemas.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="admsistemas.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="AdmContatoUFOperadoraVO.xsd"/>
	<xs:include schemaLocation="AdmContatoUFOperadorasVO.xsd"/>
	<xs:element name="AdmOperadorasVO">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idBaixa" type="xs:string" minOccurs="0"/>
				<xs:element name="idContato" type="xs:string" minOccurs="0"/>
				<xs:element name="indeterminado" type="xs:string"/>
				<xs:element name="operadorasExistentes">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="AdmContatoUFOperadoraVO" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="operadorasAssociadas">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="AdmContatoUFOperadoraVO" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="dtInicioVigencia" type="xs:string"/>
				<xs:element name="dtFimVigencia" type="xs:string"/>
				<xs:element ref="AdmContatoUFOperadorasVO"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
