JAVAFOJ6/schemas-xsd/schemas/AdmPerguntaVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Jack Bauer (Vivo) -->
<xs:schema targetNamespace="admsistemas.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="admsistemas.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="AdmRespostaVO.xsd"/>
	<xs:element name="AdmPerguntaVO">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idTipoApresentacaoPergunta" type="xs:string"/>
				<xs:element name="dsTipoApresentacaoPergunta" type="xs:string"/>
				<xs:element name="dsPergunta" type="xs:string"/>
				<xs:element name="dsScriptPergunta" type="xs:string"/>
				<xs:element name="sqApresentacao" type="xs:string"/>
				<xs:element name="inEncerramento" type="xs:string"/>
				<xs:element name="inDisponibilidade" type="xs:string"/>
				<xs:element name="inObrigatoria" type="xs:string"/>
				<xs:element name="idPergunta" type="xs:string"/>
				<xs:element name="vlResposta" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns1:AdmRespostaVO" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
