JAVAFOJ6/schemas-xsd/schemas/AdmProcedenciaVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Samanta Hida (xxx) -->
<xs:schema targetNamespace="admsistemas.fo.vivo.com.br/vo" xmlns:tns="admsistemas.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="AdmProcedenciaVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="nota" type="xs:string" minOccurs="0"/>
				<xs:element name="total" type="xs:string" minOccurs="0"/>
				<xs:element name="idProcedencia" type="xs:string"/>
				<xs:element name="nmProcedencia" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
