JAVAFOJ6/schemas-xsd/schemas/AdmRespostaVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by vivo (vivo) -->
<xs:schema targetNamespace="admsistemas.fo.vivo.com.br/vo" xmlns:ns1="admsistemas.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="AdmSaltoVO.xsd"/>
	<xs:element name="AdmRespostaVO">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idResposta" type="xs:string"/>
				<xs:element name="dsResposta" type="xs:string"/>
				<xs:element name="dsScriptResposta" type="xs:string"/>
				<xs:element name="sqApresentacao" type="xs:string"/>
				<xs:element name="inEncerramento" type="xs:string"/>
				<xs:element name="inDisponibilidade" type="xs:string"/>
				<xs:element ref="ns1:AdmSaltoVO" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
