JAVAFOJ6/schemas-xsd/schemas/AdmRetornoContainerVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by vivo (vivo) -->
<xs:schema targetNamespace="admsistemas.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="admsistemas.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="AdmTipoRetornoVO.xsd"/>
	<xs:include schemaLocation="AdmCanalEntradaVO.xsd"/>
	<xs:include schemaLocation="AdmProcedenciaVO.xsd"/>
	<xs:include schemaLocation="AdmTipoClienteVO.xsd"/>
	<xs:include schemaLocation="AdmSegmentacaoVO.xsd"/>
	<xs:include schemaLocation="AdmTipoLinhaVO.xsd"/>
	<xs:include schemaLocation="AdmPessoaVO.xsd"/>
	<xs:include schemaLocation="AdmCarteirizacaoVO.xsd"/>
	<xs:include schemaLocation="AdmGrupoVO.xsd"/>
    <xs:include schemaLocation="AdmTipoUfOperadoraVO.xsd"/>
	<xs:element name="AdmRetornoContainerVO">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idContato" type="xs:string"/>
				<xs:element name="idTipoRetornoAtivo" type="xs:string"/>
				<xs:element name="listaTipoRetorno">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="tns:AdmTipoRetornoVO" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="existente">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="tns:AdmPessoaVO" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="tns:AdmTipoLinhaVO" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="tns:AdmCanalEntradaVO" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="tns:AdmProcedenciaVO" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="tns:AdmTipoClienteVO" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="tns:AdmGrupoVO" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="tns:AdmSegmentacaoVO" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="tns:AdmCarteirizacaoVO" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="tns:AdmTipoUfOperadoraVO" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="associado">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="tns:AdmProcedenciaVO" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="tns:AdmTipoClienteVO" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="tns:AdmSegmentacaoVO" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="tns:AdmTipoLinhaVO" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="tns:AdmPessoaVO" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="tns:AdmGrupoVO" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="tns:AdmCarteirizacaoVO" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="tns:AdmCanalEntradaVO" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="tns:AdmTipoUfOperadoraVO" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
