JAVAFOJ6/schemas-xsd/schemas/AdmSatisfacaoContainerVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Jack Bauer (Vivo) -->
<xs:schema targetNamespace="admsistemas.fo.vivo.com.br/vo" xmlns="admsistemas.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="AdmPerguntaVO.xsd"/>
	<xs:include schemaLocation="AdmListaObjetosSatisfacaoVO.xsd"/>
	<xs:element name="AdmSatisfacaoContainerVO">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idQuestionario" type="xs:string"/>
				<xs:element name="dsQuestionario" type="xs:string"/>
				<xs:element name="idAtendimento" type="xs:string" minOccurs="0"/>
				<xs:element name="vlNota" type="xs:string" minOccurs="0"/>
				<xs:element name="observacao" type="xs:string" minOccurs="0"/>
				<xs:element ref="AdmPerguntaVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="AdmListaObjetosSatisfacaoVO" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
