JAVAFOJ6/schemas-xsd/schemas/AdmSelectsContatoFolhaVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by C_GAraujo (EMBRACE) -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by vivo2 (vivo2) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="admsistemas.fo.vivo.com.br/vo" targetNamespace="admsistemas.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="AdmTipoFechamentoVO.xsd"/>
	<xs:include schemaLocation="AdmTipoRetornoContatoVO.xsd"/>
	<xs:include schemaLocation="AdmTipoProcessoVO.xsd"/>
	<xs:include schemaLocation="AdmMensagemAvisoVO.xsd"/>
	<xs:include schemaLocation="AdmContatoFolhaVO.xsd"/>
	<xs:include schemaLocation="AdmContatoInformacaoVO.xsd"/>
	<xs:include schemaLocation="AdmIndicadorAnatelVO.xsd"/>
	<xs:include schemaLocation="AdmDadosBasicosVO.xsd"/>
	<xs:include schemaLocation="AdmIndicadoresAnatelContatoContainerVO.xsd"/>
	<xs:include schemaLocation="AdmGrupoContatoContainerVO.xsd"/>
	<xs:include schemaLocation="SmpVO.xsd"/>
	<xs:element name="AdmSelectsContatoFolhaVO">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idContato" type="xs:string"/>
				<xs:element name="folha" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="AdmDadosBasicosVO" minOccurs="0"/>
							<xs:element ref="AdmGrupoContatoContainerVO"/>
							<xs:element ref="AdmIndicadoresAnatelContatoContainerVO"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="AdmTipoRetornoContatoVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="AdmTipoFechamentoVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="AdmTipoProcessoVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="AdmMensagemAvisoVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="AdmPrazoVO" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="vlPrazo" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="AdmPrazoAnatelVO" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="vlPrazoAnatel" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="AdmClassificacaoSMSVO" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="idClassificacao" type="xs:string"/>
							<xs:element name="dsClassificacao" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="AdmPrioridadeVO" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="vlPrioridade" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="SmpVO" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
