JAVAFOJ6/schemas-xsd/schemas/AdmSkillUsuarioVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by vibora (vivo) -->
<xs:schema targetNamespace="admsistemas.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="admsistemas.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="AdmContatoFolhaVO.xsd"/>
	<xs:include schemaLocation="AdmGrupoVO.xsd"/>
	<xs:include schemaLocation="AdmSkillSimplVO.xsd"/>
	<xs:element name="AdmSkillUsuarioVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:AdmContatoFolhaVO" minOccurs="0"/>
				<xs:element ref="tns:AdmGrupoVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="tns:AdmSkillSimplVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="login" type="xs:string" minOccurs="0"/>
				<xs:element name="skillSelecionado" type="xs:string" minOccurs="0"/>
				<xs:element name="grupoSelecionado" type="xs:string" minOccurs="0"/>
				<xs:element name="contatosSelecionados" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="usuariosSelecionados" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="idSkillUsuario" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="UsuarioSelecionadoVO" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="idUsuario" type="xs:string" minOccurs="0"/>
							<xs:element name="nmUsuario" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="UsuarioExistenteVO" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="idUsuario" type="xs:string" minOccurs="0"/>
							<xs:element name="nmUsuario" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="UsuarioSkillAssociadoVO" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="idSkillUsuario" type="xs:string" minOccurs="0"/>
							<xs:element name="nmUsuario" type="xs:string" minOccurs="0"/>
							<xs:element name="dsPath" type="xs:string" minOccurs="0"/>
							<xs:element name="nmPerfil" type="xs:string" minOccurs="0"/>
							<xs:element name="loginEfetuado" type="xs:string" minOccurs="0"/>
							<xs:element name="dataHora" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="inOperacao" type="xs:string" minOccurs="0"/>
				<xs:element name="paginaAtual" type="xs:string" minOccurs="0"/>
				<xs:element name="registrosPPagina" type="xs:string" minOccurs="0"/>
				<xs:element name="deleteContato" type="xs:string" minOccurs="0"/>
                <xs:element name="deleteUsuario" type="xs:string" minOccurs="0"/>
				<xs:element name="ListaUsuariosExistentes" type="xs:anyType" minOccurs="0"/>
				<xs:element name="ContatoExistenteVO" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="idContato" type="xs:string" minOccurs="0"/>
							<xs:element name="nmPath" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ContatoSelecionadoVO" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="idContato" type="xs:string" minOccurs="0"/>
							<xs:element name="nmPath" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
