JAVAFOJ6/schemas-xsd/schemas/AdmSegmentacaoSimplVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by vivo (vivo) -->
<xs:schema targetNamespace="admsistemas.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="admsistemas.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="AdmSegmentacaoSimplVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idSegmentacao" type="xs:string"/>
				<xs:element name="dsSegmentacao" type="xs:string"/>
				<xs:element name="sgSegmentacao" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
