JAVAFOJ6/schemas-xsd/schemas/AdmTipoDadoCampoVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Consorcio (Vivo) -->
<xs:schema targetNamespace="admsistemas.fo.vivo.com.br/vo" xmlns:ns1="admsistemas.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="AdmTipoDadoCampoVO">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idTipoDadoCampo" type="xs:string" minOccurs="0"/>
				<xs:element name="sgTipoDadoCampo" type="xs:string" minOccurs="0"/>
				<xs:element name="nmTipoDadoCampo" type="xs:string" minOccurs="0"/>
				<xs:element name="inDominio" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
