JAVAFOJ6/schemas-xsd/schemas/AdmTipoSegmentacaoVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Samanta Hida (xxx) -->
<xs:schema targetNamespace="admsistemas.fo.vivo.com.br/vo" xmlns:tns="admsistemas.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns1="usuario.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="AdmTipoSegmentacaoVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="nota" type="xs:string" minOccurs="0"/>
				<xs:element name="total" type="xs:string" minOccurs="0"/>
				<xs:element name="idSegmentacao" type="xs:string"/>
				<xs:element name="sgSegmentacao" type="xs:string"/>
				<xs:element name="dsSegmentacao" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
