JAVAFOJ6/schemas-xsd/schemas/AdmTipoProcessoVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="admsistemas.fo.vivo.com.br/vo" xmlns:tns="admsistemas.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="AdmTipoProcessoVO">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idTipoProcesso" type="xs:string"/>
				<xs:element name="dsTipoProcesso" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
