JAVAFOJ6/schemas-xsd/schemas/AdmUFOperadoraSimplVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Consorcio (Vivo) -->
<xs:schema targetNamespace="admsistemas.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="admsistemas.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="AdmUFOperadoraSimplVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idUFOperadora" type="xs:string"/>
				<xs:element name="dsUFOperadora" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
