JAVAFOJ6/schemas-xsd/schemas/AdmVincularQuestionarioVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Samanta Hida (xxx) -->
<xs:schema targetNamespace="admsistemas.fo.vivo.com.br/vo" xmlns:ns1="usuario.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="admsistemas.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="AdmQuestionarioVO.xsd"/>
	<xs:include schemaLocation="AdmContatoUFOperadoraVO.xsd"/>
	<xs:include schemaLocation="AdmListaVincularQuestionarioVO.xsd"/>
	<xs:include schemaLocation="AdmQuestionarioVO.xsd"/>
	<xs:import namespace="usuario.fo.vivo.com.br/vo" schemaLocation="UFOperadoraUsuarioVO.xsd"/>
	<xs:include schemaLocation="AdmTipoPessoaVO.xsd"/>
	<xs:element name="AdmVincularQuestionarioVO">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idContato" type="xs:string"/>
				<xs:element name="idTipoPessoaAtual" type="xs:string" minOccurs="0"/>
				<xs:element name="idQuestionarioAtual" type="xs:string"/>
				<xs:element name="questionarios">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="tns:AdmQuestionarioVO" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="tipoPessoa">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="tns:AdmTipoPessoaVO" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="relacionados">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ns1:UFOperadoraUsuarioVO" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="existentes">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ns1:UFOperadoraUsuarioVO" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="questionariosConfigurarados">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="tns:AdmQuestionarioVO" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
