JAVAFOJ6/schemas-xsd/schemas/AdmVarAContatoArqGeradosVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by Weblogic Workshop (BEA) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="admsistemas.fo.vivo.com.br/vo" targetNamespace="admsistemas.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="AdmVarAContatoArqGeradosVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="arquivoGerado" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="id" type="xs:string" minOccurs="0"/>
							<xs:element name="nmArquivo" type="xs:string" minOccurs="0"/>
							<xs:element name="dsPath" type="xs:string" minOccurs="0"/>
							<xs:element name="nmLoginSolicitante" type="xs:string" minOccurs="0"/>
							<xs:element name="dtSolicitacao" type="xs:string" minOccurs="0"/>
							<xs:element name="dtGeracao" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
