JAVAFOJ6/schemas-xsd/schemas/AjaxErrorHandlerVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by Weblogic Workshop (BEA) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xxl="cliente.fo.vivo.com.br/vo" xmlns:tns="cliente.fo.vivo.com.br/vo" targetNamespace="cliente.fo.vivo.com.br/vo">
	<xs:element name="AjaxErrorHandlerVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="friendlyMessage" type="xs:string" minOccurs="0"/>
				<xs:element name="exceptionMessage" type="xs:string" minOccurs="0"/>
				<xs:element name="severity" type="xs:int" default="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
