JAVAFOJ6/schemas-xsd/schemas/AparelhosPesquisaInVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by vivo (vivo) -->
<xs:schema targetNamespace="fidelizacao.fo.vivo.com.br/vo" xmlns:tns="fidelizacao.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="AparelhosPesquisaInVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="operacao" type="xs:string"/>
				<xs:element name="idAparelho" type="xs:string"/>
				<xs:element name="idMarca" type="xs:string"/>
				<xs:element name="dsModelo" type="xs:string"/>
				<xs:element name="dsManualURL" type="xs:string" minOccurs="0"/>
				<xs:element name="coresIncluir" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="idIncluir" type="xs:string"/>
							<xs:element name="valorAparelho" type="xs:string" minOccurs="0"/>
							<xs:element name="codigoSAP" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="coresExcluir" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="idExcluir" type="xs:string"/>
							<xs:element name="valorAparelho" type="xs:string" minOccurs="0"/>
							<xs:element name="codigoSAP" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="inTipoAparelho" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
