JAVAFOJ6/schemas-xsd/schemas/AreaRegistroVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="campanha.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="AreasRegistroVO">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element name="AreaRegistro">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="idAreaRegistro" type="xs:string"/>
							<xs:element name="dsAreaRegistro" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
