JAVAFOJ6/schemas-xsd/schemas/ARG.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by vivo (vivo) -->
<!--W3C Schema generated by XMLSPY v2004 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema targetNamespace="cliente.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="cliente.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="ARG">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:DADOS"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DADOS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:outputGetBillImage"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="outputGetBillImage" type="xs:string"/>
</xs:schema>
