JAVAFOJ6/schemas-xsd/schemas/ArquivoProcessamentoVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by Vivo (Vivo) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="admsistemas.fo.vivo.com.br/vo" targetNamespace="admsistemas.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="ArquivoProcessamentoVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="sgFuncionalidade" type="xs:string" minOccurs="0"/>
				<xs:element name="Item" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="idProcessamento" type="xs:string" minOccurs="0"/>
							<xs:element name="dsLoginUsuario" type="xs:string" minOccurs="0"/>
							<xs:element name="dtEnvio" type="xs:string" minOccurs="0"/>
							<xs:element name="dtProcessamento" type="xs:string" minOccurs="0"/>
							<xs:element name="dsStatusCarga" type="xs:string" minOccurs="0"/>
							<xs:element name="qtRegRejeitados" type="xs:string" minOccurs="0"/>
							<xs:element name="qtRegTotal" type="xs:string" minOccurs="0"/>
							<xs:element name="hasFileBad" type="xs:string" minOccurs="0"/>
							<xs:element name="nmFileBad" type="xs:string" minOccurs="0"/>
                            <xs:element name="nmFileOriginal" type="xs:string" minOccurs="0"/>
                            <xs:element name="idAtendimentoAnatelArquivo" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
