JAVAFOJ6/schemas-xsd/schemas/ArvoreContatoVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Vivo (Vivo) -->
<xs:schema targetNamespace="admsistemas.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="ArvoreContatoVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="codigo" type="xs:integer"/>
				<xs:element name="idTipoRetornoContato" type="xs:string" minOccurs="0"/>
				<xs:element name="inDisponibilidade" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
