JAVAFOJ6/schemas-xsd/schemas/ARVORE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="menu.vol.vivo.com.br/vo" xmlns:tns="menu.vol.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="ARVORE">
		<xs:complexType>
			<xs:sequence>
                <xs:element name="cdAreaRegistro" type="xs:string"/>
                <xs:element name="nrLinha" type="xs:string"/>
                <xs:element name="status" type="xs:string"/>
                <xs:element name="IdTipoLinha" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>