JAVAFOJ6/schemas-xsd/schemas/AssosiacaoGrupoVariaveisVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by x (y) -->
<xs:schema targetNamespace="admsistemas.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="admsistemas.fo.vivo.com.br/vo" xmlns:ns2="cliente.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TipoClienteVO.xsd"/>
	<xs:include schemaLocation="AdmNaturezaVO.xsd"/>
	<xs:include schemaLocation="CarterizacaoVO.xsd"/>
	<xs:include schemaLocation="SegmentacaoVO.xsd"/>
	<xs:import namespace="cliente.fo.vivo.com.br/vo" schemaLocation="TipoLinhaVO.xsd"/>
	<xs:element name="AssosiacaoGrupoVariaveisVO">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns1:AssosiacaoGrupoVariaveisDisponiveisVO"/>
				<xs:element ref="ns1:AssosiacaoGrupoVariaveisAssosiadosVO"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AssosiacaoGrupoVariaveisDisponiveisVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns1:TipoClienteVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns1:AdmNaturezaVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns1:CarterizacaoVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns1:SegmentacaoVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns2:TipoLinhaVO" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AssosiacaoGrupoVariaveisAssosiadosVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns1:TipoClienteVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns1:AdmNaturezaVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns1:CarterizacaoVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns1:SegmentacaoVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns2:TipoLinhaVO" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
