JAVAFOJ6/schemas-xsd/schemas/AssociarCRVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by vivo (invite) -->
<xs:schema targetNamespace="cliente.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="cliente.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="AssociarCRVO">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Carteirizacoes" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="idCarteirizacao" type="xs:string"/>
							<xs:element name="dsCarteirizacao" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Segmentacoes" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="idSegmentacao" type="xs:string"/>
							<xs:element name="dsSegmentacao" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ConsultorRelacionamento" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="idConsultor" type="xs:string"/>
							<xs:element name="nmConsultor" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="TipoDocumento" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="idTipoDocumento" type="xs:string"/>
							<xs:element name="dsTipoDocumento" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="FiltroConsulta" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="idCarteirizacaoFiltro" type="xs:string"/>
							<xs:element name="idSegmentacaoFiltro" type="xs:string"/>
							<xs:element name="idConsultorFiltro" type="xs:string" minOccurs="0"/>
							<xs:element name="idTipoDocumentoFiltro" type="xs:string" minOccurs="0"/>
							<xs:element name="nrDocumentoFiltro" type="xs:string" minOccurs="0"/>
							<xs:element name="nmClienteFiltro" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Clientes" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="idCliente" type="xs:string"/>
							<xs:element name="inSelecionado" type="xs:string" minOccurs="0"/>
							<xs:element name="nmCliente" type="xs:string"/>
							<xs:element name="dsTipoDocumento" type="xs:string"/>
							<xs:element name="nrDocumento" type="xs:string"/>
							<xs:element name="dsSegmentacao" type="xs:string"/>
							<xs:element name="dsCarteirizacao" type="xs:string"/>
							<xs:element name="nmConsultor" type="xs:string" minOccurs="0"/>
							<xs:element name="idConsultor" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="erro" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
