JAVAFOJ6/schemas-xsd/schemas/AtendimentoArvoreFiltrosVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Jack Bauer (Vivo) -->
<xs:schema targetNamespace="workflow.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="AtendimentoArvoreFiltrosVO">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idTipoLinha" type="xs:string" minOccurs="0"/>
				<xs:element name="idUFOperadora" type="xs:string" minOccurs="0"/>
				<xs:element name="idGrupo" type="xs:string" minOccurs="0"/>
				<xs:element name="idTipoCarteira" type="xs:string" minOccurs="0"/>
				<xs:element name="idSegmentacao" type="xs:string" minOccurs="0"/>
				<xs:element name="idContato" type="xs:string" minOccurs="0"/>
				<xs:element name="idTipoRelacionamento" type="xs:string" minOccurs="0"/>
				<xs:element name="idTipoSequencia" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
