JAVAFOJ6/schemas-xsd/schemas/AtendimentoComunicacaoVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="workflow.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="AtendimentoComunicacaoVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idComunicacao" type="xs:int"/>
				<xs:element name="descricao" type="xs:string"/>
				<xs:element name="dsAuxiliar" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
