JAVAFOJ6/schemas-xsd/schemas/AtendimentoHistoricoVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by Vivo (Vivo) -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by x (y) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="workflow.fo.vivo.com.br/vo" targetNamespace="workflow.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="AtendimentoHistoricoVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idAtendimento" type="xs:string"/>
                <xs:element name="nrProtocolo" type="xs:string" minOccurs="0"/>
				<xs:element name="idAndamento" type="xs:string"/>
				<xs:element name="dsContato" type="xs:string" minOccurs="0"/>
				<xs:element name="dsGrupo" type="xs:string" minOccurs="0"/>
				<xs:element name="dsEstado" type="xs:string" minOccurs="0"/>
				<xs:element name="dsSubEstado" type="xs:string" minOccurs="0"/>
				<xs:element name="nmNome" type="xs:string" minOccurs="0"/>
				<xs:element name="dsOperacao" type="xs:string" minOccurs="0"/>
				<xs:element name="dtTratamento" type="xs:string" minOccurs="0"/>
				<xs:element name="dsComentario" type="xs:string" minOccurs="0"/>
				<xs:element name="dsMotivo" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
