JAVAFOJ6/schemas-xsd/schemas/AtendimentoSituacaoVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by Vivo (Vivo) -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Jack Bauer (Vivo) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="admsistemas.fo.vivo.com.br/vo" xmlns:ns2="workflow.fo.vivo.com.br/vo" targetNamespace="workflow.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="AtendimentoSituacaoVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idAtendimento" type="xs:string"/>
                <xs:element name="nrProtocolo" type="xs:string"/>
				<xs:element name="idTipoReaberturaProcesso" type="xs:int"/>
				<xs:element name="nmTipo" type="xs:string"/>
				<xs:element name="qtDias" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
