JAVAFOJ6/schemas-xsd/schemas/AtendimentoWorkflowTecnicoDocVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by x (y) -->
<xs:schema targetNamespace="workflow.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:ns1="workflow.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="AtendimentoWorkflowTecnicoDocVO">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idAtendimento" type="xs:string" minOccurs="0"/>
				<xs:element name="idAtendimentoDocumento" type="xs:string" minOccurs="0"/>
				<xs:element name="idDocumentoTecnico" type="xs:string" minOccurs="0"/>
				<xs:element name="nrDocumento" type="xs:string" minOccurs="0"/>
				<xs:element name="dtAbertura" type="xs:string" minOccurs="0"/>
				<xs:element name="dtFechamento" type="xs:string" minOccurs="0"/>
				<xs:element name="dtEstimadaFechamento" type="xs:string" minOccurs="0"/>
				<xs:element name="dsDocumento" type="xs:string" minOccurs="0"/>
				<xs:element name="dsResposta" type="xs:string" minOccurs="0"/>
				<xs:element name="idTipoDocumentoProcesso" type="xs:string" minOccurs="0"/>
				<xs:element name="sgTipoDocumentoProcesso" type="xs:string" minOccurs="0"/>
				<xs:element name="dsTipoDocumentoProcesso" type="xs:string" minOccurs="0"/>
				<xs:element name="idProcedencia" type="xs:string" minOccurs="0"/>
				<xs:element name="dsProcedencia" type="xs:string" minOccurs="0"/>
				<xs:element name="dsEstadoDocumentoProcesso" type="xs:string" minOccurs="0"/>
				<xs:element name="qtdProcessosVinculados" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
