JAVAFOJ6/schemas-xsd/schemas/AtendimentoVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="workflow.fo.vivo.com.br/vo" xmlns:ns2="admsistemas.fo.vivo.com.br/vo" xmlns:ns3="usuario.fo.vivo.com.br/vo" xmlns:ns4="cliente.fo.vivo.com.br/vo" targetNamespace="workflow.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="WFAcaoVO.xsd"/>
	<xs:import namespace="admsistemas.fo.vivo.com.br/vo" schemaLocation="ArvoreAtendimentoVO.xsd"/>
	<xs:include schemaLocation="CanalVO.xsd"/>
	<xs:include schemaLocation="ContaVO.xsd"/>
	<xs:include schemaLocation="PessoaVO.xsd"/>
	<xs:include schemaLocation="AtendimentoSituacaoVO.xsd"/>
	<xs:include schemaLocation="AtendimentoRetornoVO.xsd"/>
	<xs:include schemaLocation="AlertaVO.xsd"/>
	<xs:include schemaLocation="WFEstadoVO.xsd"/>
	<xs:include schemaLocation="WFSubEstadoVO.xsd"/>
	<xs:include schemaLocation="AtendimentoWorkflowVO.xsd"/>
	<xs:include schemaLocation="AtendimentoHistoricoVO.xsd"/>
	<xs:include schemaLocation="FaseVO.xsd"/>
	<xs:include schemaLocation="AtendimentoPessoaVO.xsd"/>
	<xs:include schemaLocation="AtdWFVO.xsd"/>
	<xs:include schemaLocation="WFAtendimentoContatoComunicVO.xsd"/>
	<xs:import namespace="usuario.fo.vivo.com.br/vo" schemaLocation="UsuarioVIVO.xsd"/>
	<xs:import namespace="cliente.fo.vivo.com.br/vo" schemaLocation="UsuarioLinhaVO.xsd"/>
	<xs:import namespace="admsistemas.fo.vivo.com.br/vo" schemaLocation="EncerramentoVO.xsd"/>
	<xs:element name="AtendimentoVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idAtendimento" type="xs:string"/>
				<xs:element name="nrProtocolo" type="xs:string" minOccurs="0"/>
				<xs:element name="nrProtocoloPortabilidade" type="xs:string" minOccurs="0"/>
				<xs:element name="idDiscador" type="xs:int" default="0"/>
				<xs:element name="msgError" type="xs:string" minOccurs="0"/>
				<xs:element name="msgProtocolo" type="xs:string" minOccurs="0"/>
				<xs:element name="idLinhaAtendimento" type="xs:string" minOccurs="0"/>
				<xs:element name="idUfOperadora" type="xs:string" minOccurs="0"/>
				<xs:element name="idTipoLinha" type="xs:string" minOccurs="0"/>
				<xs:element name="idAtendimentoOrigem" type="xs:string" minOccurs="0"/>
				<xs:element name="idChamadaTelefonica" type="xs:long" minOccurs="0"/>
				<xs:element name="qtInsistencia" type="xs:string" minOccurs="0"/>
				<xs:element name="idGrupoAbertura" type="xs:long" minOccurs="0"/>
				<xs:element name="inResponsavelAbertura" type="xs:string" minOccurs="0"/>
				<xs:element name="nmContato" type="xs:string" minOccurs="0"/>
				<xs:element name="nmFalandoCom" type="xs:string" minOccurs="0"/>
				<xs:element name="observacao" type="xs:string" minOccurs="0"/>
				<xs:element name="dtJanelaPortout" type="xs:string" minOccurs="0"/>
				<xs:element name="dtAbertura" type="xs:string" minOccurs="0"/>
				<xs:element name="dtFechamento" type="xs:string" minOccurs="0"/>
				<xs:element name="dtFimPausaAtendimento" type="xs:string" minOccurs="0"/>
				<xs:element name="dtParaFechamento" type="xs:string" minOccurs="0"/>
				<xs:element name="dtSuspeito" type="xs:string" minOccurs="0"/>
				<xs:element name="inCRI" type="xs:string" minOccurs="0"/>
				<xs:element name="dsEstado" type="xs:string" minOccurs="0"/>
				<xs:element name="dsSubEstado" type="xs:string" minOccurs="0"/>
				<xs:element name="inTipoPessoa" type="xs:string" minOccurs="0"/>
				<xs:element name="nmURL" type="xs:string" minOccurs="0"/>
				<xs:element name="inDocumento" type="xs:string" minOccurs="0"/>
				<xs:element name="inPausaAtendimento" type="xs:string" minOccurs="0"/>
				<xs:element name="tabPausa" type="xs:string" minOccurs="0"/>
				<xs:element name="nrTelefone" type="xs:string" minOccurs="0"/>
				<xs:element name="idBaixa" type="xs:string" minOccurs="0"/>
				<xs:element name="idBaixaMensagem" type="xs:string" minOccurs="0"/>
				<xs:element name="observacaoFechamento" type="xs:string" minOccurs="0"/>
				<xs:element name="inACS" type="xs:string" minOccurs="0"/>
				<xs:element name="tpOperacao" type="xs:string" minOccurs="0"/>
				<xs:element name="idAtendimentoSuspeito" type="xs:string" minOccurs="0"/>
				<xs:element name="idAtendimentoBaixaHistorico" type="xs:string" minOccurs="0"/>
				<xs:element name="idPerfilConsultorAtd" type="xs:string" minOccurs="0"/>
				<xs:element name="idFornecedorConsultorAtd" type="xs:string" minOccurs="0"/>
				<xs:element name="idSiteConsultorAtd" type="xs:string" minOccurs="0"/>
				<xs:element name="nmURLDados" type="xs:string" minOccurs="0"/>
				<xs:element name="nmURLContatoAcao" type="xs:string" minOccurs="0"/>
				<xs:element name="dtSolicitacaoCancelamento" type="xs:string" minOccurs="0"/>
				<xs:element name="inPortout" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:totalDigits value="1"/>
							<xs:enumeration value="0"/>
							<xs:enumeration value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="ns1:AlertaVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns2:ProcedenciaVO" minOccurs="0"/>
				<xs:element ref="ns1:CanalVO" minOccurs="0"/>
				<xs:element name="Contas" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ns1:ContaVO" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Canais" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ns1:CanalVO" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Procedencias" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ns2:ProcedenciaVO" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="ns1:PessoaVO" minOccurs="0"/>
				<xs:element ref="ns1:AtendimentoPessoaVO" minOccurs="0"/>
				<xs:element ref="ns4:UsuarioLinhaVO" minOccurs="0"/>
				<xs:element name="AtendimentosCorrentes" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ns1:AtendimentoVO" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="ns1:AtendimentoSituacaoVO" minOccurs="0"/>
				<xs:element ref="ns2:ArvoreAtendimentoVO" minOccurs="0"/>
				<xs:element ref="ns1:AtendimentoRetornoVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns3:UsuarioVIVO" minOccurs="0"/>
				<xs:element ref="ns1:WFEstadoVO" minOccurs="0"/>
				<xs:element ref="ns1:WFSubEstadoVO" minOccurs="0"/>
				<xs:element ref="ns1:AtendimentoWorkflowVO" minOccurs="0"/>
				<xs:element ref="ns1:AtendimentoHistoricoVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns1:FaseVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns1:AtdWFVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns1:WFAtendimentoContatoComunicVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns1:WFAcaoVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns2:EncerramentoVO" minOccurs="0"/>
				<xs:element name="LinhasAssociadasVO" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="cdConta" type="xs:string"/>
							<xs:element name="nrTelefone" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="naoEnvProtocoloSMS" type="xs:string" minOccurs="0"/>
				<xs:element ref="ns1:DadosProtocoloVO" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DadosProtocoloVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="nrProtocolo" type="xs:string"/>
				<xs:element name="idTipoAberturaProtocolo" type="xs:string"/>
				<xs:element name="idSistemaOrigemProtocolo" type="xs:string"/>
				<xs:element name="dddSMSProtocolo" type="xs:string" minOccurs="0"/>
				<xs:element name="nrLinhaSMSProtocolo" type="xs:string" minOccurs="0"/>
				<xs:element name="forceUsoProtocoloNaoAberto" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
