JAVAFOJ6/schemas-xsd/schemas/AtendimentoDetalheACSAndamentoVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="workflow.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="AtendimentoDetalheACSAndamentoVO">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idAndamento" type="xs:string"/>
				<xs:element name="idAtividade" type="xs:string" minOccurs="0"/>
				<xs:element name="idContatoFolhaBaixa" type="xs:string" minOccurs="0"/>
				<xs:element name="dtAndamento" type="xs:string" minOccurs="0"/>
				<xs:element name="nmUsuarioGrupo" type="xs:string" minOccurs="0"/>
				<xs:element name="nmUsuario" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
