JAVAFOJ6/schemas-xsd/schemas/AtendimentoTipoComunicacaoVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Vivo (Vivo) -->
<xs:schema targetNamespace="workflow.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="workflow.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:include schemaLocation="AtendimentoComunicacaoVO.xsd"/>
    <xs:element name="AtendimentoTipoComunicacaoVO">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="idTipoComunicacao" type="xs:int"/>
                <xs:element name="descricao" type="xs:string"/>
                <xs:element ref="ns1:AtendimentoComunicacaoVO" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
