JAVAFOJ6/schemas-xsd/schemas/AtendimentoInformacaoVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by Vivo (Vivo) -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by vibora (vivo) -->
<xs:schema xmlns:ns2="usuario.fo.vivo.com.br/vo" xmlns:ns1="workflow.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="workflow.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:import namespace="usuario.fo.vivo.com.br/vo" schemaLocation="UsuarioVIVO.xsd"/>
	<xs:include schemaLocation="WFEstadoVO.xsd"/>
	<xs:include schemaLocation="WFSubEstadoVO.xsd"/>
	<xs:include schemaLocation="WFGrupoVO.xsd"/>
	<xs:include schemaLocation="WFMotivoVO.xsd"/>
	<xs:include schemaLocation="AtendimentoFilaVO.xsd"/>
	<xs:include schemaLocation="AtendimentoInBoxVO.xsd"/>
	<xs:include schemaLocation="AtendimentoFechamentoMassaVO.xsd"/>
	<xs:include schemaLocation="WFRegional.xsd"/>
	<xs:element name="AtendimentoInformacaoVO">
		<xs:annotation>
			<xs:documentation>Atendimento informação</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="atualizacao" type="xs:string" minOccurs="0"/>
				<xs:element name="nrRegistros" type="xs:int" minOccurs="0"/>
				<xs:element ref="ns1:WFRegionalVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns1:WFGrupoVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns1:WFMotivoVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns1:WFEstadoVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns1:WFSubEstadoVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns1:AtendimentoFilaVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns1:AtendimentoInBoxVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns1:AtendimentoFechamentoMassaVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns2:UsuarioVIVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="totalRegistros" type="xs:string" minOccurs="0"/>
				<xs:element name="inFim" type="xs:int" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
