JAVAFOJ6/schemas-xsd/schemas/AtendimentoWorkflowTesteVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="workflow.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="AtendimentoWorkflowTesteVO">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idTeste" type="xs:string"/>
				<xs:element name="dsTeste" type="xs:string"/>
				<xs:element name="dsResposta" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
