JAVAFOJ6/schemas-xsd/schemas/BonusPesquisaInVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by vivo (vivo) -->
<xs:schema targetNamespace="fidelizacao.fo.vivo.com.br/vo" xmlns:ns1="fidelizacao.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="BonusPesquisaInVO">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idufoperadora" type="xs:string"/>
				<xs:element name="nmbonus" type="xs:string"/>
				<xs:element name="qtdiasvalidade" type="xs:string"/>				
				<xs:element name="vlbonus" type="xs:string"/>
				<xs:element name="idUnidadeOferta" type="xs:string"/>
                <xs:element name="idTipoPessoa" type="xs:string"/>
				<xs:element name="sgTipoPessoa" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
