JAVAFOJ6/schemas-xsd/schemas/CadastroProspectVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by C_GAraujo (EMBRACE) -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by vivo (vivo) -->
<xs:schema xmlns:tns="cliente.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="cliente.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TipoDocumentoVO.xsd"/>
	<xs:include schemaLocation="PaisVO.xsd"/>
	<xs:include schemaLocation="TipoComunicacaoVO.xsd"/>
	<xs:include schemaLocation="UFVO.xsd"/>
	<xs:include schemaLocation="EnderecoVO.xsd"/>
	<xs:element name="ContatoProspectVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idTipoComunicacao" type="xs:string"/>
				<xs:element name="dsTipoComunicacao" type="xs:string"/>
				<xs:element name="descricao" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ProspectVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="nome" type="xs:string"/>
				<xs:element name="tipoPessoa" type="xs:string"/>
				<xs:element name="idPais" type="xs:string"/>
				<xs:element name="idPaisDocumento" type="xs:string"/>
				<xs:element name="tipoDocumento" type="xs:string"/>
				<xs:element name="numeroDocumento" type="xs:string"/>
				<xs:element name="orgaoExpedidor" type="xs:string"/>
				<xs:element name="nrLinhaProspect" type="xs:string" minOccurs="0"/>
				<xs:element name="idUFDocumento" type="xs:string" minOccurs="0"/>
				<xs:element name="dataExpedicao" type="xs:string"/>
				<xs:element ref="tns:ContatoProspectVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="tns:EnderecoVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="nmPrimeiro" type="xs:string"/>
				<xs:element name="nmMeio" type="xs:string" minOccurs="0"/>
				<xs:element name="nmSobrenome" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CadastroProspectVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:TipoDocumentoVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="tns:PaisVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="tns:UFVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="tns:TipoComunicacaoVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="tns:ProspectVO" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
