JAVAFOJ6/schemas-xsd/schemas/CadastroPerguntaVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Decio (Home) -->
<xs:schema targetNamespace="campanha.fo.vivo.com.br/vo" xmlns:tns="campanha.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
		<xs:element name="CanalCampanha">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="idCanalCampanha" type="xs:string" minOccurs="0"/>
					<xs:element name="nmCanal" type="xs:string"/>
					<xs:element name="inAtivo" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
		</xs:element>
		<xs:element name="CadastroPerguntaVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idPergunta" type="xs:string" minOccurs="0"/>
				<xs:element name="idTipoApresentacao" type="xs:string" minOccurs="0"/>
				<xs:element name="dsPergunta" type="xs:string"/>
				<xs:element name="dsScriptPergunta" type="xs:string"/>
				<xs:element name="sqApresentacao" type="xs:string" minOccurs="0"/>
				<xs:element name="inEncerramento" type="xs:string" minOccurs="0"/>
				<xs:element name="inDisponibilidade" type="xs:string" minOccurs="0"/>
				<xs:element name="inObrigatoria" type="xs:string" minOccurs="0"/>
				<xs:element ref="tns:CanalCampanha" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>