JAVAFOJ6/schemas-xsd/schemas/CampanhaPerguntaVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema targetNamespace="campanha.fo.vivo.com.br/vo" xmlns:tns="campanha.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="CampanhaRespostaVO.xsd"/>
	<xs:element name="CampanhaPerguntaVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idPergunta" type="xs:string" minOccurs="0"/>
				<xs:element name="dsPergunta" type="xs:string"/>
				<xs:element name="dsScriptPergunta" type="xs:string"/>
				<xs:element name="sqApresentacao" type="xs:string" minOccurs="0"/>
				<xs:element name="inEncerramento" type="xs:string" minOccurs="0"/>
				<xs:element name="inDisponibilidade" type="xs:string" minOccurs="0"/>
				<xs:element name="inObrigatoria" type="xs:string" minOccurs="0"/>
				<xs:element name="idApresentacao" type="xs:string" minOccurs="0"/>
				<xs:element ref="tns:CampanhaRespostaVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="tns:CanalUtil"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
