JAVAFOJ6/schemas-xsd/schemas/CampanhaRespostaVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="campanha.fo.vivo.com.br/vo"
	targetNamespace="campanha.fo.vivo.com.br/vo"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified">
	<xs:element name="CampanhaRespostaVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idResposta" type="xs:string" minOccurs="0"/>
				<xs:element name="idPergunta" type="xs:string" minOccurs="0"/>
				<xs:element name="dsResposta" type="xs:string"/>
				<xs:element name="dsScriptResposta" type="xs:string"/>
				<xs:element name="sqApresentacao" type="xs:string" minOccurs="0"/>
				<xs:element name="inEncerramento" type="xs:string" minOccurs="0"/>
				<xs:element name="inStatus" type="xs:string" minOccurs="0"/>
				<xs:element name="idProximaPergunta" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
