JAVAFOJ6/schemas-xsd/schemas/CampanhaRelatorioOperadorVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema targetNamespace="campanha.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="campanha.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
<xs:include schemaLocation="RelatorioCampanhaHeaderVO.xsd"/>
    
	<xs:element name="CampanhaRelatorioOperadorVO">
		<xs:complexType>        
			<xs:sequence>
            
                <xs:element ref="tns:RelatorioCampanhaHeaderVO"  minOccurs="0"/>
                
                <xs:element name="numerico" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="operador" type="xs:string"/>
							<xs:element name="publicoTotal" type="xs:string"/>
							<xs:element name="metaDiaria" type="xs:string"/>
							<xs:element name="contatosEfetivos" type="xs:string"/>
							<xs:element name="tmo" type="xs:string"/>

							<xs:element name="naoAdesoes" type="xs:string"/>
							<xs:element name="reagendados" type="xs:string"/>
							<xs:element name="adesoes" type="xs:string"/>

							<xs:element name="motivos">
								<xs:complexType>
									<xs:sequence maxOccurs="unbounded">
										<xs:element name="dsMotivo" type="xs:string"/>
										<xs:element name="qtdMotivo" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>

							<xs:element name="ofertas">
								<xs:complexType>
									<xs:sequence maxOccurs="unbounded">
										<xs:element name="dsOferta" type="xs:string"/>
										<xs:element name="qtdOferta" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>

						</xs:sequence>
					</xs:complexType>
				</xs:element>
               
				<xs:element name="total" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
