JAVAFOJ6/schemas-xsd/schemas/CanalVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Jack Bauer (Vivo) -->
<xs:schema targetNamespace="workflow.fo.vivo.com.br/vo" xmlns:ns1="br.com.vivo.fo.workflow/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="CanalVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idCanal" type="xs:int"/>
				<xs:element name="descricao" type="xs:string"/>
				<xs:element name="nmCanal" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
