JAVAFOJ6/schemas-xsd/schemas/CarregarNovoEnderecoVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by vivo (vivo) -->
<xs:schema targetNamespace="cliente.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="cliente.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="EnderecoVO.xsd"/>
	<xs:element name="CarregarNovoEnderecoVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ListaTipoEndereco" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="tns:TipoEnderecoVO"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ListaPais" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="tns:PaisVO"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ListaUF" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="tns:UFVO"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
