JAVAFOJ6/schemas-xsd/schemas/ClassificacaoTipoLinhaVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by C_GAraujo (EMBRACE) -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by vivo (vivo) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="cliente.fo.vivo.com.br/vo" targetNamespace="cliente.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="ClassificacaoTipoLinhaVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idClassificacaoTipoLinhaVO" type="xs:string" minOccurs="0"/>
				<xs:element name="dsClassificacaoTipoLinhaVO" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
