JAVAFOJ6/schemas-xsd/schemas/ClientesPesquisados.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="cliente.fo.vivo.com.br/vo" targetNamespace="cliente.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="ClientesPesquisados">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idPessoa" type="xs:string" minOccurs="0"/>
				<xs:element name="nmNome" type="xs:string" minOccurs="0"/>
				<xs:element name="dsTipoDocumento" type="xs:string" minOccurs="0"/>
				<xs:element name="nrDocumento" type="xs:string" minOccurs="0"/>
				<xs:element name="dsTipoPessoa" type="xs:string" minOccurs="0"/>
				<xs:element name="nrLinha" type="xs:string" minOccurs="0"/>
				<xs:element name="cdArea" type="xs:string" minOccurs="0"/>
				<xs:element name="dsTipoLinha" type="xs:string" minOccurs="0"/>
				<xs:element name="dsEstadoLinha" type="xs:string" minOccurs="0"/>
				<xs:element name="idPessoaLinha" type="xs:string" minOccurs="0"/>
				<xs:element name="inClienteUsuario" type="xs:string" minOccurs="0"/>
				<xs:element name="isProtocoloAtivo" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
