JAVAFOJ6/schemas-xsd/schemas/ClienteFormularioVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by C_GAraujo (EMBRACE) -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by vivo (vivo) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="admsistemas.fo.vivo.com.br/vo" xmlns:ns1="commons.fo.vivo.com.br/vo" targetNamespace="admsistemas.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="commons.fo.vivo.com.br/vo" schemaLocation="IDValorClienteVO.xsd"/>
	<xs:element name="ClienteFormularioVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="tpOperacao" type="xs:string" minOccurs="0"/>
                <xs:element name="inAssociado" type="xs:string" minOccurs="0"/>
                <xs:element name="msgRetorno" type="xs:string" minOccurs="0"/>
				<xs:element name="FuncionalidadeFrmVO" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="idFuncionalidade" type="xs:string" minOccurs="0"/>
							<xs:element name="idFormulario" type="xs:string" minOccurs="0"/>
							<xs:element name="idContato" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ClienteVO" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nrCNPJ" type="xs:string" minOccurs="0"/>
                            <xs:element name="nmRazaoSocial" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Lista" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nmSelect" type="xs:string" minOccurs="0"/>
							<xs:element name="Disponivel">
								<xs:complexType>
									<xs:sequence minOccurs="0">
										<xs:element ref="ns1:IDValorClienteVO" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Selecionado" minOccurs="0">
								<xs:complexType>
									<xs:sequence minOccurs="0">
										<xs:element ref="ns1:IDValorClienteVO" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
