JAVAFOJ6/schemas-xsd/schemas/ContatoAtendimentoCampanhaVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="campanha.fo.vivo.com.br/vo" xmlns:tns="campanha.fo.vivo.com.br/vo"
   xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">   
	<xs:element name="ContatoAtendimentoCampanhaVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idListaConteudo" type="xs:int"/>
				<xs:element name="idLista" type="xs:int"/>
				<xs:element name="nrTelefone" type="xs:string"/>
				<xs:element name="nmContato" type="xs:string"/>				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>