JAVAFOJ6/schemas-xsd/schemas/ContaOutVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by david (alpha) -->
<!--W3C Schema generated by XMLSPY v2004 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="ARG" substitutionGroup="InnerBody">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DADOS"/>
                <xs:element ref="ERRO"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
    <xs:element name="ERRO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="COD" type="xs:string"/>
				<xs:element name="MSG" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DADOS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="outputGetBillImage"/>
				<xs:element ref="ListOfBeans"/>
				<xs:element ref="ServicoEmailBean"/>
                <xs:element name="PATH" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="outputGetBillImage" type="xs:string"/>
	<xs:element name="ListOfBeans">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="codigo" type="xs:unsignedByte"/>
				<xs:element name="descricao" type="xs:string"/>
				<xs:element name="iterator">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="class" type="xs:string" use="required"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="listBean">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="HistoricoEmailBean" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="acao" type="xs:string"/>
										<xs:element name="codigo" type="xs:unsignedByte"/>
										<xs:element name="dataAcaoFormatada" type="xs:string"/>
										<xs:element name="descricao" type="xs:string"/>
										<xs:element name="number" type="xs:unsignedByte"/>
										<xs:element name="numberRedelivery" type="xs:unsignedByte"/>
										<xs:element name="severidade" type="xs:unsignedByte"/>
										<xs:element name="statusMsg" type="xs:string"/>
									</xs:sequence>
									<xs:attribute name="class" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="HistoricoDiasEmailBean" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="codigo" type="xs:string"/>
										<xs:element name="descricao" type="xs:string"/>
										<xs:element name="dia" type="xs:string"/>
										<xs:element name="diaFormatado" type="xs:string"/>
										<xs:element name="limite" type="xs:string"/>                                                                                                                        
										<xs:element name="numberRedelivery" type="xs:string"/>                                                                                                                        
										<xs:element name="qtdeClientes" type="xs:string"/>
										<xs:element name="severidade" type="xs:string"/>                                                                                                                                                                                                                                                                                                                                                                        
										<xs:element name="taxa" type="xs:string"/>                                                                                                                                                                                                                                                                                                                                                                        
										<xs:element name="visible" type="xs:string"/>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
									</xs:sequence>
									<xs:attribute name="class" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="TotalSQLBean">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="codigo" type="xs:unsignedByte"/>
										<xs:element name="descricao" type="xs:string"/>
										<xs:element name="fimPos" type="xs:unsignedByte"/>
										<xs:element name="iniPos" type="xs:unsignedByte"/>
										<xs:element name="numberRedelivery" type="xs:unsignedByte"/>
										<xs:element name="severidade" type="xs:unsignedByte"/>
										<xs:element name="totalRows" type="xs:unsignedByte"/>
									</xs:sequence>
									<xs:attribute name="class" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="ServicoEmailBean">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="cadastroAtivo" type="xs:boolean"/>
										<xs:element name="cadastroExiste" type="xs:boolean"/>
										<xs:element name="cancelarEnvio" type="xs:boolean"/>
										<xs:element name="codigo" type="xs:unsignedByte"/>
										<xs:element name="consultar" type="xs:boolean"/>
										<xs:element name="dadosLinha">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="codigo" type="xs:unsignedByte"/>
													<xs:element name="descricao" type="xs:string"/>
													<xs:element name="linha">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="aparelho">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="codigo" type="xs:unsignedByte"/>
																			<xs:element name="descricao" type="xs:string"/>
																			<xs:element name="modelo" type="xs:string"/>
																			<xs:element name="numberRedelivery" type="xs:unsignedByte"/>
																			<xs:element name="serial"/>
																			<xs:element name="severidade" type="xs:unsignedByte"/>
																			<xs:element name="wap" type="xs:boolean"/>
																		</xs:sequence>
																		<xs:attribute name="class" type="xs:string" use="required"/>
																	</xs:complexType>
																</xs:element>
																<xs:element name="area" type="xs:unsignedByte"/>
																<xs:element name="bloqueioDeSMS" type="xs:unsignedByte"/>
																<xs:element name="codOperadora" type="xs:string"/>
																<xs:element name="codigo" type="xs:unsignedByte"/>
																<xs:element name="codigoCentroCusto" type="xs:string"/>
																<xs:element name="codigoEmpresa" type="xs:string"/>
																<xs:element name="codigoLinha" type="xs:unsignedByte"/>
																<xs:element name="codigoLinhaLegado" type="xs:unsignedByte"/>
																<xs:element name="codigoPlano" type="xs:string"/>
																<xs:element name="contasPendentes">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute name="total" type="xs:unsignedByte" use="required"/>
																				<xs:attribute name="class" type="xs:string" use="required"/>
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="dataHabilitacaoFormatada" type="xs:string"/>
																<xs:element name="dataUltAcesso" type="xs:string"/>
																<xs:element name="dataUltAcessoFormatada" type="xs:string"/>
																<xs:element name="desbloqueio" type="xs:unsignedByte"/>
																<xs:element name="descrTipoPlano" type="xs:string"/>
																<xs:element name="descricao" type="xs:string"/>
																<xs:element name="descricaoEstado" type="xs:string"/>
																<xs:element name="desligSinistro" type="xs:unsignedByte"/>
																<xs:element name="desligVoluntario" type="xs:boolean"/>
																<xs:element name="dicaFrase" type="xs:unsignedInt"/>
																<xs:element name="digitoVerificador"/>
																<xs:element name="emocionId" type="xs:byte"/>
																<xs:element name="estado" type="xs:unsignedByte"/>
																<xs:element name="estadoLinha"/>
																<xs:element name="estadoSenha" type="xs:unsignedByte"/>
																<xs:element name="existeFraseSecreta" type="xs:boolean"/>
																<xs:element name="existeSenha" type="xs:unsignedByte"/>
																<xs:element name="fraude" type="xs:boolean"/>
																<xs:element name="gestao" type="xs:boolean"/>
																<xs:element name="id" type="xs:string"/>
																<xs:element name="linha" type="xs:unsignedInt"/>
																<xs:element name="linhaFormatada" type="xs:string"/>
																<xs:element name="mudancaPlanoPendente" type="xs:boolean"/>
																<xs:element name="mudancaVctoPendente" type="xs:boolean"/>
																<xs:element name="nrContrato" type="xs:unsignedShort"/>
																<xs:element name="numberRedelivery" type="xs:unsignedByte"/>
																<xs:element name="numero" type="xs:unsignedInt"/>
																<xs:element name="operadora" type="xs:string"/>
																<xs:element name="participacaoGestao" type="xs:boolean"/>
																<xs:element name="plano" type="xs:string"/>
																<xs:element name="plataforma" type="xs:string"/>
																<xs:element name="posPago" type="xs:boolean"/>
																<xs:element name="possuiLinhaAgregada" type="xs:boolean"/>
																<xs:element name="possuiMaisLinhasConta" type="xs:boolean"/>
																<xs:element name="prePago" type="xs:boolean"/>
																<xs:element name="primeiroAcesso" type="xs:unsignedByte"/>
																<xs:element name="produto" type="xs:string"/>
																<xs:element name="proprietario">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="RG"/>
																			<xs:element name="cnpj"/>
																			<xs:element name="cnpjNaoFormatado"/>
																			<xs:element name="codigo" type="xs:unsignedByte"/>
																			<xs:element name="codigoCliente" type="xs:unsignedShort"/>
																			<xs:element name="contasProgPontos">
																				<xs:complexType>
																					<xs:simpleContent>
																						<xs:extension base="xs:string">
																							<xs:attribute name="total" type="xs:unsignedByte" use="required"/>
																							<xs:attribute name="class" type="xs:string" use="required"/>
																						</xs:extension>
																					</xs:simpleContent>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="cpf" type="xs:unsignedLong"/>
																			<xs:element name="cpfNaoFormatado" type="xs:unsignedLong"/>
																			<xs:element name="descricao" type="xs:string"/>
																			<xs:element name="diaConta" type="xs:unsignedByte"/>
																			<xs:element name="documento"/>
																			<xs:element name="email" type="xs:string"/>
																			<xs:element name="endereco">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="bairro" type="xs:string"/>
																						<xs:element name="cep" type="xs:string"/>
																						<xs:element name="cidade" type="xs:string"/>
																						<xs:element name="codigo" type="xs:unsignedByte"/>
																						<xs:element name="complemento"/>
																						<xs:element name="descricao" type="xs:string"/>
																						<xs:element name="logradouro" type="xs:string"/>
																						<xs:element name="numberRedelivery" type="xs:unsignedByte"/>
																						<xs:element name="numero" type="xs:unsignedByte"/>
																						<xs:element name="pais" type="xs:string"/>
																						<xs:element name="severidade" type="xs:unsignedByte"/>
																						<xs:element name="uf" type="xs:string"/>
																					</xs:sequence>
																					<xs:attribute name="class" type="xs:string" use="required"/>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="linhas">
																				<xs:complexType>
																					<xs:simpleContent>
																						<xs:extension base="xs:string">
																							<xs:attribute name="total" type="xs:unsignedByte" use="required"/>
																							<xs:attribute name="class" type="xs:string" use="required"/>
																						</xs:extension>
																					</xs:simpleContent>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="nome" type="xs:string"/>
																			<xs:element name="numContasProgPontos" type="xs:unsignedByte"/>
																			<xs:element name="numberRedelivery" type="xs:unsignedByte"/>
																			<xs:element name="operadora" type="xs:unsignedByte"/>
																			<xs:element name="outros" type="xs:boolean"/>
																			<xs:element name="pessoaFisica" type="xs:boolean"/>
																			<xs:element name="pessoaJuridica" type="xs:boolean"/>
																			<xs:element name="rg"/>
																			<xs:element name="rgNaoFormatado"/>
																			<xs:element name="severidade" type="xs:unsignedByte"/>
																			<xs:element name="status" type="xs:string"/>
																			<xs:element name="statusProgPontosFormatado" type="xs:string"/>
																			<xs:element name="telefoneContato" type="xs:unsignedInt"/>
																			<xs:element name="telefoneContatoFormatado"/>
																			<xs:element name="tipoCliente" type="xs:string"/>
																		</xs:sequence>
																		<xs:attribute name="class" type="xs:string" use="required"/>
																	</xs:complexType>
																</xs:element>
																<xs:element name="provisionado" type="xs:boolean"/>
																<xs:element name="qtdeLinhasRelConta" type="xs:unsignedByte"/>
																<xs:element name="severidade" type="xs:unsignedByte"/>
																<xs:element name="srvRelacionados">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute name="total" type="xs:unsignedByte" use="required"/>
																				<xs:attribute name="class" type="xs:string" use="required"/>
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="status" type="xs:string"/>
																<xs:element name="statusBloqueioSMS" type="xs:string"/>
																<xs:element name="subscriberId" type="xs:string"/>
																<xs:element name="tipoPlano" type="xs:string"/>
																<xs:element name="tipoRestricaoLinha"/>
															</xs:sequence>
															<xs:attribute name="class" type="xs:string" use="required"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="numberRedelivery" type="xs:unsignedByte"/>
													<xs:element name="severidade" type="xs:unsignedByte"/>
													<xs:element name="siglaEstado" type="xs:string"/>
												</xs:sequence>
												<xs:attribute name="class" type="xs:string" use="required"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="data"/>
										<xs:element name="descricao" type="xs:string"/>
										<xs:element name="email" type="xs:string"/>
										<xs:element name="envioProgramado" type="xs:boolean"/>
										<xs:element name="formato" type="xs:unsignedByte"/>
										<xs:element name="formatoStr" type="xs:string"/>
										<xs:element name="numberRedelivery" type="xs:unsignedByte"/>
										<xs:element name="passo" type="xs:unsignedByte"/>
										<xs:element name="periodo" type="xs:unsignedByte"/>
										<xs:element name="severidade" type="xs:unsignedByte"/>
										<xs:element name="siglaTarefa" type="xs:string"/>
										<xs:element name="telefoneContato"/>
										<xs:element name="validade"/>
									</xs:sequence>
									<xs:attribute name="class" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="total" type="xs:unsignedByte" use="required"/>
						<xs:attribute name="class" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="numberRedelivery" type="xs:unsignedByte"/>
				<xs:element name="order" type="xs:boolean"/>
				<xs:element name="ordered" type="xs:boolean"/>
				<xs:element name="severidade" type="xs:unsignedByte"/>
				<xs:element name="size" type="xs:unsignedByte"/>
			</xs:sequence>
			<xs:attribute name="class" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ServicoEmailBean">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="cadastroAtivo" type="xs:boolean"/>
				<xs:element name="cadastroExiste" type="xs:boolean"/>
				<xs:element name="cancelarEnvio" type="xs:boolean"/>
				<xs:element name="codigo" type="xs:unsignedByte"/>
				<xs:element name="consultar" type="xs:boolean"/>
				<xs:element name="dadosLinha">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="codigo" type="xs:unsignedByte"/>
							<xs:element name="descricao" type="xs:string"/>
							<xs:element name="linha">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="aparelho">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="codigo" type="xs:unsignedByte"/>
													<xs:element name="descricao" type="xs:string"/>
													<xs:element name="modelo" type="xs:string"/>
													<xs:element name="numberRedelivery" type="xs:unsignedByte"/>
													<xs:element name="serial"/>
													<xs:element name="severidade" type="xs:unsignedByte"/>
													<xs:element name="wap" type="xs:boolean"/>
												</xs:sequence>
												<xs:attribute name="class" type="xs:string" use="required"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="area" type="xs:unsignedByte"/>
										<xs:element name="bloqueioDeSMS" type="xs:unsignedByte"/>
										<xs:element name="codOperadora" type="xs:string"/>
										<xs:element name="codigo" type="xs:unsignedByte"/>
										<xs:element name="codigoCentroCusto" type="xs:string"/>
										<xs:element name="codigoEmpresa" type="xs:string"/>
										<xs:element name="codigoLinha" type="xs:unsignedByte"/>
										<xs:element name="codigoLinhaLegado" type="xs:unsignedByte"/>
										<xs:element name="codigoPlano" type="xs:string"/>
										<xs:element name="contasPendentes">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="total" type="xs:unsignedByte"/>
														<xs:attribute name="class" type="xs:string"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="dataHabilitacaoFormatada" type="xs:string"/>
										<xs:element name="dataUltAcesso" type="xs:string"/>
										<xs:element name="dataUltAcessoFormatada" type="xs:string"/>
										<xs:element name="desbloqueio" type="xs:unsignedByte"/>
										<xs:element name="descrTipoPlano" type="xs:string"/>
										<xs:element name="descricao" type="xs:string"/>
										<xs:element name="descricaoEstado" type="xs:string"/>
										<xs:element name="desligSinistro" type="xs:unsignedByte"/>
										<xs:element name="desligVoluntario" type="xs:boolean"/>
										<xs:element name="dicaFrase" type="xs:unsignedInt"/>
										<xs:element name="digitoVerificador"/>
										<xs:element name="emocionId" type="xs:byte"/>
										<xs:element name="estado" type="xs:unsignedByte"/>
										<xs:element name="estadoLinha"/>
										<xs:element name="estadoSenha" type="xs:unsignedByte"/>
										<xs:element name="existeFraseSecreta" type="xs:boolean"/>
										<xs:element name="existeSenha" type="xs:unsignedByte"/>
										<xs:element name="fraude" type="xs:boolean"/>
										<xs:element name="gestao" type="xs:boolean"/>
										<xs:element name="id" type="xs:string"/>
										<xs:element name="linha" type="xs:unsignedInt"/>
										<xs:element name="linhaFormatada" type="xs:string"/>
										<xs:element name="mudancaPlanoPendente" type="xs:boolean"/>
										<xs:element name="mudancaVctoPendente" type="xs:boolean"/>
										<xs:element name="nrContrato" type="xs:unsignedShort"/>
										<xs:element name="numberRedelivery" type="xs:unsignedByte"/>
										<xs:element name="numero" type="xs:unsignedInt"/>
										<xs:element name="operadora" type="xs:string"/>
										<xs:element name="participacaoGestao" type="xs:boolean"/>
										<xs:element name="plano" type="xs:string"/>
										<xs:element name="plataforma" type="xs:string"/>
										<xs:element name="posPago" type="xs:boolean"/>
										<xs:element name="possuiLinhaAgregada" type="xs:boolean"/>
										<xs:element name="possuiMaisLinhasConta" type="xs:boolean"/>
										<xs:element name="prePago" type="xs:boolean"/>
										<xs:element name="primeiroAcesso" type="xs:unsignedByte"/>
										<xs:element name="produto" type="xs:string"/>
										<xs:element name="proprietario">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="RG"/>
													<xs:element name="cnpj"/>
													<xs:element name="cnpjNaoFormatado"/>
													<xs:element name="codigo" type="xs:unsignedByte"/>
													<xs:element name="codigoCliente" type="xs:unsignedShort"/>
													<xs:element name="contasProgPontos">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="total" type="xs:unsignedByte" use="required"/>
																	<xs:attribute name="class" type="xs:string" use="required"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="cpf" type="xs:unsignedLong"/>
													<xs:element name="cpfNaoFormatado" type="xs:unsignedLong"/>
													<xs:element name="descricao" type="xs:string"/>
													<xs:element name="diaConta" type="xs:unsignedByte"/>
													<xs:element name="documento"/>
													<xs:element name="email" type="xs:string"/>
													<xs:element name="endereco">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="bairro" type="xs:string"/>
																<xs:element name="cep" type="xs:string"/>
																<xs:element name="cidade" type="xs:string"/>
																<xs:element name="codigo" type="xs:unsignedByte"/>
																<xs:element name="complemento"/>
																<xs:element name="descricao" type="xs:string"/>
																<xs:element name="logradouro" type="xs:string"/>
																<xs:element name="numberRedelivery" type="xs:unsignedByte"/>
																<xs:element name="numero" type="xs:unsignedByte"/>
																<xs:element name="pais" type="xs:string"/>
																<xs:element name="severidade" type="xs:unsignedByte"/>
																<xs:element name="uf" type="xs:string"/>
															</xs:sequence>
															<xs:attribute name="class" type="xs:string" use="required"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="linhas">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="total" type="xs:unsignedByte" use="required"/>
																	<xs:attribute name="class" type="xs:string" use="required"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="nome" type="xs:string"/>
													<xs:element name="numContasProgPontos" type="xs:unsignedByte"/>
													<xs:element name="numberRedelivery" type="xs:unsignedByte"/>
													<xs:element name="operadora" type="xs:unsignedByte"/>
													<xs:element name="outros" type="xs:boolean"/>
													<xs:element name="pessoaFisica" type="xs:boolean"/>
													<xs:element name="pessoaJuridica" type="xs:boolean"/>
													<xs:element name="rg"/>
													<xs:element name="rgNaoFormatado"/>
													<xs:element name="severidade" type="xs:unsignedByte"/>
													<xs:element name="status" type="xs:string"/>
													<xs:element name="statusProgPontosFormatado" type="xs:string"/>
													<xs:element name="telefoneContato" type="xs:unsignedInt"/>
													<xs:element name="telefoneContatoFormatado"/>
													<xs:element name="tipoCliente" type="xs:string"/>
												</xs:sequence>
												<xs:attribute name="class" type="xs:string" use="required"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="provisionado" type="xs:boolean"/>
										<xs:element name="qtdeLinhasRelConta" type="xs:unsignedByte"/>
										<xs:element name="severidade" type="xs:unsignedByte"/>
										<xs:element name="srvRelacionados">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="total" type="xs:unsignedByte" use="required"/>
														<xs:attribute name="class" type="xs:string" use="required"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="status" type="xs:string"/>
										<xs:element name="statusBloqueioSMS" type="xs:string"/>
										<xs:element name="subscriberId" type="xs:string"/>
										<xs:element name="tipoPlano" type="xs:string"/>
										<xs:element name="tipoRestricaoLinha"/>
									</xs:sequence>
									<xs:attribute name="class" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="numberRedelivery" type="xs:unsignedByte"/>
							<xs:element name="severidade" type="xs:unsignedByte"/>
							<xs:element name="siglaEstado" type="xs:string"/>
						</xs:sequence>
						<xs:attribute name="class" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="data"/>
				<xs:element name="descricao" type="xs:string"/>
				<xs:element name="email" type="xs:string"/>
				<xs:element name="envioProgramado" type="xs:boolean"/>
				<xs:element name="formato" type="xs:unsignedByte"/>
				<xs:element name="formatoStr" type="xs:string"/>
				<xs:element name="numberRedelivery" type="xs:unsignedByte"/>
				<xs:element name="passo" type="xs:unsignedByte"/>
				<xs:element name="periodo" type="xs:string"/>
				<xs:element name="severidade" type="xs:unsignedByte"/>
				<xs:element name="siglaTarefa" type="xs:string"/>
				<xs:element name="telefoneContato"/>
				<xs:element name="validade"/>
			</xs:sequence>
			<xs:attribute name="class" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>