JAVAFOJ6/schemas-xsd/schemas/ContaVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="workflow.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="workflow.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="LinhaVO.xsd"/>
	<xs:element name="ContaVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idConta" type="xs:int"/>
				<xs:element name="nrConta" type="xs:string"/>
				<xs:element name="nrDigitoConta" type="xs:string"/>
				<xs:element name="dsAuxiliar" type="xs:string" minOccurs="0"/>
				<xs:element ref="ns1:LinhaVO" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
