JAVAFOJ6/schemas-xsd/schemas/ConvergenciaVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 (http://www.altova.com) by Jon Jones (UFC) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="cliente.fo.vivo.com.br/vo" targetNamespace="cliente.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="ConvergenciaVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="nrTelefone" type="xs:string" minOccurs="0"/>
				<xs:element name="Linha" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nrLinha" minOccurs="0" type="xs:string" />
							<xs:element name="dsTipoLinha" minOccurs="0" type="xs:string" />
							<xs:element name="nmPessoa" minOccurs="0" type="xs:string" />
							<xs:element name="idLinhaTelefonica" minOccurs="0" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
