JAVAFOJ6/schemas-xsd/schemas/DesbloqueioGsmVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by Vivo (Vivo) -->
<xs:schema xmlns:ns1="cliente.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="cliente.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="DesbloqueioGsmVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idPessoa" type="xs:string" minOccurs="0"/>
				<xs:element name="idGrupoAbertura" type="xs:string" minOccurs="0"/>
				<xs:element name="idTipoRelacionamento" type="xs:string" minOccurs="0"/>
				<xs:element name="cdAreaRegistro" type="xs:string" minOccurs="0"/>
				<xs:element name="nrLinha" type="xs:string" minOccurs="0"/>
				<xs:element name="idTipoDocumento" type="xs:string" minOccurs="0"/>
				<xs:element name="nrDocumento" type="xs:string" minOccurs="0"/>
				<xs:element name="nrIP" type="xs:string" minOccurs="0"/>
				<xs:element name="nrIMEI" type="xs:string" minOccurs="0"/>
				<xs:element name="nrSimLock" type="xs:string" minOccurs="0"/>
				<xs:element name="statusConsulta" type="xs:string" minOccurs="0"/>
				<xs:element name="errorCode" type="xs:string" minOccurs="0"/>
				<xs:element name="errorDescription" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
