JAVAFOJ6/schemas-xsd/schemas/DestinoVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="admsistemas.fo.vivo.com.br/vo" targetNamespace="admsistemas.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="DestinoVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idDestino" type="xs:string"/>
				<xs:element name="dsDestino" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>