JAVAFOJ6/schemas-xsd/schemas/DetalheAparelhoVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by Weblogic Workshop (BEA) -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Guilherme (Indra) -->
<xs:schema xmlns:tns="fidelizacao.fo.vivo.com.br/vo" xmlns:xxl="fidelizacao.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="fidelizacao.fo.vivo.com.br/vo">
	<xs:element name="ListaDDDVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:string" minOccurs="0"/>
				<xs:element name="nrDDD" type="xs:string" minOccurs="0"/>
				<xs:element name="nrCodigoSAP" type="xs:string" minOccurs="0"/>
				<xs:element name="vlUnitario" type="xs:string" minOccurs="0"/>
				<xs:element name="qtEstoque" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AparelhoCorVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idEstoque" type="xs:string"/>
				<xs:element name="idAparelhoCor" type="xs:string"/>
				<xs:element name="cor" type="xs:string"/>
				<xs:element name="preco" type="xs:string"/>
				<xs:element name="qtdeEstoque" type="xs:string"/>
				<xs:element name="codigoSAP" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="descontoVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:string"/>
				<xs:element name="valor" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="parcelaVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:string"/>
				<xs:element name="valor" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DetalheAparelhoVO">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idAparelho" type="xs:string"/>
				<xs:element name="marca" type="xs:string"/>
				<xs:element name="modelo" type="xs:string"/>
				<xs:element name="idUfoperadora" type="xs:string"/>
				<xs:element name="inChipAvulso" type="xs:string"/>
				<xs:element name="inChipPreProgramado" type="xs:string"/>
				<xs:element name="valorMulta" type="xs:string"/>
				<xs:element ref="tns:AparelhoCorVO" maxOccurs="unbounded"/>
				<xs:element ref="tns:ListaDDDVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="tns:descontoVO" maxOccurs="unbounded"/>
				<xs:element ref="tns:parcelaVO" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
