JAVAFOJ6/schemas-xsd/schemas/DetalheHistoricoRetencao.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Thobias Pink Panter (oviv) -->
<xs:schema targetNamespace="fidelizacao.fo.vivo.com.br/vo" xmlns:tns="fidelizacao.fo.vivo.com.br/vo" xmlns:xxl="fidelizacao.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="detalheHistoricoRetencaoVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="intencao" type="xs:string"/>
				<xs:element name="destino" type="xs:string"/>
				<xs:element ref="tns:listaOfertaRealizadaVO"/>
				<xs:element name="ofertaAceita" type="xs:string"/>
				<xs:element name="comentario" type="xs:string"/>
				<xs:element name="caractOfertasAceitas">
					<xs:complexType>
						<xs:sequence maxOccurs="unbounded">
							<xs:element name="caracteristica">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="nome" type="xs:string"/>
										<xs:element name="valor" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="listaOfertaRealizadaVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:ofertaRealizadaVO" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ofertaRealizadaVO">
		<xs:complexType mixed="0">
			<xs:sequence>
				<xs:element name="id" type="xs:string"/>
				<xs:element name="descricao" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
