JAVAFOJ6/schemas-xsd/schemas/EncerramentoVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Jack Bauer (Vivo) -->
<xs:schema targetNamespace="admsistemas.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="admsistemas.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="EncerramentoVO">
		<xs:annotation>
			<xs:documentation>Encerramento VO</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idBaixa" type="xs:string" minOccurs="0"/>
				<xs:element name="idBaixaMensagem" type="xs:string" minOccurs="0"/>
				<xs:element name="dsBaixa" type="xs:string" minOccurs="0"/>
				<xs:element name="dsMensagem" type="xs:string" minOccurs="0"/>
				<xs:element name="codBaixa" type="xs:string" minOccurs="0"/>
				<xs:element name="dsRespostaPadrao" type="xs:string" minOccurs="0"/>
				<xs:element name="dsComentario" type="xs:string" minOccurs="0"/>
				<xs:element name="dsDocumentoAssociado" type="xs:string" minOccurs="0"/>
				<xs:element name="nmDocumento" type="xs:string" minOccurs="0"/>
				<xs:element name="idFormaRetorno" type="xs:string" minOccurs="0"/>
				<xs:element name="dsFormaRetorno" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
