JAVAFOJ6/schemas-xsd/schemas/EnderecoVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by vivo (vivo) -->
<xs:schema targetNamespace="cliente.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="cliente.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TipoEnderecoVO.xsd"/>
	<xs:include schemaLocation="PaisVO.xsd"/>
	<xs:include schemaLocation="UFVO.xsd"/>
	<xs:element name="EnderecoVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idUfOperadora" type="xs:string"/>
				<xs:element name="idEndereco" type="xs:string"/>
				<xs:element ref="tns:TipoEnderecoVO"/>
				<xs:element name="nmTipoLogradouro" type="xs:string"/>
				<xs:element name="nmTituloLogradouro" type="xs:string"/>
				<xs:element name="nmLogradouro" type="xs:string"/>
				<xs:element name="nmBairro" type="xs:string"/>
				<xs:element name="nmMunicipio" type="xs:string"/>
				<xs:element name="nrEndereco" type="xs:string"/>
				<xs:element name="dsEnderecoComplemento" type="xs:string"/>
				<xs:element name="nrCEP" type="xs:string"/>
				<xs:element ref="tns:UFVO"/>
				<xs:element ref="tns:PaisVO"/>
				<xs:element name="dtCadastro" type="xs:string"/>
				<xs:element name="nmPessoaContato" type="xs:string"/>
				<xs:element name="inEnderecoPrincipal" type="xs:string"/>
				<xs:element name="inEnderecoPreferencial" type="xs:string"/>
				<xs:element name="dtExpiracao" type="xs:string"/>
				<xs:element name="inSincronismo" type="xs:string"/>
				<xs:element name="dsLado" type="xs:string"/>
				<xs:element name="cdLojaOperadoraCartao" type="xs:string"/>
				<xs:element name="nmPessoa" type="xs:string"/>
				<xs:element name="codLogradouro" type="xs:string" minOccurs="0"/>
				<xs:element name="inCnl" type="xs:string" minOccurs="0"/>
				<xs:element name="inCodigoIBGE" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
