JAVAFOJ6/schemas-xsd/schemas/ErroInfoSchema2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2009 (http://www.altova.com)-->
<xs:schema xmlns:ger="http://www.vivo.com.br/MC/Geral" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.vivo.com.br/MC/Geral">
	<xs:complexType name="T_erroInfo">
		<xs:sequence>
			<xs:element ref="ger:codigo"/>
			<xs:element ref="ger:descricao"/>
			<xs:element ref="ger:dataTransacao"/>
			<xs:element ref="ger:codigoClassificacao"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="erroInfo" type="ger:T_erroInfo"/>
	<xs:element name="descricao" type="xs:string"/>
	<xs:element name="dataTransacao" type="xs:string"/>
	<xs:element name="codigoClassificacao" type="xs:int"/>
	<xs:element name="codigo" type="xs:int"/>
</xs:schema>
