JAVAFOJ6/schemas-xsd/schemas/ErroInfoSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2009 (http://www.altova.com)-->
<xs:schema targetNamespace="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ger="http://www.vivo.com.br/MC/Geral" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import namespace="http://www.vivo.com.br/MC/Geral" schemaLocation="ErroInfoSchema2.xsd"/>
	<xs:complexType name="T_detail">
		<xs:sequence>
			<xs:element ref="ger:erroInfo"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="faultString" type="xs:string"/>
	<xs:element name="faultCode" type="xs:byte"/>
	<xs:element name="detail" type="soapenv:T_detail"/>
</xs:schema>
