JAVAFOJ6/schemas-xsd/schemas/ExtratoVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by dambers (v.o.v.i.) -->
<xs:schema targetNamespace="cliente.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="cliente.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="ExtratoVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="buffer">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="EXTRACTO_DETALHADO">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CABECALHO">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="INFO">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="EMISSAO" type="xs:string"/>
																<xs:element name="PERIODO" type="xs:string"/>
																<xs:element name="CELULAR" type="xs:string"/>
																<xs:element name="CONTA" type="xs:string"/>
																<xs:element name="PERFIL" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="MORADA">
														<xs:complexType>
															<xs:sequence maxOccurs="unbounded">
																<xs:element name="LINHA" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="IMG_ESQ"/>
													<xs:element name="IMG_DIR"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="TABELA">
											<xs:complexType>
												<xs:sequence maxOccurs="unbounded">
													<xs:element name="REGISTRO">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="ID" type="xs:string"/>
																<xs:element name="ITEM" type="xs:string"/>
																<xs:element name="DATAHORA" type="xs:string"/>
																<xs:element name="ORIGEM" type="xs:string"/>
																<xs:element name="DESTINO" type="xs:string"/>
																<xs:element name="NRDESTINO" type="xs:string"/>
																<xs:element name="CDTIPOSALDO" type="xs:string"/>
																<xs:element name="MOTIVO" type="xs:string"/>
																<xs:element name="OPERACAO" type="xs:string"/>
																<xs:element name="CDTIPOSALDO" type="xs:string"/>
																<xs:element name="TIPOSALDO" type="xs:string"/>
																<xs:element name="CDTIPOCHAMADA" type="xs:string"/>
																<xs:element name="TIPOCHAMADA" type="xs:string"/>
																<xs:element name="PERIODO" type="xs:string"/>
																<xs:element name="DURACAO" type="xs:string"/>
																<xs:element name="TOTAL" type="xs:string"/>
																<xs:element name="DTCOBRANCA" type="xs:string"/>
																<xs:element name="DESCRICAO" type="xs:string"/>
																<xs:element name="VALOR" type="xs:string"/>
																<xs:element name="CDTIPOBONUS" type="xs:string"/>
																<xs:element name="TIPOBONUS" type="xs:string"/>
																<xs:element name="VLBONUS" type="xs:string"/>
																<xs:element name="TOTALRECARGAS" type="xs:string"/>
																<xs:element name="DEBITOS" type="xs:string"/>
																<xs:element name="CREDITOS" type="xs:string"/>
																<xs:element name="SALDOATUAL" type="xs:string"/>
																<xs:element name="DTEXP" type="xs:string"/>
																<xs:element name="CDTIPOAJUSTE" type="xs:string"/>
																<xs:element name="TIPOAJUSTE" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="MENSAGENS">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="MENSAGEM" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="backEnd" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
