JAVAFOJ6/schemas-xsd/schemas/FechaProtocoloTO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="atendimento.fo.vivo.com.br/vo" targetNamespace="atendimento.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="FechaProtocoloTO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="nrProtocolo" type="xs:string"/>
				<xs:element name="idSistemaOrigem" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
