JAVAFOJ6/schemas-xsd/schemas/FechaProtocoloOutTO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="atendimento.fo.vivo.com.br/vo" targetNamespace="atendimento.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="FechaProtocoloOutTO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="cdError" type="xs:string" minOccurs="0"/>
				<xs:element name="msgError" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
