JAVAFOJ6/schemas-xsd/schemas/FechamentoAtendimentoVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Jack Bauer (Vivo) -->
<xs:schema targetNamespace="workflow.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="workflow.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="AtendimentoVO.xsd"/>
	<xs:element name="FechamentoAtendimentoVO">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idBaixa" type="xs:string" minOccurs="0"/>
				<xs:element name="idBaixaMensagem" type="xs:string" minOccurs="0"/>
				<xs:element name="idAtividade" type="xs:string" minOccurs="0"/>
				<xs:element name="idResultadoFechamento" type="xs:string" minOccurs="0"/>
				<xs:element name="observacaoFechamento" type="xs:string" minOccurs="0"/>
				<xs:element ref="ns1:AtendimentoVO" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
