JAVAFOJ6/schemas-xsd/schemas/FidelizacaoManterVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:ns1="fidelizacao.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="fidelizacao.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:element name="FidelizacaoManterVO">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="texto" type="xs:string"/>
                <xs:element name="idperg" type="xs:string"/>
                <xs:element name="idTipoLinha" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
