JAVAFOJ6/schemas-xsd/schemas/FidelizacaoRelDescGrupoVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="fidelizacao.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xxl="fidelizacao.fo.vivo.com.br/vo" xmlns:tns="fidelizacao.fo.vivo.com.br/vo">
	<xs:element name="FidelizacaoRelDescGrupoVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idGrupoRetencao" type="xs:string" minOccurs="0"/>
				<xs:element name="listaGrupoRetencao" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="id" type="xs:string" minOccurs="0"/>
							<xs:element name="ds" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="listaMatrizDescDisp" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="id" type="xs:string" minOccurs="0"/>
							<xs:element name="ds" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="listaMatrizDescAssoc" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="id" type="xs:string" minOccurs="0"/>
							<xs:element name="ds" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
