JAVAFOJ6/schemas-xsd/schemas/FidelizacaoContatoVO.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="fidelizacao.fo.vivo.com.br/vo" targetNamespace="fidelizacao.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="FidelizacaoContatoVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idPessoa" type="xs:string"/>
				<xs:element name="dsContato" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>