JAVAFOJ6/schemas-xsd/schemas/FidelizacaoManutChipVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by Weblogic Workshop (BEA) -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Guilherme (Indra) -->
<xs:schema targetNamespace="fidelizacao.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xxl="fidelizacao.fo.vivo.com.br/vo" xmlns:tns="fidelizacao.fo.vivo.com.br/vo">
	<xs:element name="FidelizacaoManutChipVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idChip" type="xs:string" minOccurs="0"/>
				<xs:element name="cdChipAvulsoSAP" type="xs:string" minOccurs="0"/>
				<xs:element name="cdChipPreProgSAP" type="xs:string" minOccurs="0"/>
				<xs:element name="vlChipAvulsoSAP" type="xs:string" minOccurs="0"/>
				<xs:element name="vlChipPreProgSAP" type="xs:string" minOccurs="0"/>
				<xs:element name="idDDD" type="xs:string" minOccurs="0"/>
				<xs:element name="nrDDD" type="xs:string" minOccurs="0"/>
				<xs:element name="nrIP" type="xs:string" minOccurs="0"/>
				<xs:element name="chipsCadastrados" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="id" type="xs:string" minOccurs="0"/>
							<xs:element name="nrDDD" type="xs:string" minOccurs="0"/>
							<xs:element name="cdChipAvulsoSAP" type="xs:string" minOccurs="0"/>
							<xs:element name="vlChipAvulsoSAP" type="xs:string" minOccurs="0"/>
							<xs:element name="cdChipPreProgSAP" type="xs:string" minOccurs="0"/>
							<xs:element name="vlChipPreProgSAP" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="listaDDD" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="id" type="xs:string" minOccurs="0"/>
							<xs:element name="nrDDD" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
