JAVAFOJ6/schemas-xsd/schemas/FidelizacaoManterInVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by vivo (vivo) -->
<xs:schema targetNamespace="fidelizacao.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="fidelizacao.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
<xs:element name="FidelizacaoManterInVO">
<xs:complexType>
<xs:sequence>
<xs:element name="idperg" type="xs:string"/>
<xs:element name="descricao" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
