JAVAFOJ6/schemas-xsd/schemas/FidelizacaoGrupoVO.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://fidelizacao.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://fidelizacao.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
<xs:element name="GrupoVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:string"/>
				<xs:element name="descricao" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>    
</xs:schema>
