JAVAFOJ6/schemas-xsd/schemas/FilaComprovanteEmailVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Carlos (Intel) -->
<xs:schema targetNamespace="cliente.fo.vivo.com.br/vo" xmlns:tns="cliente.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="FilaComprovanteEmailVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="tempoReprocessar" type="xs:string"/>
				<xs:element name="tempoInativo" type="xs:string"/>
				<xs:element name="registrosCursor" type="xs:string"/>
				<xs:element name="tempoEntreExecucao" type="xs:string"/>
				<xs:element name="qtTentativas" type="xs:string"/>
				<xs:element name="ativo" type="xs:string"/>
				<xs:element name="GrupoErroVO" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="xml" type="xs:string" minOccurs="0"/>
							<xs:element name="cdErro" type="xs:string" minOccurs="0"/>
							<xs:element name="dsErro" type="xs:string" minOccurs="0"/>
							<xs:element name="dtErro" type="xs:string" minOccurs="0"/>
							<xs:element name="countErro" type="xs:string" minOccurs="0"/>
							<xs:element name="dtTimeStamp" type="xs:string" minOccurs="0"/>
							<xs:element name="idcompservicodesativado" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
