JAVAFOJ6/schemas-xsd/schemas/FinalRetencaoVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="fidelizacao.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="fidelizacao.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
<xs:element name="ListaOfertasRetencaoVO">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="id" type="xs:string"/>
					<xs:element name="comentOferta" type="xs:string"/>
					<xs:element name="inAceita" type="xs:string"/>
					<xs:element name="inExcecao" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
	</xs:element>
	<xs:element name="caractOfertasAceitasVO">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="nome" type="xs:string"/>
					<xs:element name="valor" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
	</xs:element>
	<xs:element name="retencaoDadosEntregaVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dsEndereco" type="xs:string"/>
				<xs:element name="dsContatoAutorizado" type="xs:string"/>
				<xs:element name="dsContatoTelefone" type="xs:string"/>
				<xs:element name="comentEntrega" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FinalRetencaoVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idTipoEncerramento" type="xs:string"/>
				<xs:element name="idPessoaDePara" type="xs:string"/>
				<xs:element name="idRespostaIntencao" type="xs:string"/>
				<xs:element name="idRespostaDestino" type="xs:string"/>
				<xs:element name="dsObservacao" type="xs:string"/>
				<xs:element name="idLinhaTelefonica" type="xs:string"/>
				<xs:element name="nrLinha" type="xs:string"/>
				<xs:element ref="tns:ListaOfertasRetencaoVO" maxOccurs="unbounded"/>
				<xs:element ref="tns:caractOfertasAceitasVO" maxOccurs="unbounded"/>
				<xs:element ref="tns:retencaoDadosEntregaVO"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
</xs:schema>
