JAVAFOJ6/schemas-xsd/schemas/FinalizaRetencaoVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by C_GAraujo (EMBRACE) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="fidelizacao.fo.vivo.com.br/vo" xmlns:ns2="workflow.fo.vivo.com.br/vo" targetNamespace="fidelizacao.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="workflow.fo.vivo.com.br/vo" schemaLocation="ProtocoloVO.xsd"/>
	<xs:element name="FinalizaRetencaoVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Cliente">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="idPessoaDePara" type="xs:string"/>
							<xs:element name="idUFOperadora" type="xs:string" minOccurs="0"/>
							<xs:element name="sgTipoPessoa" type="xs:string" minOccurs="0"/>
							<xs:element name="idSegmentacao" type="xs:string" minOccurs="0"/>
							<xs:element name="idLinhaTelefonica" type="xs:string"/>
							<xs:element name="nrLinha" type="xs:string" minOccurs="0"/>
							<xs:element name="idTipoLinha" type="xs:string" minOccurs="0"/>
							<xs:element name="nmPessoa" type="xs:string" minOccurs="0"/>
							<xs:element name="nrDocumento" type="xs:string" minOccurs="0"/>
							<xs:element name="LinhasAssociadas" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="nrConta" type="xs:string" minOccurs="0"/>
										<xs:element name="nrLinha" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Retencao">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="RetencaoHeader">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="nrLinhaTI" type="xs:string" minOccurs="0"/>
										<xs:element name="nmLoginUsuario" type="xs:string" minOccurs="0"/>
										<xs:element name="idRespostaIntencao" type="xs:string" minOccurs="0"/>
										<xs:element name="idRespostaDestino" type="xs:string" minOccurs="0"/>
										<xs:element name="idGrupo" type="xs:string" minOccurs="0"/>
										<xs:element name="idTipoEncerramento" type="xs:string"/>
										<xs:element name="idPalitagem" type="xs:int" default="0" minOccurs="0"/>
										<xs:element name="inNovaOferta" type="xs:string" minOccurs="0"/>
										<xs:element name="idRetencaoOld" type="xs:string" minOccurs="0"/>
										<xs:element name="inExcecao" type="xs:string" minOccurs="0"/>
										<xs:element name="idRetencao" type="xs:string" minOccurs="0"/>
										<xs:element name="inPortabilidade" type="xs:string" default="0"/>
										<xs:element name="nrProtocoloPortabilidade" type="xs:long" minOccurs="0"/>
										<xs:element ref="ns2:ProtocoloVO" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="RetencaoBody" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Status" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="idOfertaAceita" type="xs:string" minOccurs="0"/>
													<xs:element name="sgOfertaAceita" type="xs:string" minOccurs="0"/>
													<xs:element name="ofertasRealizadas" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="idOfertaRealizada" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Ofertas" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Pontos" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="qtPontos" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Suspencao" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="dtInicio" type="xs:string" minOccurs="0"/>
																<xs:element name="dtFim" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Planos" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="planoAtual" type="xs:string" minOccurs="0"/>
																<xs:element name="novoPlano" type="xs:string" minOccurs="0"/>
																<xs:element name="idNovoPlano" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Migracao" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="nrLinhaAtual" type="xs:string" minOccurs="0"/>
																<xs:element name="nrLinhaNova" type="xs:string" minOccurs="0"/>
																<xs:element name="vlSaldo" type="xs:string" minOccurs="0"/>
																<xs:element name="dtInicioVigencia" type="xs:string" minOccurs="0"/>
																<xs:element name="dtFinalVigencia" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Aparelhos" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="idTipoPagamentoAparelho" type="xs:string" minOccurs="0"/>
																<xs:element name="idAparelhoCor" type="xs:string" minOccurs="0"/>
																<xs:element name="idMatrizAparelho" type="xs:string" minOccurs="0"/>
																<xs:element name="nmModeloAparelho" type="xs:string" minOccurs="0"/>
																<xs:element name="nmLoja" type="xs:string" minOccurs="0"/>
																<xs:element name="nrOrdemVenda" type="xs:string" minOccurs="0"/>
																<xs:element name="vlPrecoReal" type="xs:string" minOccurs="0"/>
																<xs:element name="vlPrecoAbs" type="xs:string" minOccurs="0"/>
																<xs:element name="nmCor" type="xs:string" minOccurs="0"/>
																<xs:element name="inTipoEntrega" type="xs:string" minOccurs="0"/>
																<xs:element name="nrParcelas" type="xs:string" minOccurs="0"/>
																<xs:element name="vlPercentualDesconto" type="xs:string" minOccurs="0"/>
																<xs:element name="vlParcela" type="xs:string" minOccurs="0"/>
																<xs:element name="dsEnderecoEntrega" type="xs:string" minOccurs="0"/>
																<xs:element name="dsDocumentoTerceiro" type="xs:string" minOccurs="0"/>
																<xs:element name="nrContatoTelefone" type="xs:string" minOccurs="0"/>
																<xs:element name="cdSapAparelho" type="xs:string" minOccurs="0"/>
																<xs:element name="nmTerceiro" type="xs:string" minOccurs="0"/>
																<xs:element name="qtdEstoqueLoja" type="xs:string" minOccurs="0"/>
																<xs:element name="dtRetirada" type="xs:string" minOccurs="0"/>
																<xs:element name="przVigencia" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Bonus" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="nmBonus" type="xs:string" minOccurs="0"/>
																<xs:element name="idMatrizBonus" type="xs:string" minOccurs="0"/>
																<xs:element name="dtInicioVigencia" type="xs:string" minOccurs="0"/>
																<xs:element name="dtFinalVigencia" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Analise" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="idTipoAnalise" type="xs:string" minOccurs="0"/>
													<xs:element name="Adimplencia" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="inStatusComunicacao" type="xs:string" minOccurs="0"/>
																<xs:element name="inAprovadoLegado" type="xs:string" minOccurs="0"/>
																<xs:element name="dsRetornoConsulta" type="xs:string" minOccurs="0"/>
																<xs:element name="nrDocumento" type="xs:string" minOccurs="0"/>
																<xs:element name="nrConta" type="xs:string" minOccurs="0"/>
																<xs:element name="dtVencDebito" type="xs:string" minOccurs="0"/>
																<xs:element name="dtInterrupcao" type="xs:string" minOccurs="0"/>
																<xs:element name="dsMotivoErro" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Endereco" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="dsEndereco" type="xs:string" minOccurs="0"/>
																<xs:element name="nrEndereco" type="xs:string" minOccurs="0"/>
																<xs:element name="dsComplemento" type="xs:string" minOccurs="0"/>
																<xs:element name="dsBairro" type="xs:string" minOccurs="0"/>
																<xs:element name="dsCidade" type="xs:string" minOccurs="0"/>
																<xs:element name="dsUF" type="xs:string" minOccurs="0"/>
																<xs:element name="dsCEP" type="xs:string" minOccurs="0"/>
																<xs:element name="idMotivoAlteracaoEndereco" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
