JAVAFOJ6/schemas-xsd/schemas/FluxoAtendimentoVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ns1="admsistemas.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="admsistemas.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="FluxoAtendimentoVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="sgFluxoAtendimento" type="xs:string"/>
				<xs:element name="dsFluxoAtendimento" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
