JAVAFOJ6/schemas-xsd/schemas/fo-msg-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="detailDateTimeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9] [0-9][0-9]:[0-9][0-9]:[0-9][0-9] [0-9][0-9][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="statusCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9][0-9][IWES][0-9][0-9][0-9][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="statusTextType">
		<xs:restriction base="xs:string">
				<xs:maxLength value="2047"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="statusTypeType">
	  <xs:restriction base="xs:string">
		<xs:enumeration value="success"/>
		<xs:enumeration value="permanent"/>
		<xs:enumeration value="temporary"/>
	  </xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="msgDirectionType">
	  <xs:restriction base="xs:string">
		<xs:enumeration value="request"/>
		<xs:enumeration value="reply"/>
	  </xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="operationType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[IDU]"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="priorityType">
		<xs:restriction base="xs:integer">
          <xs:maxExclusive value="90"/>
          <xs:minExclusive value="10"/>
		</xs:restriction>
	</xs:simpleType>	
	
	<xs:simpleType name="timeoutType">
		<xs:restriction base="xs:integer">
          <xs:maxExclusive value="3600"/>
          <xs:minExclusive value="2"/>
		</xs:restriction>
	</xs:simpleType>		

	<xs:element name="InnerBody" abstract="true">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:complexType name="MsgBody">
		<xs:sequence>
            <xs:element ref="InnerBody"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="tuxQueueStrType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tuxCorrIdType">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>	
	
	<xs:complexType name="MsgHdr">
		<xs:all>
			<xs:element name="user" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="service" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="uuid" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="host" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="entity" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="creationTimestamp" type="detailDateTimeType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="processTimestamp" type="detailDateTimeType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sequence" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="firstRec" type="xs:integer" minOccurs="0" maxOccurs="1"/>
			<xs:element name="statusCode" type="statusCodeType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="statusText" type="statusTextType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="statusType" type="statusTypeType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="corrid" type="tuxCorrIdType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="version" type="xs:integer" minOccurs="0" maxOccurs="1"/>
			<xs:element name="operation" type="operationType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="timeout" type="timeoutType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="tranTimeout" type="timeoutType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="numberRecs" type="xs:integer" minOccurs="0" maxOccurs="1"/>
			<xs:element name="serverElapsedTime" type="xs:integer" minOccurs="0" maxOccurs="1"/>
			<xs:element name="topic" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="replyTopic" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="subSystem" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="errCount" type="xs:integer" minOccurs="0" maxOccurs="1"/>
			<xs:element name="lastErrorTimestamp" type="detailDateTimeType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="lastStatusCode" type="statusCodeType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="queueSpace" type="tuxQueueStrType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="requestQueue" type="tuxQueueStrType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="failureQueue" type="tuxQueueStrType" minOccurs="0" maxOccurs="1" />
			<xs:element name="replyQueue" type="tuxQueueStrType" minOccurs="0" maxOccurs="1" />
			<xs:element name="delay" type="xs:integer" minOccurs="0" maxOccurs="1" />
			<xs:element name="traceLevel" type="xs:integer" minOccurs="0" maxOccurs="1" />
			<xs:element name="codErro" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="msgDirection" type="msgDirectionType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="priority" type="priorityType" minOccurs="0" maxOccurs="1"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="MsgVO1">
		<xs:sequence>
			<xs:element name="msgHdr" type="MsgHdr"/>
			<xs:element name="msgBody" type="MsgBody"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="msg1" type="MsgVO1">
		<xs:annotation>
			<xs:documentation>Mensagem do Front Office</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
