JAVAFOJ6/schemas-xsd/schemas/FormularioCampoValorVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Vivo (Vivo) -->
<xs:schema targetNamespace="admsistemas.fo.vivo.com.br/vo" xmlns:ns1="workflow.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:element name="FormularioCampoValorVO">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="idFormularioCampoValor" type="xs:string"/>
                <xs:element name="valor" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
