JAVAFOJ6/schemas-xsd/schemas/GestorContasVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by Vivo (Vivo) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="cliente.fo.vivo.com.br/vo" targetNamespace="cliente.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:element name="GestorContasVO">
        <xs:complexType>
            <xs:all>
                <xs:element name="tpOperacao" type="xs:string" minOccurs="0"/>
                <xs:element name="Filtros" minOccurs="0">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="nmGestor" type="xs:string" minOccurs="0"/>
                            <xs:element name="nrCPF" type="xs:string" minOccurs="0"/>
                            <xs:element name="nrConta" type="xs:string" minOccurs="0"/>
                            <xs:element name="nrCNPJ" type="xs:string" minOccurs="0"/>
                            <xs:element name="Combos" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence maxOccurs="unbounded">
                                        <xs:element name="nmSelect" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="tpGestor" type="xs:string" minOccurs="0"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Tabela" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence minOccurs="0">
                            <xs:element name="Linha" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="nrCPF" type="xs:string"/>
                                        <xs:element name="nmGestor" type="xs:string"/>
                                        <xs:element name="nmCliente" type="xs:string"/>
                                        <xs:element name="nrCelular" type="xs:string"/>
                                        <xs:element name="nrConta" type="xs:string"/>
                                        <xs:element name="tpGestor" type="xs:string"/>
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="GestorVO" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nrCPF" type="xs:string"/>
                            <xs:element name="nmPrimeiro" type="xs:string"/>
                            <xs:element name="nmMeio" type="xs:string" minOccurs="0"/>
                            <xs:element name="nmUltimo" type="xs:string"/>
                            <xs:element name="nmCargo" type="xs:string" minOccurs="0"/>
                            <xs:element name="TelefoneVO" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="tpTelefone" type="xs:string" minOccurs="0"/>
                                        <xs:element name="nrDdd" type="xs:string"/>
                                        <xs:element name="nrTelefone" type="xs:string"/>
                                        <xs:element name="nrRamal" type="xs:string" minOccurs="0"/>
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="EnderecoVO">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="nmLogradouro" type="xs:string"/>
                                        <xs:element name="nrLogradouro" type="xs:string"/>
                                        <xs:element name="nmComplemento" type="xs:string" minOccurs="0"/>
                                        <xs:element name="nmBairro" type="xs:string"/>
                                        <xs:element name="nmMunicipio" type="xs:string"/>
                                        <xs:element name="idUF" type="xs:string"/>
                                        <xs:element name="nrCEP" type="xs:string"/>
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="tpGestor" type="xs:string"/>
                            <xs:element name="nmEmail" type="xs:string" minOccurs="0"/>
                            <xs:element name="dtAlteracao" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ListasVO">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Lista" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="nmSelect" type="xs:string"/>
                                        <xs:element name="Disponivel">
                                            <xs:complexType>
                                                <xs:sequence maxOccurs="unbounded">
                                                    <xs:element name="It">
                                                        <xs:complexType>
                                                            <xs:all>
                                                                <xs:element name="id" type="xs:string"/>
                                                                <xs:element name="ds" type="xs:string" minOccurs="0"/>
                                                            </xs:all>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Selecionado" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence maxOccurs="unbounded">
                                                    <xs:element name="It">
                                                        <xs:complexType>
                                                            <xs:all>
                                                                <xs:element name="id" type="xs:string"/>
                                                                <xs:element name="ds" type="xs:string" minOccurs="0"/>
                                                            </xs:all>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>
