JAVAFOJ6/schemas-xsd/schemas/GetDadosProtocoloOutTO.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by Vivo (Vivo) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="atendimento.fo.vivo.com.br/vo" targetNamespace="atendimento.fo.vivo.com.br/vo" elementFormDefault="qualified">
	<xs:element name="GetDadosProtocoloOutTO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="cdError" type="xs:string" minOccurs="0"/>
				<xs:element name="msgError" type="xs:string" minOccurs="0"/>
				<xs:element name="nrProtocolo" type="xs:string" minOccurs="0"/>
				<xs:element name="idSistemaOrigem" type="xs:string" minOccurs="0"/>
				<xs:element name="idPessoaDePara" type="xs:string" minOccurs="0"/>
				<xs:element name="cdConta" type="xs:string" minOccurs="0"/>
				<xs:element name="idLinhaTelefonica" type="xs:string" minOccurs="0"/>
				<xs:element name="cdAreaRegistro" type="xs:string" minOccurs="0"/>
				<xs:element name="nrTelefone" type="xs:string" minOccurs="0"/>
				<xs:element name="cdAreaRegistroSMS" type="xs:string" minOccurs="0"/>
				<xs:element name="nrTelefoneSMS" type="xs:string" minOccurs="0"/>
				<xs:element name="dtAbertura" type="xs:string" minOccurs="0"/>
				<xs:element name="dtEncerramento" type="xs:string" minOccurs="0"/>
				<xs:element name="qtProcessoAberto" type="xs:string" minOccurs="0"/>
				<xs:element name="qtProcessoPendente" type="xs:string" minOccurs="0"/>
				<xs:element name="idTipoAberturaProtocolo" type="xs:string" minOccurs="0"/>
				<xs:element name="dsTipoAberturaProtocolo" type="xs:string" minOccurs="0"/>
				<xs:element name="dsStatusProtocolo" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
