JAVAFOJ6/schemas-xsd/schemas/GrupoVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Vivo (Vivo) -->
<xs:schema targetNamespace="admsistemas.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="GrupoVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="codigo" type="xs:int"/>
				<xs:element name="descricao" type="xs:string"/>
				<xs:element name="status" type="xs:string"/>
				<xs:element name="ordem" type="xs:int"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
 