JAVAFOJ6/schemas-xsd/schemas/GruposUsuarioVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Consorcio (Vivo) -->
<xs:schema targetNamespace="usuario.fo.vivo.com.br/vo" xmlns:tns="usuario.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="GrupoUsuarioVO.xsd"/>
	<xs:element name="GruposUsuarioVO">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:GrupoUsuarioVO" maxOccurs="unbounded"/>
                <xs:element name="paginaAtual" type="xs:string"/>
				<xs:element name="registrosPPagina" type="xs:string"/>                              
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
 