JAVAFOJ6/schemas-xsd/schemas/GrupoConfigurarCampanhaVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="campanha.fo.vivo.com.br/vo" xmlns:tns="campanha.fo.vivo.com.br/vo" xmlns:xxl="campanha.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="DisponiveisVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:ApoioVO" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AssociadosVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:ApoioVO" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TipoStatusCampanhaVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:DisponiveisVO"/>
				<xs:element ref="tns:AssociadosVO"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TipoMotivoCampanhaVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:DisponiveisVO"/>
				<xs:element ref="tns:AssociadosVO"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TipoSubMotivoCampanhaVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:DisponiveisVO"/>
				<xs:element ref="tns:AssociadosVO"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GrupoConfigurarCampanhaVO">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:TipoStatusCampanhaVO"/>
				<xs:element ref="tns:TipoMotivoCampanhaVO"/>
				<xs:element ref="tns:TipoSubMotivoCampanhaVO"/>
				<xs:element name="idSubCampanhaHistorico" type="xs:int"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>

