JAVAFOJ6/schemas-xsd/schemas/GrupoApoio.xsd

<?xml version="1.0"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Guilherme (Indra) -->
<xs:schema targetNamespace="fidelizacao.fo.vivo.com.br/vo" xmlns:tns="fidelizacao.fo.vivo.com.br/vo" xmlns:xxl="fidelizacao.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="apoioVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="codigo" type="xs:string"/>
				<xs:element name="sigla" type="xs:string"/>
				<xs:element name="descricao" type="xs:string"/>
				<xs:element name="peso" type="xs:string"/>
				<xs:element name="variante" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="subGrupoApoioVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="nome" type="xs:string"/>
				<xs:element ref="tns:apoioVO" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="grupoApoioVO">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:subGrupoApoioVO" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
 