JAVAFOJ6/schemas-xsd/schemas/GrupoCRIVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by jack (microsoft) -->
<xs:schema targetNamespace="cliente.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="cliente.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="GrupoCRIVO">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Pesquisa" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="inErro" type="xs:string" minOccurs="0"/>
                            <xs:element name="Filtro" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="sgTipoPesquisa" type="xs:string"/>
										<xs:element name="dsValor" type="xs:string"/>
										<xs:element name="dsNomeDoMeio" type="xs:string" minOccurs="0"/>
										<xs:element name="dsSobreNome" type="xs:string" minOccurs="0"/>
										<xs:element name="nmCompleto" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Pessoas" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="idPessoa" type="xs:string"/>
										<xs:element name="idTipoPessoa" type="xs:string"/>
										<xs:element name="dsTipoPessoa" type="xs:string"/>
										<xs:element name="nmPessoa" type="xs:string"/>
										<xs:element name="idTipoDocumento" type="xs:string"/>
										<xs:element name="dsTipoDocumento" type="xs:string"/>
										<xs:element name="sgClassificacaoDocumento" type="xs:string"/>
										<xs:element name="nrDocumento" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Linhas" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="idLinha" type="xs:string"/>
							<xs:element name="nrLinha" type="xs:string"/>
							<xs:element name="idCliente" type="xs:string" minOccurs="0"/>
							<xs:element name="nmCliente" type="xs:string" minOccurs="0"/>
							<xs:element name="idUsuario" type="xs:string" minOccurs="0"/>
							<xs:element name="nmUsuario" type="xs:string" minOccurs="0"/>
							<xs:element name="idTipoLinha" type="xs:string" minOccurs="0"/>
							<xs:element name="dsTipoLinha" type="xs:string" minOccurs="0"/>
							<xs:element name="idGrupoAssociado" type="xs:string" minOccurs="0"/>
							<xs:element name="dsGrupoAssociado" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Grupos" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="idGrupo" type="xs:string"/>
							<xs:element name="sgGrupo" type="xs:string"/>
							<xs:element name="dsGrupo" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
