JAVAFOJ6/schemas-xsd/schemas/GruposTratamentoNiveisVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Vivo (Vivo) -->
<!--W3C Schema generated by XMLSPY v2004 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema targetNamespace="admsistemas.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="admsistemas.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="GrupoVO.xsd"/>
	<xs:element name="GruposTratamentoNiveisVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="GrupoInicio">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ns1:GrupoVO"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="GrupoTratamento" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nivel" type="xs:int"></xs:element>
							<xs:element name="Disponiveis">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="ns1:GrupoVO" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Sequencia">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="ns1:GrupoVO" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
 