JAVAFOJ6/schemas-xsd/schemas/GrupoUsuarioVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by vivo2 (vivo2) -->
<xs:schema xmlns:tns="usuario.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="usuario.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="GrupoUsuarioVO">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idUsuario" type="xs:string" minOccurs="0"/>
				<xs:element name="idGrupo" type="xs:string" minOccurs="0"/>
				<xs:element name="dsGrupo" type="xs:string" minOccurs="0"/>
				<xs:element name="dsTipoGrupoSelecionado" type="xs:string" minOccurs="0"/>
				<xs:element name="inSupervisor" type="xs:string" minOccurs="0"/>
				<xs:element name="idTipoGrupoSelecionado" type="xs:string" minOccurs="0"/>
				<xs:element name="TiposGrupo" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="idTipoGrupo" type="xs:string"/>
							<xs:element name="dsTipoGrupo" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="paginaAtual" type="xs:string" minOccurs="0"/>
				<xs:element name="registrosPPagina" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
