JAVAFOJ6/schemas-xsd/schemas/HistoricoMovimentosItem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by vivo (vivo) -->
<xs:schema targetNamespace="cliente.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="cliente.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="HistoricoMovimentosItem">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="recargaValor" type="xs:string"/>
				<xs:element name="recargaData" type="xs:string"/>
				<xs:element name="recargaDataProc" type="xs:string"/>
				<xs:element name="origem" type="xs:string"/>
				<xs:element name="movimento" type="xs:string"/>
				<xs:element name="notaFiscal" type="xs:string"/>
				<xs:element name="flag" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
