JAVAFOJ6/schemas-xsd/schemas/HistoricoServicosVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by vivo (vivo) -->
<xs:schema targetNamespace="cliente.fo.vivo.com.br/vo" xmlns="cliente.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="HistoricoServicosVO">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Filtro" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="idTipoLinha" type="xs:string"/>
							<xs:element name="idLinhaSistemaOrigem" type="xs:string"/>
							<xs:element name="idLinha" type="xs:string"/>
							<xs:element name="nrLinha" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Servicos" minOccurs="0" maxOccurs="10">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="dsCSA" type="xs:string"/>
							<xs:element name="dsServico" type="xs:string"/>
							<xs:element name="dtVigencia" type="xs:string" minOccurs="0"/>
							<xs:element name="dtExpiracao" type="xs:string" minOccurs="0"/>
							<xs:element name="Facilidades" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="dsFacilidade" type="xs:string"/>
										<xs:element name="dsCanalAcesso" type="xs:string"/>
										<xs:element name="nrIdentificador" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="errorAPI" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
