JAVAFOJ6/schemas-xsd/schemas/IDMPerfilVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 (http://www.altova.com) by INDRA (INDRA) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="admsistemas.fo.vivo.com.br/vo" targetNamespace="admsistemas.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:element name="IDMPerfilVO">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="idPerfil" type="xs:string" minOccurs="0"/>
                <xs:element name="nmPerfil" type="xs:string" minOccurs="0"/>
                <xs:element name="codError" type="xs:string" minOccurs="0"/>
                <xs:element name="msgError" type="xs:string" minOccurs="0"/>
                <xs:element name="Filtro" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Combos" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence maxOccurs="unbounded">
                                        <xs:element name="nmSelect" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="tpOperacao" type="xs:string" minOccurs="0"/>
                <xs:element name="ListasVO" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Lista" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nmSelect" type="xs:string"/>
                                        <xs:element name="Disponivel">
                                            <xs:complexType>
                                                <xs:sequence maxOccurs="unbounded">
                                                    <xs:element ref="tns:It"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Selecionado" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence maxOccurs="unbounded">
                                                    <xs:element ref="tns:It"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="It">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:string"/>
                <xs:element name="ds" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
