JAVAFOJ6/schemas-xsd/schemas/IDValorClienteVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by C_GAraujo (EMBRACE) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:tns="commons.fo.vivo.com.br/vo" targetNamespace="commons.fo.vivo.com.br/vo" >
	<xs:element name="IDValorClienteVO">
		<xs:complexType>
			<xs:all>
				<xs:element name="id" type="xs:string" minOccurs="0"/>
				<xs:element name="valor" type="xs:string" minOccurs="0"/>
                <xs:element name="nrDocumentoFmt" type="xs:string" minOccurs="0"/>
                <xs:element name="intipoassociacao" type="xs:string" minOccurs="0"/>                
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>
