JAVAFOJ6/schemas-xsd/schemas/ItemMenu.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Samanta Hida (xxx) -->
<xs:schema targetNamespace="usuario.fo.vivo.com.br/vo" xmlns:tns="usuario.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="ItemMenu.xsd"/>
	<xs:element name="ItemMenu">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idItemMenu" type="xs:string"/>
				<xs:element name="idMenu" type="xs:string"/>
				<xs:element name="dsHint" type="xs:string"/>
				<xs:element name="nrNivel" type="xs:string"/>
				<xs:element name="idItemMenuPai" type="xs:string"/>
				<xs:element ref="tns:ItemMenu" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
