JAVAFOJ6/schemas-xsd/schemas/ItemArvoreVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Guilherme (Indra) -->
<xs:schema targetNamespace="fidelizacao.fo.vivo.com.br/vo" xmlns:tns="fidelizacao.fo.vivo.com.br/vo" xmlns:xxl="fidelizacao.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ItemArvoreVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="nivel" type="xs:int"/>
				<xs:element name="id" type="xs:string"/>
				<xs:element name="descricao" type="xs:string"/>
				<xs:element ref="tns:ItemArvoreVO" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
