JAVAFOJ6/schemas-xsd/schemas/LDAPVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by Vivo (Vivo) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="admsistemas.fo.vivo.com.br/vo" targetNamespace="admsistemas.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:element name="LDAPVO">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="entryId" type="xs:string" minOccurs="0"/>
                            <xs:element name="uid" type="xs:string"/>
                            <xs:element name="sn" type="xs:string" minOccurs="0"/>
                            <xs:element name="cn" type="xs:string" minOccurs="0"/>
                            <xs:element name="givenName" type="xs:string" minOccurs="0"/>
                            <xs:element name="mail" type="xs:string" minOccurs="0"/>
                            <xs:element name="employeeNumber" type="xs:string" minOccurs="0"/>
                            <xs:element name="uniqueMember" type="xs:string" minOccurs="0"/>
                            <xs:element name="password" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="title" type="xs:string" minOccurs="0"/>
                                        <xs:element name="userPassword" type="xs:string" minOccurs="0"/>
                                        <xs:element name="passwordExpirationTime" type="xs:string" minOccurs="0"/>
                                        <xs:element name="passwordExpWarned" type="xs:string" minOccurs="0"/>
                                        <xs:element name="passwordChangedTime" type="xs:string" minOccurs="0"/>
                                        <xs:element name="passwordRetryCount" type="xs:string" minOccurs="0"/>
                                        <xs:element name="passwordhistory" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="userPassword" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="account" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nsAccountLock" type="xs:string" minOccurs="0"/>
                            <xs:element name="createTimestamp" type="xs:string" minOccurs="0"/>
                            <xs:element name="modifyTimestamp" type="xs:string" minOccurs="0"/>
                            <xs:element name="accountUnlockTime" type="xs:string" minOccurs="0"/>
                            <xs:element name="description" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="connection" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="server" type="xs:string" minOccurs="0"/>
                            <xs:element name="port" type="xs:string" minOccurs="0"/>
                            <xs:element name="group" type="xs:string" minOccurs="0"/>
                            <xs:element name="organization" type="xs:string" minOccurs="0"/>
                            <xs:element name="unit" type="xs:string" minOccurs="0"/>
                            <xs:element name="dnGroup" type="xs:string" minOccurs="0"/>
                            <xs:element name="mgrDn" type="xs:string" minOccurs="0"/>
                            <xs:element name="passwordMrgDn" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
