JAVAFOJ6/schemas-xsd/schemas/LinhaVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Jack Bauer (Vivo) -->
<xs:schema targetNamespace="workflow.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="LinhaVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idPessoaLinhaHistorico" type="xs:long"/>
				<xs:element name="cdAreaRegistro" type="xs:string"/>
				<xs:element name="nrLinha" type="xs:string"/>
				<xs:element name="dsAuxiliar" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
