JAVAFOJ6/schemas-xsd/schemas/ListaCampanhaApoioVO.xsd

<?xml version="1.0"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Decio (Indra) -->
<xs:schema targetNamespace="campanha.fo.vivo.com.br/vo" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:xxl="campanha.fo.vivo.com.br/vo" 
    xmlns:tns="campanha.fo.vivo.com.br/vo">
	<xs:element name="ListaApoioVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="codigo" type="xs:string" minOccurs="0"/>
				<xs:element name="sigla" type="xs:string"/>
				<xs:element name="descricao" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ListaCampanhaApoioVO">
		<xs:complexType>
			<xs:sequence>				
				<xs:element name="nome" type="xs:string"/>
				<xs:element name="idCanalCampanha" type="xs:string" minOccurs="0"/>
				<xs:element ref="tns:ListaApoioVO" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
