JAVAFOJ6/schemas-xsd/schemas/ListaStatusCampanhaVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="campanha.fo.vivo.com.br/vo" xmlns:tns="campanha.fo.vivo.com.br/vo"
   xmlns:xs="http://www.w3.org/2001/XMLSchema" 
   elementFormDefault="qualified" attributeFormDefault="unqualified"> 
<xs:element name="ListaStatusCampanhaVO" >
    <xs:complexType>
        <xs:sequence>
            <xs:element name="StatusVO" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="inStatusCarga" type="xs:int"/>
                        <xs:element name="dsStatusCarga" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>