JAVAFOJ6/schemas-xsd/schemas/ListaDetalheLinhaVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by C_GAraujo (EMBRACE) -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Guilherme (Indra) -->
<xs:schema xmlns:tns="fidelizacao.fo.vivo.com.br/vo" xmlns:xxl="fidelizacao.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="fidelizacao.fo.vivo.com.br/vo">
	<xs:element name="listaDetalheLinhaVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idGrupoAbertura" type="xs:string" minOccurs="0"/>
				<xs:element ref="tns:detalheLinhaVO" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="detalheLinhaVO">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="idPessoaDePara" type="xs:string"/>
				<xs:element name="idLinha" type="xs:string"/>
				<xs:element name="idTipoLinha" type="xs:string"/>
				<xs:element name="numero" type="xs:string"/>
				<xs:element name="idSegmentacao" type="xs:string"/>
				<xs:element name="segmentacao" type="xs:string"/>
				<xs:element name="rentabilidade" type="xs:string"/>
				<xs:element name="contrato" type="xs:string"/>
				<xs:element name="valorMulta" type="xs:string"/>
				<xs:element name="dtFimContrato" type="xs:string"/>
				<xs:element name="idPlano" type="xs:string"/>
				<xs:element name="plano" type="xs:string"/>
				<xs:element name="dtHabilitacao" type="xs:string"/>
				<xs:element name="idUFOperadora" type="xs:string"/>
				<xs:element name="valorProRata" type="xs:string"/>
				<xs:element name="nrConta" type="xs:string" minOccurs="0"/>
				<xs:element name="nrProtocoloPortabilidade" type="xs:string" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>
