JAVAFOJ6/schemas-xsd/schemas/ListaMensagemResultadoVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Guilherme (Indra) -->
<xs:schema targetNamespace="fidelizacao.fo.vivo.com.br/vo" xmlns:tns="fidelizacao.fo.vivo.com.br/vo" xmlns:xxl="fidelizacao.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="listaMensagemResultadoVO">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="tns:mensagemResultadoVO"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="mensagemResultadoVO">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>            	
                <xs:element name="dsRegional" type="xs:string"/>				                
				<xs:element name="descricao" type="xs:string"/>		
                <xs:element name="idMensagemResultado" type="xs:string"/>		
                <xs:element name="dsAcaoRetencao" type="xs:string"/>		
                <xs:element name="idAcaoRetencao" type="xs:string"/>		
                <xs:element name="idRegional" type="xs:string"/>		
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>