JAVAFOJ6/schemas-xsd/schemas/ListaAgendamentoCampanhaVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Paula (Indra) -->
<xs:schema targetNamespace="campanha.fo.vivo.com.br/vo" 
xmlns:tns="campanha.fo.vivo.com.br/vo" 
xmlns:xxl="campanha.fo.vivo.com.br/vo" 
xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="listaAgendamentoCampanhaVO">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="tns:agendamentoCampanhaVO"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="agendamentoCampanhaVO">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>            	
		                <xs:element name="idAgenda" type="xs:string"/>				                
                        <xs:element name="idPessoaUsuario" type="xs:string"/>		
                		<xs:element name="dtAgendamento" type="xs:string"/>		
		                <xs:element name="idAtendimentoCampanha" type="xs:string"/>		
                		<xs:element name="nrTelefoneContato" type="xs:string"/>		
                		<xs:element name="dsObservacaoAgenda" type="xs:string"/>		
                		<xs:element name="nmPessoaContato" type="xs:string"/>	
                		<xs:element name="inAgendaCumprida" type="xs:string"/>	
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
