JAVAFOJ6/schemas-xsd/schemas/listaAlerta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="dados.vol.vivo.com.br/vo"
		   xmlns:ns1="dados.vol.vivo.com.br/vo"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   elementFormDefault="qualified"
		   attributeFormDefault="unqualified">
	<xs:element name="listaAlerta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="cdAreaRegistro" type="xs:string"/>
				<xs:element name="nrLinha" type="xs:string"/>
				<xs:element name="dsContato" type="xs:string"/>
				<xs:element name="dtAlerta" type="xs:string"/>
				<xs:element name="dtVisitaLoja" type="xs:string"/>
				<xs:element name="sgTipoComunicacao" type="xs:string"/>
				<xs:element name="operacao" type="xs:string"/>
				<xs:element name="dsLoja" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
