JAVAFOJ6/schemas-xsd/schemas/ListaDadosVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by Vivo (Vivo) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="workflow.fo.vivo.com.br/vo" targetNamespace="workflow.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:element name="ListaDadosVO">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="idPessoa" type="xs:string" minOccurs="0"/>
                <xs:element name="tpOperacao" type="xs:string" minOccurs="0"/>
                <xs:element name="vlItem" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="idLinhaTelefonica" type="xs:string" minOccurs="0"/>
                <xs:element name="LinhasAssociadasVO" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="cdConta" type="xs:string"/>
                            <xs:element name="nrTelefone" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
