JAVAFOJ6/schemas-xsd/schemas/ListaOfertaExecaoVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Guilherme (Indra) -->
<xs:schema targetNamespace="fidelizacao.fo.vivo.com.br/vo" xmlns:tns="fidelizacao.fo.vivo.com.br/vo" xmlns:xxl="fidelizacao.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ListaOfertaExecaoVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:OfertaExecaoVO" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OfertaExecaoVO">
		<xs:annotation>
			<xs:documentation>VO que contem os atributos das ofertas e ofertas de Execao</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idCaracOfertaAceita" type="xs:string"/>
				<xs:element name="login" type="xs:string"/>
				<xs:element name="dataHora" type="xs:string"/>
                <xs:element name="linha" type="xs:string"/>				
				<xs:element name="intencao" type="xs:string"/>
				<xs:element name="destino" type="xs:string"/>
				<xs:element name="idOfertaAceita" type="xs:string"/>
				<xs:element name="nmOfertaAceita" type="xs:string"/>				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
