JAVAFOJ6/schemas-xsd/schemas/ListaBonusVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Guilherme (Indra) -->
<xs:schema targetNamespace="fidelizacao.fo.vivo.com.br/vo" 
xmlns:tns="fidelizacao.fo.vivo.com.br/vo" 
xmlns:xxl="fidelizacao.fo.vivo.com.br/vo" 
xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="listaBonusVO">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="tns:bonusVO"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="bonusVO">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
            	<xs:element name="idRegional" type="xs:string"/>
                <xs:element name="dsRegional" type="xs:string"/>
				<xs:element name="idBonus" type="xs:string"/>
				<xs:element name="descricao" type="xs:string"/>
				<xs:element name="validade" type="xs:string"/>		
                <xs:element name="vlBonus" type="xs:string"/>		
				<xs:element name="idUnidadeOferta" type="xs:string"/>
				<xs:element name="dsUnidadeOferta" type="xs:string"/>
                <xs:element name="idTipoPessoa" type="xs:string"/>
				<xs:element name="sgTipoPessoa" type="xs:string"/>
                <xs:element name="dsTipoPessoa" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>