JAVAFOJ6/schemas-xsd/schemas/ListaTerminaisVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by vivo (vivo) -->
<xs:schema targetNamespace="voltav.fo.vivo.com.br/vo" xmlns:tns="voltav.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TerminalVO.xsd"/>
	<xs:element name="ListaTerminaisVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:TerminalVO" maxOccurs="unbounded"/>
				<xs:element name="nrPagina" type="xs:string"/>
				<xs:element name="temProximo" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
