JAVAFOJ6/schemas-xsd/schemas/ListasCampanhaVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="campanha.fo.vivo.com.br/vo" xmlns:tns="campanha.fo.vivo.com.br/vo"
   xmlns:xs="http://www.w3.org/2001/XMLSchema" 
   elementFormDefault="qualified" attributeFormDefault="unqualified"> 
<xs:element name="ListasCampanhaVO" >
    <xs:complexType>
        <xs:sequence>
            <xs:element name="ListaCampanhaVO" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="idLista" type="xs:string"/>
                        <xs:element name="nmLista" type="xs:string"/>
                        <xs:element name="dtCriacao" type="xs:string"/>
                        <xs:element name="inStatusCarga" type="xs:int"/>
                        <xs:element name="dsErroCarga" type="xs:string"/>
                        <xs:element name="qtTentativas" type="xs:int"/>
                        <xs:element name="dsStatusCarga" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>