JAVAFOJ6/schemas-xsd/schemas/ListaHistoricoRetencaoVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Guilherme (Indra) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xxl="fidelizacao.fo.vivo.com.br/vo" xmlns:tns="fidelizacao.fo.vivo.com.br/vo" targetNamespace="fidelizacao.fo.vivo.com.br/vo">
	<xs:element name="listaHistoricoRetencaoVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:historicoRetencaoVO" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="historicoRetencaoVO">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idRetencao" type="xs:string"/>
				<xs:element name="login" type="xs:string"/>
				<xs:element name="data" type="xs:string"/>
				<xs:element name="processo" type="xs:string"/>
				<xs:element name="status" type="xs:string"/>
				<xs:element name="idTipoAnalise" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
