JAVAFOJ6/schemas-xsd/schemas/LoteStatusUsuarioVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by Weblogic Workshop (BEA) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="usuario.fo.vivo.com.br/vo" targetNamespace="usuario.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="LoteStatusUsuarioVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="nmArquivo" type="xs:string" minOccurs="0"/>
				<xs:element name="nmArquivoOriginal" type="xs:string" minOccurs="0"/>
				<xs:element name="dsStatus" type="xs:string" minOccurs="0"/>
				<xs:element name="idUsuarioSolicitante" type="xs:string" minOccurs="0"/>
				<xs:element name="dtProcessamento" type="xs:string" minOccurs="0"/>
				<xs:element name="cdSD" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
