JAVAFOJ6/schemas-xsd/schemas/LupaLinhaAbasGSMVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by Vivo (Vivo) -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by rnt (rnt) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="cliente.fo.vivo.com.br/vo" targetNamespace="cliente.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:element name="LupaLinhaAbasGSMVO">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="codErro" type="xs:string"/>
                <xs:element name="msgErro" type="xs:string"/>
                <xs:element name="abaHistorico" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="listaHistorico" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="dtAssociacao" type="xs:string"/>
                                        <xs:element name="dsAparelho" type="xs:string"/>
                                        <xs:element name="dsFabricante" type="xs:string"/>
                                        <xs:element name="dsOrigem" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="abaParametro" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="dsTecnologia" type="xs:string"/>
                            <xs:element name="dsModelo" type="xs:string"/>
                            <xs:element name="dsFabricante" type="xs:string"/>
                            <xs:element name="listaParametro" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nmParametro" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
