JAVAFOJ6/schemas-xsd/schemas/LupaLinhaVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSpy v2009 (http://www.altova.com) by Vivo (Vivo) -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by vivo (vivo) -->
<xs:schema xmlns:tns="cliente.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="cliente.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="UsuarioLinhaVO.xsd"/>
	<xs:include schemaLocation="ServicosVO.xsd"/>
	<xs:include schemaLocation="TipoLinhaVO.xsd"/>
	<xs:include schemaLocation="StatusLinhaVO.xsd"/>
	<xs:element name="LupaLinhaVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FiltroLinhaVO">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="dsOperacao" type="xs:string" minOccurs="0"/>
							<xs:element name="nrLinhaFiltro" type="xs:string"/>
							<xs:element name="nrLinhaFiltroAte" type="xs:string"/>
							<xs:element name="idTipoLinhaFiltro" type="xs:string"/>
							<xs:element name="idStatusLinhaFiltro" type="xs:string"/>
							<xs:element name="idPessoaFiltro" type="xs:string"/>
							<xs:element name="idLinhaFiltro" type="xs:string"/>
							<xs:element name="inDivulgaNumeroFiltro" type="xs:string"/>
							<xs:element name="dtUltimaAtualizacaoFiltro" type="xs:string"/>
							<xs:element ref="tns:TipoLinhaVO" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="tns:StatusLinhaVO" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="paginaAtual" type="xs:string" minOccurs="0"/>
							<xs:element name="idLinhaSistemaOrigem" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ListaDadosLupaLinha" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="idPessoa" type="xs:string"/>
							<xs:element name="idLinha" type="xs:string"/>
							<xs:element name="nrCodArea" type="xs:string"/>
							<xs:element name="nrLinha" type="xs:string"/>
							<xs:element name="dsTipoLinha" type="xs:string"/>
							<xs:element name="dsPlanoServico" type="xs:string"/>
							<xs:element name="dsStatusLinha" type="xs:string"/>
							<xs:element name="dtHabilitacao" type="xs:string"/>
							<xs:element name="inDivulgaNumero" type="xs:string"/>
							<xs:element name="inLegado" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DadosLupaLinha" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="idLinha" type="xs:string"/>
							<xs:element name="dtTerminoContrato" type="xs:string"/>
							<xs:element name="dsTipoContrato" type="xs:string"/>
							<xs:element name="modelo" type="xs:string"/>
							<xs:element name="descricao" type="xs:string"/>
							<xs:element name="marca" type="xs:string"/>
							<xs:element name="esn" type="xs:string"/>
							<xs:element name="dsTecnologia" type="xs:string"/>
							<xs:element name="dsAparelho" type="xs:string"/>
							<xs:element name="dsMultaContrato" type="xs:string"/>
							<xs:element name="ContratoFidelizacao" type="xs:string"/>
							<xs:element ref="tns:UsuarioLinhaVO"/>
							<xs:element ref="tns:ServicosVO" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="inDivulgaNumero" type="xs:string"/>
							<xs:element name="dtUltimaAtualizacao" type="xs:string"/>
							<xs:element name="erro" type="xs:string" minOccurs="0"/>
							<xs:element name="idTipoLinha" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="qtLinhasLocalizadas" type="xs:string"/>
				<xs:element name="qtLinhasRetornadas" type="xs:string"/>
				<xs:element name="inProxima" type="xs:string" minOccurs="0"/>
				<xs:element name="totalPagina" type="xs:string" minOccurs="0"/>
				<xs:element name="qtdLinhasAtivas" type="xs:string" minOccurs="0"/>
				<xs:element name="qtdLinhasInativas" type="xs:string" minOccurs="0"/>
				<xs:element name="qtdLinhas" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
