JAVAFOJ6/schemas-xsd/schemas/LupaClienteVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by Vivo (Vivo) -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by vivo (vivo) -->
<xs:schema xmlns:tns="cliente.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="cliente.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="DocumentoVO.xsd"/>
	<xs:include schemaLocation="EnderecoVO.xsd"/>
	<xs:include schemaLocation="ComunicacaoVO.xsd"/>
	<xs:include schemaLocation="ImpedimentoVO.xsd"/>
	<xs:element name="LupaClienteVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DadosLupaCliente" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="idPessoa" type="xs:string"/>
							<xs:element name="nrLinha" type="xs:string" minOccurs="0"/>
							<xs:element name="nmNome" type="xs:string"/>
							<xs:element name="dsEstadoCivil" type="xs:string"/>
							<xs:element name="dtClienteDesde" type="xs:string"/>
							<xs:element name="dtNascimento" type="xs:string"/>
							<xs:element name="ListaImpedimentoVO">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="erro" type="xs:string" minOccurs="0"/>
										<xs:element ref="tns:ImpedimentoVO" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DadosAbaLupaCliente" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="tns:DocumentoVO" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="tns:ComunicacaoVO" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="tns:EnderecoVO" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="ContasPontuacao" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="idPontos" type="xs:string"/>
										<xs:element name="LinhaPontos" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="nrCodArea" type="xs:string"/>
													<xs:element name="nrLinha" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Saldo" type="xs:string"/>
										<xs:element name="nrConta" type="xs:string"/>
										<xs:element name="erro" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="dtVigencia" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
