JAVAFOJ6/schemas-xsd/schemas/ManterDadosComportamentaisVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by vivo (vivo) -->
<xs:schema targetNamespace="cliente.fo.vivo.com.br/vo" xmlns:tns="cliente.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="cliente.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="ManterDadosComportamentaisVO">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idPessoa" type="xs:string"/>
				<xs:element name="Assuntos" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="idAssunto" type="xs:string"/>
							<xs:element name="dsAssunto" type="xs:string"/>
							<xs:element name="SubAssuntos" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="idSubAssunto" type="xs:string"/>
										<xs:element name="dsSubAssunto" type="xs:string" minOccurs="0"/>
										<xs:element name="sqApresentacao" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Atributos" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="idAtributo" type="xs:string"/>
							<xs:element name="dsAtributo" type="xs:string"/>
							<xs:element name="idTipoApresentacao" type="xs:string"/>
							<xs:element name="ValorLivre" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="idValorLivre" type="xs:string"/>
										<xs:element name="dsValorLivre" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ValoresPossiveis" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="idValorPossivel" type="xs:string"/>
										<xs:element name="dsValorPossivel" type="xs:string"/>
                                        <xs:element name="inSelecionado"   type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="idValorSelecionado" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="sqApresentacao" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
