JAVAFOJ6/schemas-xsd/schemas/ManterCorrespDevolvidaVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by vivo (vivo) -->
<xs:schema targetNamespace="cliente.fo.vivo.com.br/vo" xmlns:tns="cliente.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="EnderecoBaseVO.xsd"/>
	<xs:include schemaLocation="MotivoDevolucaoVO.xsd"/>
	<xs:include schemaLocation="TipoCorrespondenciaVO.xsd"/>
	<xs:element name="ManterCorrespDevolvidaVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BuscaCorrespPor" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="idPessoa" type="xs:string" minOccurs="0"/>
							<xs:element name="nrLinha" type="xs:string" minOccurs="0"/>
							<xs:element name="nrConta" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ListaCorrespCliente" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="idPessoaUsuario" type="xs:string"/>
							<xs:element name="idPessoa" type="xs:string"/>
							<xs:element name="idLinha" type="xs:string"/>
							<xs:element name="idConta" type="xs:string"/>
							<xs:element name="dtDevolucao" type="xs:string" minOccurs="0"/>
							<xs:element name="nmCliente" type="xs:string"/>
							<xs:element name="dsTipoDocumento" type="xs:string"/>
							<xs:element name="nrDocumento" type="xs:string"/>
							<xs:element name="dsTipoEndereco" type="xs:string"/>
							<xs:element name="idMotivoDevolucao" type="xs:string" minOccurs="0"/>
							<xs:element name="idTipoCorrespondencia" type="xs:string" minOccurs="0"/>
							<xs:element ref="tns:EnderecoBaseVO"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="tns:TipoCorrespondenciaVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="tns:MotivoDevolucaoVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="tns:UFVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="tns:PaisVO" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
