JAVAFOJ6/schemas-xsd/schemas/MensajePesquisaInVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema targetNamespace="fidelizacao.fo.vivo.com.br/vo" xmlns:ns1="fidelizacao.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
<xs:element name="MensajePesquisaInVO">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="idUfOperadora" type="xs:string"/>
            <xs:element name="idTipoEncerramento" type="xs:string"/>
            <xs:element name="dsMsgEncerramento" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>
