JAVAFOJ6/schemas-xsd/schemas/MotivoStatusUsuarioVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="usuario.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="MotivoStatusUsuarioVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idMotivo" type="xs:string"/>
				<xs:element name="dsMotivo" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
