JAVAFOJ6/schemas-xsd/schemas/MotivoVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="campanha.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="MotivoVO">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idMotivo" type="xs:int"/>
				<xs:element name="nmMotivo" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
