JAVAFOJ6/schemas-xsd/schemas/NivelCargoOrgVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Samanta Hida (xxx) -->
<xs:schema targetNamespace="usuario.fo.vivo.com.br/vo" xmlns:tns="usuario.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="ListaUnidadeOrganogramaVO.xsd"/>
	<xs:include schemaLocation="ListaOrganizacaoVO.xsd"/>
	<xs:include schemaLocation="ListaCargoSimplVO.xsd"/>
	<xs:include schemaLocation="ListaNivelOrganogramaVO.xsd"/>
	<xs:element name="NivelCargoOrgVO">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idPessoa" type="xs:string" minOccurs="0"/>
				<xs:element name="dadosAtuais" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="idUnidade" type="xs:string"/>
							<xs:element name="idOrganizacao" type="xs:string"/>
							<xs:element name="idCargo" type="xs:string"/>
							<xs:element name="idNivel" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="tns:ListaUnidadeOrganogramaVO" minOccurs="0"/>
				<xs:element ref="tns:ListaOrganizacaoVO" minOccurs="0"/>
				<xs:element ref="tns:ListaCargoSimplVO" minOccurs="0"/>
				<xs:element ref="tns:ListaNivelOrganogramaVO" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
