JAVAFOJ6/schemas-xsd/schemas/NivelCargoOrgDeptoRelacionamentoVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Consorcio (Vivo) -->
<xs:schema targetNamespace="usuario.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="usuario.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="ListaUnidadePorOrganizacaoVO.xsd"/>
	<xs:include schemaLocation="ListaCargoPorNivelVO.xsd"/>
	<xs:include schemaLocation="CargoVO.xsd"/>
	<xs:include schemaLocation="UnidadeOrganogramaVO.xsd"/>
	<xs:include schemaLocation="NivelOrganogramaVO.xsd"/>
	<xs:include schemaLocation="TipoOrganizacaoVO.xsd"/>
	<xs:include schemaLocation="OrganizacaoVO.xsd"/>
	<xs:element name="NivelCargoOrgDeptoRelacionamentoVO">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idPessoa" type="xs:string"/>
				<xs:element name="nmPessoa"/>
				<xs:element name="dadosAtuais" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="idUnidade" type="xs:string"/>
							<xs:element name="idOrganizacao" type="xs:string"/>
							<xs:element name="idCargo" type="xs:string"/>
							<xs:element name="idNivel" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="tns:UnidadeOrganogramaVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="tns:OrganizacaoVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="tns:CargoVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="tns:NivelOrganogramaVO" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
