JAVAFOJ6/schemas-xsd/schemas/ObjetoTipoVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by vivo (vivo) -->
<xs:schema targetNamespace="cliente.fo.vivo.com.br/vo" xmlns:tns="cliente.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="ObjetoTipo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idTipo" type="xs:string"/>
				<xs:element name="sgTipo" type="xs:string"/>
				<xs:element name="dsTipo" type="xs:string"/>
				<xs:element name="vlPeso" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
 