JAVAFOJ6/schemas-xsd/schemas/OfertaAparelhoVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="fidelizacao.fo.vivo.com.br/vo" targetNamespace="fidelizacao.fo.vivo.com.br/vo">
    <xs:include schemaLocation="FidelizacaoListaGeralVO.xsd"/>
    <xs:element name="itemOfertaAparelhoVO">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="idMatrizAparelho" type="xs:string"/>
                <xs:element name="idAparelhoCor" type="xs:string"/>
                <xs:element name="modelo" type="xs:string"/>
                <xs:element name="cor" type="xs:string"/>
                <xs:element name="preco" type="xs:string"/>
                <xs:element name="dsManual" type="xs:string"/>
                <xs:element name="idMarca" type="xs:string"/>
                <xs:element name="nmMarca" type="xs:string"/>
                <xs:element name="multa" type="xs:string"/>
                <xs:element name="SAP" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ofertaAparelhoVO">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:itemOfertaAparelhoVO" maxOccurs="unbounded"/>
                <xs:element ref="tns:fidelizacaoListaGeralVO"/>
                <xs:element name="listaPrazoVigenciaVO" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="tns:itemListaVO" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:sequence>
                    <xs:element name="msgErro">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="codErro" type="xs:string"/>
                                <xs:element name="dsErro" type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
