JAVAFOJ6/schemas-xsd/schemas/OrdemEntregaVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Guilherme (Indra) -->
<xs:schema targetNamespace="fidelizacao.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xxl="fidelizacao.fo.vivo.com.br/vo" xmlns:tns="fidelizacao.fo.vivo.com.br/vo">
	<xs:element name="OrdemEntregaAparelhoVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="msg">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="header">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="codSistema" type="xs:string"/>
										<xs:element name="cdEntidade" type="xs:string"/>
										<xs:element name="tsPublicacao" type="xs:string"/>
										<xs:element name="nrSequencia" type="xs:date"/>
										<xs:element name="nrVersao" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="boby">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ID_REGISTRO" type="xs:string"/>
										<xs:element name="GRUPODECONTAS" type="xs:string"/>
										<xs:element name="ORGVENDAS" type="xs:string"/>
										<xs:element name="CANALDIST"/>
										<xs:element name="CTACONCILACAO" type="xs:string"/>
										<xs:element name="GRUPODEVENDEDORES" type="xs:string"/>
										<xs:element name="FUNCAOPARCEIRO" type="xs:string"/>
										<xs:element name="CODIGO_SAVE" type="xs:string"/>
										<xs:element name="NOME" type="xs:string"/>
										<xs:element name="RG" type="xs:string"/>
										<xs:element name="CPF" type="xs:string"/>
										<xs:element name="DTNASC" type="xs:string"/>
										<xs:element name="SEXO" type="xs:string"/>
										<xs:element name="ESTADOCIVIL" type="xs:string"/>
										<xs:element name="ESCOLARIDADE" type="xs:string"/>
										<xs:element name="ENDERECO" type="xs:string"/>
										<xs:element name="BAIRRO" type="xs:string"/>
										<xs:element name="CIDADE" type="xs:string"/>
										<xs:element name="UF" type="xs:string"/>
										<xs:element name="CEP" type="xs:string"/>
										<xs:element name="TELEFONE" type="xs:string"/>
										<xs:element name="CELULAR" type="xs:string"/>
										<xs:element name="GERAL2" type="xs:string"/>
										<xs:element name="NOME2" type="xs:string"/>
										<xs:element name="RG2" type="xs:string"/>
										<xs:element name="TIPODEORDEM" type="xs:string"/>
										<xs:element name="CENTRO" type="xs:string"/>
										<xs:element name="DEPOSITO" type="xs:string"/>
										<xs:element name="DATAPEDIDO" type="xs:string"/>
										<xs:element name="AREA" type="xs:string"/>
										<xs:element name="CONDICAOPAGAMENTO" type="xs:string"/>
										<xs:element name="MEIPAGAMENTO" type="xs:string"/>
										<xs:element name="MATERIAL" type="xs:string"/>
										<xs:element name="QUANTIDADE" type="xs:string"/>
										<xs:element name="VALOR" type="xs:string"/>
										<xs:element name="ENDERECO2" type="xs:string"/>
										<xs:element name="CIDADE2" type="xs:string"/>
										<xs:element name="UF2" type="xs:string"/>
										<xs:element name="CEP2" type="xs:string"/>
										<xs:element name="DATAPAGAMENTO" type="xs:string"/>
										<xs:element name="NUMEROBANCO" type="xs:string"/>
										<xs:element name="DIGITOBANCO" type="xs:string"/>
										<xs:element name="NUMEROAGENCIA" type="xs:string"/>
										<xs:element name="DIGITO" type="xs:string"/>
										<xs:element name="NUMEROCONTA" type="xs:string"/>
										<xs:element name="DIGCONTA" type="xs:string"/>
										<xs:element name="NOMEBANCO" type="xs:string"/>
										<xs:element name="REGIAO" type="xs:string"/>
										<xs:element name="ENDERECOAGENCIA" type="xs:string"/>
										<xs:element name="CIDADEAGENCIA" type="xs:string"/>
										<xs:element name="NOMEAGENCIA" type="xs:string"/>
										<xs:element name="EMISSOR_OK" type="xs:string"/>
										<xs:element name="EMISSOR" type="xs:string"/>
										<xs:element name="CODIGOAPARELHO" type="xs:string"/>
										<xs:element name="MOTIVOORDEM" type="xs:string"/>
										<xs:element name="TIPODEPEDIDO" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
