JAVAFOJ6/schemas-xsd/schemas/OrganizacaoVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Consorcio (Vivo) -->
<xs:schema targetNamespace="usuario.fo.vivo.com.br/vo" xmlns:tns="usuario.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TipoOrganizacaoVO.xsd"/>
	<xs:include schemaLocation="UnidadeOrganogramaVO.xsd"/>
	<xs:element name="OrganizacaoVO">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idOrganizacao" type="xs:string"/>
				<xs:element name="idOrganizacaoPai" type="xs:string"/>
				<xs:element ref="tns:TipoOrganizacaoVO"/>
				<xs:element name="nrNivel" type="xs:string" minOccurs="0"/>
				<xs:element name="dsPath" type="xs:string" minOccurs="0"/>
				<xs:element ref="tns:OrganizacaoVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="tns:UnidadeOrganogramaVO" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
