JAVAFOJ6/schemas-xsd/schemas/Paginacao.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by C_GAraujo (EMBRACE) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="cliente.fo.vivo.com.br/vo" targetNamespace="cliente.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Paginacao">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="hasNext" type="xs:int" default="0"/>
				<xs:element name="recordCount" type="xs:int" default="0" minOccurs="0"/>
				<xs:element name="pageNumber" type="xs:int" default="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
