JAVAFOJ6/schemas-xsd/schemas/PaisVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by vivo (invite) -->
<xs:schema targetNamespace="cliente.fo.vivo.com.br/vo" xmlns:tns="cliente.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="PaisVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idPais" type="xs:string"/>
				<xs:element name="sgPais" type="xs:string"/>
				<xs:element name="nmPais" type="xs:string"/>
				<xs:element name="dsNacionalidade" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
