JAVAFOJ6/schemas-xsd/schemas/ParametrosVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by Vivo (Vivo) -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by vivo (invite) -->
<xs:schema xmlns:tns="cliente.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="cliente.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:element name="ParametrosVO">
        <xs:annotation>
            <xs:documentation>Comment describing your root element</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="idUra" type="xs:string"/>
                <xs:element name="idChamadaTelefonica" type="xs:string"/>
                <xs:element name="idCallCenter" type="xs:string"/>
                <xs:element name="idUsuario" type="xs:string"/>
                <xs:element name="inSenhaValidada" type="xs:string"/>
                <xs:element name="inPos" type="xs:string"/>
                <xs:element name="idSatisfacao" type="xs:string"/>
                <xs:element name="idLinha" type="xs:string"/>
                <xs:element name="idLinhaAtendimento" type="xs:string"/>
                <xs:element name="idTipoLinha" type="xs:string"/>
                <xs:element name="nrLinha" type="xs:string"/>
                <xs:element name="idPessoaLinhaHistorico" type="xs:string"/>
                <xs:element name="nrCodArea" type="xs:string"/>
                <xs:element name="nrTelefone" type="xs:string"/>
                <xs:element name="nrConta" type="xs:string"/>
                <xs:element name="idConta" type="xs:string"/>
                <xs:element name="idLinhaSistemaOrigem" type="xs:string"/>
                <xs:element name="idContaSistemaOrigem" type="xs:string"/>
                <xs:element name="idPessoaCliente" type="xs:string"/>
                <xs:element name="idClienteDePara" type="xs:string"/>
                <xs:element name="idPessoaUsuario" type="xs:string"/>
                <xs:element name="idUsuarioDePara" type="xs:string"/>
                <xs:element name="inTipoPessoa" type="xs:string"/>
                <xs:element name="idTipoRelacionamento" type="xs:string"/>
                <xs:element name="nmCliente" type="xs:string"/>
                <xs:element name="nmContato" type="xs:string"/>
                <xs:element name="nmFalandoCom" type="xs:string"/>
                <xs:element name="inCorporativo" type="xs:string"/>
                <xs:element name="idTipoCarteira" type="xs:string"/>
                <xs:element name="dsTipoCarteira" type="xs:string"/>
                <xs:element name="idSegmentacao" type="xs:string"/>
                <xs:element name="dsSegmentacao" type="xs:string"/>
                <xs:element name="idUfOperadora" type="xs:string"/>
                <xs:element name="inCorrespDevolvida" type="xs:string"/>
                <xs:element name="obsAtend" type="xs:string"/>
                <xs:element name="indRedirTimeoutURA" type="xs:string"/>
                <xs:element name="idGrupo" type="xs:string"/>
                <xs:element name="idAtendimento" type="xs:string"/>
                <xs:element name="nrProtocolo" type="xs:string" minOccurs="0"/>
                <xs:element name="idTipoReaberturaProcesso" type="xs:string"/>
                <xs:element name="nmTipo" type="xs:string"/>
                <xs:element name="navCliUra" type="xs:string"/>
                <xs:element name="idFase" type="xs:string"/>
                <xs:element name="idContato" type="xs:string"/>
                <xs:element name="idGrupoAndamento" type="xs:string"/>
                <xs:element name="inLegado" type="xs:string"/>
                <xs:element name="inBloqueado" type="xs:string" minOccurs="0"/>
                <xs:element name="isPortada" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
