JAVAFOJ6/schemas-xsd/schemas/ParametrosGrafico.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:tns="campanha.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="campanha.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="ParametrosGraficoVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="descricao" type="xs:string" minOccurs="0"/>
				<xs:element name="valor" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
