JAVAFOJ6/schemas-xsd/schemas/PerfilConsultorAtdVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ns1="usuario.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="usuario.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="PerfilConsultorAtdVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idPerfilConsultorAtd" type="xs:string"/>
				<xs:element name="dsPerfilConsultorAtd" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
