JAVAFOJ6/schemas-xsd/schemas/PerguntaRespondidaVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Guilherme (Indra) -->
<xs:schema targetNamespace="questionario.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xxl="questionario.fo.vivo.com.br/vo" xmlns:tns="questionario.fo.vivo.com.br/vo">
	<xs:include schemaLocation="ScriptQuestionarioVO.xsd"/>
	<xs:element name="PerguntaRespondidaVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="textoResposta" type="xs:string"/>
                <!--
                Tentativa para multiplas respostas
                -->
                <xs:element name="indicesResposta" type="xs:string" maxOccurs="unbounded"/>
                <xs:element name="indiceResposta" type="xs:string" minOccurs="0"/>
				<xs:element ref="tns:PerguntaQuestionarioVO"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
