JAVAFOJ6/schemas-xsd/schemas/PontosContatoVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by Weblogic Workshop (BEA) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="voltav.fo.vivo.com.br/vo" targetNamespace="voltav.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="PontosContatoVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ItemPontosContato" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="dsLoginUsuario" type="xs:string" minOccurs="0"/>
							<xs:element name="dsStatusCarga" type="xs:string" minOccurs="0"/>
							<xs:element name="dtEnvio" type="xs:string" minOccurs="0"/>
							<xs:element name="dtProcessamento" type="xs:string" minOccurs="0"/>
							<xs:element name="qtRegistrosRejeitados" type="xs:string" minOccurs="0"/>
							<xs:element name="qtRegistrosTotal" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
