JAVAFOJ6/schemas-xsd/schemas/PrePagoPesquisaVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by vivo (vivo) -->
<xs:schema targetNamespace="cliente.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="cliente.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="PrePagoPesquisaVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="nrLinha" type="xs:string" minOccurs="0"/>
				<xs:element name="tipoDocumento" type="xs:string" minOccurs="0"/>
				<xs:element name="idTipoDocumento" type="xs:string" minOccurs="0"/>
				<xs:element name="nrDoc" type="xs:string" minOccurs="0"/>
				<xs:element name="inTipoPessoa" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
