JAVAFOJ6/schemas-xsd/schemas/PrePagoPF.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by vivo (vivo) -->
<xs:schema targetNamespace="cliente.fo.vivo.com.br/vo" xmlns:ns2="cliente.fo.vivo.com.br/vo" xmlns:ns1="cliente.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="PrePagoPessoaPF.xsd"/>
	<xs:include schemaLocation="PrePagoEndereco.xsd"/>
	<xs:element name="PrePagoPF">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Cliente">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ns1:PrePagoPessoaPF"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="EnderecoCliente">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ns1:PrePagoEndereco"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Usuario">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ns1:PrePagoPessoaPF"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="EnderecoUsuario">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ns1:PrePagoEndereco"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="idPessoaOrigem" type="xs:string"/>
				<xs:element name="idLinhaOrigem" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
