JAVAFOJ6/schemas-xsd/schemas/PrePagoClientePJ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by dambers (v.o.v.i.) -->
<xs:schema targetNamespace="cliente.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="cliente.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="PrePagoClientePJ">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idPessoa" type="xs:string"/>
				<xs:element name="dsTipoPessoa" type="xs:string"/>
                <xs:element name="inTipoCliente" type="xs:string"/>
				<xs:element name="idTipoLinha" type="xs:string"/>
				<xs:element name="idLinha" type="xs:string"/>
				<xs:element name="nrLinha" type="xs:string"/>
				<xs:element name="codSeguranca" type="xs:string"/>
				<xs:element name="idGrupo" type="xs:string"/>
				<xs:element name="dsCNPJ" type="xs:string"/>
				<xs:element name="idCNPJ" type="xs:string"/>
				<xs:element name="idCNPJUF" type="xs:string"/>
				<xs:element name="nmFantasia" type="xs:string"/>
				<xs:element name="nmRazaoSocial" type="xs:string"/>
				<xs:element name="dsCNAE" type="xs:string"/>
				<xs:element name="idCNAE" type="xs:string"/>
				<xs:element name="dsCCM" type="xs:string"/>
				<xs:element name="idCCM" type="xs:string"/>
				<xs:element name="ListaUsuario">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Usuario" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="idUsuario" type="xs:string"/>
										<xs:element name="dsUsuario" type="xs:string"/>
										<xs:element name="nrLinha" type="xs:string"/>
										<xs:element name="nrDocumento" type="xs:string"/>
										<xs:element name="inTipoPessoa" type="xs:string"/>
										<xs:element name="selecionado" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ListaClassificacaoTributaria">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ClassificacaoTributaria" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="idClassificacaoTributaria" type="xs:string"/>
										<xs:element name="dsClassificacaoTributaria" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="idClassificacaoTributariaSelecionado" type="xs:string"/>
				<xs:element name="dsInscricaoEstadual" type="xs:string"/>
				<xs:element name="ListaTipoInscricao">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TipoInscricao" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="idTipoInscricao" type="xs:string"/>
										<xs:element name="dsTipoInscricao" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="idTipoInscricaoSelecionado" type="xs:string"/>
				<xs:element name="nrInscricao" type="xs:string"/>
				<xs:element name="idInscricao" type="xs:string"/>
				<xs:element name="ListaTipoClassificacaoEmpresa">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TipoClassificacaoEmpresa" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="idTipoClassificacaoEmpresa" type="xs:string"/>
										<xs:element name="dsTipoClassificacaoEmpresa" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="idTipoClassificacaoEmpresaSelecionado" type="xs:string"/>
				<xs:element name="dtFundacao" type="xs:string"/>
				<xs:element name="ListaTipoTelefone">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TipoTelefone" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="idTipoTelefone" type="xs:string"/>
										<xs:element name="dsTipoTelefone" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="idTipoTelefoneSelecionado" type="xs:string"/>
				<xs:element name="usuarioLinha" type="xs:string"/>
				<xs:element name="nrTelefone" type="xs:string"/>
				<xs:element name="idTelefone" type="xs:string"/>
				<xs:element name="nmContato" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
