JAVAFOJ6/schemas-xsd/schemas/PrePagoEndereco.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by vivo (vivo) -->
<xs:schema targetNamespace="cliente.fo.vivo.com.br/vo" xmlns:ns1="cliente.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="PrePagoEndereco">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idPessoa" type="xs:string"/>
				<xs:element name="idLinha" type="xs:string"/>
				<xs:element name="nrLinha" type="xs:string"/>
				<xs:element name="idEndereco" type="xs:string"/>
				<xs:element name="nrCEP" type="xs:string"/>
				<xs:element name="ListaTipoEndereco">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TipoEndereco" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="idTipoEndereco" type="xs:string"/>
										<xs:element name="sgTipoEndereco" type="xs:string"/>
										<xs:element name="dsTipoEndereco" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="idTipoEnderecoSelecionado" type="xs:string"/>
				<xs:element name="dsTipoEnderecoSelecionado" type="xs:string"/>
				<xs:element name="nmTipoLogradouro" type="xs:string"/>
				<xs:element name="nmTituloLogradouro" type="xs:string"/>
				<xs:element name="nmEndereco" type="xs:string"/>
				<xs:element name="nrEndereco" type="xs:string"/>
				<xs:element name="dsEnderecoComplemento" type="xs:string"/>
				<xs:element name="nmMunicipio" type="xs:string"/>
				<xs:element name="nmBairro" type="xs:string"/>
				<xs:element name="ListaPais">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Pais" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="idPais" type="xs:string"/>
										<xs:element name="dsPais" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="IdPaisSelecionado" type="xs:string"/>
				<xs:element name="dsPaisSelecionado" type="xs:string"/>
				<xs:element name="ListaEstado">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Estado" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="idEstado" type="xs:string"/>
										<xs:element name="dsEstado" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="idEstadoSelecionado" type="xs:string"/>
				<xs:element name="dsEstadoSelecionado" type="xs:string"/>
				<xs:element name="ListaEndereco">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Endereco" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="idEndereco" type="xs:string"/>
										<xs:element name="nmEndereco" type="xs:string"/>
										<xs:element name="nrEndereco" type="xs:string"/>
										<xs:element name="nrLinhaAssociada" type="xs:string"/>
										<xs:element name="selecionado" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
