JAVAFOJ6/schemas-xsd/schemas/PrePagoRetornoValidaLinha.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by vivo (vivo) -->
<xs:schema targetNamespace="cliente.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="cliente.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="PrePagoRetornoValidaLinha">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="result" type="xs:string"/>
				<xs:element name="digito" type="xs:string"/>
				<xs:element name="idPessoa" type="xs:string"/>
				<xs:element name="idTipoPessoa" type="xs:string"/>
				<xs:element name="idlinhaTelefonica" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
