JAVAFOJ6/schemas-xsd/schemas/ProtocoloVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by Vivo (Vivo) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="workflow.fo.vivo.com.br/vo" targetNamespace="workflow.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="AtendimentoVO.xsd"/>
	<xs:element name="ProtocoloVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="nrProtocolo" type="xs:string"/>
				<xs:element name="nrLinha" type="xs:string" minOccurs="0"/>
				<xs:element name="dsEstado" type="xs:string" minOccurs="0"/>
				<xs:element name="nmSistema" type="xs:string" minOccurs="0"/>
				<xs:element name="dtAbertura" type="xs:string" minOccurs="0"/>
				<xs:element name="dtFechamento" type="xs:string" minOccurs="0"/>
				<xs:element ref="ns1:AtendimentoVO" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
