JAVAFOJ6/schemas-xsd/schemas/ReducaoVelocidadeItem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="cliente.fo.vivo.com.br/vo" targetNamespace="cliente.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="ReducaoVelocidadeItem">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="balanceType" type="xs:string"/>
				<xs:element name="bytes" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>