JAVAFOJ6/schemas-xsd/schemas/RelatorioRetePlanosVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Thobias Pink Panter (oviv) -->
<xs:schema targetNamespace="fidelizacao.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="fidelizacao.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="RelatorioRetePlanosVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="colunas">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nome" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="linhaPlanos" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="intCancelamento" type="xs:string"/>
							<xs:element name="qtdIntencao" type="xs:string"/>
							<xs:element name="percIntencao" type="xs:string"/>
							<xs:element name="destinoPrevisto" type="xs:string"/>
                            <xs:element name="qtdAdeq" type="xs:string"/>
                            <xs:element name="percAdeq" type="xs:string"/>
							<xs:element name="valoresColunas">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="valor" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="total" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
