JAVAFOJ6/schemas-xsd/schemas/RelaMovimenDiariasVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by vivo (vivo) -->
<xs:schema targetNamespace="fidelizacao.fo.vivo.com.br/vo" xmlns:tns="fidelizacao.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="RelaMovimenDiariasVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="linhaMovimen" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="dataPlanilha" type="xs:string"/>
							<xs:element name="dataAgendamento" type="xs:string"/>
							<xs:element name="fone" type="xs:string"/>
							<xs:element name="segmentacao" type="xs:string"/>
							<xs:element name="lojaDellivery" type="xs:string"/>
							<xs:element name="loja" type="xs:string"/>
							<xs:element name="precoVenda" type="xs:string"/>
							<xs:element name="ordemVenda" type="xs:string"/>
							<xs:element name="aparelho" type="xs:string"/>
							<xs:element name="percentualDesconto" type="xs:string"/>
							<xs:element name="desncontoAbsoluto" type="xs:string"/>
							<xs:element name="formaPago" type="xs:string"/>
							<xs:element name="parcelas" type="xs:string"/>
							<xs:element name="dataContato" type="xs:string"/>
							<xs:element name="operador" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="total" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
