JAVAFOJ6/schemas-xsd/schemas/RelatorioRetencaoDistincaoVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by vivo (vivo) -->
<xs:schema targetNamespace="fidelizacao.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="fidelizacao.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="RelatorioRetencaoDistincaoVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="linhaRetencaoDistincao" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="intCancelamiento" type="xs:string"/>
							<xs:element name="qtdintencao" type="xs:string"/>
							<xs:element name="porcintencao" type="xs:string"/>
							<xs:element name="destinoprevisto" type="xs:string"/>
							<xs:element name="qtddestinoprevisto" type="xs:string"/>
							<xs:element name="porcdestinoprevisto" type="xs:string"/>
							<xs:element name="qtdnoretido" type="xs:string"/>
							<xs:element name="porcnoretido" type="xs:string"/>
							<xs:element name="qtdretido" type="xs:string"/>
							<xs:element name="porcretido" type="xs:string"/>
							<xs:element name="qtdagendou" type="xs:string"/>
							<xs:element name="porcagendou" type="xs:string"/>
							<xs:element name="qtdligindevida" type="xs:string"/>
							<xs:element name="porcligindevida" type="xs:string"/>
							<xs:element name="qtdvaipensar" type="xs:string"/>
							<xs:element name="porcvaipensar" type="xs:string"/>
							<xs:element name="qtdoferta" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="total" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
