JAVAFOJ6/schemas-xsd/schemas/RelatorioPercentualVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by vivo (vivo) -->
<xs:schema targetNamespace="campanha.fo.vivo.com.br/vo" xmlns:tns="campanha.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="RelatorioCampanhaHeaderVO.xsd"/>
	<xs:element name="RelatorioPercentualVO">
		<xs:complexType mixed="0">
			<xs:sequence>
				<xs:element ref="tns:RelatorioCampanhaHeaderVO" minOccurs="0"/>
				<xs:element name="motivo" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="sgTipoMotivoCampanha" type="xs:string"/>
							<xs:element name="totalNroAtendimento" type="xs:string" minOccurs="0"/>
							<xs:element name="totalPorcent" type="xs:string" minOccurs="0"/>
							<xs:element name="numerico" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="sgTipoMotivoCampanha" type="xs:string"/>
                                        <xs:element name="sgTipoSubMotivoCampanha" type="xs:string"/>
										<xs:element name="nroAtendimento" type="xs:string"/>
										<xs:element name="porcent" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="total" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
