JAVAFOJ6/schemas-xsd/schemas/RelatorioOperadorVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Thobias Pink Panter (oviv) -->
<xs:schema targetNamespace="fidelizacao.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="fidelizacao.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="RelatorioOperadorVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="linhaOperador" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="operador" type="xs:string"/>
							<xs:element name="soma" type="xs:string"/>
							<xs:element name="porcretencoes" type="xs:string"/>
							<xs:element name="porcmigracao" type="xs:string"/>
							<xs:element name="porccancelado" type="xs:string"/>
							<xs:element name="porcoferta" type="xs:string"/>
							<xs:element name="porcsuspensao" type="xs:string"/>
							<xs:element name="porcadequacaoplano" type="xs:string"/>
							<xs:element name="percentual" type="xs:string"/>
							<xs:element name="resultado">
								<xs:complexType>
									<xs:sequence maxOccurs="unbounded">
										<xs:element name="descricao" type="xs:string"/>
										<xs:element name="quantidade" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="total" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
