JAVAFOJ6/schemas-xsd/schemas/RELACIONAMENTOS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by x (y) -->
<xs:schema targetNamespace="acessos.vol.vivo.com.br/vo" xmlns:ns1="acessos.vol.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="RELACIONAMENTOS">
		<xs:annotation>
			<xs:documentation>Historico de Relacionamentos</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dsOperacao" type="xs:string"/>
                <xs:element name="dtRelaciomaneto" type="xs:string"/>
                <xs:element name="hrRelaciomaneto" type="xs:string"/>
                <xs:element name="idCanal" type="xs:string"/>                                
				<xs:element name="dsCanal" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>