JAVAFOJ6/schemas-xsd/schemas/RelatorioCampanhaHeaderVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by vivo (vivo) -->
<xs:schema targetNamespace="campanha.fo.vivo.com.br/vo" xmlns:tns="campanha.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="RelatorioCampanhaHeaderVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dtEmissao" type="xs:string" minOccurs="0"/>
				<xs:element name="sgCampanha" type="xs:string" minOccurs="0"/>
				<xs:element name="sqVersao" type="xs:string" minOccurs="0"/>
				<xs:element name="inDisponibilidade" type="xs:string" minOccurs="0"/>
				<xs:element name="filtroDtInicio" type="xs:string" minOccurs="0"/>
				<xs:element name="filtroDtFim" type="xs:string" minOccurs="0"/>
				<xs:element name="nmCanal" type="xs:string" minOccurs="0"/>
				<xs:element name="subCampanhaDtInicio" type="xs:string" minOccurs="0"/>
				<xs:element name="subCampanhaDtFim" type="xs:string" minOccurs="0"/>
				<xs:element name="nmSubCampanha" type="xs:string" minOccurs="0"/>
				<xs:element name="nmLoginUsuario" type="xs:string" minOccurs="0"/>
				<xs:element name="nmGrupo" type="xs:string" minOccurs="0"/>
				<xs:element name="nmRegional" type="xs:string" minOccurs="0"/>
				<xs:element name="areaRegistro" type="xs:string" minOccurs="0"/>
				<xs:element name="sgTipoMotivoCampanha" type="xs:string" minOccurs="0"/>
				<xs:element name="inDistincao" type="xs:string" minOccurs="0"/>
				<xs:element name="nrMetaDiariaCampanha" type="xs:string" minOccurs="0"/>
				<xs:element name="publicoAlvo" type="xs:string" minOccurs="0"/>
				<xs:element name="sgUsuario" type="xs:string" minOccurs="0"/>
				<xs:element name="total" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
