JAVAFOJ6/schemas-xsd/schemas/RelatorioRetencaoInputVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema targetNamespace="fidelizacao.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="fidelizacao.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="RelatorioRetencaoInputVO">
		<xs:complexType>
			<xs:sequence>

				<xs:element name="TipoCliente">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FidelizacaoTipoClienteVO" type="tns:FidelizacaoTipoClienteVO" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="Classificacao">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ClassificacaoVO" type="tns:ClassificacaoVO" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="Grupo">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FidelizacaoGrupoVO" type="tns:FidelizacaoGrupoVO" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="Oferta">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="OfertaFidelizacaoVO" type="tns:OfertaFidelizacaoVO" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="Operadora">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="OperadoraVO" type="tns:OperadoraVO" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="FidelizacaoGrupoVO">
		<xs:sequence>
			<xs:element name="id" type="xs:string"/>
			<xs:element name="descricao" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FidelizacaoTipoClienteVO">
		<xs:sequence>
			<xs:element name="id" type="xs:string"/>
			<xs:element name="descricao" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClassificacaoVO">
		<xs:sequence>
			<xs:element name="id" type="xs:string"/>
			<xs:element name="descricao" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OperadoraVO">
		<xs:sequence>
			<xs:element name="id" type="xs:string"/>
			<xs:element name="descricao" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OfertaFidelizacaoVO">
		<xs:sequence>
			<xs:element name="id" type="xs:string"/>
			<xs:element name="descricao" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
