JAVAFOJ6/schemas-xsd/schemas/RelatorioPesquisaVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by ale (ale) -->
<xs:schema targetNamespace="fidelizacao.fo.vivo.com.br/vo" xmlns:tns="fidelizacao.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="RelatorioPesquisaVO">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DataInicio" type="xs:string"/>
				<xs:element name="DataFim" type="xs:string"/>
				<xs:element name="Classificacao" type="xs:string"/>
				<xs:element name="Grupo" type="xs:string"/>
				<xs:element name="CustoPonto" type="xs:string"/>
				<xs:element name="Oferta" type="xs:string"/>
				<xs:element name="TipoCliente" type="xs:string"/>
				<xs:element name="Operadora" type="xs:string" maxOccurs="unbounded"/>
                <xs:element name="idsOperadoras" type="xs:string"/>
				<xs:element name="Operador" type="xs:string"/>
				<xs:element name="Plano" type="xs:string"/>
				<xs:element name="IdRelatorio" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
