JAVAFOJ6/schemas-xsd/schemas/RelatorioCCContaCorrenteVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by vivo (vivo) -->
<xs:schema targetNamespace="fidelizacao.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="fidelizacao.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="RelatorioCCContaCorrenteVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="linhaCCContaCorrente" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="data" type="xs:string"/>
							<xs:element name="cliente" type="xs:string"/>
							<xs:element name="area" type="xs:string"/>
							<xs:element name="linha" type="xs:string"/>
							<xs:element name="bonus" type="xs:string"/>
							<xs:element name="bonusTotal" type="xs:string"/>
							<xs:element name="qtdParc" type="xs:string"/>
							<xs:element name="pessoa" type="xs:string"/>
							<xs:element name="classificacao" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="total" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
