JAVAFOJ6/schemas-xsd/schemas/RelatorioRespostasVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by vivo (vivo) -->
<xs:schema targetNamespace="campanha.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="campanha.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="RelatorioCampanhaHeaderVO.xsd"/>
	<xs:element name="RelatorioRespostasVO">
		<xs:complexType mixed="0">
			<xs:sequence>
				<xs:element ref="tns:RelatorioCampanhaHeaderVO" minOccurs="0"/>
				<xs:element name="Perguntas" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="numerico" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
									    <xs:element name="dsPergunta" type="xs:string"/>
										<xs:element name="dsResposta" type="xs:string"/>
										<xs:element name="nroAtendimento" type="xs:string"/>
										<xs:element name="porcent" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>

							<xs:element name="grafico" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="dsPergunta" type="xs:string"/>
										<xs:element ref="tns:ParametrosGraficoVO" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>

						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="total" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
