JAVAFOJ6/schemas-xsd/schemas/RelatorioTodasOfertasVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Thobias Pink Panter (oviv) -->
<xs:schema targetNamespace="fidelizacao.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="fidelizacao.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="RelatorioTodasOfertasVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="linhaOferta" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="IntCancelamiento" type="xs:string"/>
							<xs:element name="qtdintencao" type="xs:string"/>
							<xs:element name="porcintencao" type="xs:string"/>
							<xs:element name="destinoprevisto" type="xs:string"/>
							<xs:element name="qtdretencao" type="xs:string"/>
							<xs:element name="porcretencao" type="xs:string"/>
							<xs:element name="qtdmigracao" type="xs:string"/>
							<xs:element name="porcmigracao" type="xs:string"/>
							<xs:element name="qtdbonus" type="xs:string"/>
							<xs:element name="porcbonus" type="xs:string"/>
							<xs:element name="qtdpronto" type="xs:string"/>
							<xs:element name="porcpronto" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="total" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
