JAVAFOJ6/schemas-xsd/schemas/RetencaoSAPVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by Vivo (Vivo) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="fidelizacao.fo.vivo.com.br/vo" targetNamespace="fidelizacao.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="RetencaoSAPVO">
		<xs:annotation>
			<xs:documentation>inExecutar
0 - Procedimento normal
1 - Executar baixa
2 - Executar estorno</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="inExecutar" type="xs:string" default="0"/>
				<xs:element name="inRetornoOld" type="xs:string" default="0"/>
				<xs:element name="inPortOut" type="xs:int" default="0" minOccurs="0"/>
				<xs:element name="CLIENTE">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="IDPESSOA" type="xs:string"/>
							<xs:element name="IDGRUPO" type="xs:string"/>
							<xs:element name="NOME" type="xs:string"/>
							<xs:element name="TELEFONE" type="xs:string"/>
							<xs:element name="TIPO_DOC" type="xs:string"/>
							<xs:element name="DOCUMENTO" type="xs:string"/>
							<xs:element name="IDSEGMENTACAO" type="xs:string"/>
							<xs:element name="IDTIPOCARTEIRA" type="xs:string"/>
							<xs:element name="SGTIPOPESSOA" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ENDERECO">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="NOME" type="xs:string"/>
							<xs:element name="RUA_CLI" type="xs:string"/>
							<xs:element name="BAIRRO_CLI" type="xs:string"/>
							<xs:element name="CIDADE_CLI" type="xs:string"/>
							<xs:element name="CEP_CLI" type="xs:string"/>
							<xs:element name="ESTADO_CLI" type="xs:string"/>
							<xs:element name="PAIS_CLI" type="xs:string"/>
							<xs:element name="RUA_ENT" type="xs:string"/>
							<xs:element name="BAIRRO_ENT" type="xs:string"/>
							<xs:element name="CIDADE_ENT" type="xs:string"/>
							<xs:element name="CEP_ENT" type="xs:string"/>
							<xs:element name="ESTADO_ENT" type="xs:string"/>
							<xs:element name="PAIS_ENT" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PRODUTO">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="IDAPARELHO" type="xs:string"/>
							<xs:element name="COND_PGTO" type="xs:string"/>
							<xs:element name="NUMERO_PEDIDO" type="xs:string"/>
							<xs:element name="MATERIAL" type="xs:string"/>
							<xs:element name="QUANTIDADE" type="xs:string"/>
							<xs:element name="DATA_REMESSA" type="xs:string"/>
							<xs:element name="VALOR" type="xs:string"/>
							<xs:element name="MEIOPAGTO" type="xs:string"/>
							<xs:element name="HORA_MANHA_INI" type="xs:string"/>
							<xs:element name="HORA_MANHA_FIM" type="xs:string"/>
							<xs:element name="HORA_TARDE_INI" type="xs:string"/>
							<xs:element name="HORA_TARDE_FIM" type="xs:string"/>
							<xs:element name="PONTOS" type="xs:string"/>
							<xs:element name="OBSERVACAO" type="xs:string"/>
							<xs:element name="PRZVIGENCIA" type="xs:string"/>
							<xs:element name="LINHA" type="xs:string"/>
							<xs:element name="SGOFERTA" type="xs:string"/>
							<xs:element name="SEMSIMCARD" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
