JAVAFOJ6/schemas-xsd/schemas/RetencaoXMLINMatrizOfertasVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by Vivo (Vivo) -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Thobias Pink Panter (oviv) -->
<xs:schema xmlns:tns="fidelizacao.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="fidelizacao.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:element name="RetencaoXMLINMatrizOfertasVO">
        <xs:annotation>
            <xs:documentation>VO para entrada de dados nos servico FinalRetencao</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="operacao" type="xs:string"/>
                <xs:element name="idUfOperadora" type="xs:string"/>
                <xs:element name="qtSegmentacao" type="xs:string"/>
                <xs:element name="qtDestino" type="xs:string"/>
                <xs:element name="qtOfertas" type="xs:string"/>
                <xs:element name="inConfiguracao" type="xs:string"/>
                <xs:element name="segmentacao">
                    <xs:complexType>
                        <xs:sequence maxOccurs="unbounded">
                            <xs:element name="idSegmentacao" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="idTipoPessoa" type="xs:string"/>
                <xs:element name="idGrupo" type="xs:string"/>
                <xs:element name="inFidelizacao" type="xs:string"/>
                <xs:element name="destinoprevisto">
                    <xs:complexType>
                        <xs:sequence maxOccurs="unbounded">
                            <xs:element name="idDestino" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="idIntencao" type="xs:string"/>
                <xs:element name="oferta">
                    <xs:complexType>
                        <xs:sequence maxOccurs="unbounded">
                            <xs:element name="idOferta" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="idTipoLinha" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
