JAVAFOJ6/schemas-xsd/schemas/RetencaoRetornoSAPVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by ze_da_silva (vivo) -->
<xs:schema targetNamespace="retornotux.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xxl="retornotux.fo.vivo.com.br/vo" xmlns:tns="retornotux.fo.vivo.com.br/vo">
	<xs:element name="RetencaoRetornoSAPVO">
		<xs:annotation>
			<xs:documentation>Retorno de operacoes Ins-Del-Upd.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="erro" type="xs:string"/>
				<xs:element name="codErro" type="xs:string"/>
				<xs:element name="descErro" type="xs:string"/>
				<xs:element name="idRetencao" type="xs:string"/>
				<xs:element name="ordemServico" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
