JAVAFOJ6/schemas-xsd/schemas/RetornoCampanhaVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema targetNamespace="retornotux.fo.vivo.com.br/vo" xmlns:tns="retornotux.fo.vivo.com.br/vo" xmlns:xxl="retornotux.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="RetornoCampanhaVO">
		<xs:annotation>
			<xs:documentation>Retorno de operacoes Ins-Del-Upd de Campanha.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idSubCampanhaFixa" type="xs:string" minOccurs="0"/>
				<xs:element name="idSubCampanhaHistorico" type="xs:string"  minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
