JAVAFOJ6/schemas-xsd/schemas/retornoVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by Vivo (Vivo) -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by ze_da_silva (vivo) -->
<xs:schema xmlns:tns="retornotux.fo.vivo.com.br/vo" xmlns:xxl="retornotux.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="fidelizacao.fo.vivo.com.br/vo" targetNamespace="retornotux.fo.vivo.com.br/vo">
	<xs:import namespace="fidelizacao.fo.vivo.com.br/vo" schemaLocation="FidelizacaoContatoVO.xsd"/>
	<xs:element name="retornoVO">
		<xs:annotation>
			<xs:documentation>Retorno de operacoes Ins-Del-Upd.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns1:FidelizacaoContatoVO" minOccurs="0"/>
				<xs:element name="descricao" type="xs:string"/>
				<xs:element name="valor" type="xs:string"/>
                <xs:element name="nrProtocolo" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
