JAVAFOJ6/schemas-xsd/schemas/RetornoWFCTIVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by x (y) -->
<xs:schema targetNamespace="workflow.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="workflow.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:include schemaLocation="WFGrupoDisponivelVO.xsd"/>
    <xs:include schemaLocation="WFGrupoSelecionadoVO.xsd"/>
	<xs:element name="RetornoWFCTIVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idRetornoWFCTI" type="xs:string" minOccurs="0"/>
				<xs:element name="sgRetornoWFCTI" type="xs:string" minOccurs="0"/>
				<xs:element name="dsRetornoWFCTI" type="xs:string" minOccurs="0"/>
				<xs:element name="sgStatus"       type="xs:string" minOccurs="0"/>
				<xs:element name="inPadrao"       type="xs:string" minOccurs="0"/>
                <xs:element ref="ns1:WFGrupoDisponivelVO"  minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="ns1:WFGrupoSelecionadoVO" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
