JAVAFOJ6/schemas-xsd/schemas/RWFInboxUserVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Vivo (Vivo) -->
<xs:schema targetNamespace="workflow.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns2="workflow.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="RetornoWFCTIVO.xsd"/>
	<xs:import namespace="campanha.fo.vivo.com.br/vo" schemaLocation="CampanhaVO.xsd"/>
	<xs:element name="RWFInboxUserVO">
		<xs:annotation>
			<xs:documentation>Usuário VIVO NET</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="nmLoginUsuario" type="xs:string" minOccurs="0"/>
				<xs:element name="inDisponivelWF" type="xs:string" minOccurs="0"/>
				<xs:element ref="ns2:RetornoWFCTIVO" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
