JAVAFOJ6/schemas-xsd/schemas/SenhaOperarVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="senha.fo.vivo.com.br/vo" xmlns:ns1="senha.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="SenhaOperarVO">
		<xs:annotation>
			<xs:documentation>operar senha</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="operacaoRealizada" type="xs:boolean" minOccurs="0"/>
				<xs:element name="mensagem" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
