JAVAFOJ6/schemas-xsd/schemas/SenhaMovimentoVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by x (y) -->
<xs:schema targetNamespace="senha.fo.vivo.com.br/vo" xmlns:ns1="senha.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="SenhaMovimentoVO">
		<xs:annotation>
			<xs:documentation>Movimento de senha</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="telefone" type="xs:string"/>
				<xs:element name="nmNome" type="xs:string"/>
				<xs:element name="tipoMovimento" type="xs:string"/>
				<xs:element name="canalOrigem" type="xs:string"/>
				<xs:element name="data" type="xs:string"/>
				<xs:element name="login" type="xs:string"/>
				<xs:element name="obsRegistro" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
 