JAVAFOJ6/schemas-xsd/schemas/ServicosItem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="servico.fo.vivo.com.br/vo" targetNamespace="servico.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="ServicosItem">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="nome" type="xs:string" minOccurs="0"/>
				<xs:element name="codigo" type="xs:string" minOccurs="0"/>
				<xs:element name="descricao" type="xs:string" minOccurs="0"/>
				<xs:element name="status" type="xs:string" minOccurs="0"/>
				<xs:element name="validade" type="xs:string" minOccurs="0"/>
				<xs:element name="validadeInicial" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
