JAVAFOJ6/schemas-xsd/schemas/SETPPTMAVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by Vivo (Vivo) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="atendimento.fo.vivo.com.br/vo" targetNamespace="atendimento.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="SETPPTMAVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idPessoaDepara" type="xs:string" minOccurs="0"/>
				<xs:element name="idLinhaTelefonica" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
