JAVAFOJ6/schemas-xsd/schemas/StatusUsuarioVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Samanta Hida (xxx) -->
<xs:schema targetNamespace="usuario.fo.vivo.com.br/vo" xmlns:tns="usuario.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="StatusUsuarioVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idStatus" type="xs:string"/>
				<xs:element name="nmStatus" type="xs:string"/>
				<xs:element name="sgStatus" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
