JAVAFOJ6/schemas-xsd/schemas/StatusCorrespVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by vivo (vivo) -->
<xs:schema targetNamespace="cliente.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="cliente.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="UnidadeVO.xsd"/>
	<xs:element name="StatusCorrespVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="sigla" type="xs:string"/>
				<xs:element name="descricao" type="xs:string"/>
				<xs:element name="qtDiasValido" type="xs:string"/>
				<xs:element name="idProximo" type="xs:int"/>
				<xs:element name="id" type="xs:int"/>
				<xs:element ref="tns:UnidadeVO"/>
				<xs:element name="inDisponibilidade" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
