JAVAFOJ6/schemas-xsd/schemas/TelaInicialVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="cliente.fo.vivo.com.br/vo" xmlns:ns2="admsistemas.fo.vivo.com.br/vo" xmlns:ns3="usuario.fo.vivo.com.br/vo" xmlns:ns4="workflow.fo.vivo.com.br/vo" targetNamespace="cliente.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="admsistemas.fo.vivo.com.br/vo" schemaLocation="CarterizacaoVO.xsd"/>
	<xs:import namespace="admsistemas.fo.vivo.com.br/vo" schemaLocation="SegmentacaoVO.xsd"/>
	<xs:import namespace="workflow.fo.vivo.com.br/vo" schemaLocation="ProtocoloVO.xsd"/>
	<xs:include schemaLocation="UsuarioLinhaVO.xsd"/>
	<xs:include schemaLocation="EnderecoBaseVO.xsd"/>
	<xs:element name="TelaInicialVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns1:TICliente"/>
				<xs:element ref="ns1:TILinha"/>
				<xs:element ref="ns1:TIFaturamento"/>
				<xs:element ref="ns1:EnderecoBaseVO"/>
				<xs:element ref="ns1:TIDocumento"/>
				<xs:element ref="ns4:ProtocoloVO"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TICliente">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idPessoa" type="xs:string"/>
				<xs:element name="idPessoaDePara" type="xs:string"/>
				<xs:element name="nmNome" type="xs:string"/>
				<xs:element name="nrTelefone" type="xs:string"/>
				<xs:element name="inTipoPessoa" type="xs:string"/>
				<xs:element name="dsChurn" type="xs:string"/>
				<xs:element name="CarterizacaoVO">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="idTipoCarteira" type="xs:string"/>
							<xs:element name="sgTipoCarteira" type="xs:string"/>
							<xs:element name="codigo" type="xs:string"/>
							<xs:element name="descricao" type="xs:string"/>
							<xs:element name="status" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SegmentacaoVO">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="idSegmentacao" type="xs:string"/>
							<xs:element name="codigo" type="xs:string"/>
							<xs:element name="descricao" type="xs:string"/>
							<xs:element name="status" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="isBlindagem" type="xs:string" minOccurs="0"/>
				<xs:element name="Gestor" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nmGestor" type="xs:string"/>
							<xs:element name="nrTelefone" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TILinha">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idLinha" type="xs:string"/>
				<xs:element name="idTipoLinha" type="xs:string" minOccurs="0"/>
				<xs:element name="inBloqueado" type="xs:string" minOccurs="0"/>
				<xs:element name="nrCodArea" type="xs:string"/>
				<xs:element name="nrLinha" type="xs:string"/>
				<xs:element name="nrLinhaFormat" type="xs:string"/>
				<xs:element name="dsTipoLinha" type="xs:string"/>
				<xs:element name="dsPlanoServico" type="xs:string"/>
				<xs:element name="dsEstadoLinha" type="xs:string"/>
				<xs:element name="dtHabilitacao" type="xs:string"/>
				<xs:element name="inDivulgaNumero" type="xs:string"/>
				<xs:element name="qtdLinhasAtivas" type="xs:string"/>
				<xs:element name="qtdLinhasInativas" type="xs:string"/>
				<xs:element name="qtdLinhas" type="xs:string"/>
				<xs:element ref="ns1:UsuarioLinhaVO"/>
				<xs:element name="isPortada" type="xs:string" minOccurs="0"/>
				<xs:element name="inPortabilidade" type="xs:int" default="0" minOccurs="0"/>
				<xs:element name="tpPortada" type="xs:string" minOccurs="0"/>
				<xs:element name="dsPortada" type="xs:string" minOccurs="0"/>
				<xs:element name="ItaucardVO" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="inItaucard" type="xs:string"/>
							<xs:element name="sgTipoLinha" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TIFaturamento">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idLinhaConta" type="xs:string"/>
				<xs:element name="nrConta" type="xs:string"/>
				<xs:element name="dtVencimento" type="xs:string"/>
				<xs:element name="saldo" type="xs:string" minOccurs="0"/>
				<xs:element name="dsCicloFatura" type="xs:string" minOccurs="0"/>
				<xs:element name="dsCodigoSeguranca" type="xs:string" minOccurs="0"/>
				<xs:element name="inContaCobranca" type="xs:string" minOccurs="0"/>
				<xs:element name="dsFormaPagamento" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TIDocumento">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idDocumento" type="xs:string"/>
				<xs:element name="dsTipoDocumento" type="xs:string"/>
				<xs:element name="nrDocumento" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
