JAVAFOJ6/schemas-xsd/schemas/TelefoneVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by Vivo (Vivo) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="commons.fo.vivo.com.br/vo" targetNamespace="commons.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:element name="TelefoneVO">
        <xs:complexType>
            <xs:all>
                <xs:element name="dsTipoTelefone" type="xs:string" minOccurs="0"/>
                <xs:element name="nrDDD" type="xs:integer"/>
                <xs:element name="nrTelefone" type="xs:integer"/>
                <xs:element name="nrRamal" type="xs:string" minOccurs="0"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>
