JAVAFOJ6/schemas-xsd/schemas/TipoPessoaVO.xsd

<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://fidelizacao.fo.vivo.com.br/vo" 
	targetNamespace="http://fidelizacao.fo.vivo.com.br/vo"    
    elementFormDefault="qualified"
	attributeFormDefault="unqualified">
    <xs:element name="TipoPessoaVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idtipopessoa" type="xs:int" minOccurs="1" maxOccurs="unbounded"/>
				<xs:element name="sgtipopessoa" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
                <xs:element name="dstipopessoa" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>                                                
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>

 