JAVAFOJ6/schemas-xsd/schemas/TipoCarteiraVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by vivo (vivo) -->
<xs:schema targetNamespace="usuario.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="usuario.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="TipoCarteiraVO">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idTipoCarteira" type="xs:int"/>
				<xs:element name="sgTipoCarteira" type="xs:string"/>
				<xs:element name="dsTipoCarteira" type="xs:string"/>
				<xs:element name="vlPeso" type="xs:int"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
