JAVAFOJ6/schemas-xsd/schemas/tiposEmail.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="dados.vol.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="br.com.vivo.vol.dados/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="tiposEmail">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idTipoEmail" type="xs:string"/>
                <xs:element name="dsTipoEmail" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>  
	</xs:element>
</xs:schema>  