JAVAFOJ6/schemas-xsd/schemas/TipoDocumentoVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by vivo (vivo) -->
<xs:schema targetNamespace="cliente.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="cliente.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="TipoDocumentoVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idTipoDocumento" type="xs:string"/>
				<xs:element name="sgTipoDocumento" type="xs:string"/>
				<xs:element name="dsTipoDocumento" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
