JAVAFOJ6/schemas-xsd/schemas/TipoComunicacaoVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="cliente.fo.vivo.com.br/vo" targetNamespace="cliente.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="TipoComunicacaoVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idTipoComunicacao" type="xs:string"/>
				<xs:element name="sgTipoComunicacao" type="xs:string"/>
				<xs:element name="dsTipoComunicacao" type="xs:string"/>
				<xs:element name="sgClassificacao" type="xs:string" minOccurs="0"/>
				<xs:element name="idFormaRetorno" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
