JAVAFOJ6/schemas-xsd/schemas/TrackingRelatorioConsolidadoVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by Vivo (Vivo) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="cliente.fo.vivo.com.br/vo" targetNamespace="cliente.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:include schemaLocation="TrackingVolumeVO.xsd"/>
    <xs:element name="TrackingRelatorioConsolidadoVO">
        <xs:annotation>
            <xs:documentation/>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="itemRelatorio" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nrStatusPedido" type="xs:string" minOccurs="0"/>
                            <xs:element name="dsStatusPedido" type="xs:string" default="0" minOccurs="0"/>
                            <xs:element name="vlVolumeTotal" type="xs:integer" minOccurs="0"/>
                            <xs:element name="vlPorcentagem" type="xs:integer" minOccurs="0"/>
                            <xs:element ref="ns1:TrackingVolumeVO" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="dsAgingStatus" type="xs:string" minOccurs="0"/>
                            <xs:element name="dsAgingPedido" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="idCanalVenda" type="xs:integer" minOccurs="0"/>
                <xs:element name="dsSegmento" type="xs:string" minOccurs="0"/>
                <xs:element name="vlVolumeTotalGeral" type="xs:integer" minOccurs="0"/>
                <xs:element name="resultados" maxOccurs="2">
                    <xs:annotation>
                        <xs:documentation>São permitidos dois nós para resultados.
1 - Somatória de valores
2 - Porcentagem de valores</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="ns1:TrackingVolumeVO" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
