JAVAFOJ6/schemas-xsd/schemas/TrackingAparelhosVO.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by Vivo (Vivo) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="cliente.fo.vivo.com.br/vo"
	 targetNamespace="cliente.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="Paginacao.xsd"/>
	<xs:element name="TrackingAparelhosVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ListaTrackingAparelhoVO" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nmCliente" type="xs:string" minOccurs="0"/>
							<xs:element name="tpDoc" type="xs:string"/>
							<xs:element name="nrDoc" type="xs:string"/>
							<xs:element name="ListaPedidoAparelhosVO" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="idSistemaOrigem" type="xs:string"/>
										<xs:element name="dsOrigem" type="xs:string"/>
										<xs:element name="sgUF" type="xs:string"/>
										<xs:element name="dtPedido" type="xs:string"/>
										<xs:element name="nrPedido" type="xs:string"/>
										<xs:element name="nrOrdemVenda" type="xs:string"/>
										<xs:element name="isOVParcial" type="xs:string" minOccurs="0"/>
										<xs:element name="nrFornecimento" type="xs:string" minOccurs="0"/>
										<xs:element name="nrPicking" type="xs:string" minOccurs="0"/>
										<xs:element name="nrNotaFiscal" type="xs:string" minOccurs="0"/>
										<xs:element name="dtFornecimento" type="xs:string" minOccurs="0"/>
										<xs:element name="dtPicking" type="xs:string" minOccurs="0"/>
										<xs:element name="dtNotaFiscal" type="xs:string" minOccurs="0"/>
										<xs:element name="dsEnderecoEntrega" type="xs:string" minOccurs="0"/>
										<xs:element name="dtPrevisaoEntrega" type="xs:string" minOccurs="0"/>
										<xs:element name="sgStatus" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element ref="ns1:Paginacao"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DetalheTrackingAparelhoVO" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DadosPedido">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="nrPedido" type="xs:string"/>
										<xs:element name="dsOrigem" type="xs:string"/>
										<xs:element name="sgUF" type="xs:string"/>
										<xs:element name="dtAbertura" type="xs:string"/>
										<xs:element name="cdAgenteFilial" type="xs:string"/>
										<xs:element name="dsCanalOrigem" type="xs:string"/>
										<xs:element name="vlTotalPedido" type="xs:string"/>
										<xs:element name="qtdPontosResgatados" type="xs:string"/>
										<xs:element name="vlParcelas" type="xs:string"/>
										<xs:element name="dsPagamento" type="xs:string"/>
										<xs:element name="dsObservacao" type="xs:string"/>
										<xs:element name="dsEnderecoEntrega" type="xs:string"/>
										<xs:element ref="ns1:ListaItens"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ListaDadosOrdem" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="DadosOrdem" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="nrOrdemVenda" type="xs:string"/>
													<xs:element name="isOVParcial" type="xs:string" minOccurs="0"/>
													<xs:element name="nrNotaFiscal" type="xs:string"/>
													<xs:element name="serieNotaFiscal" type="xs:string" minOccurs="0"/>
													<xs:element name="dtNotaFiscal" type="xs:string" minOccurs="0"/>
													<xs:element name="vlTotalNota" type="xs:string"/>
													<xs:element name="dsResponsavel" type="xs:string"/>
													<xs:element name="dsTipo" type="xs:string"/>
													<xs:element name="dsMotivo" type="xs:string"/>
													<xs:element name="dsStatus" type="xs:string"/>
													<xs:element name="tpMotivoBloqueio" type="xs:string"/>
													<xs:element name="dsMotivoBloqueio" type="xs:string"/>
													<xs:element name="nrFornecimento" type="xs:string"/>
													<xs:element name="dtFornecimento" type="xs:string" minOccurs="0"/>
													<xs:element name="nrPicking" type="xs:string"/>
													<xs:element name="dtPicking" type="xs:string" minOccurs="0"/>
													<xs:element name="dtConfPicking" type="xs:string" minOccurs="0"/>
													<xs:element name="dtRegSaida" type="xs:string" minOccurs="0"/>
													<xs:element name="dsNormaExpedicao" type="xs:string"/>
													<xs:element name="dsEscritorioVenda" type="xs:string"/>
													<xs:element name="dsGrupoVendedores" type="xs:string"/>
													<xs:element name="dsCanalDist" type="xs:string"/>
													<xs:element name="flagComparar" type="xs:string"/>
													<xs:element name="DadosEntrega">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="dsStatusAtual" type="xs:string"/>
																<xs:element name="dsMotivoStatus" type="xs:string" minOccurs="0"/>
																<xs:element name="tipo" type="xs:string"/>
																<xs:element name="dtPrevisao" type="xs:string"/>
																<xs:element name="tpComprovante" type="xs:string"/>
																<xs:element name="nmRecebedor" type="xs:string"/>
																<xs:element name="nrRG" type="xs:string"/>
																<xs:element name="dsObservacao" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="DadosEtapa" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="dtEtapa" type="xs:string"/>
																<xs:element name="dtAtualizacao" type="xs:string"/>
																<xs:element name="dsSistema" type="xs:string"/>
																<xs:element name="nrOcorrencia" type="xs:string"/>
																<xs:element name="nmUsuario" type="xs:string"/>
																<xs:element name="dsEtapa" type="xs:string"/>
																<xs:element name="dsObservacao" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ComparaTrackingAparelhoVO" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Houve muitas mudanças pra no final ficar com dois nós iguais</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="origem">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="nrPedido" type="xs:string"/>
										<xs:element name="dsOrigem" type="xs:string"/>
										<xs:element name="sgUF" type="xs:string"/>
										<xs:element name="dtAbertura" type="xs:string"/>
										<xs:element name="vlTotalPedido" type="xs:string"/>
										<xs:element name="dsPagamento" type="xs:string"/>
										<xs:element name="vlParcelas" type="xs:string"/>
										<xs:element name="dsEnderecoEntrega" type="xs:string"/>
										<xs:element name="dsObservacao" type="xs:string"/>
										<xs:element ref="ns1:ListaItens"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="sap">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="nrPedido" type="xs:string"/>
										<xs:element name="dsOrigem" type="xs:string"/>
										<xs:element name="sgUF" type="xs:string"/>
										<xs:element name="dtAbertura" type="xs:string"/>
										<xs:element name="vlTotalPedido" type="xs:string"/>
										<xs:element name="dsPagamento" type="xs:string"/>
										<xs:element name="vlParcelas" type="xs:string"/>
										<xs:element name="dsEnderecoEntrega" type="xs:string"/>
										<xs:element name="dsObservacao" type="xs:string"/>
										<xs:element ref="ns1:ListaItens"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="tpRetorno" type="xs:string">
					<xs:annotation>
						<xs:documentation>L_ListaTracking \ D_DetalheTracking \ C_ComparaTracking \ E_Erro</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="msgErro" type="xs:string"/>
				<xs:element name="codErro" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ListaItens">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Itens" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nrItem" type="xs:string"/>
							<xs:element name="cdItem" type="xs:string"/>
							<xs:element name="dsItem" type="xs:string"/>
							<xs:element name="vlItem" type="xs:string"/>
							<xs:element name="qtItem" type="xs:string"/>
							<xs:element name="dsObservacao" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
