JAVAFOJ6/schemas-xsd/schemas/TratarCorrespDevolvidaVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by vivo (vivo) -->
<xs:schema targetNamespace="cliente.fo.vivo.com.br/vo" xmlns:tns="cliente.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="EnderecoBaseVO.xsd"/>
	<xs:element name="TratarCorrespDevolvidaVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idPessoa" type="xs:string"/>
				<xs:element name="idCorrespondenciaDevolvida" type="xs:string"/>
				<xs:element name="dtDevolucao" type="xs:string"/>
				<xs:element name="dsTipoCorrespondencia" type="xs:string"/>
				<xs:element name="dsMotivoDevolucao" type="xs:string"/>
				<xs:element name="nrCodArea" type="xs:string"/>
				<xs:element name="nrLinha" type="xs:string"/>
				<xs:element name="nrConta" type="xs:string"/>
				<xs:element name="nmCliente" type="xs:string"/>
				<xs:element name="dsTipoDocumento" type="xs:string"/>
				<xs:element name="nrDocumento" type="xs:string"/>
				<xs:element name="dtTelemensagem" type="xs:string"/>
				<xs:element name="dtSMS" type="xs:string"/>
				<xs:element ref="tns:EnderecoBaseVO"/>
				<xs:element name="ListaStatus" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="idStatus" type="xs:string"/>
							<xs:element name="dsStatus" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ListaStatusCorresp" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="idStatus" type="xs:string"/>
							<xs:element name="dsStatus" type="xs:string"/>
							<xs:element name="dtStatus" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="tns:PaisVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="tns:UFVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="idStatusAtual" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
