JAVAFOJ6/schemas-xsd/schemas/TreeItemVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by Weblogic Workshop (BEA) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="admsistemas.fo.vivo.com.br/vo" targetNamespace="admsistemas.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="TreeItemVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:string" minOccurs="0"/>
				<xs:element name="descricao" type="xs:string" minOccurs="0"/>
				<xs:element name="descricaoPai" type="xs:string" minOccurs="0"/>
				<xs:element name="nivel" type="xs:string" minOccurs="0"/>
				<xs:element name="idCampo" type="xs:string" minOccurs="0"/>
				<xs:element name="nmCampo" type="xs:string" minOccurs="0"/>
				<xs:element name="idUnico" type="xs:string" minOccurs="0"/>
				<xs:element name="idPai" type="xs:string" minOccurs="0"/>
				<xs:element ref="TreeItemVO" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
