JAVAFOJ6/schemas-xsd/schemas/UFOperadoraVO.xsd

<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Samanta Hida (xxx) -->
<xs:schema targetNamespace="http://fidelizacao.fo.vivo.com.br/vo" xmlns:tns="http://fidelizacao.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="UFOperadoraVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idufoperadora" type="xs:int"/>
				<xs:element name="idpessoa" type="xs:int"/>
				<xs:element name="iduf" type="xs:int"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
