JAVAFOJ6/schemas-xsd/schemas/UFOperadoraUsuarioVO.xsd

<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Samanta Hida (xxx) -->
<xs:schema targetNamespace="usuario.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="usuario.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="UFOperadoraUsuarioVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idUFOperadora" type="xs:string"/>
				<xs:element name="dsUFOperadora" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
