JAVAFOJ6/schemas-xsd/schemas/UsrUsuarioLdapVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Samanta Hida (xxx) -->
<xs:schema targetNamespace="usuario.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="usuario.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="UsrUsuarioLdapVO">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="uid" type="xs:string" minOccurs="0"/>
				<xs:element name="sn" type="xs:string" minOccurs="0"/>
				<xs:element name="cn" type="xs:string" minOccurs="0"/>
				<xs:element name="password" type="xs:string" minOccurs="0"/>
				<xs:element name="idPerfil" type="xs:string" minOccurs="0"/>
				<xs:element name="indAtivo" type="xs:string" minOccurs="0"/>
				<xs:element name="indLock" type="xs:string" minOccurs="0"/>
				<xs:element name="primeiroAcesso" type="xs:string" minOccurs="0"/>
				<xs:element name="givenName" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
