JAVAFOJ6/schemas-xsd/schemas/UsuarioVIVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by x (y) -->
<xs:schema targetNamespace="usuario.fo.vivo.com.br/vo" xmlns:ns1="usuario.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="UsuarioVIVO">
		<xs:annotation>
			<xs:documentation>Usuário VIVO NET</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idPessoaUsuario" type="xs:string"/>
				<xs:element name="nmNome" type="xs:string" minOccurs="0"/>
				<xs:element name="nmLoginUsuario" type="xs:string" minOccurs="0"/>
				<xs:element name="sgSenhaUsuario" type="xs:string" minOccurs="0"/>
				<xs:element name="inDisponivelWF" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
