JAVAFOJ6/schemas-xsd/schemas/UsuarioSimplVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ns1="cliente.fo.vivo.com.br/vo" xmlns:tns="usuario.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="usuario.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="cliente.fo.vivo.com.br/vo" schemaLocation="TipoDocumentoVO.xsd"/>
	<xs:element name="UsuarioSimplVO">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="nome" type="xs:string"/>
				<xs:element name="nomeMeio" type="xs:string" minOccurs="0"/>
				<xs:element name="sobrenome" type="xs:string"/>
				<xs:element name="idUFOperadora" type="xs:string"/>
				<xs:element name="login" type="xs:string"/>
				<xs:element name="loginCti" type="xs:string"/>
				<xs:element name="idStatusAtual" type="xs:string"/>
				<xs:element name="idCargoAtual" type="xs:string"/>
				<xs:element name="idPerfilConsultorAtdAtual" type="xs:string"/>
				<xs:element name="loginChefe" type="xs:string"/>
				<xs:element name="idUsuario" type="xs:string"/>
				<xs:element name="idDocAtual" type="xs:string" nillable="false"/>
				<xs:element name="dsDocAtual" type="xs:string"/>
				<xs:element name="paginaAtual" type="xs:string"/>
				<xs:element name="registrosPPagina" type="xs:string"/>
				<xs:element ref="ns1:TipoDocumentoVO"/>
				<xs:element name="OrganogramaUsuarioVO" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="idNivel" type="xs:string" minOccurs="0"/>
							<xs:element name="idCargo" type="xs:string" minOccurs="0"/>
							<xs:element name="idOrganizacao" type="xs:string" minOccurs="0"/>
							<xs:element name="idUnidade" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
