JAVAFOJ6/schemas-xsd/schemas/UsuarioLDAPVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Samanta Hida (xxx) -->
<xs:schema targetNamespace="usuario.fo.vivo.com.br/vo" xmlns:tns="usuario.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="UsuarioLDAPVO">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idUsuario" type="xs:string" minOccurs="0"/>
				<xs:element name="login" type="xs:string" minOccurs="0"/>
				<xs:element name="idUF" type="xs:string" minOccurs="0"/>
				<xs:element name="nome" type="xs:string" minOccurs="0"/>
				<xs:element name="primeiroAcesso" type="xs:string" minOccurs="0"/>
				<xs:element name="sobrenome" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
