JAVAFOJ6/schemas-xsd/schemas/VOLEManterMenuVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSpy v2009 (http://www.altova.com) by Vivo (VIVO) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="vole.fo.vivo.com.br/vo" targetNamespace="vole.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="VOLEManterMenuVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="pgIni" type="xs:string"/>
				<xs:element name="pgFim" type="xs:string"/>
				<xs:element name="pgCur" type="xs:string"/>
				<xs:element name="pgNum" type="xs:string"/>
				<xs:element name="listaItemMenu" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="rowNum" type="xs:string"/>
							<xs:element name="idItemMenu" type="xs:string"/>
							<xs:element name="nmItem" type="xs:string"/>
							<xs:element name="idCanal" type="xs:string"/>
							<xs:element name="dsCanal" type="xs:string"/>
							<xs:element name="idUfOperadora" type="xs:string"/>
							<xs:element name="sgUf" type="xs:string"/>
							<xs:element name="idTipoCarteira" type="xs:string"/>
							<xs:element name="dsTipoCarteira" type="xs:string"/>
							<xs:element name="idSegmentacao" type="xs:string"/>
							<xs:element name="dsSegmentacao" type="xs:string"/>
							<xs:element name="inAtivo" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
