JAVAFOJ6/schemas-xsd/schemas/VOLTAVRegionalVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Samanta Hida (xxx) -->
<xs:schema targetNamespace="voltav.fo.vivo.com.br/vo" xmlns:tns="voltav.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="VOLTAVRegionalVO">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idOperadora" type="xs:string"/>
				<xs:element name="dsOperadora" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
