JAVAFOJ6/schemas-xsd/schemas/VOLTAVRelatorioLojas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by x (y) -->
<xs:schema targetNamespace="voltav.fo.vivo.com.br/vo" xmlns:ns1="voltav.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="VOLTAVRelatorioLojas">
		<xs:annotation>
			<xs:documentation>Lojas</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idPessoaDePara" type="xs:string"/>
				<xs:element name="dsLoja" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>