JAVAFOJ6/schemas-xsd/schemas/VOLTAVRelatorioAcessoNegado.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="voltav.fo.vivo.com.br/vo" xmlns:ns1="voltav.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="VOLTAVRelatorioAcessoNegado">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idTipoHistoricoSenha" type="xs:string"/>
				<xs:element name="dsTipoHistoricoSenha" type="xs:string"/>
				<xs:element name="dtRegistroHistorico" type="xs:string"/>
                <xs:element name="dsLoja" type="xs:string"/>
                <xs:element name="nrTerminal" type="xs:string"/>
				<xs:element name="qtTotal" type="xs:string"/>
				<xs:element name="qtVOLPreCliente" type="xs:string"/>
				<xs:element name="qtVOLPreUsuario" type="xs:string"/>
				<xs:element name="qtVOLPosCliente" type="xs:string"/>                                
				<xs:element name="qtVOLPosUsuario" type="xs:string"/>
                <xs:element name="qtVOLConCliente" type="xs:string"/>                                
				<xs:element name="qtVOLConUsuario" type="xs:string"/>
				<xs:element name="qtTAVPreCliente" type="xs:string"/>
				<xs:element name="qtTAVPreUsuario" type="xs:string"/>
				<xs:element name="qtTAVPosCliente" type="xs:string"/>                                
				<xs:element name="qtTAVPosUsuario" type="xs:string"/>
				<xs:element name="qtTAVConCliente" type="xs:string"/>                                
				<xs:element name="qtTAVConUsuario" type="xs:string"/>                
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>