JAVAFOJ6/schemas-xsd/schemas/VOLTAVRelatorioServicosDisponveis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="voltav.fo.vivo.com.br/vo" xmlns:ns1="voltav.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="VOLTAVRelatorioServicosDisponveis">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="nuNivel" type="xs:string"/>
				<xs:element name="idContato" type="xs:string"/>
				<xs:element name="nmContato" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>