JAVAFOJ6/schemas-xsd/schemas/VOLTAVRelatorioTempoPermanencia.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="voltav.fo.vivo.com.br/vo" xmlns:ns1="voltav.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="VOLTAVRelatorioTempoPermanencia">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dsLoja"            type="xs:string"/>
				<xs:element name="nrTerminal"        type="xs:string"/>
				<xs:element name="tmVOLPreCliente"   type="xs:string"/>
				<xs:element name="tmVOLPreUsuario"   type="xs:string"/>
				<xs:element name="tmVOLPosCliente"   type="xs:string"/>
				<xs:element name="tmVOLPosUsuario"   type="xs:string"/>
				<xs:element name="tmVOLConCliente"   type="xs:string"/>
				<xs:element name="tmVOLConUsuario"   type="xs:string"/>                
				<xs:element name="tmTAVPreCliente"   type="xs:string"/>                                
				<xs:element name="tmTAVPreUsuario"   type="xs:string"/>
				<xs:element name="tmTAVPosCliente"   type="xs:string"/>
				<xs:element name="tmTAVPosUsuario"   type="xs:string"/>
				<xs:element name="tmTAVConCliente"   type="xs:string"/>
				<xs:element name="tmTAVConUsuario"   type="xs:string"/>                
				<xs:element name="qtTotalAcessos"    type="xs:string"/>                                
				<xs:element name="tmTotalUtilizacao" type="xs:string"/>                  
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>