JAVAFOJ6/schemas-xsd/schemas/VOLTAVRelatorioServicosEfetuados.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="voltav.fo.vivo.com.br/vo" xmlns:ns1="voltav.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="VOLTAVRelatorioServicosEfetuados">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dtRegistro" type="xs:string"/>
				<xs:element name="dsLoja" type="xs:string"/>
				<xs:element name="nrTerminal" type="xs:string"/>
				<xs:element name="nmContato" type="xs:string"/>
				<xs:element name="qtVOL" type="xs:string"/>
				<xs:element name="qtTAV" type="xs:string"/>                
				<xs:element name="qtURA" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>