JAVAFOJ6/schemas-xsd/schemas/VOLTAVRelatorioFinanceiro.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Samanta Hida (xxx) -->
<xs:schema targetNamespace="voltav.fo.vivo.com.br/vo" xmlns:ns1="voltav.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="VOLTAVRelatorioFinanceiro">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dtVenda" type="xs:string" minOccurs="0"/>
				<xs:element name="dsLoja" type="xs:string" minOccurs="0"/>
				<xs:element name="dsTipoServico" type="xs:string" minOccurs="0"/>
				<xs:element name="dsBandeiraCartao" type="xs:string" minOccurs="0"/>
				<xs:element name="vlCartao" type="xs:string" minOccurs="0"/>
				<xs:element name="nrTerminal" type="xs:string" minOccurs="0"/>
				<xs:element name="cdAreaRegistro" type="xs:string" minOccurs="0"/>
				<xs:element name="nrLinha" type="xs:string" minOccurs="0"/>
				<xs:element name="dsStatusVenda" type="xs:string" minOccurs="0"/>
				<xs:element name="dsStatusSitefVenda" type="xs:string" minOccurs="0"/>
				<xs:element name="nrNSUCartao" type="xs:string" minOccurs="0"/>
				<xs:element name="dsTipoLinha" type="xs:string" minOccurs="0"/>
				<xs:element name="cnsuHost" type="xs:string" minOccurs="0"/>
				<xs:element name="nsuAutorizador" type="xs:string" minOccurs="0"/>
				<xs:element name="nrOrdem" type="xs:string" minOccurs="0"/>
				<xs:element name="nrCartao" type="xs:string" minOccurs="0"/>
				<xs:element name="idSitefVenda" type="xs:string" minOccurs="0"/>
				<xs:element name="nrSAP" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
