JAVAFOJ6/schemas-xsd/schemas/VOLTAVUFOperadoraVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Vivo (Vivo) -->
<xs:schema targetNamespace="voltav.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="VOLTAVUFOperadoraVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idOperadora" type="xs:string" minOccurs="0"/>
				<xs:element name="dsOperadora" type="xs:string" minOccurs="0"/>
				<xs:element name="cdAreaRegistro" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
