JAVAFOJ6/schemas-xsd/schemas/VOLTAVRelatorioTipoErro.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="voltav.fo.vivo.com.br/vo" xmlns:ns1="voltav.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="VOLTAVRelatorioTipoErro">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idStatusSitefVenda" type="xs:string"/>    
				<xs:element name="dsStatusSitefVenda" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>