JAVAFOJ6/schemas-xsd/schemas/WFAcaoRetornoVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema targetNamespace="workflow.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="WFAcaoRetornoVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="acaoExecucao" type="xs:string"/>
				<xs:element name="mensagem" type="xs:string"/>
				<xs:element name="urlDestino" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
