JAVAFOJ6/schemas-xsd/schemas/WFAcaoOrdemVendaVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by MESMERiZE (MiZE) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="workflow.fo.vivo.com.br/vo" targetNamespace="workflow.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="WFAcaoRetornoVO.xsd"/>
	<xs:element name="WFAcaoOrdemVendaVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DadosOrdemVendaVO">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="IDSTATUSSAP" type="xs:string"/>
							<xs:element name="DSOBSERVACAO" type="xs:string"/>
							<xs:element name="IDRETENCAO" type="xs:string"/>
                            <xs:element name="ORDEMVENDA" type="xs:string"/>
							<xs:element name="CLIENTE">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ORGVENDA" type="xs:string"/>
										<xs:element name="NOME" type="xs:string"/>
										<xs:element name="RUA_CLI" type="xs:string"/>
                                        <xs:element name="NUM_CLI" type="xs:string"/>
                                        <xs:element name="COMPL_CLI" type="xs:string"/>                                        
										<xs:element name="BAIRRO_CLI" type="xs:string"/>
										<xs:element name="CIDADE_CLI" type="xs:string"/>
										<xs:element name="CEP_CLI" type="xs:string"/>
										<xs:element name="ESTADO_CLI" type="xs:string"/>
										<xs:element name="PAIS_CLI" type="xs:string"/>
										<xs:element name="RUA_ENT" type="xs:string"/>
                                        <xs:element name="NUM_ENT" type="xs:string"/>
                                        <xs:element name="COMPL_ENT" type="xs:string"/>                                        
										<xs:element name="BAIRRO_ENT" type="xs:string"/>
										<xs:element name="CIDADE_ENT" type="xs:string"/>
										<xs:element name="CEP_ENT" type="xs:string"/>
										<xs:element name="ESTADO_ENT" type="xs:string"/>
										<xs:element name="PAIS_ENT" type="xs:string"/>
										<xs:element name="TELEFONE" type="xs:string"/>
										<xs:element name="TIPO_DOC" type="xs:string"/>
										<xs:element name="DOCUMENTO" type="xs:string"/>
										<xs:element name="INSCR_ESTADUAL" type="xs:string"/>
										<xs:element name="INSCR_MUNICIPAL" type="xs:string"/>
                                        <xs:element name="E_MAIL01" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ORDEMCAB">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="COND_PGTO" type="xs:string"/>
										<xs:element name="AUGRU" type="xs:string"/>
										<xs:element name="PO_METHOD" type="xs:string"/>
										<xs:element name="VKGRP" type="xs:string"/>
										<xs:element name="NUMERO_PEDIDO" type="xs:string"/>
										<xs:element name="PONTOS" type="xs:string"/>
										<xs:element name="LINHA" type="xs:string"/>
										<xs:element name="MEIOPAGTO" type="xs:string"/>
										<xs:element name="OBSERVACAO" type="xs:string"/>
										<xs:element name="VALI_DESDE" type="xs:string"/>
										<xs:element name="VALI_ATE" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ORDEMITEM">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="MATERIAL" type="xs:string"/>
										<xs:element name="QUANTIDADE" type="xs:string"/>
										<xs:element name="DATA_REMESSA" type="xs:string"/>
										<xs:element name="HORA_MANHA_INI" type="xs:string"/>
										<xs:element name="HORA_MANHA_FIM" type="xs:string"/>
										<xs:element name="HORA_TARDE_INI" type="xs:string"/>
										<xs:element name="HORA_TARDE_FIM" type="xs:string"/>
										<xs:element name="VALOR" type="xs:string"/>
										<xs:element name="TIPO_VALOR" type="xs:string"/>
                                        <xs:element name="PERMANENCIA" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="ns1:WFAcaoRetornoVO"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
