JAVAFOJ6/schemas-xsd/schemas/WFAcaoVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by C_GAraujo (EMBRACE) -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Vivo (Vivo) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="workflow.fo.vivo.com.br/vo" targetNamespace="workflow.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="WFAcaoVO.xsd"/>
	<xs:element name="WFAcaoVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idAtividade" type="xs:string" minOccurs="0"/>
				<xs:element name="dsAtividade" type="xs:string" minOccurs="0"/>
				<xs:element name="dsTipoAtividade" type="xs:string" minOccurs="0"/>
				<xs:element name="jsAtividade" type="xs:string" minOccurs="0"/>
				<xs:element name="inCRI" type="xs:string" minOccurs="0"/>
				<xs:element name="selected" type="xs:int" minOccurs="0"/>
				<xs:element name="inRC" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
