JAVAFOJ6/schemas-xsd/schemas/WFAndamentoObservacaoVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by x (y) -->
<xs:schema targetNamespace="workflow.fo.vivo.com.br/vo" xmlns:ns1="workflow.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="WFAndamentoObservacaoVO.xsd"/>
	<xs:element name="WFAndamentoObservacaoVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idAndamento" type="xs:string"/>
				<xs:element name="dsAndamentoObservacao" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>