JAVAFOJ6/schemas-xsd/schemas/WFAtendimentoContatoComunicVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Vivo (Vivo) -->
<xs:schema targetNamespace="workflow.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="workflow.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:include schemaLocation="WFAtendimentoContatoComunicVO.xsd"/>
    <xs:element name="WFAtendimentoContatoComunicVO">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="idAtendimentoContatoComunic" type="xs:string"/>
                <xs:element name="idAtendimento" type="xs:string"/>
                <xs:element name="nrOrdemUtilizacao" type="xs:int"/>
                <xs:element name="dsComunicacao" type="xs:string"/>
                <xs:element name="idTipoComunicacao" type="xs:int"/>
                <xs:element name="dsTipoComunicacao" type="xs:string"/>
                <xs:element name="dsAuxiliar" type="xs:string" minOccurs="0"/>
             </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
