JAVAFOJ6/schemas-xsd/schemas/WFDocumentoTecnicoEstadoVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Vivo (Vivo) -->
<xs:schema targetNamespace="workflow.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:ns1="workflow.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="WFDocumentoTecnicoEstadoVO">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idDocTecEstado" type="xs:string" minOccurs="0"/>
				<xs:element name="dsDocTecEstado" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
