JAVAFOJ6/schemas-xsd/schemas/WFEstadoVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSpy v2005 sp1 U (http://www.xmlspy.com) by Vivo (Vivo) -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Vivo (Vivo) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="workflow.fo.vivo.com.br/vo" targetNamespace="workflow.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="WFSubEstadoVO.xsd"/>
	<xs:element name="WFEstadoVO">
		<xs:annotation>
			<xs:documentation>Estado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idEstado" type="xs:string" minOccurs="0"/>
				<xs:element name="dsEstado" type="xs:string" minOccurs="0"/>
				<xs:element name="sgEstado" type="xs:string" minOccurs="0"/>
				<xs:element ref="ns1:WFSubEstadoVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="inFiltro" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
