JAVAFOJ6/schemas-xsd/schemas/WFGrupoDisponivelVO.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="workflow.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="WFGrupoDisponivelVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idGrupo" type="xs:string"/>
				<xs:element name="dsGrupo" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>