JAVAFOJ6/schemas-xsd/schemas/WFGrupoVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Vivo (Vivo) -->
<xs:schema targetNamespace="workflow.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="workflow.fo.vivo.com.br/vo">
	<xs:element name="WFGrupoVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idGrupo" type="xs:string" minOccurs="0"/>
				<xs:element name="dsGrupo" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
