JAVAFOJ6/schemas-xsd/schemas/WFIndicadoresPesquisaVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Vivo (Vivo) -->
<xs:schema targetNamespace="workflow.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="workflow.fo.vivo.com.br/vo">
	<xs:include schemaLocation="WFGrupoVO.xsd"/>
	<xs:include schemaLocation="WFRelatoriosFiltroRegionalVO.xsd"/>
	<xs:element name="WFIndicadoresPesquisaVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dtInicio" type="xs:string" minOccurs="0"/>
				<xs:element name="dtFim" type="xs:string" minOccurs="0"/>
				<xs:element ref="ns1:WFGrupoVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns1:WFRelatoriosFiltroRegionalVO" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
