JAVAFOJ6/schemas-xsd/schemas/WFListaArquivosGeradosVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by Vivo (Vivo) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="workflow.fo.vivo.com.br/vo" xmlns:ns2="admsistemas.fo.vivo.com.br/vo" targetNamespace="workflow.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:import namespace="admsistemas.fo.vivo.com.br/vo" schemaLocation="AdmContatoVO.xsd"/>
    <xs:element name="WFListaArquivosGeradosVO">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ListaRelatorios" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nmArquivo" type="xs:string"/>
                            <xs:element name="dtSolicitacao" type="xs:string"/>
                            <xs:element ref="ns2:AdmContatoVO" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="dsLogin" type="xs:string" minOccurs="0"/>
                            <xs:element name="dtInicio" type="xs:string" minOccurs="0"/>
                            <xs:element name="dtFim" type="xs:string" minOccurs="0"/>
                            <xs:element name="inQuantitativo" type="xs:string" minOccurs="0"/>
                            <xs:element name="idGrupo" type="xs:string" minOccurs="0"/>
                            <xs:element name="dsGrupo" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
