JAVAFOJ6/schemas-xsd/schemas/WFListaContatosVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by Vivo (Vivo) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="workflow.fo.vivo.com.br/vo" targetNamespace="workflow.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="WFListaContatosVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ContatoFolha" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="idContato" type="xs:string"/>
							<xs:element name="nmPath" type="xs:string"/>
							<xs:element name="nmContato" type="xs:string"/>
							<xs:element name="inRelacionamento" type="xs:string" minOccurs="0"/>
							<xs:element name="nmUrl" type="xs:string" minOccurs="0"/>
							<xs:element name="nmUrlFunc" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="status" type="xs:string" minOccurs="0"/>
				<xs:element name="msgStatus" type="xs:string" minOccurs="0"/>
				<xs:element name="inFin" type="xs:string" default="0" minOccurs="0"/>
				<xs:element name="pageNumber" type="xs:string" default="0" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
