JAVAFOJ6/schemas-xsd/schemas/WFManterMotivosVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Vivo (Vivo) -->
<xs:schema targetNamespace="workflow.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="workflow.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="WFMotivoVO.xsd"/>
	<xs:element name="WFManterMotivosVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns1:WFMotivoVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="operacao" type="xs:int" minOccurs="0"/>
				<xs:element name="acoesDisponivel" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ns1:WFAcaoVO" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="acoesAssociado" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ns1:WFAcaoVO" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
