JAVAFOJ6/schemas-xsd/schemas/WFMotivoVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Vivo (Vivo) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="workflow.fo.vivo.com.br/vo" targetNamespace="workflow.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="WFAcaoVO.xsd"/>
	<xs:element name="WFMotivoVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idMotivo" type="xs:string"/>
				<xs:element name="dsMotivo" type="xs:string" minOccurs="0"/>
				<xs:element name="idAgrupamentoEstadoTpfuturo" type="xs:string" minOccurs="0"/>
				<xs:element ref="ns1:WFAcaoVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="ativo" type="xs:int" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
