JAVAFOJ6/schemas-xsd/schemas/WFPesquisaAvancadaComparacaoVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by x (y) -->
<xs:schema targetNamespace="workflow.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="WFPesquisaAvancadaComparacaoVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idCampo" type="xs:string" minOccurs="0"/>
				<xs:element name="nmCampo" type="xs:string" minOccurs="0"/>
				<xs:element name="tpComparacao" type="xs:string" minOccurs="0"/>
				<xs:element name="dsComparacao" type="xs:string" minOccurs="0"/>
				<xs:element name="idFormularioCampoValor" type="xs:string" minOccurs="0"/>
				<xs:element name="valor" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
