JAVAFOJ6/schemas-xsd/schemas/WFRelatoriosFiltrosVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by Vivo (Vivo) -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Vivo (Vivo) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="workflow.fo.vivo.com.br/vo" xmlns:ns2="usuario.fo.vivo.com.br/vo" xmlns:ns3="cliente.fo.vivo.com.br/vo" xmlns:ns4="admsistemas.fo.vivo.com.br/vo" targetNamespace="workflow.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="cliente.fo.vivo.com.br/vo" schemaLocation="Paginacao.xsd"/>
	<xs:import namespace="admsistemas.fo.vivo.com.br/vo" schemaLocation="AdmContatoVO.xsd"/>
	<xs:import namespace="usuario.fo.vivo.com.br/vo" schemaLocation="StatusUsuarioVO.xsd"/>
	<xs:include schemaLocation="WFRelatoriosFiltroSegmentoVO.xsd"/>
	<xs:include schemaLocation="WFEstadoVO.xsd"/>
	<xs:include schemaLocation="WFRelatoriosFiltroCarteiraVO.xsd"/>
	<xs:include schemaLocation="WFRFRVO.xsd"/>
	<xs:include schemaLocation="WFGrupoVO.xsd"/>
	<xs:include schemaLocation="WFRelatoriosFiltroOperadoraVO.xsd"/>
	<xs:include schemaLocation="WFRelatoriosFiltroRegionalVO.xsd"/>
	<xs:include schemaLocation="WFRelatoriosFiltroDiretoriaVO.xsd"/>
	<xs:include schemaLocation="WFRelatoriosFiltroAreaVO.xsd"/>
	<xs:include schemaLocation="WFRelatoriosFiltroSessaoVO.xsd"/>
	<xs:include schemaLocation="WFRelatoriosFiltroCargoVO.xsd"/>
	<xs:include schemaLocation="WFRelatoriosFiltroUFVO.xsd"/>
	<xs:include schemaLocation="WFRelatoriosQuebraVO.xsd"/>
	<xs:include schemaLocation="AlertaVO.xsd"/>
	<xs:include schemaLocation="WFRelatoriosFiltroTerminalVO.xsd"/>
	<xs:element name="WFRelatoriosFiltrosVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns1:WFRelatoriosFiltroRegionalVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns1:WFRelatoriosFiltroOperadoraVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns1:WFRelatoriosFiltroUFVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns1:WFGrupoVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns1:WFRFRVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns1:WFRelatoriosFiltroSegmentoVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns1:WFRelatoriosFiltroCarteiraVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns1:WFEstadoVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns1:WFRelatoriosFiltroDiretoriaVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns1:WFRelatoriosFiltroAreaVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns1:WFRelatoriosFiltroSessaoVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns1:WFRelatoriosFiltroCargoVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns1:WFRelatoriosQuebraVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns2:StatusUsuarioVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns1:AlertaVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns1:WFRelatoriosFiltroTerminalVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns4:AdmContatoVO" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="FiltroDetalhe" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="idColuna" type="xs:string" minOccurs="0"/>
							<xs:element name="valor" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="prazo" type="xs:string" minOccurs="0"/>
				<xs:element name="dtInicio" type="xs:string" minOccurs="0"/>
				<xs:element name="dtFim" type="xs:string" minOccurs="0"/>
				<xs:element name="nivel" type="xs:string" minOccurs="0"/>
				<xs:element name="idContato" type="xs:string" minOccurs="0"/>
				<xs:element name="inRepresentante" type="xs:string" minOccurs="0"/>
				<xs:element name="inTotal" type="xs:string" minOccurs="0"/>
				<xs:element name="qtdLinhasBloco" type="xs:int" minOccurs="0"/>
				<xs:element name="inQuantitativo" type="xs:string" minOccurs="0"/>
				<xs:element name="dsLogin" type="xs:string" minOccurs="0"/>
				<xs:element ref="ns3:Paginacao" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
