JAVAFOJ6/schemas-xsd/schemas/WFRelatorioDinamicoVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by Vivo (Vivo) -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Vivo (Vivo) -->
<xs:schema xmlns:ns1="workflow.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns2="cliente.fo.vivo.com.br/vo" targetNamespace="workflow.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="cliente.fo.vivo.com.br/vo" schemaLocation="Paginacao.xsd"/>
	<xs:element name="WFRelatorioDinamicoVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dsTituloRelatorio" type="xs:string" minOccurs="0"/>
				<xs:element name="ultimoNivel" type="xs:string" minOccurs="0"/>
				<xs:element name="ColunasRelatorio" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="idColuna" type="xs:string" minOccurs="0"/>
							<xs:element name="dsColuna" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ValoresRelatorio" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ValorColuna" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="idValor" type="xs:string" minOccurs="0"/>
										<xs:element name="valor" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="inProximoNivel" type="xs:string" minOccurs="0"/>
							<xs:element name="inTotal" type="xs:int" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="inFin" type="xs:string" minOccurs="0"/>
				<xs:element name="csv" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns2:Paginacao" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
