JAVAFOJ6/schemas-xsd/schemas/WFRelatoriosFiltroSessaoVO.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Vivo (Vivo) -->
<xs:schema targetNamespace="workflow.fo.vivo.com.br/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="workflow.fo.vivo.com.br/vo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="WFRelatoriosFiltroSessaoVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idCargo" type="xs:string" minOccurs="0"/>
				<xs:element name="nmCargo" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
