VivoServices/VivoServicesEJB/src/br/com/indrasistemas/vivoservices/listapup/tuxgateway/entrada/regContatoIN.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Glauber Rodger (Vivo) -->
<!--W3C Schema generated by XMLSpy v2006 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="msg" type="msgType"/>
	<xs:complexType name="msgType">
		<xs:sequence>
			<xs:element name="msgHdr" type="msgHdrType"/>
			<xs:element name="msgBody" type="msgBodyType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="msgHdrType">
		<xs:sequence>
			<xs:element name="user" type="xs:string"/>
			<xs:element name="service" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="msgBodyType">
		<xs:sequence>
			<xs:element name="AtendimentoVO" type="AtendimentoVOType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AtendimentoVOType">
		<xs:sequence>
			<xs:element name="idAtendimento" type="xs:int" minOccurs="0"/>
			<xs:element name="msgError" type="xs:string" minOccurs="0"/>
			<xs:element name="idLinhaAtendimento" type="xs:int" minOccurs="0"/>
			<xs:element name="idUfOperadora" type="xs:int" minOccurs="0"/>
			<xs:element name="idTipoLinha" type="xs:int" minOccurs="0"/>
			<xs:element name="idChamadaTelefonica" type="xs:int" minOccurs="0"/>
			<xs:element name="inResponsavelAbertura" type="xs:int" minOccurs="0"/>
			<xs:element name="idGrupoAbertura" type="xs:int" minOccurs="0"/>
			<xs:element name="observacao" type="xs:string" minOccurs="0"/>
			<xs:element name="inTipoPessoa" type="xs:string" minOccurs="0"/>
			<xs:element name="nrTelefone" type="xs:long" minOccurs="0"/>
			<xs:element name="tpOperacao" type="xs:int" minOccurs="0"/>
			<xs:element name="ProcedenciaVO" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="idProcedencia" type="xs:int" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CanalVO" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="idCanal" type="xs:int" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Contas" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ContaVO" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="LinhaVO" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="idPessoaLinhaHistorico" type="xs:int" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="idConta" type="xs:long" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PessoaVO" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="idPessoa" type="xs:int" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="UsuarioLinhaVO" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="idPessoa" type="xs:int" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ArvoreAtendimento" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="nmPath" type="xs:string" minOccurs="0"/>
						<xs:element name="CarterizacaoVO" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="idTipoCarteira" type="xs:int" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="SegmentacaoVO" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="idSegmentacao" type="xs:int" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="LinhasAssociadasVO" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="cdConta" type="xs:string" minOccurs="0"/>
						<xs:element name="nrTelefone" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
