catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/tecnologia/ParametrosCriarTecnologia.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoTecnologia" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="ParametrosCriarTecnologia">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="TecnologiaCriacao">
			        <xsd:complexType>
			          <xsd:sequence>
			            <xsd:element name="idTecnologia" type="xsd:long" minOccurs="0"/>
			            <xsd:element name="nmTecnologia" type="xsd:string"/>
			            <xsd:element name="sgTecnologia" type="xsd:string" minOccurs="0"/>
			            <xsd:element name="dtCriacao" type="xsd:dateTime" minOccurs="0"/>
			            <xsd:element name="nmUsuarioCriacao" type="xsd:string" minOccurs="0"/>
			            <xsd:element name="nmUsuarioAlteracao" type="xsd:string" minOccurs="0"/>
			            <xsd:element name="dtUltimaAlteracao" type="xsd:dateTime" minOccurs="0"/>
			            <xsd:element name="idTecnologiaPai" type="xsd:long" minOccurs="0"/>
			          </xsd:sequence>
			        </xsd:complexType>
			      </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
</xsd:schema>