catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/tecnologia/ParametrosBuscarAssociacaoTecnologiaTpFrequencia.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoTecnologia" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="ParametrosBuscarAssociacaoTecnologiaTpFrequencia">
      <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="ParametrosBuscarAssociacaoIn">
			        <xsd:complexType>
			          <xsd:sequence>
			            <xsd:element name="idTecnologia" type="xsd:long"/>
			            <xsd:element name="idTipoFrequencia" type="xsd:long"/>
			          </xsd:sequence>
			        </xsd:complexType>
			      </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
    </xsd:element>
</xsd:schema>