catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/tecnologia/ResultadoBuscarListaTecnologiaPorModelo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoTecnologia" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cweb="http://www.vivo.com.br/SN/CatalogoTecnologia">
<xsd:include schemaLocation="ListaTipoFrequencia.xsd"/>
      <xsd:element name="ResultadoBuscarListaTecnologiaPorModelo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Tecnologia" minOccurs="0" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="idTecnologia" type="xsd:long"/>
                  <xsd:element name="nmTecnologia" type="xsd:string"/>
                  <xsd:element name="sgTecnologia" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="dtCriacao" type="xsd:dateTime" minOccurs="0"/>
                  <xsd:element name="nmUsuarioCriacao" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="nmUsuarioAlteracao" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="dtUltimaAlteracao" type="xsd:dateTime" minOccurs="0"/>
                  <xsd:element name="idTecnologiaPai" type="xsd:long" minOccurs="0"/>
                  <xsd:element ref="cweb:ListaTipoFrequencia" minOccurs="0"/>
                  <xsd:element name="TecnologiaReferencia" minOccurs="0">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="idTecnologia" type="xsd:long"/>
                        <xsd:element name="nmTecnologia" type="xsd:string"/>
                        <xsd:element name="sgTecnologia" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="dtCriacao" type="xsd:dateTime" minOccurs="0"/>
                        <xsd:element name="nmUsuarioCriacao" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="nmUsuarioAlteracao" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="dtUltimaAlteracao" type="xsd:dateTime" minOccurs="0"/>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>