catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/tecnologia/ResultadoBuscarAssociacaoTecnologiaTpFrequencia.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoTecnologia" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="ResultadoBuscarAssociacaoTecnologiaTpFrequencia">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="idTecnologiaTpFrequencia" type="xsd:long" minOccurs="0"/>
            <xsd:element name="idTecnologia" type="xsd:long" minOccurs="0"/>
            <xsd:element name="idTipoFrequencia" type="xsd:long" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
</xsd:schema>