catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/tecnologia/TecnologiaSecurity.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<s1:definitions name="Tecnologia" targetNamespace="http://www.vivo.com.br/SN/CatalogoTecnologia" xmlns:s0="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:s1="http://schemas.xmlsoap.org/wsdl/" xmlns:s2="http://www.vivo.com.br/MC/Geral" xmlns:s3="http://www.vivo.com.br/SN/CatalogoTecnologia" xmlns:s4="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
  <wsp:UsingPolicy s1:Required="true"/>
  <wsp:Policy s0:Id="encrypt-custom-body-element-and-username-token">
    <wssp:Identity xmlns:wssp="http://www.bea.com/wls90/security/policy">
      <wssp:SupportedTokens>
        <wssp:SecurityToken TokenType="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#UsernameToken">
          <wssp:UsePassword Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText"/>
        </wssp:SecurityToken>
      </wssp:SupportedTokens>
    </wssp:Identity>
  </wsp:Policy>
  <s1:types>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoTecnologia" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoTecnologia" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoTecnologia" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/MC/Geral" schemaLocation="CabecalhoVivo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/MC/Geral" schemaLocation="ErroInfo.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoTecnologia" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoTecnologia" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoTecnologia" schemaLocation="ParametrosCriarTecnologia.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoTecnologia" schemaLocation="ParametrosAlterarTecnologiaTipoFrequencia.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoTecnologia" schemaLocation="ParametrosAssociarTecnologiaTipoFrequencia.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoTecnologia" schemaLocation="ResultadoBuscarListaTecnologiaTipoFrequencia.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoTecnologia" schemaLocation="ParametrosBuscarListaModeloPorTecnologia.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoTecnologia" schemaLocation="ResultadoBuscarListaModeloPorTecnologia.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoTecnologia" schemaLocation="ParametrosExcluirListaTecnologia.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoTecnologia" schemaLocation="ParametrosBuscarAssociacaoTecnologiaTpFrequencia.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoTecnologia" schemaLocation="ResultadoBuscarAssociacaoTecnologiaTpFrequencia.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoTecnologia" schemaLocation="ParametrosBuscarListaTecnologiaPorModelo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoTecnologia" schemaLocation="ParametrosDesassociarListaTecnologiaTipoFrequencia.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoTecnologia" schemaLocation="ResultadoBuscarListaTecnologia.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoTecnologia" schemaLocation="ResultadoBuscarListaTecnologiaPorModelo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoTecnologia" schemaLocation="ResultadoBuscarListaTecnologiaSimples.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoTecnologia" schemaLocation="ParametrosAssociarTecnologiaTipoFrequenciaValor.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoTecnologia" schemaLocation="ResultadoAssociarTecnologiaTipoFrequenciaValor.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoTecnologia" schemaLocation="ParametrosDesassociarTecnologiaTpFrequenciaVl.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoTecnologia" schemaLocation="ResultadoDesassociarTecnologiaTpFrequenciaVl.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoTecnologia" schemaLocation="ResultadoAssociarTecnologiaTipoFrequencia.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoTecnologia" schemaLocation="ResultadoAlterarTecnologiaTipoFrequencia.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoTecnologia" schemaLocation="ResultadoCriarTecnologia.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoTecnologia" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoTecnologia" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoTecnologia" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="associarTecnologiaTipoFrequenciaValorRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosAssociarTecnologiaTipoFrequenciaValor"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="associarTecnologiaTipoFrequenciaValorResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoTecnologia" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoTecnologia" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoTecnologia" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="desassociarTecnologiaTpFrequenciaVlRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosDesassociarTecnologiaTpFrequenciaVl"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="desassociarTecnologiaTpFrequenciaVlResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoTecnologia" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoTecnologia" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoTecnologia" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="criarTecnologiaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosCriarTecnologia"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="criarTecnologiaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoCriarTecnologia"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarTecnologiaTipoFrequenciaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosAlterarTecnologiaTipoFrequencia"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarTecnologiaTipoFrequenciaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoAlterarTecnologiaTipoFrequencia"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="associarTecnologiaTipoFrequenciaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosAssociarTecnologiaTipoFrequencia"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="associarTecnologiaTipoFrequenciaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoAssociarTecnologiaTipoFrequencia"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaTecnologiaTipoFrequenciaRequest">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaTecnologiaTipoFrequenciaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaTecnologiaTipoFrequencia"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaModeloPorTecnologiaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaModeloPorTecnologia"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaModeloPorTecnologiaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaModeloPorTecnologia"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="excluirListaTecnologiaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosExcluirListaTecnologia"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="excluirListaTecnologiaResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarAssociacaoTecnologiaTpFrequenciaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarAssociacaoTecnologiaTpFrequencia"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarAssociacaoTecnologiaTpFrequenciaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarAssociacaoTecnologiaTpFrequencia"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaTecnologiaRequest">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaTecnologiaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaTecnologia"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaTecnologiaPorModeloRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaTecnologiaPorModelo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaTecnologiaPorModeloResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaTecnologiaPorModelo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaTecnologiaSimplesRequest">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaTecnologiaSimplesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaTecnologiaSimples"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="desassociarListaTecnologiaTipoFrequenciaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosDesassociarListaTecnologiaTipoFrequencia"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="desassociarListaTecnologiaTipoFrequenciaResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </s1:types>
  <s1:message name="cabecalhoVIVO">
    <s1:part element="s2:cabecalhoVivo" name="cabecalhoVIVO"/>
  </s1:message>
  <s1:message name="erroInfoFault">
    <s1:part element="s2:erroInfo" name="erroInfo"/>
  </s1:message>
  <s1:message name="criarTecnologiaRequest">
    <s1:part element="s3:criarTecnologiaRequest" name="criarTecnologiaRequest"/>
  </s1:message>
  <s1:message name="criarTecnologiaResponse">
    <s1:part element="s3:criarTecnologiaResponse" name="criarTecnologiaResponse"/>
  </s1:message>
  <s1:message name="alterarTecnologiaTipoFrequenciaRequest">
    <s1:part element="s3:alterarTecnologiaTipoFrequenciaRequest" name="alterarTecnologiaTipoFrequenciaRequest"/>
  </s1:message>
  <s1:message name="alterarTecnologiaTipoFrequenciaResponse">
    <s1:part element="s3:alterarTecnologiaTipoFrequenciaResponse" name="alterarTecnologiaTipoFrequenciaResponse"/>
  </s1:message>
  <s1:message name="associarTecnologiaTipoFrequenciaRequest">
    <s1:part element="s3:associarTecnologiaTipoFrequenciaRequest" name="associarTecnologiaTipoFrequenciaRequest"/>
  </s1:message>
  <s1:message name="associarTecnologiaTipoFrequenciaResponse">
    <s1:part element="s3:associarTecnologiaTipoFrequenciaResponse" name="associarTecnologiaTipoFrequenciaResponse"/>
  </s1:message>
  <s1:message name="buscarListaTecnologiaTipoFrequenciaRequest">
    <s1:part element="s3:buscarListaTecnologiaTipoFrequenciaRequest" name="buscarListaTecnologiaTipoFrequenciaRequest"/>
  </s1:message>
  <s1:message name="buscarListaTecnologiaTipoFrequenciaResponse">
    <s1:part element="s3:buscarListaTecnologiaTipoFrequenciaResponse" name="buscarListaTecnologiaTipoFrequenciaResponse"/>
  </s1:message>
  <s1:message name="buscarListaModeloPorTecnologiaRequest">
    <s1:part element="s3:buscarListaModeloPorTecnologiaRequest" name="buscarListaModeloPorTecnologiaRequest"/>
  </s1:message>
  <s1:message name="buscarListaModeloPorTecnologiaResponse">
    <s1:part element="s3:buscarListaModeloPorTecnologiaResponse" name="buscarListaModeloPorTecnologiaResponse"/>
  </s1:message>
  <s1:message name="excluirListaTecnologiaRequest">
    <s1:part element="s3:excluirListaTecnologiaRequest" name="excluirListaTecnologiaRequest"/>
  </s1:message>
  <s1:message name="excluirListaTecnologiaResponse">
    <s1:part element="s3:excluirListaTecnologiaResponse" name="excluirListaTecnologiaResponse"/>
  </s1:message>
  <s1:message name="buscarAssociacaoTecnologiaTpFrequenciaRequest">
    <s1:part element="s3:buscarAssociacaoTecnologiaTpFrequenciaRequest" name="buscarAssociacaoTecnologiaTpFrequenciaRequest"/>
  </s1:message>
  <s1:message name="buscarAssociacaoTecnologiaTpFrequenciaResponse">
    <s1:part element="s3:buscarAssociacaoTecnologiaTpFrequenciaResponse" name="buscarAssociacaoTecnologiaTpFrequenciaResponse"/>
  </s1:message>
  <s1:message name="buscarListaTecnologiaRequest">
    <s1:part element="s3:buscarListaTecnologiaRequest" name="buscarListaTecnologiaRequest"/>
  </s1:message>
  <s1:message name="buscarListaTecnologiaResponse">
    <s1:part element="s3:buscarListaTecnologiaResponse" name="buscarListaTecnologiaResponse"/>
  </s1:message>
  <s1:message name="buscarListaTecnologiaPorModeloRequest">
    <s1:part element="s3:buscarListaTecnologiaPorModeloRequest" name="buscarListaTecnologiaPorModeloRequest"/>
  </s1:message>
  <s1:message name="buscarListaTecnologiaPorModeloResponse">
    <s1:part element="s3:buscarListaTecnologiaPorModeloResponse" name="buscarListaTecnologiaPorModeloResponse"/>
  </s1:message>
  <s1:message name="buscarListaTecnologiaSimplesRequest">
    <s1:part element="s3:buscarListaTecnologiaSimplesRequest" name="buscarListaTecnologiaSimplesRequest"/>
  </s1:message>
  <s1:message name="buscarListaTecnologiaSimplesResponse">
    <s1:part element="s3:buscarListaTecnologiaSimplesResponse" name="buscarListaTecnologiaSimplesResponse"/>
  </s1:message>
  <s1:message name="desassociarListaTecnologiaTipoFrequenciaRequest">
    <s1:part element="s3:desassociarListaTecnologiaTipoFrequenciaRequest" name="desassociarListaTecnologiaTipoFrequenciaRequest"/>
  </s1:message>
  <s1:message name="desassociarListaTecnologiaTipoFrequenciaResponse">
    <s1:part element="s3:desassociarListaTecnologiaTipoFrequenciaResponse" name="desassociarListaTecnologiaTipoFrequenciaResponse"/>
  </s1:message>
  <s1:message name="associarTecnologiaTipoFrequenciaValorRequest">
    <s1:part element="s3:associarTecnologiaTipoFrequenciaValorRequest" name="associarTecnologiaTipoFrequenciaValorRequest"/>
  </s1:message>
  <s1:message name="associarTecnologiaTipoFrequenciaValorResponse">
    <s1:part element="s3:associarTecnologiaTipoFrequenciaValorResponse" name="associarTecnologiaTipoFrequenciaValorResponse"/>
  </s1:message>
  <s1:message name="desassociarTecnologiaTpFrequenciaVlRequest">
    <s1:part element="s3:desassociarTecnologiaTpFrequenciaVlRequest" name="desassociarTecnologiaTpFrequenciaVlRequest"/>
  </s1:message>
  <s1:message name="desassociarTecnologiaTpFrequenciaVlResponse">
    <s1:part element="s3:desassociarTecnologiaTpFrequenciaVlResponse" name="desassociarTecnologiaTpFrequenciaVlResponse"/>
  </s1:message>
  <s1:portType name="TecnologiaPortType">
    <s1:operation name="criarTecnologia">
      <s1:input message="s3:criarTecnologiaRequest"/>
      <s1:output message="s3:criarTecnologiaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="alterarTecnologiaTipoFrequencia">
      <s1:input message="s3:alterarTecnologiaTipoFrequenciaRequest"/>
      <s1:output message="s3:alterarTecnologiaTipoFrequenciaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="associarTecnologiaTipoFrequencia">
      <s1:input message="s3:associarTecnologiaTipoFrequenciaRequest"/>
      <s1:output message="s3:associarTecnologiaTipoFrequenciaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaTecnologiaTipoFrequencia">
      <s1:input message="s3:buscarListaTecnologiaTipoFrequenciaRequest"/>
      <s1:output message="s3:buscarListaTecnologiaTipoFrequenciaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaModeloPorTecnologia">
      <s1:input message="s3:buscarListaModeloPorTecnologiaRequest"/>
      <s1:output message="s3:buscarListaModeloPorTecnologiaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="excluirListaTecnologia">
      <s1:input message="s3:excluirListaTecnologiaRequest"/>
      <s1:output message="s3:excluirListaTecnologiaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarAssociacaoTecnologiaTpFrequencia">
      <s1:input message="s3:buscarAssociacaoTecnologiaTpFrequenciaRequest"/>
      <s1:output message="s3:buscarAssociacaoTecnologiaTpFrequenciaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaTecnologia">
      <s1:input message="s3:buscarListaTecnologiaRequest"/>
      <s1:output message="s3:buscarListaTecnologiaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaTecnologiaPorModelo">
      <s1:input message="s3:buscarListaTecnologiaPorModeloRequest"/>
      <s1:output message="s3:buscarListaTecnologiaPorModeloResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaTecnologiaSimples">
      <s1:input message="s3:buscarListaTecnologiaSimplesRequest"/>
      <s1:output message="s3:buscarListaTecnologiaSimplesResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="desassociarListaTecnologiaTipoFrequencia">
      <s1:input message="s3:desassociarListaTecnologiaTipoFrequenciaRequest"/>
      <s1:output message="s3:desassociarListaTecnologiaTipoFrequenciaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="associarTecnologiaTipoFrequenciaValor">
      <s1:input message="s3:associarTecnologiaTipoFrequenciaValorRequest"/>
      <s1:output message="s3:associarTecnologiaTipoFrequenciaValorResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="desassociarTecnologiaTpFrequenciaVl">
      <s1:input message="s3:desassociarTecnologiaTpFrequenciaVlRequest"/>
      <s1:output message="s3:desassociarTecnologiaTpFrequenciaVlResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
  </s1:portType>
  <s1:binding name="TecnologiaBinding" type="s3:TecnologiaPortType">
    <s4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <s1:operation name="criarTecnologia">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="criarTecnologiaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="criarTecnologiaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="alterarTecnologiaTipoFrequencia">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="alterarTecnologiaTipoFrequenciaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="alterarTecnologiaTipoFrequenciaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="associarTecnologiaTipoFrequencia">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="associarTecnologiaTipoFrequenciaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="associarTecnologiaTipoFrequenciaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaTecnologiaTipoFrequencia">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaTecnologiaTipoFrequenciaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaTecnologiaTipoFrequenciaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaModeloPorTecnologia">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaModeloPorTecnologiaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaModeloPorTecnologiaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="excluirListaTecnologia">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="excluirListaTecnologiaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="excluirListaTecnologiaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarAssociacaoTecnologiaTpFrequencia">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarAssociacaoTecnologiaTpFrequenciaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarAssociacaoTecnologiaTpFrequenciaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaTecnologia">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaTecnologiaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaTecnologiaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaTecnologiaPorModelo">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaTecnologiaPorModeloRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaTecnologiaPorModeloResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaTecnologiaSimples">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaTecnologiaSimplesRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaTecnologiaSimplesResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="desassociarListaTecnologiaTipoFrequencia">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="desassociarListaTecnologiaTipoFrequenciaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="desassociarListaTecnologiaTipoFrequenciaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="associarTecnologiaTipoFrequenciaValor">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="associarTecnologiaTipoFrequenciaValorRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="associarTecnologiaTipoFrequenciaValorResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="desassociarTecnologiaTpFrequenciaVl">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="desassociarTecnologiaTpFrequenciaVlRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="desassociarTecnologiaTpFrequenciaVlResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
  </s1:binding>
  <s1:service name="TecnologiaSoapService">
    <s1:port binding="s3:TecnologiaBinding" name="TecnologiaSoapPort">
      <s4:address location="http://alsb3-soa:80/CatalogoWeb/Tecnologia/Proxy/TecnologiaSecurity"/>
    </s1:port>
  </s1:service>
</s1:definitions>