catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/organizacaovendas/ResultadoBuscarListaOrgVendasComDDD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoOrganizacaoVendas" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:element name="ResultadoBuscarListaOrgVendasComDDD">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ListaOrganizacaoVendaComDDD" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="OrganizacaoVenda" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="idOrganizacaoVendas" type="xsd:long" minOccurs="0"/>
            							<xsd:element name="nmOrganizacaoVendas" type="xsd:string" minOccurs="0"/>
            							<xsd:element name="sgOrganizacaoVendas" type="xsd:string" minOccurs="0"/>
            							<xsd:element name="ListaDDD">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Ddd" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="codigoArea" minOccurs="0" type="xsd:long"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>		
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>