catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/tipocliente/ResultadoBuscarListaTipoCliente.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoTipoCliente" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cweb="http://www.vivo.com.br/nfo/catalogoWEB">
	<xsd:element name="ResultadoBuscarListaTipoCliente">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="TipoCliente" minOccurs="0" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="idTipoCliente" type="xsd:long"/>
                  <xsd:element name="nmTipoCliente" type="xsd:string"/>
                  <xsd:element name="dtCriacao" type="xsd:dateTime" minOccurs="0"/>
                  <xsd:element name="nmUsuarioCriacao" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="nmUsuarioAlteracao" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="dtUltimaAlteracao" type="xsd:dateTime" minOccurs="0"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
</xsd:schema>