JAVAFOJ6/vivonet-war/src/cliente/TelaInicial/DetalheFatura/WebService/AgendaContato.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.vivo.com.br/MC/Conta" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ct="http://www.vivo.com.br/MC/Conta">

	<xs:complexType name="AgendaContato">
		<xs:annotation>
			<xs:documentation>
				Mantem informacoes dos contatos disponiveis nas agendas
				de clientes vivo.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nome" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Nome do contato da agenda
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sobrenome" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Sobrenome do contato
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="apelido" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Apelido do contato
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="tipoTelefone" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Indica o tipo do telefone do contato, se
						celular, comercial, residencial, etc
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="grupoContato" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Grupo em que o contato esta, se Familia, Empresa, VIP, etc.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="telefone" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Numero do telefone que foi cadastrado na agenda do contato
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

</xs:schema>