JAVAFOJ6/vivonet-war/src/cliente/TelaInicial/DetalheFatura/WebService/AreaChamada.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.vivo.com.br/MC/Conta" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ct="http://www.vivo.com.br/MC/Conta">

	<xs:complexType name="AreaChamada">
		<xs:annotation>
			<xs:documentation>
				Indica se a chamada ocorreu dentra da area de cobertura
				ou fora.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="codigo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Tipo de Area da chamada (Dominio: 0- Todos, 1 -
						Dentro da Area e 2 -Fora da Area)
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="descricao" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Descricao da area de cobertura da chamada.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

</xs:schema>