JAVAFOJ6/vivonet-war/src/cliente/TelaInicial/DetalheFatura/WebService/Chamada.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema elementFormDefault="qualified" targetNamespace="http://www.vivo.com.br/MC/Conta" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ct="http://www.vivo.com.br/MC/Conta">

	<xs:include schemaLocation="Fatura.xsd"/>
	<xs:include schemaLocation="TipoTarifa.xsd"/>
	<xs:include schemaLocation="DestinoChamada.xsd"/>
	<xs:include schemaLocation="TipoDetalheChamada.xsd"/>
	<xs:include schemaLocation="AreaChamada.xsd"/>
	<xs:include schemaLocation="TipoServicoChamada.xsd"/>
	<xs:include schemaLocation="TipoChamada.xsd"/>
	<xs:include schemaLocation="AgendaContato.xsd"/>
	
	<xs:complexType name="Chamada">
		<xs:annotation>
			<xs:documentation>
				Informacoes das chamadas efetuadas ou recebidas por
				clientes vivo.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dataChamada" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Data e hora da chamada
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="numeroOrigem" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Numero da linha que fez a chamada
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="numeroDestino" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Numero da linha que recebeu a chamada
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="tipoChamada" type="ct:TipoChamada" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Referencia a entidade TipoChamada
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tipoServicoChamada" type="ct:TipoServicoChamada" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Referencia a entidade TipoServicoChamada
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="areaChamada" type="ct:AreaChamada" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Referencia a entidade AreaChamada
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tipoDetalheChamada" type="ct:TipoDetalheChamada" minOccurs="0">
			</xs:element>
			<xs:element name="destinoChamada" minOccurs="0" type="ct:DestinoChamada">
				<xs:annotation>
					<xs:documentation>
						Nome do destino da chamada
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tipoTarifa" type="ct:TipoTarifa" minOccurs="0">
			</xs:element>
			<xs:element name="valor" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Valor da chamada
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="15"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="duracao" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Duracao da chamada
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="fatura" type="ct:Fatura" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Referencia a entidade Fatura.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="agendaContato" type="ct:AgendaContato" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Referencia a entidade AgendaContato. Traz
						informacoes para identificar quem recebeu ou
						originou a chamada.
					</xs:documentation>
				</xs:annotation>
			</xs:element>			
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Chamadas">
		<xs:sequence>
			<xs:element name="chamada" type="ct:Chamada" maxOccurs="unbounded" minOccurs="0">
			</xs:element>
		</xs:sequence>
	</xs:complexType>

</xs:schema>