JAVAFOJ6/vivonet-war/src/cliente/TelaInicial/DetalheFatura/WebService/Ciclo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.vivo.com.br/MC/Conta" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ct="http://www.vivo.com.br/MC/Conta" xmlns:ps="http://www.vivo.com.br/MC/Pessoa">
	<xs:complexType name="Ciclo">
		<xs:annotation>
			<xs:documentation>
				Mantem informacoes dos ciclos de billing por tipo de
				pessoa e dia de vencimento.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="diaVencimento" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Dia de vencimento do ciclo.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="codigo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Codigo que identifica o ciclo de faturamento da
						conta.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
