JAVAFOJ6/vivonet-war/src/cliente/TelaInicial/DetalheFatura/WebService/Pagamento.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 (http://www.altova.com) by Vivo (Vivo) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ct="http://www.vivo.com.br/MC/Conta" targetNamespace="http://www.vivo.com.br/MC/Conta" elementFormDefault="qualified">
	<xs:include schemaLocation="TipoPagamento.xsd"/>
	<xs:complexType name="Pagamento">
		<xs:annotation>
			<xs:documentation>
				Mantem informacoes dos pagamentos das faturas
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dataPagamento" minOccurs="0">
				<xs:simpleType>
					<xs:annotation>
						<xs:documentation>
							Data do pagamento da fatura.
						</xs:documentation>
					</xs:annotation>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="valorPagamento" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Valor pago pela fatura que pode ser diferente do
						valor da fatura.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="15"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="tipoPagamento" type="ct:TipoPagamento" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Referencia a entidade TipoPagamento
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dataReversaoPagamento" minOccurs="0">
				<xs:simpleType>
					<xs:annotation>
						<xs:documentation>
							Data da reversao de pagamento
						</xs:documentation>
					</xs:annotation>
					<xs:restriction base="xs:date"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="valorReversaoPagamento" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Valor da reversao do pagamento
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="15"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Pagamentos">
		<xs:sequence>
			<xs:element name="pagamento" type="ct:Pagamento" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
