JAVAFOJ6/vivonet-war/src/cliente/TelaInicial/DetalheFatura/WebService/ParametrosObterGrafico.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.vivo.com.br/SN/Fatura" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cta="http://www.vivo.com.br/SN/Fatura">
	<xs:complexType name="ParametrosObterGrafico">
		<xs:sequence>
			<xs:element name="nrConta" type="xs:string"/>
			<xs:element name="tpGrafico">
				<xs:annotation>
					<xs:documentation>Domínio dos parâmetros: Pizza: "P"; Linha: "L"; Coluna: "C"</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="P"/>
						<xs:enumeration value="L"/>
						<xs:enumeration value="C"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="tpVetor">
				<xs:annotation>
					<xs:documentation>Domínio dos parâmetros: Valor: "V";Duração: "D";</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="V"/>
						<xs:enumeration value="D"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="tpConsolidacao" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Domínio dos parâmetros: Tipo de chamada: "TC" Destino da chamada: "DC"; Tipo de serviço: "TS"; Tipo de destino: "TD"; Customizada: "CM"</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="TC"/>
						<xs:enumeration value="DC"/>
						<xs:enumeration value="TS"/>
						<xs:enumeration value="TD"/>
						<xs:enumeration value="CM"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:choice>
				<xs:element name="parametrosGraficoPizza">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="valoresSerie" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="nmSerie" type="xs:string"/>
										<xs:element name="vlSerie" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="parametrosGraficoLinhaColuna">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="itens" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="nrItem" type="xs:string"/>
										<xs:element name="labeleixoX" type="xs:string"/>
										<xs:element name="vleixoX" type="xs:string"/>
										<xs:element name="valoresSerie" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="lbSerie" type="xs:string"/>
													<xs:element name="vlSerie" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
</xs:schema>