JAVAFOJ6/vivonet-war/src/cliente/TelaInicial/DetalheFatura/WebService/TipoServicoChamada.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.vivo.com.br/MC/Conta" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ct="http://www.vivo.com.br/MC/Conta">

	<xs:complexType name="TipoServicoChamada">
		<xs:annotation>
			<xs:documentation>
				Indica se o evento da chamada eh de dados , voz ou
				outros.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="codigo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Tipo de servico da ligacao (Dominio: D- Dados, O
						- Outros e A -Todos)
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="descricao" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Descricao do tipo do servico da chamada.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

</xs:schema>