JAVAFOJ6/vivonet-war/src/cliente/TelaInicial/DetalheFatura/WebService/TipoDetalheChamada.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.vivo.com.br/MC/Conta" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ct="http://www.vivo.com.br/MC/Conta">

	<xs:complexType name="TipoDetalheChamada">
		<xs:annotation>
			<xs:documentation>
				Indica se a chamada eh originada, internacional,
				nacional, a cobrar etc.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="codigo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Detalhe da ligacao
						(Dominio: 0 - Todas 
								  1 - Originada 
								  2 - Local 
								  3 - Longa Distancia Nacional
								  4 - Longa Distancia Internacional 
								  5 - A cobrar)
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="descricao" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Descricao do tipo de detalhe da chamada
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

</xs:schema>