catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/multimidia/MultimidiaSecurity.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<s1:definitions name="Multimidia" targetNamespace="http://www.vivo.com.br/SN/CatalogoMultimidia" xmlns:s0="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:s1="http://schemas.xmlsoap.org/wsdl/" xmlns:s2="http://www.vivo.com.br/MC/Geral" xmlns:s3="http://www.vivo.com.br/SN/CatalogoMultimidia" xmlns:s4="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
  <wsp:UsingPolicy s1:Required="true"/>
  <wsp:Policy s0:Id="encrypt-custom-body-element-and-username-token">
    <wssp:Identity xmlns:wssp="http://www.bea.com/wls90/security/policy">
      <wssp:SupportedTokens>
        <wssp:SecurityToken TokenType="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#UsernameToken">
          <wssp:UsePassword Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText"/>
        </wssp:SecurityToken>
      </wssp:SupportedTokens>
    </wssp:Identity>
  </wsp:Policy>
  <s1:types>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoMultimidia" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoMultimidia" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoMultimidia" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/MC/Geral" schemaLocation="CabecalhoVivo.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoMultimidia" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoMultimidia" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoMultimidia" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/MC/Geral" schemaLocation="ErroInfo.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoMultimidia" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoMultimidia" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMultimidia" schemaLocation="ParametrosDesassociarListaMultimidia.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoMultimidia" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoMultimidia" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMultimidia" schemaLocation="ParametrosAssociarMultimidia.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoMultimidia" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoMultimidia" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMultimidia" schemaLocation="ParametrosBuscarListaImagemPorModelo.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoMultimidia" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoMultimidia" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMultimidia" schemaLocation="ResultadoBuscarListaImagemPorModelo.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoMultimidia" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoMultimidia" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMultimidia" schemaLocation="ParametrosBuscarListaMultTMCorClass.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMultimidia" schemaLocation="ResultadoBuscarListaMultTMCorClass.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMultimidia" schemaLocation="ParametrosAlterarMultimidia.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMultimidia" schemaLocation="ResultadoBuscarListaClassificacaoMultimidia.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMultimidia" schemaLocation="ResultadoBuscarListaCor.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMultimidia" schemaLocation="ResultadoBuscarListaTipoMultimidia.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMultimidia" schemaLocation="ParametrosBuscarListaMultimidia.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMultimidia" schemaLocation="ResultadoBuscarListaMultimidia.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMultimidia" schemaLocation="ParametrosObterExistenciaClassMult.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoMultimidia" schemaLocation="ResultadoObterExistenciaClassMult.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoMultimidia" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoMultimidia" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoMultimidia" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="obterExistenciaClassMultRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParamObterExistenciaClassMult"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="obterExistenciaClassMultResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultObterExistenciaClassMult"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoMultimidia" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoMultimidia" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoMultimidia" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="buscarListaMultimidiaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParamBuscarListaMultimidia"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaMultimidiaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultBuscarListaMultimidia"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoMultimidia" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoMultimidia" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoMultimidia" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="buscarListaMultTMCorClassRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParamBuscarListaMultTMCorClass"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaMultTMCorClassResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="tns:ResultBuscarListaMultTMCorClass"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoMultimidia" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoMultimidia" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoMultimidia" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="alterarMultimidiaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParamAlterarMultimidia"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarMultimidiaResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoMultimidia" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoMultimidia" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoMultimidia" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="buscarListaClassificacaoMultimidiaRequest">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaClassificacaoMultimidiaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ListaClassificacaoMultimidia"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoMultimidia" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoMultimidia" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoMultimidia" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="buscarListaCorRequest">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaCorResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ListaCor"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoMultimidia" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoMultimidia" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoMultimidia" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="buscarListaTipoMultimidiaRequest">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaTipoMultimidiaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ListaTipoMultimidia"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoMultimidia" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoMultimidia" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoMultimidia" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="desassociarListaMultimidiaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosDesassociarListaMultimidia"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="desassociarListaMultimidiaResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="associarMultimidiaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosAssociarMultimidia"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="associarMultimidiaResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaImagemPorModeloRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaImagemPorModelo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaImagemPorModeloResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaImagemPorModelo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </s1:types>
  <s1:message name="cabecalhoVIVO">
    <s1:part element="s2:cabecalhoVivo" name="cabecalhoVIVO"/>
  </s1:message>
  <s1:message name="erroInfoFault">
    <s1:part element="s2:erroInfo" name="erroInfo"/>
  </s1:message>
  <s1:message name="obterExistenciaClassMultRequest">
    <s1:part element="s3:obterExistenciaClassMultRequest" name="obterExistenciaClassMultRequest"/>
  </s1:message>
  <s1:message name="obterExistenciaClassMultResponse">
    <s1:part element="s3:obterExistenciaClassMultResponse" name="obterExistenciaClassMultResponse"/>
  </s1:message>
  <s1:message name="buscarListaMultTMCorClassRequest">
    <s1:part element="s3:buscarListaMultTMCorClassRequest" name="buscarListaMultTMCorClassRequest"/>
  </s1:message>
  <s1:message name="buscarListaMultTMCorClassResponse">
    <s1:part element="s3:buscarListaMultTMCorClassResponse" name="buscarListaMultTMCorClassResponse"/>
  </s1:message>
  <s1:message name="alterarMultimidiaRequest">
    <s1:part element="s3:alterarMultimidiaRequest" name="alterarMultimidiaRequest"/>
  </s1:message>
  <s1:message name="alterarMultimidiaResponse">
    <s1:part element="s3:alterarMultimidiaResponse" name="alterarMultimidiaResponse"/>
  </s1:message>
  <s1:message name="buscarListaClassificacaoMultimidiaRequest">
    <s1:part element="s3:buscarListaClassificacaoMultimidiaRequest" name="buscarListaClassificacaoMultimidiaRequest"/>
  </s1:message>
  <s1:message name="buscarListaClassificacaoMultimidiaResponse">
    <s1:part element="s3:buscarListaClassificacaoMultimidiaResponse" name="buscarListaClassificacaoMultimidiaResponse"/>
  </s1:message>
  <s1:message name="buscarListaCorRequest">
    <s1:part element="s3:buscarListaCorRequest" name="buscarListaCorRequest"/>
  </s1:message>
  <s1:message name="buscarListaCorResponse">
    <s1:part element="s3:buscarListaCorResponse" name="buscarListaCorResponse"/>
  </s1:message>
  <s1:message name="buscarListaMultimidiaRequest">
    <s1:part element="s3:buscarListaMultimidiaRequest" name="buscarListaMultimidiaRequest"/>
  </s1:message>
  <s1:message name="buscarListaMultimidiaResponse">
    <s1:part element="s3:buscarListaMultimidiaResponse" name="buscarListaMultimidiaResponse"/>
  </s1:message>
  <s1:message name="buscarListaTipoMultimidiaRequest">
    <s1:part element="s3:buscarListaTipoMultimidiaRequest" name="buscarListaTipoMultimidiaRequest"/>
  </s1:message>
  <s1:message name="buscarListaTipoMultimidiaResponse">
    <s1:part element="s3:buscarListaTipoMultimidiaResponse" name="buscarListaTipoMultimidiaResponse"/>
  </s1:message>
  <s1:message name="desassociarListaMultimidiaRequest">
    <s1:part element="s3:desassociarListaMultimidiaRequest" name="desassociarListaMultimidiaRequest"/>
  </s1:message>
  <s1:message name="desassociarListaMultimidiaResponse">
    <s1:part element="s3:desassociarListaMultimidiaResponse" name="desassociarListaMultimidiaResponse"/>
  </s1:message>
  <s1:message name="associarMultimidiaRequest">
    <s1:part element="s3:associarMultimidiaRequest" name="associarMultimidiaRequest"/>
  </s1:message>
  <s1:message name="associarMultimidiaResponse">
    <s1:part element="s3:associarMultimidiaResponse" name="associarMultimidiaResponse"/>
  </s1:message>
  <s1:message name="buscarListaImagemPorModeloRequest">
    <s1:part element="s3:buscarListaImagemPorModeloRequest" name="buscarListaImagemPorModeloRequest"/>
  </s1:message>
  <s1:message name="buscarListaImagemPorModeloResponse">
    <s1:part element="s3:buscarListaImagemPorModeloResponse" name="buscarListaImagemPorModeloResponse"/>
  </s1:message>
  <s1:portType name="MultimidiaPortType">
    <s1:operation name="obterExistenciaClassMult">
      <s1:input message="s3:obterExistenciaClassMultRequest"/>
      <s1:output message="s3:obterExistenciaClassMultResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaMultTMCorClass">
      <s1:input message="s3:buscarListaMultTMCorClassRequest"/>
      <s1:output message="s3:buscarListaMultTMCorClassResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="alterarMultimidia">
      <s1:input message="s3:alterarMultimidiaRequest"/>
      <s1:output message="s3:alterarMultimidiaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaClassificacaoMultimidia">
      <s1:input message="s3:buscarListaClassificacaoMultimidiaRequest"/>
      <s1:output message="s3:buscarListaClassificacaoMultimidiaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaCor">
      <s1:input message="s3:buscarListaCorRequest"/>
      <s1:output message="s3:buscarListaCorResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaMultimidia">
      <s1:input message="s3:buscarListaMultimidiaRequest"/>
      <s1:output message="s3:buscarListaMultimidiaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaTipoMultimidia">
      <s1:input message="s3:buscarListaTipoMultimidiaRequest"/>
      <s1:output message="s3:buscarListaTipoMultimidiaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="desassociarListaMultimidia">
      <s1:input message="s3:desassociarListaMultimidiaRequest"/>
      <s1:output message="s3:desassociarListaMultimidiaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="associarMultimidia">
      <s1:input message="s3:associarMultimidiaRequest"/>
      <s1:output message="s3:associarMultimidiaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaImagemPorModelo">
      <s1:input message="s3:buscarListaImagemPorModeloRequest"/>
      <s1:output message="s3:buscarListaImagemPorModeloResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
  </s1:portType>
  <s1:binding name="MultimidiaBinding" type="s3:MultimidiaPortType">
    <s4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <s1:operation name="obterExistenciaClassMult">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="obterExistenciaClassMultRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="obterExistenciaClassMultResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaMultTMCorClass">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaMultTMCorClassRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaMultTMCorClassResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="alterarMultimidia">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="alterarMultimidiaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="alterarMultimidiaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaClassificacaoMultimidia">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaClassificacaoMultimidiaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaClassificacaoMultimidiaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaCor">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaCorRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaCorResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaMultimidia">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaMultimidiaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaMultimidiaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaTipoMultimidia">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaTipoMultimidiaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaTipoMultimidiaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="desassociarListaMultimidia">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="desassociarListaMultimidiaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="desassociarListaMultimidiaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="associarMultimidia">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="associarMultimidiaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="associarMultimidiaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaImagemPorModelo">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaImagemPorModeloRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaImagemPorModeloResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
  </s1:binding>
  <s1:service name="MultimidiaService">
    <s1:port binding="s3:MultimidiaBinding" name="MultimidiaSoapPort">
      <s4:address location="http://alsb3-soa:80/CatalogoWeb/Multimidia/Proxy/MultimidiaSecurity"/>
    </s1:port>
  </s1:service>
</s1:definitions>