catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/multimidia/ParametrosBuscarListaMultTMCorClass.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoMultimidia" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
  <xs:element name="ParamBuscarListaMultTMCorClass">
    <xs:complexType>
      <xs:sequence>
        
        <xs:element name="idGrupoProduto" type="xs:long"/>
				
		<xs:element name="ListaSgTipoMultimidia" minOccurs="0">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="sgTipoMultimidia" type="xs:string" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
		</xs:element>
		
		<xs:element name="ListaSgClassificacao" minOccurs="0">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="sgClassificacao" type="xs:string" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
		</xs:element>
        
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>