catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/multimidia/ParametrosObterExistenciaClassMult.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoMultimidia" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<xsd:element name="ParamObterExistenciaClassMult">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="idGrupoProduto" type="xsd:long"/>
				<xsd:element name="idCor" type="xsd:long" minOccurs="0"/>
				<xsd:element name="idClassificacao" type="xsd:long" minOccurs="0"/>
				<xsd:element name="sgTipoMultimidia" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
</xsd:schema>