catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/multimidia/ResultadoObterExistenciaClassMult.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoMultimidia" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<xsd:element name="ResultObterExistenciaClassMult">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="qtdOcorrencia" type="xsd:long"/>
				<xsd:element name="nmCor" type="xsd:string" minOccurs="0"/>
				<xsd:element name="nmClassificacao" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>