catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/multimidia/ResultadoBuscarListaImagemPorModelo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoMultimidia" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:annotation>
		<xsd:documentation>
			<informacaoArquivo>
				Nome do arquivo: ResultadoBuscarListaImagemporModelo.xsd Data de
				criacao/alteracao: 17/07/2008 Analista: Antonio Filho
				E-mail: antonio.filho@altran.com.br
			</informacaoArquivo>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:element name="ResultadoBuscarListaImagemPorModelo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Multimidia" minOccurs="0" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="idMultimidia" type="xsd:long"/>
                  <xsd:element name="idGrupoProduto" type="xsd:long" minOccurs="0"/>
                  <xsd:element name="dtCriacao" type="xsd:dateTime" minOccurs="0"/>
                  <xsd:element name="nmUsuarioCriacao" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="dtUltimaAlteracao" type="xsd:dateTime" minOccurs="0"/>
                  <xsd:element name="nmUsuarioAlteracao" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="nmMultimidia" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="idCor" type="xsd:long" minOccurs="0"/>
                  <xsd:element name="idClassificacao" type="xsd:long" minOccurs="0"/>
                  <xsd:element name="idTipoMultimidia" type="xsd:long" minOccurs="0"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
</xsd:schema>