catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/multimidia/ResultadoBuscarListaMultTMCorClass.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoMultimidia" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
  <xs:element name="ResultBuscarListaMultTMCorClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Multimidia" minOccurs="0" maxOccurs="unbounded">
	      <xs:complexType>
	         <xs:sequence>
	            <xs:element name="idMultimidia" type="xs:long"/>
	            <xs:element name="idGrupoProduto" type="xs:long" minOccurs="0"/>
	            <xs:element name="nmMultimidia" type="xs:string" minOccurs="0"/>
	            <xs:element name="idCor" type="xs:long" minOccurs="0"/>
	            <xs:element name="RGB" type="xs:string" minOccurs="0"/>
	            <xs:element name="nmCor" type="xs:string" minOccurs="0"/>
	            <xs:element name="idClassificacao" type="xs:long" minOccurs="0"/>
	            <xs:element name="sgClassificacao" type="xs:string" minOccurs="0"/>
	            <xs:element name="nmClassificacao" type="xs:string" minOccurs="0"/>
	            <xs:element name="idTipoMultimidia" type="xs:long" minOccurs="0"/>
	            <xs:element name="sgTipoMultimidia" type="xs:string" minOccurs="0"/>
	            <xs:element name="nmTipoMultimidia" type="xs:string" minOccurs="0"/>
	         </xs:sequence>
	      </xs:complexType>
	  	</xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>