catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/multimidia/ResultadoBuscarListaTipoMultimidia.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoMultimidia" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ListaTipoMultimidia">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TipoMultimidia" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="idTipoMultimidia" type="xs:long"/>
              <xs:element name="sgTipoMultimidia" type="xs:string"/>
              <xs:element name="nmTipoMultimidia" type="xs:string"/>
              <xs:element name="dtCriacao" type="xs:dateTime"/>
              <xs:element name="nmUsuarioCriacao" type="xs:string"/>
              <xs:element name="dtAlteracao" minOccurs="0" type="xs:dateTime"/>
              <xs:element name="nmUsuarioAlteracao" minOccurs="0" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>