VivoServices/VivoServicesEJB/src/br/com/indrasistemas/vivoservices/portabilidade/cliente/servicegateway/tuxedo/portProcessos/entrada/PortProcessosIN.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by rnt (rnt) -->
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by Vivo (Vivo) -->
<!--W3C Schema generated by XMLSpy v2006 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="msg" type="msgType"/>
	<xs:complexType name="msgType">
		<xs:sequence>
			<xs:element name="msgHdr" type="msgHdrType"/>
			<xs:element name="msgBody" type="msgBodyType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="msgHdrType">
		<xs:sequence>
			<xs:element name="user" type="xs:string"/>
			<xs:element name="service" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="msgBodyType">
		<xs:sequence>
			<xs:element name="PortabilidadeProcessosTO">
				<xs:complexType>
					<xs:all>
						<xs:element name="cdAreaRegistro" type="xs:int" minOccurs="0"/>
						<xs:element name="nrLinha" type="xs:long" minOccurs="0"/>
						<xs:element name="dtJanela" type="xs:string" minOccurs="0"/>
						<xs:element name="cdOperacao" type="xs:int" minOccurs="1"/>
						<xs:element name="estadoPortabilidade" type="xs:int" minOccurs="1"/>
						<xs:element name="cdOperadoraSolicitante" type="xs:int" minOccurs="0"/>
						<xs:element name="dsComentarioProcesso" type="xs:string" minOccurs="0"/>
						<xs:element name="nrProcesso" type="xs:long" minOccurs="0"/>
						<xs:element name="nrBilhetePortabilidade" type="xs:long" minOccurs="1"/>
						<xs:element name="cdProcedencia" type="xs:int" minOccurs="0"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
