catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/uf/AreaRegistro.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/nfo/catalogoWEB" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/Frequencia">
	
	<xsd:element name="ListaAreaRegistro">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="AreaRegistro" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="idAreaRegistro" type="xsd:long"/>
							<xsd:element name="codigoArea" type="xsd:long"/>
							<xsd:element name="idUf" type="xsd:long"/>
							<xsd:element name="dtCriacao" type="xsd:dateTime" minOccurs="0"/>
							<xsd:element name="nmUsuarioCriacao" type="xsd:string" minOccurs="0"/>
							<xsd:element name="nmUsuarioAlteracao" type="xsd:string" minOccurs="0"/>						
							<xsd:element name="dtUltimaAlteracao" type="xsd:dateTime" minOccurs="0"/>
							<xsd:element name="idOrganizacaoVendas" type="xsd:long" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>