catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/uf/ParametrosBuscarListaUfPorIdPlano.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoUF" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<xsd:element name="ParametrosBuscarListaUfPorIdPlano">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ListaUfPorIdPlano">
		     <xsd:complexType>
		       <xsd:sequence>
		         <xsd:element name="idPlano" type="xsd:long"/>
		       </xsd:sequence>
		     </xsd:complexType>
		   </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
</xsd:schema>