catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/uf/ResultadoBuscarListaUF.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoUF" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:Q1="http://www.vivo.com.br/SN/CatalogoUF" xmlns:Q2="http://www.vivo.com.br/nfo/catalogoWEB">
	
    <xsd:import schemaLocation="AreaRegistro.xsd" namespace="http://www.vivo.com.br/nfo/catalogoWEB"/>
    <xsd:element name="ResultadoBuscarListaUF">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="UF" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="idUf" type="xsd:long"/>
							<xsd:element name="nmUF" type="xsd:string"/>
							<xsd:element name="idRegional" type="xsd:long"/>
							<xsd:element name="dtCriacao" type="xsd:dateTime" minOccurs="0"/>
							<xsd:element name="nmUsuarioCriacao" type="xsd:string" minOccurs="0"/>
							<xsd:element name="nmUsuarioAlteracao" type="xsd:string" minOccurs="0"/>
							<xsd:element name="dtUltimaAlteracao" type="xsd:dateTime" minOccurs="0"/>
							<xsd:element ref="Q2:ListaAreaRegistro" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
</xsd:schema>