catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/uf/UFSecurity.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<s1:definitions name="UF" targetNamespace="http://www.vivo.com.br/SN/CatalogoUF" xmlns:s0="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:s1="http://schemas.xmlsoap.org/wsdl/" xmlns:s2="http://www.vivo.com.br/MC/Geral" xmlns:s3="http://www.vivo.com.br/SN/CatalogoUF" xmlns:s4="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
  <wsp:UsingPolicy s1:Required="true"/>
  <wsp:Policy s0:Id="encrypt-custom-body-element-and-username-token">
    <wssp:Identity xmlns:wssp="http://www.bea.com/wls90/security/policy">
      <wssp:SupportedTokens>
        <wssp:SecurityToken TokenType="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#UsernameToken">
          <wssp:UsePassword Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText"/>
        </wssp:SecurityToken>
      </wssp:SupportedTokens>
    </wssp:Identity>
  </wsp:Policy>
  <s1:types>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoUF" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:cweb="http://www.vivo.com.br/SN/CatalogoUF" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoUF" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoUF" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/MC/Geral" schemaLocation="CabecalhoVivo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/MC/Geral" schemaLocation="ErroInfo.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:cweb="http://www.vivo.com.br/SN/CatalogoUF" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoUF" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoUF" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoUF" schemaLocation="ParametrosBuscarListaUfPorIdPlano.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoUF" schemaLocation="ResultadoBuscarListaUF.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoUF" schemaLocation="ParametrosBuscarListaUfComDDDPorIdPlano.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoUF" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:cweb="http://www.vivo.com.br/SN/CatalogoUF" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoUF" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoUF" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="buscarListaUFPorIdPlanoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaUfPorIdPlano"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaUFPorIdPlanoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="cweb:ResultadoBuscarListaUF"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaUFComDDDPorIdPlanoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaUfComDDDPorIdPlano"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaUFComDDDPorIdPlanoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="cweb:ResultadoBuscarListaUF"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaUFRequest">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaUFResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="cweb:ResultadoBuscarListaUF"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaUFComDDDRequest">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaUFComDDDResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="cweb:ResultadoBuscarListaUF"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </s1:types>
  <s1:message name="cabecalhoVIVO">
    <s1:part element="s2:cabecalhoVivo" name="cabecalhoVIVO"/>
  </s1:message>
  <s1:message name="erroInfoFault">
    <s1:part element="s2:erroInfo" name="erroInfo"/>
  </s1:message>
  <s1:message name="buscarListaUFPorIdPlanoRequest">
    <s1:part element="s3:buscarListaUFPorIdPlanoRequest" name="buscarListaUFPorIdPlanoRequest"/>
  </s1:message>
  <s1:message name="buscarListaUFPorIdPlanoResponse">
    <s1:part element="s3:buscarListaUFPorIdPlanoResponse" name="buscarListaUFPorIdPlanoResponse"/>
  </s1:message>
  <s1:message name="buscarListaUFComDDDPorIdPlanoRequest">
    <s1:part element="s3:buscarListaUFComDDDPorIdPlanoRequest" name="buscarListaUFComDDDPorIdPlanoRequest"/>
  </s1:message>
  <s1:message name="buscarListaUFComDDDPorIdPlanoResponse">
    <s1:part element="s3:buscarListaUFComDDDPorIdPlanoResponse" name="buscarListaUFComDDDPorIdPlanoResponse"/>
  </s1:message>
  <s1:message name="buscarListaUFRequest">
    <s1:part element="s3:buscarListaUFRequest" name="buscarListaUFRequest"/>
  </s1:message>
  <s1:message name="buscarListaUFResponse">
    <s1:part element="s3:buscarListaUFResponse" name="buscarListaUFResponse"/>
  </s1:message>
  <s1:message name="buscarListaUFComDDDRequest">
    <s1:part element="s3:buscarListaUFComDDDRequest" name="buscarListaUFComDDDRequest"/>
  </s1:message>
  <s1:message name="buscarListaUFComDDDResponse">
    <s1:part element="s3:buscarListaUFComDDDResponse" name="buscarListaUFComDDDResponse"/>
  </s1:message>
  <s1:portType name="UFPortType">
    <s1:operation name="buscarListaUFPorIdPlano">
      <s1:input message="s3:buscarListaUFPorIdPlanoRequest"/>
      <s1:output message="s3:buscarListaUFPorIdPlanoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaUFComDDDPorIdPlano">
      <s1:input message="s3:buscarListaUFComDDDPorIdPlanoRequest"/>
      <s1:output message="s3:buscarListaUFComDDDPorIdPlanoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaUF">
      <s1:input message="s3:buscarListaUFRequest"/>
      <s1:output message="s3:buscarListaUFResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaUFComDDD">
      <s1:input message="s3:buscarListaUFComDDDRequest"/>
      <s1:output message="s3:buscarListaUFComDDDResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
  </s1:portType>
  <s1:binding name="UFBinding" type="s3:UFPortType">
    <s4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <s1:operation name="buscarListaUFPorIdPlano">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:body parts="buscarListaUFPorIdPlanoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaUFPorIdPlanoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaUFComDDDPorIdPlano">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:body parts="buscarListaUFComDDDPorIdPlanoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaUFComDDDPorIdPlanoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaUF">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:body parts="buscarListaUFRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaUFResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaUFComDDD">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:body parts="buscarListaUFComDDDRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaUFComDDDResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
  </s1:binding>
  <s1:service name="UFSoapService">
    <s1:port binding="s3:UFBinding" name="UFSoapPort">
      <s4:address location="http://alsb3-soa:80/CatalogoWeb/UF/Proxy/UFSecurity"/>
    </s1:port>
  </s1:service>
</s1:definitions>