VivoServices/VivoServicesEJB/src/br/com/indrasistemas/vivoservices/atendimento/servicos/desbloqueio/tuxgateway/entrada/desbloqueioIN.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="msg" type="msgType"/>
	<xs:complexType name="msgType">
		<xs:sequence>
			<xs:element name="msgHdr" type="msgHdrType"/>
			<xs:element name="msgBody" type="msgBodyType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="msgHdrType">
		<xs:sequence>
			<xs:element name="user" type="xs:string"/>
			<xs:element name="service" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="msgBodyType">
		<xs:sequence>
			<xs:element name="DesbloqueioGsmVO" type="DesbloqueioGsmVOType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DesbloqueioGsmVOType">
		<xs:sequence>
			<xs:element name="idPessoa" type="xs:string" minOccurs="0"/>
			<xs:element name="idGrupoAbertura" type="xs:string" minOccurs="0"/>
			<xs:element name="idTipoRelacionamento" type="xs:string" minOccurs="0"/>
			<xs:element name="cdAreaRegistro" type="xs:string" minOccurs="0"/>
			<xs:element name="nrLinha" type="xs:string" minOccurs="0"/>
			<xs:element name="idTipoDocumento" type="xs:string" minOccurs="0"/>
			<xs:element name="nrDocumento" type="xs:string" minOccurs="0"/>
			<xs:element name="nrIP" type="xs:string" minOccurs="0"/>
			<xs:element name="nrIMEI" type="xs:string" minOccurs="0"/>
			<xs:element name="nrSimLock" type="xs:string" minOccurs="0"/>
			<xs:element name="statusConsulta" type="xs:string" minOccurs="0"/>
			<xs:element name="errorCode" type="xs:string" minOccurs="0"/>
			<xs:element name="errorDescription" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
