VivoServices/VivoServicesEJB/src/br/com/indrasistemas/vivoservices/portabilidade/cliente/servicegateway/tuxedo/portProcessos/saida/PortProcessosOUT.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by Vivo (Vivo) -->
<!--W3C Schema generated by XMLSpy v2006 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="msg" type="msgType"/>
	<xs:complexType name="msgType">
		<xs:sequence>
			<xs:element name="msgHdr" type="msgHdrType"/>
			<xs:element name="msgBody" type="msgBodyType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="msgHdrType">
		<xs:all>
			<xs:element name="user" type="xs:string" minOccurs="0"/>
			<xs:element name="service" type="xs:string" minOccurs="0"/>
			<xs:element name="subSystem" type="xs:string" minOccurs="0"/>
			<xs:element name="serverElapsedTime" type="xs:int" minOccurs="0"/>
			<xs:element name="statusCode" type="xs:string" minOccurs="0"/>
			<xs:element name="statusText" type="xs:string" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="msgBodyType">
		<xs:sequence>
			<xs:element name="PortabilidadeOutTO" minOccurs="0">
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="cdError" type="xs:int" minOccurs="0"/>
						<xs:element name="msgError" type="xs:string" minOccurs="0"/>
						<xs:element name="nrProtocolo" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
