catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/gruposervico/GrupoServicoSecurity.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<s1:definitions name="GrupoServico" targetNamespace="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:s0="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:s1="http://schemas.xmlsoap.org/wsdl/" xmlns:s2="http://www.vivo.com.br/MC/Geral" xmlns:s3="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:s4="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
  <wsp:UsingPolicy s1:Required="true"/>
  <wsp:Policy s0:Id="encrypt-custom-body-element-and-username-token">
    <wssp:Identity xmlns:wssp="http://www.bea.com/wls90/security/policy">
      <wssp:SupportedTokens>
        <wssp:SecurityToken TokenType="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#UsernameToken">
          <wssp:UsePassword Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText"/>
        </wssp:SecurityToken>
      </wssp:SupportedTokens>
    </wssp:Identity>
  </wsp:Policy>
  <s1:types>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/MC/Geral" schemaLocation="CabecalhoVivo.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/MC/Geral" schemaLocation="ErroInfo.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoGrupoServico" schemaLocation="ResultadoListarGrupoServico.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoGrupoServico" schemaLocation="ParametrosBuscarListaServicoPorGrupoServicoCatalogo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoGrupoServico" schemaLocation="ParametrosExcluirListaGrupoServicoCatalogo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoGrupoServico" schemaLocation="ParametrosListarGrupoServico.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoGrupoServico" schemaLocation="ResultadoBuscarServicoPorGrupoServicoCatalogo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoGrupoServico" schemaLocation="ParametrosAlterarGrupoServicoCatalogo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoGrupoServico" schemaLocation="ResultadoAlterarGrupoServicoCatalogo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoGrupoServico" schemaLocation="ParametrosCriarGrupoServicoCatalogo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoGrupoServico" schemaLocation="ResultadoCriarGrupoServico.xsd"/>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:stns="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:tns="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="criarGrupoServicoCatalogoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametroscriarGrupoServicoCatalogo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="criarGrupoServicoCatalogoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoCriarGrupoServico"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:stns="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:tns="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="alterarGrupoServicoCatalogoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="tns:ParametrosAlterarGrupoServicoCatalogo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarGrupoServicoCatalogoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="tns:ResultadoAlterarGrupoServicoCatalogo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:stns="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:tns="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="buscarListaGrupoServicoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="tns:ParametrosListarGrupoServico"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaGrupoServicoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="tns:ResultadoListarGrupoServico"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:stns="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:tns="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="buscarServicoPorGrupoServicoCatalogoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="tns:ParametrosBuscarListaServicoPorGrupoServicoCatalogo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarServicoPorGrupoServicoCatalogoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="tns:ResultadoBuscarServicoPorGrupoServicoCatalogo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:stns="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:tns="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="excluirListaGrupoServicoCatalogoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="tns:ParametrosExcluirListaGrupoServicoCatalogo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="excluirListaGrupoServicoCatalogoResponse">
        <xsd:complexType>
          <xsd:sequence>
						
					</xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </s1:types>
  <s1:message name="cabecalhoVIVO">
    <s1:part element="s2:cabecalhoVivo" name="cabecalhoVIVO"/>
  </s1:message>
  <s1:message name="erroInfoFault">
    <s1:part element="s2:erroInfo" name="erroInfo"/>
  </s1:message>
  <s1:message name="criarGrupoServicoCatalogoRequest">
    <s1:part element="s3:criarGrupoServicoCatalogoRequest" name="criarGrupoServicoCatalogoRequest"/>
  </s1:message>
  <s1:message name="criarGrupoServicoCatalogoResponse">
    <s1:part element="s3:criarGrupoServicoCatalogoResponse" name="criarGrupoServicoCatalogoResponse"/>
  </s1:message>
  <s1:message name="alterarGrupoServicoCatalogoRequest">
    <s1:part element="s3:alterarGrupoServicoCatalogoRequest" name="alterarGrupoServicoCatalogoRequest"/>
  </s1:message>
  <s1:message name="alterarGrupoServicoCatalogoResponse">
    <s1:part element="s3:alterarGrupoServicoCatalogoResponse" name="alterarGrupoServicoCatalogoResponse"/>
  </s1:message>
  <s1:message name="buscarListaGrupoServicoRequest">
    <s1:part element="s3:buscarListaGrupoServicoRequest" name="buscarListaGrupoServicoRequest"/>
  </s1:message>
  <s1:message name="buscarListaGrupoServicoResponse">
    <s1:part element="s3:buscarListaGrupoServicoResponse" name="buscarListaGrupoServicoResponse"/>
  </s1:message>
  <s1:message name="excluirListaGrupoServicoCatalogoRequest">
    <s1:part element="s3:excluirListaGrupoServicoCatalogoRequest" name="excluirListaGrupoServicoCatalogoRequest"/>
  </s1:message>
  <s1:message name="excluirListaGrupoServicoCatalogoResponse">
    <s1:part element="s3:excluirListaGrupoServicoCatalogoResponse" name="excluirListaGrupoServicoCatalogoResponse"/>
  </s1:message>
  <s1:message name="buscarServicoPorGrupoServicoCatalogoRequest">
    <s1:part element="s3:buscarServicoPorGrupoServicoCatalogoRequest" name="buscarServicoPorGrupoServicoCatalogoRequest"/>
  </s1:message>
  <s1:message name="buscarServicoPorGrupoServicoCatalogoResponse">
    <s1:part element="s3:buscarServicoPorGrupoServicoCatalogoResponse" name="buscarServicoPorGrupoServicoCatalogoResponse"/>
  </s1:message>
  <s1:portType name="GrupoServicoPortType">
    <s1:operation name="criarGrupoServicoCatalogo">
      <s1:input message="s3:criarGrupoServicoCatalogoRequest"/>
      <s1:output message="s3:criarGrupoServicoCatalogoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="alterarGrupoServicoCatalogo">
      <s1:input message="s3:alterarGrupoServicoCatalogoRequest"/>
      <s1:output message="s3:alterarGrupoServicoCatalogoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaGrupoServico">
      <s1:input message="s3:buscarListaGrupoServicoRequest"/>
      <s1:output message="s3:buscarListaGrupoServicoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarServicoPorGrupoServicoCatalogo">
      <s1:input message="s3:buscarServicoPorGrupoServicoCatalogoRequest"/>
      <s1:output message="s3:buscarServicoPorGrupoServicoCatalogoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="excluirListaGrupoServicoCatalogo">
      <s1:input message="s3:excluirListaGrupoServicoCatalogoRequest"/>
      <s1:output message="s3:excluirListaGrupoServicoCatalogoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
  </s1:portType>
  <s1:binding name="GrupoServicoBinding" type="s3:GrupoServicoPortType">
    <s4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <s1:operation name="criarGrupoServicoCatalogo">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="criarGrupoServicoCatalogoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="criarGrupoServicoCatalogoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="alterarGrupoServicoCatalogo">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="alterarGrupoServicoCatalogoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="alterarGrupoServicoCatalogoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaGrupoServico">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaGrupoServicoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaGrupoServicoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="excluirListaGrupoServicoCatalogo">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="excluirListaGrupoServicoCatalogoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="excluirListaGrupoServicoCatalogoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarServicoPorGrupoServicoCatalogo">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarServicoPorGrupoServicoCatalogoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarServicoPorGrupoServicoCatalogoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
  </s1:binding>
  <s1:service name="GrupoServicoService">
    <s1:port binding="s3:GrupoServicoBinding" name="GrupoServicoSoapPort">
      <s4:address location="http://alsb3-soa:80/CatalogoWeb/GrupoServico/Proxy/GrupoServicoSecurity"/>
    </s1:port>
  </s1:service>
</s1:definitions>