catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/gruposervico/GrupoServico.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<s0:definitions name="GrupoServico" targetNamespace="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/">
  <s0:types>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/MC/Geral" schemaLocation="CabecalhoVivo.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/MC/Geral" schemaLocation="ErroInfo.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoGrupoServico" schemaLocation="ResultadoListarGrupoServico.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoGrupoServico" schemaLocation="ParametrosBuscarListaServicoPorGrupoServicoCatalogo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoGrupoServico" schemaLocation="ParametrosExcluirListaGrupoServicoCatalogo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoGrupoServico" schemaLocation="ParametrosListarGrupoServico.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoGrupoServico" schemaLocation="ResultadoBuscarServicoPorGrupoServicoCatalogo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoGrupoServico" schemaLocation="ParametrosAlterarGrupoServicoCatalogo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoGrupoServico" schemaLocation="ResultadoAlterarGrupoServicoCatalogo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoGrupoServico" schemaLocation="ParametrosCriarGrupoServicoCatalogo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoGrupoServico" schemaLocation="ResultadoCriarGrupoServico.xsd"/>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:stns="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:tns="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="criarGrupoServicoCatalogoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametroscriarGrupoServicoCatalogo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="criarGrupoServicoCatalogoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoCriarGrupoServico"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:stns="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:tns="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="alterarGrupoServicoCatalogoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="tns:ParametrosAlterarGrupoServicoCatalogo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarGrupoServicoCatalogoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="tns:ResultadoAlterarGrupoServicoCatalogo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:stns="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:tns="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="buscarListaGrupoServicoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="tns:ParametrosListarGrupoServico"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaGrupoServicoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="tns:ResultadoListarGrupoServico"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:stns="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:tns="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="buscarServicoPorGrupoServicoCatalogoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="tns:ParametrosBuscarListaServicoPorGrupoServicoCatalogo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarServicoPorGrupoServicoCatalogoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="tns:ResultadoBuscarServicoPorGrupoServicoCatalogo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:stns="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:tns="http://www.vivo.com.br/SN/CatalogoGrupoServico" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="excluirListaGrupoServicoCatalogoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="tns:ParametrosExcluirListaGrupoServicoCatalogo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="excluirListaGrupoServicoCatalogoResponse">
        <xsd:complexType>
          <xsd:sequence>
						
					</xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </s0:types>
  <s0:message name="cabecalhoVIVO">
    <s0:part element="s1:cabecalhoVivo" name="cabecalhoVIVO"/>
  </s0:message>
  <s0:message name="erroInfoFault">
    <s0:part element="s1:erroInfo" name="erroInfo"/>
  </s0:message>
  <s0:message name="criarGrupoServicoCatalogoRequest">
    <s0:part element="s2:criarGrupoServicoCatalogoRequest" name="criarGrupoServicoCatalogoRequest"/>
  </s0:message>
  <s0:message name="criarGrupoServicoCatalogoResponse">
    <s0:part element="s2:criarGrupoServicoCatalogoResponse" name="criarGrupoServicoCatalogoResponse"/>
  </s0:message>
  <s0:message name="alterarGrupoServicoCatalogoRequest">
    <s0:part element="s2:alterarGrupoServicoCatalogoRequest" name="alterarGrupoServicoCatalogoRequest"/>
  </s0:message>
  <s0:message name="alterarGrupoServicoCatalogoResponse">
    <s0:part element="s2:alterarGrupoServicoCatalogoResponse" name="alterarGrupoServicoCatalogoResponse"/>
  </s0:message>
  <s0:message name="buscarListaGrupoServicoRequest">
    <s0:part element="s2:buscarListaGrupoServicoRequest" name="buscarListaGrupoServicoRequest"/>
  </s0:message>
  <s0:message name="buscarListaGrupoServicoResponse">
    <s0:part element="s2:buscarListaGrupoServicoResponse" name="buscarListaGrupoServicoResponse"/>
  </s0:message>
  <s0:message name="excluirListaGrupoServicoCatalogoRequest">
    <s0:part element="s2:excluirListaGrupoServicoCatalogoRequest" name="excluirListaGrupoServicoCatalogoRequest"/>
  </s0:message>
  <s0:message name="excluirListaGrupoServicoCatalogoResponse">
    <s0:part element="s2:excluirListaGrupoServicoCatalogoResponse" name="excluirListaGrupoServicoCatalogoResponse"/>
  </s0:message>
  <s0:message name="buscarServicoPorGrupoServicoCatalogoRequest">
    <s0:part element="s2:buscarServicoPorGrupoServicoCatalogoRequest" name="buscarServicoPorGrupoServicoCatalogoRequest"/>
  </s0:message>
  <s0:message name="buscarServicoPorGrupoServicoCatalogoResponse">
    <s0:part element="s2:buscarServicoPorGrupoServicoCatalogoResponse" name="buscarServicoPorGrupoServicoCatalogoResponse"/>
  </s0:message>
  <s0:portType name="GrupoServicoPortType">
    <s0:operation name="criarGrupoServicoCatalogo">
      <s0:input message="s2:criarGrupoServicoCatalogoRequest"/>
      <s0:output message="s2:criarGrupoServicoCatalogoResponse"/>
      <s0:fault message="s2:erroInfoFault" name="erroInfoFault"/>
    </s0:operation>
    <s0:operation name="alterarGrupoServicoCatalogo">
      <s0:input message="s2:alterarGrupoServicoCatalogoRequest"/>
      <s0:output message="s2:alterarGrupoServicoCatalogoResponse"/>
      <s0:fault message="s2:erroInfoFault" name="erroInfoFault"/>
    </s0:operation>
    <s0:operation name="buscarListaGrupoServico">
      <s0:input message="s2:buscarListaGrupoServicoRequest"/>
      <s0:output message="s2:buscarListaGrupoServicoResponse"/>
      <s0:fault message="s2:erroInfoFault" name="erroInfoFault"/>
    </s0:operation>
    <s0:operation name="buscarServicoPorGrupoServicoCatalogo">
      <s0:input message="s2:buscarServicoPorGrupoServicoCatalogoRequest"/>
      <s0:output message="s2:buscarServicoPorGrupoServicoCatalogoResponse"/>
      <s0:fault message="s2:erroInfoFault" name="erroInfoFault"/>
    </s0:operation>
    <s0:operation name="excluirListaGrupoServicoCatalogo">
      <s0:input message="s2:excluirListaGrupoServicoCatalogoRequest"/>
      <s0:output message="s2:excluirListaGrupoServicoCatalogoResponse"/>
      <s0:fault message="s2:erroInfoFault" name="erroInfoFault"/>
    </s0:operation>
  </s0:portType>
  <s0:binding name="GrupoServicoBinding" type="s2:GrupoServicoPortType">
    <s3:binding style="document" transport="http://www.bea.com/transport/2007/05/local"/>
    <s0:operation name="criarGrupoServicoCatalogo">
      <s3:operation soapAction="" style="document"/>
      <s0:input>
        <s3:header message="s2:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s3:body parts="criarGrupoServicoCatalogoRequest" use="literal"/>
      </s0:input>
      <s0:output>
        <s3:body parts="criarGrupoServicoCatalogoResponse" use="literal"/>
      </s0:output>
      <s0:fault name="erroInfoFault">
        <s3:fault name="erroInfoFault" use="literal"/>
      </s0:fault>
    </s0:operation>
    <s0:operation name="alterarGrupoServicoCatalogo">
      <s3:operation soapAction="" style="document"/>
      <s0:input>
        <s3:header message="s2:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s3:body parts="alterarGrupoServicoCatalogoRequest" use="literal"/>
      </s0:input>
      <s0:output>
        <s3:body parts="alterarGrupoServicoCatalogoResponse" use="literal"/>
      </s0:output>
      <s0:fault name="erroInfoFault">
        <s3:fault name="erroInfoFault" use="literal"/>
      </s0:fault>
    </s0:operation>
    <s0:operation name="buscarListaGrupoServico">
      <s3:operation soapAction="" style="document"/>
      <s0:input>
        <s3:header message="s2:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s3:body parts="buscarListaGrupoServicoRequest" use="literal"/>
      </s0:input>
      <s0:output>
        <s3:body parts="buscarListaGrupoServicoResponse" use="literal"/>
      </s0:output>
      <s0:fault name="erroInfoFault">
        <s3:fault name="erroInfoFault" use="literal"/>
      </s0:fault>
    </s0:operation>
    <s0:operation name="excluirListaGrupoServicoCatalogo">
      <s3:operation soapAction="" style="document"/>
      <s0:input>
        <s3:header message="s2:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s3:body parts="excluirListaGrupoServicoCatalogoRequest" use="literal"/>
      </s0:input>
      <s0:output>
        <s3:body parts="excluirListaGrupoServicoCatalogoResponse" use="literal"/>
      </s0:output>
      <s0:fault name="erroInfoFault">
        <s3:fault name="erroInfoFault" use="literal"/>
      </s0:fault>
    </s0:operation>
    <s0:operation name="buscarServicoPorGrupoServicoCatalogo">
      <s3:operation soapAction="" style="document"/>
      <s0:input>
        <s3:header message="s2:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s3:body parts="buscarServicoPorGrupoServicoCatalogoRequest" use="literal"/>
      </s0:input>
      <s0:output>
        <s3:body parts="buscarServicoPorGrupoServicoCatalogoResponse" use="literal"/>
      </s0:output>
      <s0:fault name="erroInfoFault">
        <s3:fault name="erroInfoFault" use="literal"/>
      </s0:fault>
    </s0:operation>
  </s0:binding>
  <s0:service name="GrupoServicoService">
    <s0:port binding="s2:GrupoServicoBinding" name="GrupoServicoSoapPort">
      <s3:address location="local://CatalogoWeb/GrupoServico/Proxy/GrupoServico"/>
    </s0:port>
  </s0:service>
</s0:definitions>