catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/gruposervico/ParametrosCriarGrupoServicoCatalogo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoGrupoServico" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:element name="ParametroscriarGrupoServicoCatalogo">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="nomeGrupoServico" type="xsd:string"/>
				<xsd:element name="indisponivel" type="xsd:string" default="N"/>
				<xsd:element name="nomeUsuariosCricacao" type="xsd:string" minOccurs="0"/>
				<xsd:element name="dataCriacao" type="xsd:dateTime" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>