catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/gruposervico/ResultadoBuscarPlanoServicoPorGrupoServicoCatalogo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoGrupoServico" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<xsd:element name="ResultadoBuscarPlanoServicoPorGrupoServicoCatalogo">
        <xsd:complexType>
					<xsd:sequence>
						<xsd:element name="qtdePlano" type="xsd:long"/>
						<xsd:element name="qtdeServico" type="xsd:long"/>
					</xsd:sequence>
				</xsd:complexType>
      </xsd:element>
</xsd:schema>