catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/produto/PaginacaoIn.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoProduto" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<xsd:element name="PaginacaoIn">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="itensPorPagina" type="xsd:long"/>
				<xsd:element name="paginaSolicitada" type="xsd:long"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	
	
</xsd:schema>