catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/produto/ParametrosProdutosIn.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoProduto" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:Paginacao="http://www.vivo.com.br/SN/CatalogoProduto">
<xsd:include schemaLocation="PaginacaoIn.xsd"/>
      <xsd:element name="ParametrosProdutosIn">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="Paginacao:PaginacaoIn"/>
            <xsd:element name="idTipoProduto" type="xsd:long"/>
            <xsd:element name="idFabricante" type="xsd:long" minOccurs="0"/>
            <xsd:element name="idTecnologia" type="xsd:long" minOccurs="0"/>
            <xsd:element name="cdCodigo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="idModelo" type="xsd:long" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>