catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/produto/ParametrosAlterarDescricaoCatalogo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoProduto" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <xsd:element name="ParametrosAlterarDescricaoCatalogo">
              <xsd:complexType>
                <xsd:sequence>
                 <xsd:element name="DescricaoCatalogo">
			        <xsd:complexType>
			          <xsd:sequence>
						<xsd:element name="idProduto" type="xsd:long"/>
						<xsd:element name="nmProduto" type="xsd:string" minOccurs="0"/>
						<xsd:element name="idTipoProduto" type="xsd:long" minOccurs="0"/>
						<xsd:element name="dsNota" type="xsd:string" minOccurs="0"/>
						<xsd:element name="idCor" type="xsd:long" minOccurs="0"/>
			          </xsd:sequence>
			        </xsd:complexType>
			      </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
</xsd:schema>