catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/produto/ParametrosAtualizaCorProdutos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoProduto" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

 <xsd:element name="ParametrosAtualizaCorProdutos">
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element name="ListaProdutos">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="idProduto" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="idCor" type="xsd:long" minOccurs="0"/>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>
</xsd:schema>