catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/produto/ProdutosSecurity.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<s1:definitions name="Produtos" targetNamespace="http://www.vivo.com.br/SN/CatalogoProduto" xmlns:s0="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:s1="http://schemas.xmlsoap.org/wsdl/" xmlns:s2="http://www.vivo.com.br/MC/Geral" xmlns:s3="http://www.vivo.com.br/SN/CatalogoProduto" xmlns:s4="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
  <wsp:UsingPolicy s1:Required="true"/>
  <wsp:Policy s0:Id="encrypt-custom-body-element-and-username-token">
    <wssp:Identity xmlns:wssp="http://www.bea.com/wls90/security/policy">
      <wssp:SupportedTokens>
        <wssp:SecurityToken TokenType="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#UsernameToken">
          <wssp:UsePassword Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText"/>
        </wssp:SecurityToken>
      </wssp:SupportedTokens>
    </wssp:Identity>
  </wsp:Policy>
  <s1:types>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoProduto" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoProduto" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoProduto" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/MC/Geral" schemaLocation="CabecalhoVivo.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoProduto" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoProduto" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoProduto" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/MC/Geral" schemaLocation="ErroInfo.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoProduto" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoProduto" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoProduto" schemaLocation="ParametrosBuscarProdutoPorModelo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoProduto" schemaLocation="ResultadoBuscarProdutoPorModelo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoProduto" schemaLocation="ParametrosListarProdutos.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoProduto" schemaLocation="ResultadoProdutos.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoProduto" schemaLocation="ParametrosAssociaProdutoModelo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoProduto" schemaLocation="ParametrosHabilitarVariaveis.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoProduto" schemaLocation="ParametrosListarProdutosSemCodigoAssociado.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoProduto" schemaLocation="ResultadoProdutos.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoProduto" schemaLocation="ParametrosAlterarDescricaoCatalogo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoProduto" schemaLocation="ParametrosDisponibilizarProduto.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoProduto" schemaLocation="ParametrosDesassociarProdutoModelo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoProduto" schemaLocation="ParametrosDesabilitarVariaveis.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoProduto" schemaLocation="ResultadoBuscarListaProdutoSemCodigoAssociado.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoProduto" schemaLocation="ParametrosBuscarQuantidadeModeloPorProduto.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoProduto" schemaLocation="ResultadoBuscarQuantidadeModeloPorProduto.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoProduto" schemaLocation="ParametroBuscarListaCoresPorModelo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoProduto" schemaLocation="ResultadoBuscarListaCoresPorModelo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoProduto" schemaLocation="ParametrosAtualizaCorProdutos.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoProduto" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoProduto" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoProduto" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="atualizaCorProdutosRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosAtualizaCorProdutos"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="atualizaCorProdutosResponse"/>
      <xsd:element name="buscarListaCoresPorModeloRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametroBuscarListaCoresPorModelo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaCoresPorModeloResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaCoresPorModelo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaProdutoPorModeloRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaProdutoPorModelo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaProdutoPorModeloResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="tns:ResultadoBuscarListaProdutoPorModelo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaProdutoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaProduto"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaProdutoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="tns:ResultadoBuscarListaProduto"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="associarProdModeloHabilitarVariaveisRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosAssociaProdutoModelo"/>
            <xsd:element ref="tns:ParametrosHabilitarVariaveis"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="associarProdModeloHabilitarVariaveisResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaProdutoSemCodigoAssociadoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaProdutoSemCodigoAssociado"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaProdutoSemCodigoAssociadoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" ref="tns:ResultadoBuscarListaProdutoSemCodigoAssociado"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarDescricaoCatalogoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosAlterarDescricaoCatalogo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarDescricaoCatalogoResponse" type="xsd:anyType"/>
      <xsd:element name="disponibilizarProdutoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosDisponibilizarProduto"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="disponibilizarProdutoResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="desassociarProdModDesabilitarVariaveisRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosDesassociarProdutoModelo"/>
            <xsd:element ref="tns:ParametrosDesabilitarVariaveis"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="desassociarProdModDesabilitarVariaveisResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarQuantidadeModeloPorProdutoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarQuantidadeProdutoPorModelo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarQuantidadeModeloPorProdutoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarQuantidadeModeloPorProduto"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </s1:types>
  <s1:message name="cabecalhoVIVO">
    <s1:part element="s2:cabecalhoVivo" name="cabecalhoVIVO"/>
  </s1:message>
  <s1:message name="erroInfoFault">
    <s1:part element="s2:erroInfo" name="erroInfo"/>
  </s1:message>
  <s1:message name="atualizaCorProdutosRequest">
    <s1:part element="s3:atualizaCorProdutosRequest" name="atualizaCorProdutosRequest"/>
  </s1:message>
  <s1:message name="atualizaCorProdutosResponse">
    <s1:part element="s3:atualizaCorProdutosResponse" name="atualizaCorProdutosResponse"/>
  </s1:message>
  <s1:message name="buscarListaCoresPorModeloRequest">
    <s1:part element="s3:buscarListaCoresPorModeloRequest" name="buscarListaCoresPorModeloRequest"/>
  </s1:message>
  <s1:message name="buscarListaCoresPorModeloResponse">
    <s1:part element="s3:buscarListaCoresPorModeloResponse" name="buscarListaCoresPorModeloResponse"/>
  </s1:message>
  <s1:message name="buscarListaProdutoPorModeloRequest">
    <s1:part element="s3:buscarListaProdutoPorModeloRequest" name="buscarListaProdutoPorModeloRequest"/>
  </s1:message>
  <s1:message name="buscarListaProdutoPorModeloResponse">
    <s1:part element="s3:buscarListaProdutoPorModeloResponse" name="buscarListaProdutoPorModeloResponse"/>
  </s1:message>
  <s1:message name="buscarListaProdutoRequest">
    <s1:part element="s3:buscarListaProdutoRequest" name="buscarListaProdutoRequest"/>
  </s1:message>
  <s1:message name="buscarListaProdutoResponse">
    <s1:part element="s3:buscarListaProdutoResponse" name="buscarListaProdutoResponse"/>
  </s1:message>
  <s1:message name="associarProdModeloHabilitarVariaveisRequest">
    <s1:part element="s3:associarProdModeloHabilitarVariaveisRequest" name="associarProdModeloHabilitarVariaveisRequest"/>
  </s1:message>
  <s1:message name="associarProdModeloHabilitarVariaveisResponse">
    <s1:part element="s3:associarProdModeloHabilitarVariaveisResponse" name="associarProdModeloHabilitarVariaveisResponse"/>
  </s1:message>
  <s1:message name="buscarListaProdutoSemCodigoAssociadoRequest">
    <s1:part element="s3:buscarListaProdutoSemCodigoAssociadoRequest" name="buscarListaProdutoSemCodigoAssociadoRequest"/>
  </s1:message>
  <s1:message name="buscarListaProdutoSemCodigoAssociadoResponse">
    <s1:part element="s3:buscarListaProdutoSemCodigoAssociadoResponse" name="buscarListaProdutoSemCodigoAssociadoResponse"/>
  </s1:message>
  <s1:message name="alterarDescricaoCatalogoRequest">
    <s1:part element="s3:alterarDescricaoCatalogoRequest" name="alterarDescricaoCatalogoRequest"/>
  </s1:message>
  <s1:message name="alterarDescricaoCatalogoResponse">
    <s1:part element="s3:alterarDescricaoCatalogoResponse" name="alterarDescricaoCatalogoResponse"/>
  </s1:message>
  <s1:message name="disponibilizarProdutoRequest">
    <s1:part element="s3:disponibilizarProdutoRequest" name="disponibilizarProdutoRequest"/>
  </s1:message>
  <s1:message name="disponibilizarProdutoResponse">
    <s1:part element="s3:disponibilizarProdutoResponse" name="disponibilizarProdutoResponse"/>
  </s1:message>
  <s1:message name="desassociarProdModDesabilitarVariaveisRequest">
    <s1:part element="s3:desassociarProdModDesabilitarVariaveisRequest" name="desassociarProdModDesabilitarVariaveisRequest"/>
  </s1:message>
  <s1:message name="desassociarProdModDesabilitarVariaveisResponse">
    <s1:part element="s3:desassociarProdModDesabilitarVariaveisResponse" name="desassociarProdModDesabilitarVariaveisResponse"/>
  </s1:message>
  <s1:message name="buscarQuantidadeModeloPorProdutoRequest">
    <s1:part element="s3:buscarQuantidadeModeloPorProdutoRequest" name="buscarQuantidadeModeloPorProdutoRequest"/>
  </s1:message>
  <s1:message name="buscarQuantidadeModeloPorProdutoResponse">
    <s1:part element="s3:buscarQuantidadeModeloPorProdutoResponse" name="buscarQuantidadeModeloPorProdutoResponse"/>
  </s1:message>
  <s1:portType name="ProdutosPortType">
    <s1:operation name="atualizaCorProdutos">
      <s1:input message="s3:atualizaCorProdutosRequest"/>
      <s1:output message="s3:atualizaCorProdutosResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaCoresPorModelo">
      <s1:input message="s3:buscarListaCoresPorModeloRequest"/>
      <s1:output message="s3:buscarListaCoresPorModeloResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaProdutoPorModelo">
      <s1:input message="s3:buscarListaProdutoPorModeloRequest"/>
      <s1:output message="s3:buscarListaProdutoPorModeloResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaProduto">
      <s1:input message="s3:buscarListaProdutoRequest"/>
      <s1:output message="s3:buscarListaProdutoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="associarProdModeloHabilitarVariaveis">
      <s1:input message="s3:associarProdModeloHabilitarVariaveisRequest"/>
      <s1:output message="s3:associarProdModeloHabilitarVariaveisResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaProdutoSemCodigoAssociado">
      <s1:input message="s3:buscarListaProdutoSemCodigoAssociadoRequest"/>
      <s1:output message="s3:buscarListaProdutoSemCodigoAssociadoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="alterarDescricaoCatalogo">
      <s1:input message="s3:alterarDescricaoCatalogoRequest"/>
      <s1:output message="s3:alterarDescricaoCatalogoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="disponibilizarProduto">
      <s1:input message="s3:disponibilizarProdutoRequest"/>
      <s1:output message="s3:disponibilizarProdutoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="desassociarProdModDesabilitarVariaveis">
      <s1:input message="s3:desassociarProdModDesabilitarVariaveisRequest"/>
      <s1:output message="s3:desassociarProdModDesabilitarVariaveisResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarQuantidadeModeloPorProduto">
      <s1:input message="s3:buscarQuantidadeModeloPorProdutoRequest"/>
      <s1:output message="s3:buscarQuantidadeModeloPorProdutoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
  </s1:portType>
  <s1:binding name="ProdutosBinding" type="s3:ProdutosPortType">
    <s4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <s1:operation name="atualizaCorProdutos">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="atualizaCorProdutosRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="atualizaCorProdutosResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaCoresPorModelo">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaCoresPorModeloRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaCoresPorModeloResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaProdutoPorModelo">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaProdutoPorModeloRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaProdutoPorModeloResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaProduto">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaProdutoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaProdutoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="associarProdModeloHabilitarVariaveis">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="associarProdModeloHabilitarVariaveisRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="associarProdModeloHabilitarVariaveisResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaProdutoSemCodigoAssociado">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaProdutoSemCodigoAssociadoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaProdutoSemCodigoAssociadoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="alterarDescricaoCatalogo">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="alterarDescricaoCatalogoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="alterarDescricaoCatalogoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="disponibilizarProduto">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="disponibilizarProdutoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="disponibilizarProdutoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="desassociarProdModDesabilitarVariaveis">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="desassociarProdModDesabilitarVariaveisRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="desassociarProdModDesabilitarVariaveisResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarQuantidadeModeloPorProduto">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarQuantidadeModeloPorProdutoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarQuantidadeModeloPorProdutoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
  </s1:binding>
  <s1:service name="ProdutosSoapService">
    <s1:port binding="s3:ProdutosBinding" name="ProdutosSoapPort">
      <s4:address location="http://alsb3-soa:80/CatalogoWeb/Produto/Proxy/ProdutoSecurity"/>
    </s1:port>
  </s1:service>
</s1:definitions>