catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/produto/ResultadoBuscarListaProdutoSemCodigoAssociado.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoProduto" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cwebPaginacao="http://www.vivo.com.br/SN/CatalogoProduto">
    <xsd:include schemaLocation="PaginacaoOut.xsd"/>
<xsd:element name="ResultadoBuscarListaProdutoSemCodigoAssociado">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="cwebPaginacao:PaginacaoOut"/>
            <xsd:element name="ListaProduto" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="Produto" minOccurs="0" maxOccurs="unbounded">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="idProduto" type="xsd:long"/>
                        <xsd:element name="idFabricante" type="xsd:long" minOccurs="0"/>
                        <xsd:element name="nmUsuariCriacao" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="dtCriacao" type="xsd:dateTime" minOccurs="0"/>
                        <xsd:element name="nmUsuarioAlteracao" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="idGama" type="xsd:long" minOccurs="0"/>
                        <xsd:element name="dtUltimaAlteracao" type="xsd:dateTime" minOccurs="0"/>
                        <xsd:element name="idTipoProduto" type="xsd:long" minOccurs="0"/>
                        <xsd:element name="idTecnologia" type="xsd:long" minOccurs="0"/>
                        <xsd:element name="dtInicial" type="xsd:dateTime" minOccurs="0"/>
                        <xsd:element name="dtFinal" type="xsd:dateTime" minOccurs="0"/>
                        <xsd:element name="indisponivel" type="xsd:string"/>
                        <xsd:element name="dsProduto" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="dsSap" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="sgClasseAvaliacao" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="nmProduto" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="sgGrupoContabil" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="sgSetorAtividade" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="idProdutoGrupoProduto" type="xsd:long" minOccurs="0"/>
                        <xsd:element name="nmGrupoProduto" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="idGrupoProduto" type="xsd:long" minOccurs="0"/>
                        <xsd:element name="inFimVida" type="xsd:string" minOccurs="0" default="N"/>
                        <xsd:element name="nmTipoProduto" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="nmTecnologia" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="nmFabricante" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="ListaSistemaProduto">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name="SistemaProduto" minOccurs="0" maxOccurs="unbounded">
                                <xsd:complexType>
                                  <xsd:sequence>
                                    <xsd:element name="idSistema" type="xsd:long"/>
                                    <xsd:element name="idSistemaProduto" type="xsd:long"/>
                                    <xsd:element name="dtCriacao" type="xsd:dateTime" minOccurs="0"/>
                                    <xsd:element name="idProduto" type="xsd:long"/>
                                    <xsd:element name="cdCodigo" type="xsd:string"/>
                                    <xsd:element name="nmUsuarioCriacao" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="dtUltimaAlteracao" type="xsd:dateTime" minOccurs="0"/>
                                    <xsd:element name="nmUsuarioAlteracao" type="xsd:string" minOccurs="0"/>
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
						<xsd:element name="idCor" type="xsd:long" minOccurs="0"/>
						<xsd:element name="nmCor" type="xsd:string" minOccurs="0"/>
						<xsd:element name="rgb" type="xsd:string" minOccurs="0"/>
						<xsd:element name="dsNota" type="xsd:string" minOccurs="0"/>
						<xsd:element name="codigoSAP" type="xsd:string" minOccurs="0"/>
						<xsd:element name="inModelo" type="xsd:string" minOccurs="0"/>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
</xsd:schema>