catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/produto/ResultadoBuscarListaCoresPorModelo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoProduto" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

 <xsd:element name="ResultadoBuscarListaCoresPorModelo">
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element name="ListaCores">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="Cor" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element name="idCor" type="xsd:long" minOccurs="0"/>
          <xsd:element name="nmCor" type="xsd:string" minOccurs="0"/>
          <xsd:element name="rgb" type="xsd:string" minOccurs="0"/>
          <xsd:element name="quantidade" type="xsd:long" minOccurs="0"/>
         </xsd:sequence>
        </xsd:complexType>
       </xsd:element>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>
</xsd:schema>