catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/ofertaservico/OfertaServicoSecurity.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<s1:definitions name="OfertaServico" targetNamespace="http://www.vivo.com.br/SN/CatalogoOfertaServico" xmlns:s0="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:s1="http://schemas.xmlsoap.org/wsdl/" xmlns:s2="http://www.vivo.com.br/MC/Geral" xmlns:s3="http://www.vivo.com.br/SN/CatalogoOfertaServico" xmlns:s4="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
  <wsp:UsingPolicy s1:Required="true"/>
  <wsp:Policy s0:Id="encrypt-custom-body-element-and-username-token">
    <wssp:Identity xmlns:wssp="http://www.bea.com/wls90/security/policy">
      <wssp:SupportedTokens>
        <wssp:SecurityToken TokenType="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#UsernameToken">
          <wssp:UsePassword Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText"/>
        </wssp:SecurityToken>
      </wssp:SupportedTokens>
    </wssp:Identity>
  </wsp:Policy>
  <s1:types>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoOfertaServico" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoOfertaServico" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoOfertaServico" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/MC/Geral" schemaLocation="CabecalhoVivo.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/MC/Geral" schemaLocation="ErroInfo.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoOfertaServico" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoOfertaServico" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoOfertaServico" schemaLocation="ParametrosAlterarOfertaServico.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoOfertaServico" schemaLocation="ParametrosBuscarDadosServicoOfertaServico.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoOfertaServico" schemaLocation="ParametrosBuscarListaOfertaServico.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoOfertaServico" schemaLocation="ParametrosBuscarListaServicoComOferta.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoOfertaServico" schemaLocation="ParametrosCriarOfertaServico.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoOfertaServico" schemaLocation="ParametrosExcluirOfertaServico.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoOfertaServico" schemaLocation="ParametrosExcluirServicoOfertaServico.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoOfertaServico" schemaLocation="ParametrosVerificarItemMatrizOfertaServico.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoOfertaServico" schemaLocation="ParametrosAssociarServicoOfertaServico.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoOfertaServico" schemaLocation="ParametrosValidarServicoOfertaServico.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoOfertaServico" schemaLocation="ResultadoAlterarOfertaServico.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoOfertaServico" schemaLocation="ResultadoBuscarDadosServicoOfertaServico.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoOfertaServico" schemaLocation="ResultadoBuscarListaOfertaServico.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoOfertaServico" schemaLocation="ResultadoBuscarListaServicoComOferta.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoOfertaServico" schemaLocation="ResultadoCriarOfertaServico.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoOfertaServico" schemaLocation="ResultadoVerificarItemMatrizOfertaServico.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoOfertaServico" schemaLocation="ResultadoAssociarServicoOfertaServico.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoOfertaServico" schemaLocation="ResultadoBuscarListaNmOfertaServico.xsd"/>
      <xsd:import namespace="http://www.vivo.com.br/SN/CatalogoOfertaServico" schemaLocation="ResultadoValidarServicoOfertaServico.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoOfertaServico" xmlns:com="http://www.vivo.com.br/MC/Geral" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://www.vivo.com.br/MC/Geral" xmlns:s2="http://www.vivo.com.br/SN/CatalogoOfertaServico" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vivo.com.br/SN/CatalogoOfertaServico" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <!--  Elements do WSDL -->
      <xsd:element name="verificarItemMatrizOfertaServicoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosVerificarItemMatrizOfertaServico"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="verificarItemMatrizOfertaServicoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoVerificarItemMatrizOfertaServico"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarOfertaServicoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosAlterarOfertaServico"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="alterarOfertaServicoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoAlterarOfertaServico"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaServicoComOfertaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaServicoComOferta"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaServicoComOfertaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaServicoComOferta"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaOfertaServicoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarListaOfertaServico"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaOfertaServicoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaOfertaServico"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="criarOfertaServicoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosCriarOfertaServico"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="criarOfertaServicoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoCriarOfertaServico"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="excluirServicoOfertaServicoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosExcluirServicoOfertaServico"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="excluirServicoOfertaServicoResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarDadosServicoOfertaServicoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosBuscarDadosServicoOfertaServico"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarDadosServicoOfertaServicoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarDadosServicoOfertaServico"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="excluirOfertaServicoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosExcluirOfertaServico"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="excluirOfertaServicoResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="associarServicoOfertaServicoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosAssociarServicoOfertaServico"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="associarServicoOfertaServicoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoAssociarServicoOfertaServico"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaNomeOfertaServicoRequest">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarListaNomeOfertaServicoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoBuscarListaNmOfertaServico"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="validarServicoOfertaServicoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ParametrosValidarServicoOfertaServico"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="validarServicoOfertaServicoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:ResultadoValidarServicoOfertaServico"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </s1:types>
  <s1:message name="cabecalhoVIVO">
    <s1:part element="s2:cabecalhoVivo" name="cabecalhoVIVO"/>
  </s1:message>
  <s1:message name="erroInfoFault">
    <s1:part element="s2:erroInfo" name="erroInfo"/>
  </s1:message>
  <s1:message name="verificarItemMatrizOfertaServicoRequest">
    <s1:part element="s3:verificarItemMatrizOfertaServicoRequest" name="verificarItemMatrizOfertaServicoRequest"/>
  </s1:message>
  <s1:message name="verificarItemMatrizOfertaServicoResponse">
    <s1:part element="s3:verificarItemMatrizOfertaServicoResponse" name="verificarItemMatrizOfertaServicoResponse"/>
  </s1:message>
  <s1:message name="alterarOfertaServicoRequest">
    <s1:part element="s3:alterarOfertaServicoRequest" name="alterarOfertaServicoRequest"/>
  </s1:message>
  <s1:message name="alterarOfertaServicoResponse">
    <s1:part element="s3:alterarOfertaServicoResponse" name="alterarOfertaServicoResponse"/>
  </s1:message>
  <s1:message name="buscarListaServicoComOfertaRequest">
    <s1:part element="s3:buscarListaServicoComOfertaRequest" name="buscarListaServicoComOfertaRequest"/>
  </s1:message>
  <s1:message name="buscarListaServicoComOfertaResponse">
    <s1:part element="s3:buscarListaServicoComOfertaResponse" name="buscarListaServicoComOfertaResponse"/>
  </s1:message>
  <s1:message name="buscarListaOfertaServicoRequest">
    <s1:part element="s3:buscarListaOfertaServicoRequest" name="buscarListaOfertaServicoRequest"/>
  </s1:message>
  <s1:message name="buscarListaOfertaServicoResponse">
    <s1:part element="s3:buscarListaOfertaServicoResponse" name="buscarListaOfertaServicoResponse"/>
  </s1:message>
  <s1:message name="criarOfertaServicoRequest">
    <s1:part element="s3:criarOfertaServicoRequest" name="criarOfertaServicoRequest"/>
  </s1:message>
  <s1:message name="criarOfertaServicoResponse">
    <s1:part element="s3:criarOfertaServicoResponse" name="criarOfertaServicoResponse"/>
  </s1:message>
  <s1:message name="excluirServicoOfertaServicoRequest">
    <s1:part element="s3:excluirServicoOfertaServicoRequest" name="excluirServicoOfertaServicoRequest"/>
  </s1:message>
  <s1:message name="excluirServicoOfertaServicoResponse">
    <s1:part element="s3:excluirServicoOfertaServicoResponse" name="excluirServicoOfertaServicoResponse"/>
  </s1:message>
  <s1:message name="buscarDadosServicoOfertaServicoRequest">
    <s1:part element="s3:buscarDadosServicoOfertaServicoRequest" name="buscarDadosServicoOfertaServicoRequest"/>
  </s1:message>
  <s1:message name="buscarDadosServicoOfertaServicoResponse">
    <s1:part element="s3:buscarDadosServicoOfertaServicoResponse" name="buscarDadosServicoOfertaServicoResponse"/>
  </s1:message>
  <s1:message name="excluirOfertaServicoRequest">
    <s1:part element="s3:excluirOfertaServicoRequest" name="excluirOfertaServicoRequest"/>
  </s1:message>
  <s1:message name="excluirOfertaServicoResponse">
    <s1:part element="s3:excluirOfertaServicoResponse" name="excluirOfertaServicoResponse"/>
  </s1:message>
  <s1:message name="associarServicoOfertaServicoRequest">
    <s1:part element="s3:associarServicoOfertaServicoRequest" name="associarServicoOfertaServicoRequest"/>
  </s1:message>
  <s1:message name="associarServicoOfertaServicoResponse">
    <s1:part element="s3:associarServicoOfertaServicoResponse" name="associarServicoOfertaServicoResponse"/>
  </s1:message>
  <s1:message name="buscarListaNomeOfertaServicoRequest">
    <s1:part element="s3:buscarListaNomeOfertaServicoRequest" name="buscarListaNomeOfertaServicoRequest"/>
  </s1:message>
  <s1:message name="buscarListaNomeOfertaServicoResponse">
    <s1:part element="s3:buscarListaNomeOfertaServicoResponse" name="buscarListaNomeOfertaServicoResponse"/>
  </s1:message>
  <s1:message name="validarServicoOfertaServicoRequest">
    <s1:part element="s3:validarServicoOfertaServicoRequest" name="validarServicoOfertaServicoRequest"/>
  </s1:message>
  <s1:message name="validarServicoOfertaServicoResponse">
    <s1:part element="s3:validarServicoOfertaServicoResponse" name="validarServicoOfertaServicoResponse"/>
  </s1:message>
  <s1:portType name="OfertaServicoPortType">
    <s1:operation name="verificarItemMatrizOfertaServico">
      <s1:input message="s3:verificarItemMatrizOfertaServicoRequest"/>
      <s1:output message="s3:verificarItemMatrizOfertaServicoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="alterarOfertaServico">
      <s1:input message="s3:alterarOfertaServicoRequest"/>
      <s1:output message="s3:alterarOfertaServicoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaServicoComOferta">
      <s1:input message="s3:buscarListaServicoComOfertaRequest"/>
      <s1:output message="s3:buscarListaServicoComOfertaResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaOfertaServico">
      <s1:input message="s3:buscarListaOfertaServicoRequest"/>
      <s1:output message="s3:buscarListaOfertaServicoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="criarOfertaServico">
      <s1:input message="s3:criarOfertaServicoRequest"/>
      <s1:output message="s3:criarOfertaServicoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="excluirServicoOfertaServico">
      <s1:input message="s3:excluirServicoOfertaServicoRequest"/>
      <s1:output message="s3:excluirServicoOfertaServicoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarDadosServicoOfertaServico">
      <s1:input message="s3:buscarDadosServicoOfertaServicoRequest"/>
      <s1:output message="s3:buscarDadosServicoOfertaServicoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="excluirOfertaServico">
      <s1:input message="s3:excluirOfertaServicoRequest"/>
      <s1:output message="s3:excluirOfertaServicoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="associarServicoOfertaServico">
      <s1:input message="s3:associarServicoOfertaServicoRequest"/>
      <s1:output message="s3:associarServicoOfertaServicoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="buscarListaNomeOfertaServico">
      <s1:input message="s3:buscarListaNomeOfertaServicoRequest"/>
      <s1:output message="s3:buscarListaNomeOfertaServicoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
    <s1:operation name="validarServicoOfertaServico">
      <s1:input message="s3:validarServicoOfertaServicoRequest"/>
      <s1:output message="s3:validarServicoOfertaServicoResponse"/>
      <s1:fault message="s3:erroInfoFault" name="erroInfoFault"/>
    </s1:operation>
  </s1:portType>
  <s1:binding name="OfertaServicoBinding" type="s3:OfertaServicoPortType">
    <s4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <s1:operation name="verificarItemMatrizOfertaServico">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="verificarItemMatrizOfertaServicoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="verificarItemMatrizOfertaServicoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="alterarOfertaServico">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="alterarOfertaServicoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="alterarOfertaServicoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaServicoComOferta">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaServicoComOfertaRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaServicoComOfertaResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaOfertaServico">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaOfertaServicoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaOfertaServicoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="criarOfertaServico">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="criarOfertaServicoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="criarOfertaServicoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="excluirServicoOfertaServico">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="excluirServicoOfertaServicoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="excluirServicoOfertaServicoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarDadosServicoOfertaServico">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarDadosServicoOfertaServicoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarDadosServicoOfertaServicoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="excluirOfertaServico">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="excluirOfertaServicoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="excluirOfertaServicoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="associarServicoOfertaServico">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="associarServicoOfertaServicoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="associarServicoOfertaServicoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="buscarListaNomeOfertaServico">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="buscarListaNomeOfertaServicoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="buscarListaNomeOfertaServicoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
    <s1:operation name="validarServicoOfertaServico">
      <s4:operation soapAction="" style="document"/>
      <s1:input>
        <wsp:Policy>
          <wsp:PolicyReference URI="#encrypt-custom-body-element-and-username-token"/>
        </wsp:Policy>
        <s4:header message="s3:cabecalhoVIVO" part="cabecalhoVIVO" use="literal"/>
        <s4:body parts="validarServicoOfertaServicoRequest" use="literal"/>
      </s1:input>
      <s1:output>
        <s4:body parts="validarServicoOfertaServicoResponse" use="literal"/>
      </s1:output>
      <s1:fault name="erroInfoFault">
        <s4:fault name="erroInfoFault" use="literal"/>
      </s1:fault>
    </s1:operation>
  </s1:binding>
  <s1:service name="OfertaServicoService">
    <s1:port binding="s3:OfertaServicoBinding" name="OfertaServicoSoapPort">
      <s4:address location="http://alsb3-soa:80/CatalogoWeb/OfertaServico/Proxy/OfertaServicoSecurity"/>
    </s1:port>
  </s1:service>
</s1:definitions>