catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/ofertaservico/PaginacaoOut.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoGeral" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<xsd:element name="PaginacaoOut">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="paginaAtual" type="xsd:int"/>
				<xsd:element name="totalRegistros" type="xsd:int"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	
</xsd:schema>