catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/ofertaservico/ParametrosAssociarServicoOfertaServico.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoOfertaServico" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<xsd:element name="ParametrosAssociarServicoOfertaServico">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="idOfertaServico" type="xsd:long"/> 
				<xsd:element name="ListaIdServico">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="idServico" type="xsd:long" maxOccurs="unbounded"/> 							
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>	
	</xsd:element>	

</xsd:schema>