catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/ofertaservico/ParametrosBuscarListaOfertaServico.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoOfertaServico" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cweb="http://www.vivo.com.br/SN/CatalogoGeral">
	
	<xsd:import namespace="http://www.vivo.com.br/SN/CatalogoGeral" schemaLocation="PaginacaoIn.xsd"/>
	
	<xsd:element name="ParametrosBuscarListaOfertaServico">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="cweb:PaginacaoIn"/>
				<xsd:element name="cdOfertaServico" type="xsd:string" minOccurs="0"/>
				<xsd:element name="nmOfertaServico" type="xsd:string" minOccurs="0"/>
				<xsd:element name="cdCodigo" type="xsd:string" minOccurs="0"/>								
				<xsd:element name="nmComercial" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
			
</xsd:schema>