catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/ofertaservico/ParametrosCriarOfertaServico.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoOfertaServico" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			
	<xsd:element name="ParametrosCriarOfertaServico">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="cdOfertaServico" type="xsd:string"/>
				<xsd:element name="nmOfertaServico" type="xsd:string"/>
				<xsd:element name="dsNota" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>		
		
</xsd:schema>