catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/ofertaservico/ResultadoBuscarListaOfertaServico.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoOfertaServico" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cweb="http://www.vivo.com.br/SN/CatalogoGeral">
	
	<xsd:import namespace="http://www.vivo.com.br/SN/CatalogoGeral" schemaLocation="PaginacaoOut.xsd"/>
	
	<xsd:element name="ResultadoBuscarListaOfertaServico">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="cweb:PaginacaoOut"/>
				<xsd:element name="ListaOfertaServico" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="OfertaServico" maxOccurs="unbounded" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="idOfertaServico" type="xsd:long"/>
										<xsd:element name="cdOfertaServico" type="xsd:string"/>							
										<xsd:element name="nmOfertaServico" type="xsd:string"/>
										<xsd:element name="dsNota" type="xsd:string" minOccurs="0"/>
										<xsd:element name="rnum" type="xsd:long" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>		
						</xsd:sequence>
					</xsd:complexType>							
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>		
</xsd:schema>