catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/ofertaservico/ResultadoBuscarListaNmOfertaServico.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoOfertaServico" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<xsd:element name="ResultadoBuscarListaNmOfertaServico">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ListaNomeOfertaServico">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="OfertaServico" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="idOfertaServico" type="xsd:long"/>
										<xsd:element name="cdOfertaServico" type="xsd:string"/>
										<xsd:element name="nmOfertaServico" type="xsd:string"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>