catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/ofertaservico/ResultadoBuscarDadosServicoOfertaServico.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoOfertaServico" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	
	
	<xsd:element name="ResultadoBuscarDadosServicoOfertaServico">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ListaServicoOfertaServicoPlataforma" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ServicoOfertaServicoPlataforma" maxOccurs="unbounded" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="idPlataforma" type="xsd:long"/>
										<xsd:element name="nmPlataforma" type="xsd:string"/>
									</xsd:sequence>	
								</xsd:complexType>		
							</xsd:element>			
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ListaServicoOfertaServicoTecnologia" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ServicoOfertaServicoTecnologia" maxOccurs="unbounded" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="idTecnologia" type="xsd:long"/>
										<xsd:element name="nmTecnologia" type="xsd:string"/>	
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>	
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>		
</xsd:schema>