catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/ofertaservico/ResultadoAssociarServicoOfertaServico.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoOfertaServico" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<xsd:element name="ResultadoAssociarServicoOfertaServico">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ListaServicoOfertaServico">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ServicoOfertaServico" maxOccurs="unbounded" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="idServicoOfertaServico" type="xsd:long" minOccurs="0"/> 						
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>			
						</xsd:sequence>							
					</xsd:complexType>		
				</xsd:element>	
			</xsd:sequence>
		</xsd:complexType>	
	</xsd:element>

</xsd:schema>