catalogo-web/src/main/java/br/com/vivo/catalogoPRS/wsdls/ofertaservico/ResultadoVerificarItemMatrizOfertaServico.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.vivo.com.br/SN/CatalogoOfertaServico" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			
	<xsd:element name="ResultadoVerificarItemMatrizOfertaServico">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ListaVerificarItemMatrizOfertaServico">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="retorno" type="xsd:long"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>	
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>		
		
</xsd:schema>