VivoServices/VivoServicesEJB/src/br/com/indrasistemas/vivoservices/portabilidade/cliente/servicegateway/tuxedo/portCliente/entrada/PortClienteIN.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by rnt (rnt) -->
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by Vivo (Vivo) -->
<!--W3C Schema generated by XMLSpy v2006 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="msg" type="msgType"/>
	<xs:complexType name="msgType">
		<xs:sequence>
			<xs:element name="msgHdr" type="msgHdrType"/>
			<xs:element name="msgBody" type="msgBodyType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TelefoneType">
		<xs:all>
			<xs:element name="dsTipoTelefone" type="xs:string" minOccurs="0"/>
			<xs:element name="nrTelefone" type="xs:long" minOccurs="0"/>
			<xs:element name="nmContato" type="xs:string" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="DadosEnderecoType">
		<xs:all>
			<xs:element name="sgTipoEndereco" type="xs:string" minOccurs="0"/>
			<xs:element name="nmTipoLogradouro" type="xs:string" minOccurs="0"/>
			<xs:element name="nmTitLogradouro" type="xs:string" minOccurs="0"/>
			<xs:element name="nrCEP" type="xs:string" minOccurs="0"/>
			<xs:element name="nmLogradouro" type="xs:string" minOccurs="0"/>
			<xs:element name="nrLogradouro" type="xs:string" minOccurs="0"/>
			<xs:element name="nmComplemento" type="xs:string" minOccurs="0"/>
			<xs:element name="nmBairro" type="xs:string" minOccurs="0"/>
			<xs:element name="nmMunicipio" type="xs:string" minOccurs="0"/>
			<xs:element name="sgUF" type="xs:string" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="DocumentoType">
		<xs:all>
			<xs:element name="dsTipoDocumento" type="xs:string" minOccurs="0"/>
			<xs:element name="nrDocumento" type="xs:string" minOccurs="0"/>
			<xs:element name="dtExpedicao" type="xs:string" minOccurs="0"/>
			<xs:element name="dsOrgaoEmissor" type="xs:string" minOccurs="0"/>
			<xs:element name="sgUFDocumento" type="xs:string" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="msgHdrType">
		<xs:sequence>
			<xs:element name="user" type="xs:string"/>
			<xs:element name="service" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="msgBodyType">
		<xs:sequence>
			<xs:element name="PortabilidadeTO">
				<xs:complexType>
					<xs:all>
						<xs:element name="idPessoa" type="xs:long" minOccurs="0"/>
						<xs:element name="tpOperacao" type="xs:int" minOccurs="0"/>
						<xs:element name="sgTipoPessoa" type="xs:string" minOccurs="0"/>
						<xs:element name="nrLinha" type="xs:long" minOccurs="0"/>
						<xs:element name="sgTipoLinha" type="xs:string" minOccurs="0"/>
						<xs:element name="PJ" minOccurs="0">
							<xs:complexType>
								<xs:all>
									<xs:element name="nmRazaoSocial" type="xs:string" minOccurs="0"/>
									<xs:element name="nmFantasia" type="xs:string" minOccurs="0"/>
									<xs:element name="dtFundacao" type="xs:string" minOccurs="0"/>
									<xs:element name="sgClassTributaria" type="xs:string" minOccurs="0"/>
									<xs:element name="sgClassEmpresa" type="xs:string" minOccurs="0"/>
									<xs:element name="nrCNPJ" type="xs:string" minOccurs="0"/>
									<xs:element name="nrCNAE" type="xs:string" minOccurs="0"/>
									<xs:element name="nrCCM" type="xs:string" minOccurs="0"/>
									<xs:element name="nrInscricao" type="xs:string" minOccurs="0"/>
									<xs:element name="sgTipoInscricao" type="xs:string" minOccurs="0"/>
									<xs:element name="Telefone" type="TelefoneType" minOccurs="0"/>
									<xs:element name="DadosEndereco" type="DadosEnderecoType" minOccurs="0"/>
								</xs:all>
							</xs:complexType>
						</xs:element>
						<xs:element name="PF" minOccurs="0">
							<xs:complexType>
								<xs:all>
									<xs:element name="nmPessoa" type="xs:string" minOccurs="0"/>
									<xs:element name="sgSexo" type="xs:string" minOccurs="0"/>
									<xs:element name="dtNascimento" type="xs:string" minOccurs="0"/>
									<xs:element name="sgEstadoCivil" type="xs:string" minOccurs="0"/>
									<xs:element name="nrCPR" type="xs:string" minOccurs="0"/>
									<xs:element name="Telefone" type="TelefoneType" minOccurs="0"/>
									<xs:element name="Documento" type="DocumentoType" minOccurs="0"/>
									<xs:element name="DadosEndereco" type="DadosEnderecoType" minOccurs="0"/>
								</xs:all>
							</xs:complexType>
						</xs:element>
					</xs:all>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
