URAFOJ6/urafo-xsd/schemas/transformador/vo/CaixaPostalVOInput.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="servicos.ura/vo" xmlns:ns1="servicos.ura/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="CaixaPostalVOInput">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ProxyLinha" type="xs:string"/>
				<xs:element name="ProxyOperacao" type="xs:string"/>
				<xs:element name="operacao" type="xs:string"/>
                <xs:element name="usuario" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>