URAFOJ6/urafo-xsd/schemas/transformador/vo/CaixaPostalVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="servicos.ura/vo" xmlns:ns1="servicos.ura/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="CaixaPostalVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="cdDDD" type="xs:string"/>
				<xs:element name="cdNumTelefone" type="xs:string"/>
				<xs:element name="reinicializa" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>