URAFOJ6/urafo-xsd/schemas/transformador/vo/ControleConsumoItem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="servicos.ura/vo" xmlns:tns="servicos.ura/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="ControleConsumoItem" substitutionGroup="InnerBody">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="nome" type="xs:string"/>
                <xs:element name="valor" type="xs:string"/>               
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>