URAFOJ6/urafo-xsd/schemas/transformador/vo/ControleConsumoVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="servicos.ura/vo" xmlns:ns1="servicos.ura/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="ControleConsumoVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="cdDDD" type="xs:string"/>
				<xs:element name="cdNumTelefone" type="xs:string"/>
				<xs:element name="status" type="xs:string"/>
				<xs:element name="opcao" type="xs:string" minOccurs="0"/>
				<xs:element name="servico" type="xs:string"/>
				<xs:element name="dia" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>