URAFOJ6/urafo-xsd/schemas/transformador/vo/EnderecoClienteVOInput.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="servicos.ura/vo" xmlns:ns1="servicos.ura/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="EnderecoClienteVOInput">
		<xs:complexType>
			<xs:sequence>
                <xs:element name="cdTransacao" type="xs:string" minOccurs="1"/>
                <xs:element name="cdUsuario" type="xs:string" minOccurs="1"/>
				<xs:element name="nrCEP" type="xs:string" minOccurs="1"/>
				<xs:element name="limiteEndereco" type="xs:string" minOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>