URAFOJ6/urafo-xsd/schemas/transformador/vo/SenhaVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="servicos.ura/vo" xmlns:ns1="servicos.ura/vo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="SenhaVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="cdDDD" type="xs:integer" minOccurs="0"/>
				<xs:element name="cdNumTelefone" type="xs:integer" minOccurs="0"/>
                <xs:element name="cdTransacao" type="xs:string"/>
                <xs:element name="cdUsuario" type="xs:string"/>
				<xs:element name="operacao" type="xs:integer" minOccurs="0"/>
				<xs:element name="tipoPessoa" type="xs:integer" minOccurs="0"/>
				<xs:element name="senhaAtual" type="xs:string"/>
				<xs:element name="senhaNova" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>